﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<script src="~/Contents/Script/AppJs/WardWiseRepprt.js?v=1"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4"><h3 class="panel-title">Ward Wise Collection Summary Report</h3></div>
            <div class="col-md-8 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmWardWiseReport" target="_blank" action="/Municipality/MnReports/WardWiseReport" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="Ward">From Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateFrom" name="DateFrom" readonly />
                </div>
                <div class="col-md-2">
                    <label for="Ward">To Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateTo" name="DateTo" readonly />
                </div>
                <div class="col-md-2">
                    <label for="age">Ward<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                    <input type="hidden" id="WardID" name="WardID" />
                </div>
                <div class="col-md-4" id="divCounter">
                    <label for="Counter">Counter&nbsp;&nbsp;All
                    <input type="checkbox" id="chkAll" name="chkAll"/><span class="red-star">&nbsp;</span></label>
                    <input for="Counter" type="hidden" id="hdnCounter" name="Counter" />
                    <div class="col-md-12 select-counter" style="overflow-y:scroll; height:100px">
                        <table id="tabCounter">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-2" style="text-align:right">
                    <input type="button" id="btnSave" value="Print  Report" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

