﻿@using Valuation_Board.App_Codes.Exceptions;
@using Newtonsoft.Json;
@using Valuation_Board.App_Codes.Extension;
@{
    ViewBag.Title = "Old Dpr Entry";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model Valuation_Board.Models.Application.DprModel.DprFundRelease.FundRelease

<style>
    body {
        background-color: #efefef;
    }

    #ui-datepicker-div {
        z-index: 2 !important;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .dataTables_empty {
        text-align: center;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/AppJs/dpr.old.fund.release.entry.form.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <div class="downloaded-form">
        @Html.Partial(@"~\Views\Modules\Dpr\_partialApplyInstallmentOld.cshtml", Model)
    </div>
    
}