﻿@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Contents/Script/AppJs/AssessmentApproval.js?v=1"></script>
<style>
    hr.style13 {
        height: 10px;
        width: 100%;
        border: 0;
        padding-top: 0px !important;
        box-shadow: 0 10px 10px -10px #4286f4 inset;
    }
    /*.ui-menu, ui-widget, ui-widget-content, ui-autocomplete, ui-front {
        z-index: 1234;
    }*/
</style>

<div class="panel panel-primary" style="margin:10px;">
    <div class="panel-heading">
        <h3 class="panel-title">Assessee Details Approval</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form id="frmAdjAll" data-toggle="validator" role="form">

                    <div class="col-xs-8 col-sm-8 col-md-3">
                        <label for="dtFrom">From Date<span class="red-star">&nbsp;*</span></label>
                        <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtFrom" name="dtFrom" />
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-3">
                        <label for="dtTo">To Date<span class="red-star">&nbsp;*</span></label>
                        <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtTo" name="dtTo" />
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-3">
                        <label for="ddlStatus">Approve Status</label>
                        <select class="form-control" id="ddlStatus" name="ddlStatus">
                            <option value="">-- Select --</option>
                            <option value="Y">Approved</option>
                            <option value="N">Not Approved</option>
                            @*<option value="L">All</option>*@
                        </select>
                    </div>

                    <div class="col-xs-8 col-sm-8 col-md-3">
                        <input type="button" class="btn btn-primary" value="View" id="btnView" />
                        <input type="button" class="btn btn-primary" value="Refresh" id="btnRefreshRebate" onclick="location.href='@Url.Action("Index", "AssessmentApproval")'" />                        
                    </div>

                </form>
            </div>
        </div>
        <br />
        <hr class="style13">
        <br />
        <div id="divAllAssessment" class="col-xs-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-bordered tabHeader" id="tabAllAssessment">
                    <thead>
                        <tr bgcolor="#4169E1">
                            <th align='center'>Ward</th>
                            <th align='center'>Location</th>
                            <th align='center'>Old ID</th>
                            <th align='center'>Holdong No</th>
                            <th align='center'>Assessee Name</th>
                            @*<th align="center">Address</th>*@
                            <th align="center">PTax (Yearly)</th>
                            <th align="center">PTax (Qtr)</th>
                            <th align="center">Effect Year</th>
                            <th align="center">Effect Qtr</th>
                            <th align="center">Entered On</th>
                            <th align="center"><input type='checkbox' id='chkAll' name='chkAll' /></th>
                            <th align="center">Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <input type="button" class="btn btn-primary col-md-offset-9" value="Approve" id="btnApprove" />
        </div>
        <div class="row">


        </div>

    </div>
</div>