﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions
@using Valuation_Board.Models.Application
@model Assessment_VM.AssessmentForm
@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>disabled,Improvment=>disabled
    if (new List<string>() { "P", "R", "M", "S", "I" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<script src="~/Contents/Script/AppJs/assmt-Review-or-improvement.js?@GlobalContext.applicationInfo.AssemblyVersion" data-reloadable="true"></script>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header border-bottom">
                <div class="box-title">
                    @{
                        var title = "Review";
                        if (Model.AssessmentValTag == "R")
                        {
                            title = "Review";
                        }
                        else if (Model.AssessmentValTag == "I")
                        {
                            title = "Intrim Assessment / Improvement";
                        }
                    }
                    @title
                </div>
                <div class="box-tools pull-right">
                    <div class="assmt-sub-actions">
                        <div class="btn-group btn-group" style="margin-bottom: 10px;">
                            <a data-toggle="tab" href="#review-tab" class="btn btn-primary assmt-sub-action active review">@title</a>
                            <a data-toggle="tab" href="#other-tab" class="btn btn-primary assmt-sub-action">Other</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="cntr-assessment-form-entry">
                    <div class="tab-content">
                        @if (ViewBag.error != null)
                        {
                            Html.Partial(SiteConstants.ErrorViewPath, ViewBag.error as AppException<string, string>);
                        }
                        else if (Model == null)
                        {
                            Html.Partial(SiteConstants.ErrorViewPath, new AppException<string, string>("Form Can not be initialize please try again", "", null));
                        }
                        else
                        {
                            <div id="review-tab" class="tab-pane in active fade">
                                @Html.Partial(@"~\Views\Municipality\Assessment\Year_Qtr.cshtml", Model)
                                <hr />
                                @Html.Partial(@"~\Views\Municipality\Assessment\SettingParams.cshtml", Model)
                                @Html.Partial(@"~\Views\Municipality\Assessment\HoldingDetails.cshtml", Model)
                                <div class="downloaded-form">
                                </div>
                                <br />
                                <div class="row bg-gray-light no-margin  partial-save-cancel">
                                    <div class="col-md-12 text-right">
                                        <a data-toggle="tab" href="#other-tab" class="btn btn-primary assmt-sub-action">Next</a>
                                    </div>
                                </div>
                            </div>
                            <div id="other-tab" class="tab-pane fade">
                                    @{
                                        ScheduleThree.OtherInfoType dateOfOrderCnfg = null;
                                        ScheduleThree.OtherInfoType remarksCnfg = null;

                                        foreach (var t in Model.MasterData.OtherInfoTypeConfigs)
                                        {
                                            if (t.TypeCode == "DOO")//date of order
                                            {
                                                dateOfOrderCnfg = t;
                                            }
                                            if (t.TypeCode == "REM")//remarks
                                            {
                                                remarksCnfg = t;
                                            }
                                        }

                                    }
                                <form id="frm-new-holding-OtherTabdetails">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Application Date:</label>
                                            <input type="text" class="form-control txt-application-date datepicker" placeholder="dd/mm/yyyy" @(disabledCtrl) / >
                                        </div>
                                        <div class="col-md-4">
                                            <label>Application Case No:</label>
                                            <input type="text" class="form-control txt-application-no" placeholder="Application / Case no" @(disabledCtrl) />
                                        </div>
                                        <div class="col-md-4">
                                            <label>@dateOfOrderCnfg.TypeDesc:</label>
                                            <input type="text" class="form-control txt-date-of-order datepicker" placeholder="dd/mm/yyyy" data-typecode="@dateOfOrderCnfg.TypeCode" data-infotype="@dateOfOrderCnfg.InfoType" data-datatype="@dateOfOrderCnfg.DataType" data-infotypeid="@dateOfOrderCnfg.InfoTypeId" data-typedesc="@dateOfOrderCnfg.TypeDesc" @(disabledCtrl)/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>Pimary Phone No:</label>
                                            <input type="text" class="txt-primary-phone-no form-control" name="txt-primary-phone-no" value="@Model._OtherTabDetails.PrimaryPhNo" @(disabledCtrl)/>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Primary Email:</label>
                                            <input type="text" class="txt-primary-email-id form-control" name="txt-primary-email-id " value="@Model._OtherTabDetails.PrimaryEmail"  @(disabledCtrl)/>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Processing Fees:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control txt-pro-cosing-fees" name="txt-pro-cosing-fees" value="@Model._OtherTabDetails.ProCosingFees" @(disabledCtrl)/>
                                                <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Other Fees:</label>
                                            <div class="input-group">
                                                <input type="text" class="txt-other-fees form-control" name="txt-other-fees" value="@Model._OtherTabDetails.OtherFees" @(disabledCtrl)/>
                                                <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>@remarksCnfg.TypeDesc:</label>
                                            <textarea class="txt-remarks form-control" data-typecode="@remarksCnfg.TypeCode" data-infotype="@remarksCnfg.InfoType" data-datatype="@remarksCnfg.DataType" data-infotypeid="@remarksCnfg.InfoTypeId" data-typedesc="@remarksCnfg.TypeDesc" @(disabledCtrl)></textarea>
                                        </div>
                                    </div>
                                    <br />
                                    @Html.Partial(@"~\Views\Municipality\Assessment\partialSaveCancel.cshtml", Model)
                                </form>
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
