﻿@using Valuation_Board.App_Codes;
@using Valuation_Board.App_Codes.BLL;
@using Valuation_Board.Models.Account;
@using Valuation_Board.Models.Application;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WBUDMA</title>



    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" href="~/Contents/Css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Contents/Css/bootstrap.min.css">

    <link href="~/Contents/css/datatables/datatables.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/Contents/Css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="~/Contents/Css/style.css?@GlobalContext.applicationInfo.AssemblyVersion">
    <link href="~/Contents/Css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Contents/Css/angucomplete-alt.css" rel="stylesheet" />
    <link href="~/Contents/Css/NavSideBar.css" rel="stylesheet" />
    <link href="~/Contents/Css/alertify.css" rel="stylesheet" />
    <link href="~/Contents/Css/default.css" rel="stylesheet" />
    <link href="~/Contents/Css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Contents/Css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Contents/Css/OverLay.css" rel="stylesheet" />
    <link href="~/Contents/Css/fSelect.css" rel="stylesheet" />
    <link href="~/Contents/Css/paddings.css" rel="stylesheet" />
    <link href="~/Contents/Css/margines.css" rel="stylesheet" />

    <script src="~/Contents/Script/jquery.min.js"></script>
    <script src="~/Contents/Script/AppJs/_Layout.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
    <script src="~/Contents/Script/bootstrap.min.js"></script>

    <script src="~/Contents/css/datatables/datatables.min.js"></script>
    <script src="~/Contents/css/datatables/jquery.dataTables.min.js"></script>

    <script src="~/Contents/Script/angular.min.js"></script>
    <script src="~/Contents/Script/angular-route.min.js"></script>
    <script src="~/Contents/Script/bootstrap-datetimepicker.js"></script>
    <script src="~/Contents/Script/Common.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
    <script src="~/Contents/Script/NavSideBar.js"></script>
    <script src="~/Contents/Script/bootbox.min.js"></script>
    <script src="~/Contents/Script/jquery-dateFormat.js"></script>
    <script src="~/Contents/Script/jquery-ui.js"></script>
    <script src="~/Contents/Script/alertify.js"></script>
    <script src="~/Contents/Script/jquery.validate.js"></script>
    <script src="~/Contents/Script/date.format.js"></script>
    <script src="~/Contents/Script/ConverterUtility.js"></script>
    <script src="~/Contents/Script/JSLINQ.js"></script>
    <script src="~/Contents/Script/EventBus.js"></script>
    <script src="~/Contents/Script/Menu.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
    <script src="~/Contents/Script/AppJs/LogInout.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>

    <script src="~/Contents/Script/alasql.js"></script>
    <script src="~/Contents/Script/randomColor.js"></script>
    <script src="~/Contents/Script/Regex Validators.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
    <script src="~/Contents/Script/currencyFormatter.js"></script>
    <script src="~/Contents/Script/uuid-random.min.js"></script>
    <script src="~/Contents/Script/jquery.validation.additional-methods.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
    <script src="~/Contents/Script/fSelect.js"></script>
    <script src="~/Contents/Script/sweetalert.min.js"></script>
</head>
<body>
    <section>
        <!--Navigation bar-->
        <nav class="navbar navbar-inverse ">

            <div class="navbar-header " style="float:none">

                <!--xs sm screen nav bar design start-->
                <div class="container navbar-toggle" style="width: 100%; float: left;">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            <img src="/Contents/image/biswabangla.png" style="width: 60px; height: auto;  margin: 0; float: left;">
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-bar-sm" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <p style="color: white;">
                                <strong>Urban Development and Municipal Affairs Department, GoWB.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            @{bool logoutVisible = false; }
                            @if (SessionContext.IsAuthenticated)
                            {

                                UserType u = (SessionContext.CurrentUser as IUserType).UserType;
                                string UserGoodName = "";
                                string extraInfo = "";
                                string chngPassLink = "";
                                string chngPassLabel = "";
                                if (u == UserType.MunicipalityUser)
                                {
                                    logoutVisible = true;
                                    IInternalUser user = (SessionContext.CurrentUser as IInternalUser);
                                    UserGoodName = string.Format("{0} {1}", user.FirstName, user.LastName).Trim();
                                    if (u == UserType.MunicipalityUser)
                                    {
                                        try
                                        {
                                            MunicipalityUser mUser = (SessionContext.CurrentUser as MunicipalityUser);
                                            MunicipalityBLL bll = new MunicipalityBLL();
                                            List<Municipality> lstObj = bll.GetMunicipalitiesByIds(mUser.MunicipalityID);
                                            if (lstObj.Count > 0)
                                            {
                                                extraInfo = lstObj[0].MunicipalityName;
                                            }
                                        }
                                        catch
                                        {

                                        }
                                    }
                                }
                                else if (u == UserType.AdministrativeUser)
                                {
                                    logoutVisible = true;
                                    var admin = SessionContext.CurrentUser as AdministrativeUser;
                                    UserGoodName = string.Format("{0} {1}", admin.FirstName, admin.LastName).Trim();
                                    List<Role> lstRoles = new RoleBll().GetRoles(admin.UserID);
                                    extraInfo = string.Join(",", lstRoles.Select(t => t.RoleName).ToArray());
                                }
                                else if (u == UserType.CitizenUser)
                                {
                                    logoutVisible = true;
                                    CitizenUser user = (SessionContext.CurrentUser as CitizenUser);
                                    UserGoodName = string.Format("{0}", user.AssesseeName).Trim();
                                }
                                else if (u == UserType.OtherCitizenUser)
                                {
                                    logoutVisible = true;
                                    OtherCitizenUser user = (SessionContext.CurrentUser as OtherCitizenUser);
                                    extraInfo = string.Format("{0}", user.CompanyName).Trim();
                                    UserGoodName = string.Format("{0}", user.FirstName).Trim();
                                    chngPassLink = "/Municipality/MnUserPassword/Index/";
                                    chngPassLabel = "Change Password";
                                }
                                if (logoutVisible)
                                {
                                    <h5 style="margin-bottom:0px;margin-top:0px;color:white">@extraInfo</h5>
                                    <a class="logout" style="cursor:pointer">@UserGoodName | Logout</a><br />
                                    <a href="@chngPassLink" style="cursor:pointer">@chngPassLabel</a>
                                }
                            }
                            else
                            {
                                <a class="login-link" href="/Home/Index">Login</a>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">

                            <div class="collapse navbar-collapse" id="menu-bar-sm" style="padding-left: 0px;">
                                <ul class="nav navbar-nav nav-menu" id="menu-sm"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--xs sm screen nav bar design start-->
                <!--md lg screen nav bar design start-->
                <div class="container hidden-xs hidden-sm" style="width: 100%; float: left;">
                    <div class="row">
                        <div class="col-md-1 col-lg-1">
                            <img src="/Contents/image/biswabangla.png" style="width: 96px; height: auto; margin: 0; float: left;">
                        </div>
                        <div class="col-md-11 col-lg-11">
                            <div class="container- fluid">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <p class="text" style="margin-bottom:0px;font-size:25px">
                                            Urban Development and Municipal Affairs Department, GoWB.
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-lg-8">
                                        <div class="collapse navbar-collapse" style="padding-left: 0px;">
                                            <ul class="nav navbar-nav nav-menu" id="menu-lg"></ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4" style="text-align:right">

                                        @if (SessionContext.IsAuthenticated)
                                        {
                                            UserType u = (SessionContext.CurrentUser as IUserType).UserType;
                                            string UserGoodName = "";
                                            string extraInfo = "";
                                            string chngPassLink = "";
                                            string chngPassLabel = "";

                                            if (u == UserType.MunicipalityUser)
                                            {
                                                logoutVisible = true;
                                                IInternalUser user = (SessionContext.CurrentUser as IInternalUser);
                                                UserGoodName = string.Format("{0} {1}", user.FirstName, user.LastName).Trim();
                                                if (u == UserType.MunicipalityUser)
                                                {
                                                    try
                                                    {
                                                        MunicipalityUser mUser = (SessionContext.CurrentUser as MunicipalityUser);
                                                        MunicipalityBLL bll = new MunicipalityBLL();
                                                        List<Municipality> lstObj = bll.GetMunicipalitiesByIds(mUser.MunicipalityID);
                                                        if (lstObj.Count > 0)
                                                        {
                                                            extraInfo = lstObj[0].MunicipalityName;
                                                        }
                                                    }
                                                    catch
                                                    {

                                                    }
                                                }
                                            }
                                            else if (u == UserType.AdministrativeUser)
                                            {
                                                logoutVisible = true;
                                                var admin = SessionContext.CurrentUser as AdministrativeUser;
                                                UserGoodName = string.Format("{0} {1}", admin.FirstName, admin.LastName).Trim();
                                                List<Role> lstRoles = new RoleBll().GetRoles(admin.UserID);
                                                extraInfo = string.Join(",", lstRoles.Select(t => t.RoleName).ToArray());
                                            }
                                            else if (u == UserType.CitizenUser)
                                            {
                                                CitizenUser user = (SessionContext.CurrentUser as CitizenUser);
                                                UserGoodName = string.Format("{0}", user.AssesseeName).Trim();
                                            }
                                            else if (u == UserType.OtherCitizenUser)
                                            {
                                                logoutVisible = true;
                                                OtherCitizenUser user = (SessionContext.CurrentUser as OtherCitizenUser);
                                                extraInfo = string.Format("{0}", user.CompanyName).Trim();
                                                UserGoodName = string.Format("{0}", user.FirstName).Trim();
                                                chngPassLink = "/Municipality/MnUserPassword/Index/";
                                                chngPassLabel = "Change Password";
                                            }
                                            if (logoutVisible)
                                            {
                                                <h5 style="margin-bottom:0px;margin-top:0px;color:white">@extraInfo</h5>
                                                <a class="logout" style="cursor:pointer">@UserGoodName | Logout</a><br />
                                                <a href="@chngPassLink" style="cursor:pointer">@chngPassLabel</a>
                                            }
                                        }
                                        else
                                        {
                                            <a class="login-link" href="/Home/Index">Login</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">


                        </div>
                    </div>
                </div>
                <!--md lg screen nav bar design start-->

            </div>
        </nav>
        <!--Document Body--->
    </section>
    <section id="DocumentBody">
        @Html.Partial("~/Views/Shared/_PartialHiddenSetting.cshtml")
        <!--Overlay start-->
        <div id="overlay_Common">
            <div class="Spinner"></div>
        </div>
        <!--Overlay End-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container text-center ">
            ©2017 Copy Right
            <div class="credits">
                <p align="center" class="footerlink">The website is compatible with Google Chrome</p>
                <div class="footerlink"><p align="center"><a href="/AdditionalInfo/Terms">Terms & Conditions</a>|<a href="/AdditionalInfo/PrivacyPolicy">Privacy Policy</a>|<a href="/AdditionalInfo/Refund">Refund / Cancellation Policy</a>|<a href="/AdditionalInfo/Products">Products / Services</a>|<a href="/AdditionalInfo/Contact">Contact Us</a></p></div>
                <p align="center" class="footerlink"> Facilitated by  "Webel Technology Ltd."</p>
            </div>
        </div>
    </footer>
</body>
</html>


