﻿@using Valuation_Board.App_Codes.Utils;

<div class="hidden-settings">
    <input type="hidden" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" id="srv-dt" class="srv-dt" />
    <input type="hidden" value="@CommonUtils.GetFinYear(DateTime.Now)" class="srv-cur-fin-year"  id="srv-cur-fin-year"/>
</div>
