﻿@using Valuation_Board.App_Codes.Exceptions
@model AppException<string, string>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<div class="alert alert-danger">
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <h6 class="text-center" style="color:white">@Model.Message</h6>
    }
    @if (Model.Data != null && Model.Data.Count > 0)
    {
        <ul>
            @foreach (KeyValuePair<string, string> item in Model.Data)
            {
                <li><strong>@(item.Key):</strong> @(item.Value).</li>
            }
        </ul>
    }
</div>
