﻿
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

    .sidenav .navClosebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 14px;
        }
}

#leftSideSticky {
    padding-right: 5px;
    background-color: green;
    border-radius: 0px 7px 7px 0px;
    left: 0;
    position: absolute;
    display: block;
    z-index: 1499;
    top: 45%;
    width: 20px; /*20px*/
    height: 40px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
    cursor: pointer;
}

    #leftSideSticky:hover {
        width: 65px;
        background-color: #075807;
    }

    #leftSideSticky > .menu-icon > div {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
