﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions
@using Valuation_Board.Models.Application
@model Assessment_VM.AssessmentForm
@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>disabled,Improvment=>disabled
    if (new List<string>() { "P", "R", "M", "S", "I" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<script src="~/Contents/Script/AppJs/assmt-amalgamation.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header border-bottom">
                <div class="box-title">
                    Amalgamation
                </div>
                <div class="box-tools pull-right">
                    <div class="assmt-sub-actions">
                        <div class="btn-group btn-group" style="margin-bottom: 10px;">
                            <a data-toggle="tab" href="#home" class="btn btn-primary assmt-sub-action active">Amalgamation</a>
                            <a data-toggle="tab" href="#other-tab" class="btn btn-primary assmt-sub-action">Other</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                @if (ViewBag.error != null)
                {
                    Html.Partial(SiteConstants.ErrorViewPath, ViewBag.error as AppException<string, string>);
                }
                else if (Model == null)
                {
                    Html.Partial(SiteConstants.ErrorViewPath, new AppException<string, string>("Form Can not be initialize please try again", "", null));
                }
                else
                {
                    @Html.Partial(@"~\Views\Municipality\Assessment\Year_Qtr.cshtml", Model)
                    @Html.Partial(@"~\Views\Municipality\Assessment\SettingParams.cshtml", Model)
                    <div class="amalgamation-tab-control" data-max-tab-count="0">
                        <div class="tab-content" style="margin: 15px">
                                <div id="home" class="tab-pane fade in active border-top">
                                    <div class="bg-gray"><h4 class="text-center">Child Holdings</h4></div>
                                    @Html.Partial(@"~\Views\Municipality\Assessment\HoldingDetails.cshtml", Model)
                                    <div id="searched-holding-modal" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Modal Header</h4>
                                                </div>
                                                <div class="modal-body">

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success btn-include">Include</button>
                                                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="table table-responsive tbl-child-holding-list no-margin">
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <caption class="bg-gray text-center">Holdings To be Amalgamated</caption>
                                            <thead class="bg-blue">
                                                <tr>
                                                    <th>
                                                        Ward
                                                    </th>
                                                    <th>
                                                        Location
                                                    </th>
                                                    <th>
                                                        Holding No
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Valuation
                                                    </th>
                                                    <th>
                                                        Qtrly Prop Tax
                                                    </th>
                                                    <th class="text-center">
                                                        Remove
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="7" class="text-center">
                                                        No Holdings added
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a class="btn btn-primary tab nav-to-mother-holding active pull-right" style="display:none;" data-toggle="tab" href="#mother-holding">Next</a>
                                </div>
                                <div id="mother-holding" class="tab-pane fade border-top">
                                    <div class="bg-gray"><h4 class="text-center">Mother Holding</h4></div>
                                    @Html.Partial(@"~\Views\Municipality\Assessment\HoldingDetails.cshtml", Model)
                                    <div class="holding-detalis">

                                    </div>
                                    <br />
                                    @Html.Partial(@"~\Views\Municipality\Assessment\ValuationDetails.cshtml", Model)
                                    <br />
                                    <div>
                                        <a class="btn btn-primary tab home-tab active" data-toggle="tab" href="#home">Back to List</a>
                                        <a data-toggle="tab" href="#other-tab" class="btn btn-primary assmt-sub-action pull-right">Next</a>
                                    </div>
                                </div>
                            <div id="other-tab" class="tab-pane fade">
                                @{
                                    ScheduleThree.OtherInfoType dateOfOrderCnfg = null;
                                    ScheduleThree.OtherInfoType remarksCnfg = null;

                                    foreach (var t in Model.MasterData.OtherInfoTypeConfigs)
                                    {
                                        if (t.TypeCode == "DOO")//date of order
                                        {
                                            dateOfOrderCnfg = t;
                                        }
                                        if (t.TypeCode == "REM")//remarks
                                        {
                                            remarksCnfg = t;
                                        }
                                    }

                                }
                                <form id="frm-new-holding-OtherTabdetails">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Application Date:</label>
                                            <input type="text" class="form-control txt-application-date datepicker" placeholder="dd/mm/yyyy"  @(disabledCtrl) />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Application Case No:</label>
                                            <input type="text" class="form-control txt-application-no" placeholder="Application / Case no" @(disabledCtrl)  />
                                        </div>
                                        <div class="col-md-4">
                                            <label>@dateOfOrderCnfg.TypeDesc:</label>
                                            <input type="text" class="form-control txt-date-of-order datepicker" placeholder="dd/mm/yyyy" data-typecode="@dateOfOrderCnfg.TypeCode" data-infotype="@dateOfOrderCnfg.InfoType" data-datatype="@dateOfOrderCnfg.DataType" data-infotypeid="@dateOfOrderCnfg.InfoTypeId" data-typedesc="@dateOfOrderCnfg.TypeDesc"  @(disabledCtrl) />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>Pimary Phone No:</label>
                                            <input type="text" class="txt-primary-phone-no form-control" name="txt-primary-phone-no" value="@Model._OtherTabDetails.PrimaryPhNo" @(disabledCtrl)  />
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Primary Email:</label>
                                            <input type="text" class="txt-primary-email-id form-control" name="txt-primary-email-id " value="@Model._OtherTabDetails.PrimaryEmail" @(disabledCtrl)  />
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Processing Fees:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control txt-pro-cosing-fees" name="txt-pro-cosing-fees" value="@Model._OtherTabDetails.ProCosingFees" @(disabledCtrl)  />
                                                <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Other Fees:</label>
                                            <div class="input-group">
                                                <input type="text" class="txt-other-fees form-control" name="txt-other-fees" value="@Model._OtherTabDetails.OtherFees" @(disabledCtrl)  />
                                                <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>@remarksCnfg.TypeDesc:</label>
                                            <textarea class="txt-remarks form-control" data-typecode="@remarksCnfg.TypeCode" data-infotype="@remarksCnfg.InfoType" data-datatype="@remarksCnfg.DataType" data-infotypeid="@remarksCnfg.InfoTypeId" data-typedesc="@remarksCnfg.TypeDesc" @(disabledCtrl) ></textarea>
                                        </div>
                                    </div>
                                    <hr />
                                    <input type="button" class="btn btn-success pull-right btn-complete-amalgamation" style="display:none;" value="Complete Amalgamtion" />
                                    <input type="hidden" class="holdingtypegroupId"  />
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
