﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions
@model Assessment_VM.AssessmentForm

<div class="row">
    <div class="col-md-4">
        <label>Ward</label>
        <input class="form-control" type="text" value="@Model.ActualAssmtData.WardId" readonly />
    </div>
    <div class="col-md-4">
        <label>Location</label>
        <input class="form-control" type="text" value="@Model." readonly />
    </div>
    <div class="col-md-4">
        <label>Holding No</label>
        <input class="form-control" type="text" value="Holding No" readonly />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <label>Name</label>
        <input class="form-control" type="text" value="Holding Name" readonly />
    </div>
    <div class="col-md-2">
        <label>Holding Type</label>
        <input class="form-control" type="text" value="Holding Type" readonly />
    </div>
    <div class="col-md-2">
        <label>Land Area</label>
        <input class="form-control" type="text" value="Land Area" readonly />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Annual Valuation</label>
        <input class="form-control" type="text" value="Annual Valuation" readonly />
    </div>
    <div class="col-md-4">
        <label>Qtrly Prop Tax</label>
        <input class="form-control" type="text" value="Qtrly Prop Tax" readonly />
    </div>
</div>
<br/>
