﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<script src="~/Contents/Script/AppJs/RemissionReport.js"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Remission Report</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmRemissionReport" target="_blank" action="/Municipality/MnReports/RemissionReport" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="Counter">From Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateFrom" name="DateFrom" readonly />
                </div>
                <div class="col-md-2">
                    <label for="Counter">To Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateTo" name="DateTo" readonly />
                </div>
                <div class="col-md-4">
                    <label for="Counter">Pay Head<span class="red-star">&nbsp;*</span></label>
                    <select class="form-control input-sm change" id="ddlPayHeade" name="PayHead"></select>
                </div>
                <div class="col-md-4" style="text-align:right;">
                    <input type="button" id="btnSave" value="Print  Report" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
