﻿
@{
    Layout = null;
}

@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions

@model Assessment_VM.AssessmentForm
@{

    ViewBag.Title = "Assessment";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #ui-datepicker-div {
        z-index: 2 !important;
    }

    body {
        background-color: #efefef;
    }

    ul.list-group:after {
        clear: both;
        display: block;
        content: "";
    }

    .list-group-item {
        float: left;
        padding: 4px;
        border-radius: 0px !important;
    }

        .list-group-item > a {
            margin-left: 5px;
        }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="~/Contents/Script/AppJs/assmt-key-stroke.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<script src="~/Contents/Script/AppJs/assmt-assesse-updation.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>

<div class="box box-primary">
    <div class="box-header border-bottom">
        <div class="box-title">
            Assessee Updation
        </div>
    </div>
    <div class="box-body">
        <div class="assmt-new-assesse-form">
            @if (ViewBag.error != null)
            {
                @Html.Partial(SiteConstants.ErrorViewPath, ViewBag.error as AppException<string, string>);
            }
            else
            {
                @Html.Partial(@"~\Views\Municipality\Assessment\HoldingDetails.cshtml", Model);
                <div class="downloaded-form">

                </div>
            }
        </div>
    </div>
</div>

