﻿
@{
    Layout = null;
}

@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions

@model Assessment_VM.AssessmentForm

<div class="assmt-new-assesse-form">
    @if (ViewBag.error != null)
    {
        @Html.Partial(SiteConstants.ErrorViewPath, ViewBag.error as AppException<string, string>);
    }
    else
    {
        @Html.Partial(@"~\Views\Municipality\Assessment\_partialHoldingDetails.cshtml", Model);
        <hr />
        @Html.Partial(@"~\Views\Municipality\Assessment\AdditionalHoldingDetails.cshtml", Model)
        <hr />
        @Html.Partial(@"~\Views\Municipality\Assessment\OtherDetails.cshtml", Model)
        <hr />
        @Html.Partial(@"~\Views\Municipality\Assessment\partialSaveCancel.cshtml", Model)
        <br />
    }
</div>