﻿@using Valuation_Board.Models.Application;
@model List<ScheduleThree.AssmtMaster>
@{
    ViewBag.Title = "AssmtList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12 col-md-12 cntr-schedule-three">
        <div class="box box-primary">
            <div class="box-header ">
                <div class="box-title">Schedule III Submitted Forms</div>
                <a href="/Administration/ScheduleThree/S3Container" class="btn btn-primary pull-right btn-draft" style="margin-left:10px;">Add New</a>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed usage-parent-table">
                        <thead class="bg-blue">
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Municipality</th>
                                <th>Ward</th>
                                <th>Holding</th>
                                <th>Name</th>
                                <th>View/Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count > 0)
                            {
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        @*<td>@item.SubmittedOn.Value.ToString("dd'/'MM'/'yyyy")</td>*@
                                        <td>@item.Municipalityname</td>
                                        <td>@item.Ward</td>
                                        <td>@item.HoldingNo</td>
                                        <td>@item.AssesseName</td>
                                        <td><a href="@string.Format("/Administration/ScheduleThree/S3Container?id={0}&mn={1}",item.AssmtId,item.MunicipalityId)">click</a></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
        </div>
    </div>
</div>
