﻿<div class="row">
    <div class="col-sm-12 col-md-12 cntr-schedule-three">
        <div class="box box-primary">
            <div class="box-header border-bottom">
                <div class="box-title">Schedule III</div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-offset-2 col-md-4 col-sm-6">
                        <label>Name:</label>
                        <input type="text" name="name" class="form-control name" placeholder="Name" />
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <label>Address:</label>
                        <input type="text" name="address" class="form-control address" placeholder="Address" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="nav-tabs-custom no-margin">
                            <ul class="nav nav-tabs border-top">
                                <li class="active"><a data-toggle="tab" href="#tab-location">Location Details</a></li>
                                <li><a data-toggle="tab" href="#tab-usage">Usage</a></li>
                                <li><a data-toggle="tab" href="#tab-others">Others</a></li>
                                <li><a data-toggle="tab" href="#tab-images">Images</a></li>
                                @*<li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>*@
                            </ul>
                            <div class="tab-content tab-content-schedule-three">
                                <div id="tab-location" class="tab-pane fade in active tab-location">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Borough:</label>
                                            <input type="text" name="borough" class="form-control borough" placeholder="Borough" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Ward:</label>
                                            <input type="text" name="ward" class="form-control ward" placeholder="Ward no" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Holding:</label>
                                            <input type="text" name="holding" class="form-control holding" placeholder="Holding no" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Road/Lane/Para/Mahalla</label>
                                            <input type="text" name="roadlane" class="form-control roadlane" placeholder="Road/ Lane/ Para/ Mahalla" />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Name of the Complex/Apartment/Colony</label>
                                            <input type="text" name="complex" class="form-control complex" placeholder="Complex/ Apartment/ Colony" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Land Type</label>
                                            <select name="land-type" class="land-type form-control">
                                                <option value="">- Select Land Type -</option>
                                                <option value="OW">Own Land</option>
                                                <option value="LH">Lease Hold Land</option>
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <label>Total Land Area</label>
                                            <div class="input-group">
                                                <input type="text" name="landarea-dec" class="form-control landarea-dec" placeholder="0.00">
                                                <span class="input-group-addon bg-gray">Dec.</span>
                                                <input type="text" class="form-control landarea-sft" name="landarea-sft" placeholder="0.00">
                                                <span class="input-group-addon bg-gray">Sft.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Mouza Name</label>
                                            <input type="text" name="mouzaname" class="form-control mouzaname" placeholder="Mouza Name" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>JL No.</label>
                                            <input type="text" name="jlno" class="form-control jlno" placeholder="JL No." />
                                        </div>
                                        <div class="col-md-4">
                                            <label>P.S.</label>
                                            <input type="text" name="ps" class="form-control ps" placeholder="P.S." />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Plot/ Dag No.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control dag-rs" name="dag-rs" placeholder="RS">
                                                <span class="input-group-addon bg-gray">RS</span>
                                                <input type="text" class="form-control dag-lr" name="dag-lr" placeholder="LR">
                                                <span class="input-group-addon bg-gray">LR</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Khatian no.</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control khatian-rs" name="khatian-rs" placeholder="RS">
                                                <span class="input-group-addon bg-gray">Rs</span>
                                                <input id="email" type="text" class="form-control khatian-lr" name="khatian-lr" placeholder="LR">
                                                <span class="input-group-addon bg-gray">LR</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <label>Nature of the land as per ROR-</label>
                                            <input type="text" name="rornature" class="form-control rornature" placeholder="Nature of the land as per the ROR" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Width of the Front Road</label>
                                            <input type="text" name="front-road-width" class="form-control front-road-width" placeholder="Width of the Front Road" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Distance from Main Road</label>
                                            <input type="text" name="distance-main-road" class="form-control distance-main-road" placeholder="Distance from Main Road" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Distance from Market</label>
                                            <input type="text" name="distance-frm-market" class="form-control distance-frm-market" placeholder="Distance from market" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Distance from School</label>
                                            <input type="text" name="distance-frm-school" class="form-control distance-frm-school" placeholder="Distance from school" />
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label>Deed No</label>
                                            <input type="text" name="deed-no" class="form-control deed-no" placeholder="Deed No" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Deed Date</label>
                                            <input type="text" name="deed-date" class="form-control deed-date" placeholder="Deed Date" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Deed Type</label>
                                            <select name="deed-type" class="deed-type form-control">
                                                <option value="">- Select Deed Type -</option>
                                                <option value="SL">Sale Deed</option>
                                                <option value="GF">Gift Deed</option>
                                                <option value="AS">Assignment Deed</option>
                                                <option value="PT">Partition Deed</option>
                                                <option value="EX">Exchange Deed</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-8 col-md-4">
                                            <label>&nbsp;</label>
                                            <a href="#tab-usage" data-toggle="tab" name="btn-next" class="form-control btn-next btn btn-primary pull-right">Next</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-usage" class="tab-pane fade tab-usage">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4 form-inline text-center" ">
                                            <label>Holding Type Group</label>
                                            <select name="holding-type-group" class="form-control holding-type-group">
                                                <option value="">- Select Land Type -</option>
                                                <option value="1">Residential House</option>
                                                <option value="2">Residential Flat</option>
                                                <option value="3">Commercial</option>
                                                <option value="4">Vacant Land</option>
                                                <option value="5">Residential + Commercial</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="row cntr-vacant-land-details" style="display:none">
                                        <div class="col-md-offset-3 col-md-6 text-center">
                                            <h4 class="text-center">Vacant land details</h4>
                                            <div class="form-inline">
                                                <div class="input-group">
                                                    <input type="text" class="form-control vacant-land-dec" name="vacant-land-dec" placeholder="decimal">
                                                    <span class="input-group-addon bg-gray">Rs</span>
                                                    <input id="email" type="text" class="form-control vacant-land-sft" name="vacant-land-sft" placeholder="sft">
                                                    <span class="input-group-addon bg-gray">LR</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row cntr-occupency-struct-details" style="display:none">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover table-condensed">
                                                    <thead class="bg-blue">
                                                        <tr>
                                                            <th colspan="8" class="text-center">Occupency &amp; Structure Details</th>
                                                        </tr>
                                                        <tr>
                                                            <th>Floor</th>
                                                            <th>Usage</th>
                                                            <th>Year</th>
                                                            <th>Covered Area</th>
                                                            <th>Occupent Name</th>

                                                            <th>Monthly Rent</th>
                                                            <th>Monthly Srv. Chrg.</th>
                                                            <th>Detail</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><input type="text" class="form-control" placeholder="floor" /></td>
                                                            <td><input type="text" class="form-control" placeholder="holding type" value="Residential House" /></td>
                                                            <td><input type="text" class="form-control" placeholder="year" value="2018" /></td>
                                                            <td><input type="text" class="form-control" placeholder="covered area" value="345" /></td>
                                                            <td><input type="text" class="form-control" placeholder="Name" value="Biswajit Jana" /></td>
                                                            <td><input type="text" class="form-control" placeholder="rent/month" value="10345.00" /></td>
                                                            <td><input type="text" class="form-control" placeholder="srv chrg" value="2345.00" /></td>
                                                            <td>
                                                                <input type="button" value="Room Details" class="btn btn-danger" data-toggle="modal" data-target="#myModal" />
                                                                <div id="myModal" class="modal fade modal-room-details" role="dialog">
                                                                    <div class="modal-dialog modal-lg">

                                                                        <!-- Modal content-->
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                <h4 class="modal-title">Room Details</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <table class="table table-striped table-bordered table-hover table-condensed">
                                                                                    <thead class="bg-aqua">
                                                                                        <tr>
                                                                                            <th>Room Type</th>
                                                                                            <th>Width</th>
                                                                                            <th>Lenght</th>
                                                                                            <th>Covered Area</th>
                                                                                            <th>Roof Type</th>
                                                                                            <th>Wall Type</th>
                                                                                            <th>Floor Type</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"><a href="#tab-location" data-toggle="tab" name="btn-prev" class="btn-prev btn btn-primary pull-left">Previous</a> </div>
                                        <div class="col-md-offset-4 col-md-4"><a href="#tab-others" data-toggle="tab" name="btn-next" class="btn-next btn btn-primary pull-right">Next</a> </div>
                                    </div>
                                </div>
                                <div id="tab-others" class="tab-pane fade tab-others">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Whether Assessed</label>
                                            <div>
                                                <label class="radio-inline"><input type="radio" name="is-assessed" class="is-assessed" value="Y">Yes</label>
                                                <label class="radio-inline"><input type="radio" name="is-assessed" class="is-assessed" value="N">No</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Year Of Assessment</label>
                                            <select class="form-control assessment-year">
                                                <option>--select--</option>
                                                <option>2018</option>
                                                <option>2019</option>
                                                <option>2019</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Annual Valuation</label>
                                            <input type="text" class="form-control annual-valuation" name="annual-valuation" placeholder="Annual Valuation" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Qtrly. Prop. Tax</label>
                                            <input type="text" class="form-control qtrly-prop-tax" name="qtrly-prop-tax" placeholder="Qtrly. Prop. Tax" />
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="callout callout-info">
                                                <h4 class="white text-center no-margin">Additional Info</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label><b>1.</b>&nbsp;Whether the ownership has been changed since last valuation</label>
                                            <label class="radio-inline"><input type="radio" name="is-ownershp-changed" class="is-ownershp-changed" value="Y">Yes</label>
                                            <label class="radio-inline"><input type="radio" name="is-ownershp-changed" class="is-ownershp-changed" checked value="N">No</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>If, yes give details</label>
                                                    <textarea class="form-control ownershp-changed-details" name="ownershp-changed-details" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label><b>2.</b>&nbsp;Whether any change in nature of use of holding or portion thereof has occurred since list valuation</label>
                                            <label class="radio-inline"><input type="radio" name="is-natureOfUsed-changed" class="is-natureOfUsed-changed" value="Y">Yes</label>
                                            <label class="radio-inline"><input type="radio" name="is-natureOfUsed-changed" class="is-natureOfUsed-changed" checked value="N">No</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>If, yes give details</label>
                                                    <textarea class="form-control natureOfUsed-changed-details" name="natureOfUsed-changed-details" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label><b>3.</b>&nbsp;Particulars of the addition, alteration, demolition or redevelopment of the holding since last valuation</label>
                                            <label class="radio-inline"><input type="radio" name="is-add-altr-moded" class="is-add-altr-moded" value="Y">Yes</label>
                                            <label class="radio-inline"><input type="radio" name="is-add-altr-moded" class="is-add-altr-moded" checked value="N">No</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>If, yes give details</label>
                                                    <textarea class="form-control add-altr-moded-details" name="add-altr-moded-details" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label><b>4.</b>&nbsp;Total area mentioned in the registered instrument or any valid document in case of an apartment</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control total-area-apartment" />
                                                <span class="input-group-addon bg-gray">sft</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <label><b>4.</b>&nbsp;Other area(open/covered) of the owner/occupier mentioned, if any</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control other-area" />
                                                <span class="input-group-addon bg-gray">sft</span>
                                            </div>
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#tab-usage" data-toggle="tab" name="btn-prev" class="btn-prev btn  btn-primary pull-left">Previous</a>
                                        </div>
                                        <div class="col-md-offset-4 col-md-4">
                                            <a href="#tab-images" data-toggle="tab" name="btn-next" class="btn-next btn  btn-primary pull-right">Next</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-images" class="tab-pane fade tab-images">
                                    <div class="row">
                                        <div class="col-md-12 form-inline">
                                            <label>Geo location:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control geo-loc-lat" name="geo-loc-lat" disabled />
                                                <span class="input-group-addon bg-gray">Lat</span>
                                                <input type="text" class="form-control geo-loc-long" name="geo-loc-long" disabled />
                                                <span class="input-group-addon bg-gray">Long</span>
                                            </div>
                                            <a data-target="#geo-loc-dialog" data-toggle="modal" class="btn btn-warning">pic new a location</a>
                                            <div id="geo-loc-dialog" class="modal fade modal-room-details" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title">Modal title</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div style="width: 550px">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label>Location:</label>
                                                                        <input type="text" class="form-control" id="us3-address" />
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label>Radius:</label>
                                                                        <input type="text" class="form-control" id="us3-radius" />
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div id="us3" style="width: 100%; height: 400px;"></div>
                                                                <div class="clearfix">&nbsp;</div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <label>Lat:</label>
                                                                        <input type="text" class="form-control" id="us3-lat" disabled />
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <label>Long:</label>
                                                                        <input type="text" class="form-control" id="us3-lon" disabled />
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix"></div>

                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-primary btn-apply-geo">Apply</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="/Contents/image/noimage.png" class="img-responsive img-thumbnail img-view-1" alt="no image" style="width:100%">
                                            <input type="file" class="form-control img-upload img-upload-1" />
                                        </div>
                                        <div class="col-md-2">
                                            <img src="/Contents/image/noimage.png" class="img-responsive img-thumbnail img-view-1" alt="no image" style="width:100%">
                                            <input type="file" class="form-control img-upload img-upload-2" />
                                        </div>
                                        <div class="col-md-2">
                                            <img src="/Contents/image/noimage.png" class="img-responsive img-thumbnail img-view-1" alt="no image" style="width:100%">
                                            <input type="file" class="form-control img-upload img-upload-3" />
                                        </div>
                                        <div class="col-md-2">
                                            <img src="/Contents/image/noimage.png" class="img-responsive img-thumbnail img-view-1" alt="no image" style="width:100%">
                                            <input type="file" class="form-control img-upload img-upload-4" />
                                        </div>
                                        <div class="col-md-2">
                                            <img src="/Contents/image/noimage.png" class="img-responsive img-thumbnail img-view-1" alt="no image" style="width:100%">
                                            <input type="file" class="form-control img-upload img-upload-5" />
                                        </div>
                                        <div class="col-md-2">
                                            <img src="/Contents/image/noimage.png" class="img-responsive img-thumbnail img-view-1" alt="no image" style="width:100%">
                                            <input type="file" class="form-control img-upload img-upload-6" />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a href="#tab-others" data-toggle="tab" name="btn-prev" class="btn-prev btn  btn-primary pull-left">Previous</a>
                                        </div>
                                        <div class="col-md-offset-4 col-md-4">
                                            <input type="button" class="btn btn-success pull-right btn-complete-save" name="btn-complete-save" value="Save & Complete" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>