﻿
@{
    ViewBag.Title = "Schedule III";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.Models.Application
@using Valuation_Board.App_Codes.Utils;
@using System.Web.Script.Serialization
@using Valuation_Board.App_Codes;
@using Valuation_Board.Models.Account

@model ScheduleThree.MasterData
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/AppJs/assmt-schedule-three.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&amp;libraries=places&key=AIzaSyBNRbWIyR2I5BDim15Guh2LygXh3lU_13A"></script>
<script src="~/Contents/Script/locationpicker.jquery.js"></script>
<script>
    $(document).ready(function () {
        //kolkata lat long- default location set
        var location = {
            latitude: 22.5726,
            longitude: 88.3639
        };



        var populateMap = function (location) {
            $('#us3').locationpicker({
                location: {
                    latitude: location.latitude,
                    longitude: location.longitude
                },
                radius: 300,
                inputBinding: {
                    latitudeInput: $('#us3-lat'),
                    longitudeInput: $('#us3-lon'),
                    radiusInput: $('#us3-radius'),
                    locationNameInput: $('#us3-address')
                },
                enableAutocomplete: true,
                markerIcon: '/Contents/image/map-marker3.png'
            });
        }

        if (navigator.geolocation) {//init by current location. and checks location service is supported by browser or not
            navigator.geolocation.watchPosition(function (e) {
                //navigator.geolocation.getCurrentPosition(function (e) {
                    location = {
                        latitude: e.coords.latitude,
                        longitude: e.coords.longitude
                    }
                    populateMap(location);
                //});
            },
            function (error) {
                if (error.code == error.PERMISSION_DENIED) {
                    populateMap(location);
                    console.log("Geo location tracking failed, due to PERMISSION_DENIED")
                }
            });

            } else {
            populateMap(location);
                console.log("Geolocation is not supported by this browser.");
            }


        $('#us6-dialog').on('shown.bs.modal', function () {
            $('#us3').locationpicker('autosize');
        });
    })
</script>
<style>

    .pac-container {
        z-index: 99999;
    }
</style>
<style>
    body {
        background-color: #efefef;
    }

    .form-control {
        height: 33px !important;
    }
</style>
@if (ViewBag.error == null)
{

    IInternalUserMin usr = SessionContext.CurrentUser as IInternalUserMin;
    <div class="row">
        <div class="col-sm-12 col-md-12 cntr-schedule-three">
            <div style="display:none" class="hidden-params">
                <input type="hidden" class="master-data" value="@(new JavaScriptSerializer().Serialize(Model))" />
                <input type="hidden" class="Is-citizen" value="@(usr.UserType == UserType.CitizenUser ? "yes" : "no")" />
                @{if (usr.UserType == UserType.CitizenUser)
                    {
                        <input type="hidden" class="citizen-data" value="@(new JavaScriptSerializer().Serialize(usr))" />
                    }
                }
            </div>
            <div class="box box-primary">
                <div class="box-header ">
                    <div class="box-tools">
                        
                        <input type="button" class="btn btn-primary pull-right btn-draft" style="margin-left:10px;display:none" value="Save As Draft" />&nbsp;&nbsp;
                        <a class="btn btn-primary pull-right btn-back-list" href="/Administration/ScheduleThree/index" style="margin-left:10px;@(usr.UserType==UserType.CitizenUser?"Display:none;":"")">Back to List</a>&nbsp;&nbsp;
                        <select class="form-control ddl-municipality pull-right" style="width:unset; @(usr.UserType==UserType.CitizenUser?"Display:none;":"")">
                            <option>--select municipality--</option>
                            @foreach (var item in Model.Municipalities)
                            {
                                <option value="@item.MunicipalityID">@item.MunicipalityName</option>
                            }
                        </select>
                    </div>
                    <div class="box-title bold"><label>Schedule III</label> <br/><br/>[<small>See Rule 19 of the West Bengal Valuation Board (Valuation of Land and Buildings) Rules, 1984</small>]</div>
                </div>
                <div class="box-body down-loaded-form border-top" style="display:none">

                </div>
            </div>
        </div>
    </div>
}
else
{
    Html.RenderPartial(SiteConstants.ErrorViewPath, ViewBag.error as AppException<string, string>);
}
