﻿@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.Models.Application
@using Valuation_Board.Models.Account

@using Valuation_Board.App_Codes.Utils;
@using System.Web.Script.Serialization
@using Valuation_Board.ViewModels;
@using Valuation_Board.App_Codes.BLL

@model ScheduleThree.Form



<form autocomplete="off">
    <div class="row">
        <input type="hidden" value="@Model.AssmtId" class="assmt-id" />
        <div class="col-md-3 col-sm-6">
            <label><span style="color:red">*</span>Name:</label>
            <input type="text" autocomplete="off" name="name" class="form-control name" placeholder="Name" value="@Model.Name" />
        </div>
        <div class="col-md-3 col-sm-6">
            <label>Email:</label>
            <input type="text" autocomplete="off" name="email" class="form-control email" placeholder="Email" value="@Model.Email" />
        </div>
        <div class="col-md-3 col-sm-6">
            <label><span style="color:red">*</span>Phone:</label>
            <input type="text" autocomplete="off" name="mobile" class="form-control mobile" placeholder="mobile" value="@Model.Phone" />
        </div>
        @{
            var applicationDate = Model.ApplicationDate ?? DateTime.Now;
        }
        <div class="col-md-3 col-sm-6">
            <label>Application Date:</label>
            <input type="text" autocomplete="off" name="apply-date" class="form-control apply-date" placeholder="Application Date" readonly value="@applicationDate.ToString("dd'/'MM'/'yyyy")" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label><span style="color:red;font-size:large">*</span>Address:</label>
            <input type="text" autocomplete="off" name="address" class="form-control address" placeholder="Address" value="@Model.Address" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="nav-tabs-custom no-margin">
                <ul class="nav nav-tabs border-top">
                    <li class="active"><a data-toggle="tab" href="#tab-location">Location Details</a></li>
                    <li><a data-toggle="tab" href="#tab-usage">Usage</a></li>
                    <li><a data-toggle="tab" href="#tab-others">Others</a></li>
                    <li><a data-toggle="tab" href="#tab-images">Images</a></li>
                    @*<li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>*@
                </ul>
                <div class="tab-content tab-content-schedule-three">
                    <div id="tab-location" class="tab-pane fade in active tab-location">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Borough:</label>
                                <input type="text" autocomplete="off" name="borough" class="form-control borough" placeholder="Borough" value="@Model.LocationTab.Borough" />
                            </div>
                            @{
                                var x = 0;
                            }
                            <div class="col-md-4">
                                <label><span style="color:red">*</span>Ward:</label>
                                <input type="text" autocomplete="off" name="ward" class="form-control ward" placeholder="Ward no" value="@Model.LocationTab.Ward" />
                                <input type="hidden" name="hdn-ward" class="hdn-ward" value="@Model.LocationTab.WardID">
                            </div>
                            <div class="col-md-4">
                                <label><span style="color:red">*</span>Holding (As Per Municipality Record):</label>
                                <input type="text" autocomplete="off" name="holding" class="form-control holding" placeholder="Holding no" value="@Model.LocationTab.Holding" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label><span style="color:red">*</span>Road/Lane/Para/Mahalla</label>
                                <input type="text" autocomplete="off" name="roadlane" class="form-control roadlane" placeholder="Road/ Lane/ Para/ Mahalla" value="@Model.LocationTab.RoadLane" />
                                <input type="hidden" class="hdn-roadlane" name="hdn-roadlane" value="@Model.LocationTab.RoadLaneId" />
                            </div>
                            <div class="col-md-6">
                                <label>Name of the Complex/Apartment/Colony</label>
                                <input type="text" autocomplete="off" name="complex" class="form-control complex" placeholder="Complex/ Apartment/ Colony" value="@Model.LocationTab.Complex" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label><span style="color:red;font-size:large">*</span>Land Type</label>
                                <select name="land-type" class="land-type form-control">
                                    <option value="">- Select Land Type -</option>
                                    <option value="O" @(Model.LocationTab.LandType == "O" ? " selected " : "")>Own Land</option>
                                    <option value="L" @(Model.LocationTab.LandType == "L" ? " selected " : "")>Lease Hold Land</option>
                                    <option value="F" @(Model.LocationTab.LandType == "F" ? " selected " : "")>Other e.g. Flat</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label><span style="color:red;font-size:large">*</span>Total Land Area</label>
                                <div class="input-group " data-use-cal-id="use-cal1">
                                    <span class="input-group-addon bg-gray"><a href="" class="land-calculator" data-toggle="modal" data-target="#land-calculator"><i class="fa fa-calculator" aria-hidden="true"></i></a></span>
                                    <input type="text" autocomplete="off" name="landarea-dec" class="form-control landarea-dec cal-dec" placeholder="0.00" value="@Model.LocationTab.LandArea_dec">
                                    <span class="input-group-addon bg-gray">Dec.</span>
                                    <input type="text" autocomplete="off" class="form-control landarea-sft cal-sft" name="landarea-sft " placeholder="0.00" value="@Model.LocationTab.LandArea_sft">
                                    <span class="input-group-addon bg-gray">Sft.</span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Mouza Name</label>
                                <input type="text" autocomplete="off" name="mouzaname" class="form-control mouzaname" placeholder="Mouza Name" value="@Model.LocationTab.MouzaName" />
                            </div>
                            <div class="col-md-4">
                                <label>JL No.</label>
                                <input type="text" autocomplete="off" name="jlno" class="form-control jlno" placeholder="JL No." value="@Model.LocationTab.JlNo" />
                            </div>
                            <div class="col-md-4">
                                <label>P.S.</label>
                                <input type="text" autocomplete="off" name="ps" class="form-control ps" placeholder="P.S." value="@Model.LocationTab.PS" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Plot/ Dag No.</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" class="form-control dag-rs" name="dag-rs" placeholder="RS" value="@(Model.LocationTab.DagNo_Rs=="0"?"":Model.LocationTab.DagNo_Rs)" />
                                    <span class="input-group-addon bg-gray">RS</span>
                                    <input type="text" autocomplete="off" class="form-control dag-lr" name="dag-lr" placeholder="LR" value="@(Model.LocationTab.DagNo_Lr)">
                                    <span class="input-group-addon bg-gray">LR</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Khatian no.</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" class="form-control khatian-rs" name="khatian-rs" placeholder="RS" value="@Model.LocationTab.Khatian_Rs">
                                    <span class="input-group-addon bg-gray">Rs</span>
                                    <input id="email" type="text" autocomplete="off" class="form-control khatian-lr" name="khatian-lr" placeholder="LR" value="@Model.LocationTab.Khatian_Lr">
                                    <span class="input-group-addon bg-gray">LR</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>Nature of the land as per ROR-</label>
                                <input type="text" autocomplete="off" name="rornature" class="form-control rornature" placeholder="Nature of the land as per the ROR" value="@Model.LocationTab.RorNature" />
                            </div>
                            @foreach (var item in Model.MasterData.Location_otherInfos)
                            {
                                var obj = Model.LocationTab.OtherInfos.FirstOrDefault(t => t.TypeCode == item.TypeCode);
                                var val = (obj == null ? "" : obj.Value);
                                <div class="col-md-4">
                                    <label>@item.TypeDesc</label>
                                    @{
                                        var unit = "";
                                        if (item.TypeCode == "WFR")
                                        {
                                            unit = "Mtr.";
                                        }
                                        else
                                        {
                                            unit = "Km.";
                                        }
                                    }
                                    <div class="input-group">
                                        <input type="text" autocomplete="off" name="@item.TypeCode" class="form-control location-other-info" data-TypeCode="@item.TypeCode" data-InfoType="@item.InfoType" data-DataType="@item.DataType" data-InfoTypeId="@item.InfoTypeId" data-TypeDesc="@item.TypeDesc" placeholder="@item.TypeDesc" value="@val" />
                                        <span class="input-group-addon bg-gray">@unit</span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <label>Deed No</label>
                                <input type="text" autocomplete="off" name="deed-no" class="form-control deed-no" placeholder="Deed No" value="@Model.LocationTab.DeedNo" />
                            </div>
                            <div class="col-md-4">
                                <label>Deed Date</label>
                                @{
                                    var strData = "";
                                    if (Model.LocationTab.DeedDate != null)
                                    {
                                        strData = Model.LocationTab.DeedDate.Value.ToString("dd'/'MM'/'yyyy");
                                    }
                                }
                                <input type="text" autocomplete="off" name="deed-date" class="form-control deed-date" placeholder="Deed Date" value="@strData" />
                            </div>
                            <div class="col-md-4">
                                <label>Deed Type</label>
                                <select name="deed-type" class="deed-type form-control">
                                    <option value="">- Select Deed Type -</option>
                                    @foreach (Assessment_VM.AssessmentForm.DeedType item in Model.MasterData.DeedTypes)
                                    {
                                        <option value="@item.DeedTypeId" @(Model.LocationTab.DeetType == item.DeedTypeId ? " selected " : "")>@item.DeedTypeName</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-8 col-md-4">
                                <label>&nbsp;</label>
                                <a href="#tab-usage" data-toggle="tab" name="btn-next" class="form-control btn-next btn-draft btn btn-primary pull-right">Save As Draft & Next</a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-usage" class="tab-pane fade tab-usage">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 form-inline text-center">
                                <label><span style="color:red;font-size:large">*</span>Holding Type Group</label>
                                <select name="holding-type-group" class="form-control holding-type-group" data-last-selected="@Model.UsageTab.HoldingTypeGroupId">
                                    <option value="">- Select Land Type -</option>
                                    @foreach (var item in Model.MasterData.HoldingTypeGroups)
                                    {
                                        <option value="@item.Key" @(Model.UsageTab.HoldingTypeGroupId == item.Key ? " selected " : "")>@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        @{//for visibility of floors dtl and vacandland details
                            bool visibleTbl = false;
                            bool visibleVacLand = false;
                            if (Model.UsageTab.HoldingTypeGroupId == null)
                            {
                                visibleTbl = false;
                                visibleVacLand = false;
                            }
                            else if (Model.UsageTab.HoldingTypeGroupId == 4)
                            {
                                visibleTbl = false;
                                visibleVacLand = true;
                            }
                            else
                            {
                                visibleTbl = true;
                                visibleVacLand = false;
                            }
                        }
                        <div class="row cntr-vacant-land-details" style="@(visibleVacLand == true ? "display:block":" display:none ")">
                            <div class="col-md-offset-2 col-md-6">
                                <label>Vacant land details</label>
                                <div class="form-inline">
                                    <div class="input-group" data-use-cal-id="use-cal2">
                                        @{
                                            var dec = 0m;
                                            var sft = 0m;
                                            if (Model.UsageTab.VacantLand != null)
                                            {
                                                dec = Model.UsageTab.VacantLand.Area_dec;
                                                sft = Model.UsageTab.VacantLand.Area_sft;
                                            }
                                        }
                                        <span class="input-group-addon bg-gray"><a href="" class="land-calculator" data-toggle="modal" data-target="#land-calculator"><i class="fa fa-calculator"></i></a></span>
                                        <input type="text" autocomplete="off" class="form-control vacant-land-dec cal-dec" name="vacant-land-dec" placeholder="decimal" value="@dec">
                                        <span class="input-group-addon bg-gray">Dec.</span>
                                        <input type="text" autocomplete="off" class="form-control vacant-land-sft cal-sft" name="vacant-land-sft" placeholder="sft" value="@sft">
                                        <span class="input-group-addon bg-gray">Sft.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Land Type:</label>
                                @if (Model.MasterData.VacantLandLandTypeConfig == null)
                                {
                                    <label>Land type for vacant land not configured in database</label>
                                }
                                else
                                {
                                    var mstvcLandTypeConfig = Model.MasterData.VacantLandLandTypeConfig;
                                    var mstVacantLandTypes = Model.MasterData.LandTypesForVacantLand;
                                    var mstAssmtYr = Model.MasterData.AsseesmentYear;
                                    var selectedId = (Model.UsageTab.VacantLand == null || Model.UsageTab.VacantLand.LandType == null ? "" : Model.UsageTab.VacantLand.LandType.Value);
                                    <select class="form-control ddl-vacant-land-type" data-typecode="@mstvcLandTypeConfig.TypeCode" data-infotype="@mstvcLandTypeConfig.InfoType" data-datatype="@mstvcLandTypeConfig.DataType" data-infotypeid="@mstvcLandTypeConfig.InfoTypeId" data-typedesc="@mstvcLandTypeConfig.TypeDesc" placeholder="@mstvcLandTypeConfig.TypeDesc">
                                        <option>--select land type--</option>
                                        @foreach (var item in mstVacantLandTypes)
                                        {
                                            <option value="@item.Key" @(selectedId == item.Key.ToString() ? " selected " : "")>@item.Value</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>

                        <div class="row cntr-occupency-struct-details" style="@(visibleTbl == true ? "display:block":" display:none ")">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed usage-parent-table">
                                        <thead class="bg-blue">
                                            <tr>
                                                <th colspan="10" class="text-center">Occupency &amp; Structure Details</th>
                                            </tr>
                                            <tr>
                                                <th>Floor</th>
                                                <th>Usage</th>
                                                <th>Year of Construction</th>
                                                <th>Covered Area (Sft.)</th>
                                                <th style="width: 120px;">Owner/Occupier/<br />Lessee/Tanent Name</th>
                                                <th>Occu Detail</th>
                                                <th>Monthly Rent (Rs.)</th>
                                                <th>Monthly Srv. Chrg. (Rs.)</th>
                                                <th>Detail</th>
                                                <th><a href="javascript:void(0)" class="glyphicon glyphicon-plus add-row white" style="@(Model.UsageTab.Floors.Count>0?"":"display:none")"></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.UsageTab.HoldingTypeGroupId != 4 && Model.UsageTab.HoldingTypeGroupId != null)
                                            {
                                                var usages = new List<ScheduleThree.KeyVal<int, string>>();
                                                try
                                                {
                                                    ScheduleThree_Bll bll = new ScheduleThree_Bll();
                                                    usages = bll.GetHoldingTypes(Model.UsageTab.HoldingTypeGroupId);
                                                }
                                                catch { }
                                                foreach (var floor in Model.UsageTab.Floors)
                                                {
                                                    <tr>
                                                        <td>
                                                            <select class="form-control floor">
                                                                <option value="">--select--</option>
                                                                @foreach (var fl in Model.MasterData.Floors)
                                                                {
                                                                    <option value="@fl.Key" @(floor.FloorID == fl.Key ? " selected " : "")>@fl.Value</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-control usage">
                                                                <option value="">--select--</option>
                                                                @foreach (var fll in usages)
                                                                {
                                                                    <option value="@fll.Key" @(floor.UseId == fll.Key ? " selected " : "") data-last-selected="@(floor.UseId == fll.Key ? floor.UseId.ToString() : "")">@fll.Value</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><input type="text" autocomplete="off" class="form-control year" placeholder="Year" value="@floor.ConstYear"></td>
                                                        <td><input type="text" autocomplete="off" class="form-control covered-area" placeholder="covered area" value="@floor.TotCoverdAreaSft"></td>
                                                        <td><input type="text" autocomplete="off" class="form-control occupent-name" placeholder="occupent name" value="@floor.NameOfOccupant"></td>
                                                        <td><input type="text" autocomplete="off" class="form-control occu-detail" placeholder="occu detail" value="@floor.OccuDetails"></td>
                                                        <td><input type="text" autocomplete="off" class="form-control monthly-rent" placeholder="monthly rent" value="@floor.MonRent"></td>
                                                        <td><input type="text" autocomplete="off" class="form-control monthly-srv-chrg" placeholder="monthly service charge" value="@floor.MonSc"></td>
                                                        <td>
                                                            <div>
                                                                <input type="button" value="Room Details" class="btn btn-danger btn-room-details">
                                                                <div class="table-responsive" style="display: none;">
                                                                    <table class="table table-striped table-bordered table-hover table-condensed table-room-details">
                                                                        <thead class="bg-aqua">
                                                                            <tr>
                                                                                <th style="width: 154px;">Room Type</th>
                                                                                <th style="width: 100px;">Width</th>
                                                                                <th style="width: 100px;">Lenght</th>
                                                                                <th style="width: 100px;">Floor Area</th>
                                                                                <th>Roof Type</th>
                                                                                <th>Wall Type</th>
                                                                                <th>Floor Type</th>
                                                                                <th><a href="javascript:void(0)" class="glyphicon glyphicon-plus add-row-child white"></a></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @{
                                                                                decimal totalAreaSft = 0;
                                                                                foreach (var room in floor.Rooms)
                                                                                {
                                                                            <tr>
                                                                                <td>
                                                                                    <select class="form-control room-type">
                                                                                        <option value="">--select--</option>
                                                                                        @foreach (var rtyp in Model.MasterData.RoomTypes)
                                                                                        {
                                                                                            <option value="@rtyp.Key" @(room.RoomTypeId == rtyp.Key ? " selected " : "")>@rtyp.Value</option>
                                                                                        }
                                                                                    </select>
                                                                                </td>
                                                                                <td><input type="text" autocomplete="off" class="form-control width" placeholder="width" value="@room.WSft"></td>
                                                                                <td><input type="text" autocomplete="off" class="form-control length" placeholder="length" value="@room.LSft"></td>
                                                                                @{totalAreaSft += room.CoverdAreaSft;}
                                                                                <td><input type="text" autocomplete="off" class="form-control covered-area" disabled="" placeholder="Floor area" value="@room.CoverdAreaSft"></td>
                                                                                <td>
                                                                                    <select class="form-control roof-type">
                                                                                        <option value="">--select--</option>
                                                                                        @foreach (var rftyp in Model.MasterData.RoofTypes)
                                                                                        {
                                                                                            <option value="@rftyp.Key" @(room.RoofType == rftyp.Key ? " selected " : "")>@rftyp.Value</option>
                                                                                        }
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <select class="form-control wall-type">
                                                                                        <option value="">--select--</option>
                                                                                        @foreach (var wtyp in Model.MasterData.WallTypes)
                                                                                        {
                                                                                            <option value="@wtyp.Key" @(room.WallType == wtyp.Key ? " selected " : "")>@wtyp.Value</option>
                                                                                        }
                                                                                    </select>
                                                                                </td>
                                                                                <td>
                                                                                    <select class="form-control floor-type">
                                                                                        <option value="">--select--</option>
                                                                                        @foreach (var ftyp in Model.MasterData.FloorTypes)
                                                                                        {
                                                                                            <option value="@ftyp.Key" @(room.FloorType == ftyp.Key ? " selected " : "")>@ftyp.Value</option>
                                                                                        }
                                                                                    </select>
                                                                                </td>
                                                                                <td><a href="javascript:void(0)" class="glyphicon glyphicon-minus del-row"></a></td>
                                                                            </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                        <tfoot class="bg-aqua">
                                                                            <tr>
                                                                                <th colspan="3">Summary</th>
                                                                                <th class="text-center"><label class="lbl-total-area-sft">@totalAreaSft</label><input type="hidden" class="hdn-total-area-sft" value="@totalAreaSft"/></th>
                                                                                <th colspan="4"></th>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><a href="javascript:void(0)" class="glyphicon glyphicon-minus del-row"></a></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <div id="modal-room-details" class="modal fade modal-room-details" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                    <h4 class="modal-title">Room Details</h4>
                                                </div>
                                                <div class="modal-body">

                                                </div>
                                                <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-4"><a href="#tab-location" data-toggle="tab" name="btn-prev" class="btn-prev btn btn-primary pull-left">Previous</a> </div>
                            <div class="col-md-offset-4 col-md-4"><a href="#tab-others" data-toggle="tab" name="btn-next" class="btn-next btn-draft btn-draft btn btn-primary pull-right">Save As Draft & Next</a> </div>
                        </div>
                    </div>
                    <div id="tab-others" class="tab-pane fade tab-others">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Whether Assessed</label>
                                <div>
                                    <label class="radio-inline"><input type="radio" name="is-assessed" class="is-assessed" value="Y" @(Model.OtherTab.WheatherAssessed ? " checked " : "")>Yes</label>
                                    <label class="radio-inline"><input type="radio" name="is-assessed" class="is-assessed" value="N" @(Model.OtherTab.WheatherAssessed == false ? " checked " : "")>No</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Year Of Assessment</label>
                                @*<select class="form-control assessment-year" @(Model.OtherTab.WheatherAssessed ? " " : " disabled ")>
                                        <option value="">--select--</option>
                                        @foreach (var item in Model.MasterData.AssmtYears)
                                        {
                                            <option value="@item.Key" @(Model.OtherTab.YearOfAssessment == item.Key ? " selected " : "")>@item.Value</option>
                                        }
                                    </select>*@
                                @if (Model.MasterData.AsseesmentYear == null)
                                {
                                    <label>Assessment year not configured in database</label>
                                }
                                else
                                {
                                    var assmtYear = Model.OtherTab.AssessmentYear;
                                    var mstAssmtYr = Model.MasterData.AsseesmentYear;
                                    <input type="text" class="form-control assessment-year" @(Model.OtherTab.WheatherAssessed ? " " : " disabled ") value='@(assmtYear == null ? "" : assmtYear.Value)' data-typecode="@mstAssmtYr.TypeCode" data-infotype="@mstAssmtYr.InfoType" data-datatype="@mstAssmtYr.DataType" data-infotypeid="@mstAssmtYr.InfoTypeId" data-typedesc="@mstAssmtYr.TypeDesc" placeholder="@mstAssmtYr.TypeDesc" />
                                }
                            </div>
                            <div class="col-md-3">
                                <label>Annual Valuation</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" class="form-control annual-valuation" name="annual-valuation" placeholder="Annual Valuation" value="@Model.OtherTab.AnnualValuation" @(Model.OtherTab.WheatherAssessed ? " " : " disabled ") />
                                    <span class="input-group-addon bg-gray">Rs.</span>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <label>Qtrly. Prop. Tax</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" class="form-control qtrly-prop-tax" name="qtrly-prop-tax" placeholder="Qtrly. Prop. Tax" value="@Model.OtherTab.QtrlyPropTax" @(Model.OtherTab.WheatherAssessed ? " " : " disabled ") />
                                    <span class="input-group-addon bg-gray">Rs.</span>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="callout callout-info">
                                    <h4 class="white text-center no-margin">Additional Info</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label><b>1.</b>&nbsp;Whether the ownership has been changed since last valuation</label>
                                <label class="radio-inline"><input type="radio" name="is-ownershp-changed" class="is-ownershp-changed" value="Y" @(Model.OtherTab.IsOwnershpChanged ? " checked " : "")>Yes</label>
                                <label class="radio-inline"><input type="radio" name="is-ownershp-changed" class="is-ownershp-changed" @(Model.OtherTab.IsOwnershpChanged == false ? " checked " : " ") value="N">No</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>If, yes give details</label>
                                        <textarea class="form-control ownershp-changed-details" name="ownershp-changed-details" @(Model.OtherTab.IsOwnershpChanged ? " " : " disabled ")>@Model.OtherTab.OwnershpChanged_Desc</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label><b>2.</b>&nbsp;Whether any change in nature of use of holding or portion thereof has occurred since list valuation</label>
                                <label class="radio-inline"><input type="radio" name="is-natureOfUsed-changed" class="is-natureOfUsed-changed" value="Y" @(Model.OtherTab.IsNatureOfUsedChanged ? " checked " : "")>Yes</label>
                                <label class="radio-inline"><input type="radio" name="is-natureOfUsed-changed" class="is-natureOfUsed-changed" checked value="N" @(Model.OtherTab.IsNatureOfUsedChanged == false ? " checked " : " ")>No</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>If, yes give details</label>
                                        <textarea class="form-control natureOfUsed-changed-details" name="natureOfUsed-changed-details" @(Model.OtherTab.IsNatureOfUsedChanged ? " " : " disabled ")>@Model.OtherTab.NatureOfUsedChanged_Desc</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label><b>3.</b>&nbsp;Particulars of the addition, alteration, demolition or redevelopment of the holding since last valuation</label>
                                <label class="radio-inline"><input type="radio" name="is-add-altr-moded" class="is-add-altr-moded" value="Y" @(Model.OtherTab.IsAddAltrModed ? " checked " : "")>Yes</label>
                                <label class="radio-inline"><input type="radio" name="is-add-altr-moded" class="is-add-altr-moded" checked value="N" @(Model.OtherTab.IsAddAltrModed == false ? " checked " : " ")>No</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>If, yes give details</label>
                                        <textarea class="form-control add-altr-moded-details" name="add-altr-moded-details" @(Model.OtherTab.IsAddAltrModed ? " " : " disabled ")>@Model.OtherTab.AddAltrModed_Desc</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label><b>4.</b>&nbsp;Total area mentioned in the registered instrument or any valid document in case of an apartment</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" class="form-control total-area-apartment" value="@Model.OtherTab.TotalAreaApartment_sft" />
                                    <span class="input-group-addon bg-gray">sft</span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label><b>5.</b>&nbsp;Other area(open/covered) of the owner/occupier mentioned, if any</label>
                                <div class="input-group">
                                    <input type="text" autocomplete="off" class="form-control other-area" value="@Model.OtherTab.OtherArea_sft" />
                                    <span class="input-group-addon bg-gray">sft</span>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#tab-usage" data-toggle="tab" name="btn-prev" class="btn-prev btn  btn-primary pull-left">Previous</a>
                            </div>
                            <div class="col-md-offset-4 col-md-4">
                                <a href="#tab-images" data-toggle="tab" name="btn-next" class="btn-next btn-draft btn  btn-primary pull-right">Save As Draft & Next</a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-images" class="tab-pane fade tab-images">
                        <div class="row">
                            <div class="col-md-12 form-inline">
                                <label>Geo location:</label>
                                <div class="input-group">
                                    @{
                                        var _lat = 0m;
                                        var _long = 0m;
                                        if (Model.ImageTab.GeoLocation != null)
                                        {
                                            _lat = Model.ImageTab.GeoLocation.Geo_Lat;
                                            _long = Model.ImageTab.GeoLocation.Geo_Long;
                                        }
                                    }
                                    <input type="text" autocomplete="off" class="form-control geo-loc-lat" name="geo-loc-lat" disabled value="@_lat" />
                                    <span class="input-group-addon bg-gray">Lat</span>
                                    <input type="text" autocomplete="off" class="form-control geo-loc-long" name="geo-loc-long" disabled value="@_long" />
                                    <span class="input-group-addon bg-gray">Long</span>
                                </div>
                                <a data-target="#geo-loc-dialog" data-toggle="modal" class="btn btn-warning">pick a new location</a>
                                <div id="geo-loc-dialog" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">Modal title</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div style="width: 550px">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Location:</label>
                                                            <input type="text" autocomplete="off" class="form-control" id="us3-address" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Radius:</label>
                                                            <input type="text" autocomplete="off" class="form-control" id="us3-radius" />
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div id="us3" style="width: 100%; height: 400px;"></div>
                                                    <div class="clearfix">&nbsp;</div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label>Lat:</label>
                                                            <input type="text" autocomplete="off" class="form-control" id="us3-lat" disabled />
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <label>Long:</label>
                                                            <input type="text" autocomplete="off" class="form-control" id="us3-lon" disabled />
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-primary btn-apply-geo">Apply</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label>Images of building, land, premises etc.</label>
                            </div>
                        </div>
                        <div class="row">
                            @foreach (var item in Model.MasterData.Images)
                            {
                                var img = Model.ImageTab.Images.FirstOrDefault(t => t.TypeCode == item.TypeCode);
                                var src = "/Contents/image/noimage.png";
                                if (img != null)
                                {
                                    src = img.Value;
                                }
                                <div class="col-md-3">
                                    <img src="@src" data-typecode="@item.TypeCode" class="img-responsive img-thumbnail img-view" alt="no image" data-no-image-src="/Contents/image/noimage.png" style="width:100%">
                                    <div class="input-group">
                                        <input type="file" class="form-control img-upload" @((Model.AssmtId ?? 0) > 0 && (img != null) ? " disabled " : "") data-typecode="@item.TypeCode" data-infotype="@item.InfoType" data-datatype="@item.DataType" data-infotypeid="@item.InfoTypeId" data-typedesc="@item.TypeDesc" placeholder="@item.TypeDesc" />

                                        <a href="javascript:void(0);" class="input-group-addon bg-red" style="@((Model.AssmtId??0)>0&& (img!=null)?"":"display:none")"><i class="glyphicon glyphicon-trash"></i></a>
                                    </div>
                                </div>
                            }
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#tab-others" data-toggle="tab" name="btn-prev" class="btn-prev btn  btn-primary pull-left">Previous</a>
                            </div>
                            <div class="col-md-offset-4 col-md-4">
                                @if ((Model.AssmtId ?? 0) == 0)
                                {
                                    <input type="button" class="btn btn-success pull-right btn-authenticate" name="btn-authenticate" value="Authenticate" data-toggle="modal" data-target="#modal-authenticate-n-save" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* <land-calculator> *@
            <div class="modal fade" id="land-calculator" role="dialog">
                <div class="modal-dialog modal-sm">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Calculator</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Katha</label>
                                    <input type="text" autocomplete="off" name="calc-katha" class="form-control calc-katha" placeholder="0.00" value="0">
                                </div>
                                <div class="col-md-6">
                                    <label>Chatak</label>
                                    <input type="text" autocomplete="off" name="calc-chatak" class="form-control calc-chatak" placeholder="0.00" value="0">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>dec.</label>
                                    <input type="text" autocomplete="off" name="calc-chatak" class="form-control calc-dec-res" readonly placeholder="0.00" value="0">
                                </div>
                                <div class="col-md-6">
                                    <label>sft.</label>
                                    <input type="text" autocomplete="off" name="calc-katha" class="form-control calc-sft-res" readonly placeholder="0.00" value="0">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @* </land-calculator> *@
            @if ((Model.AssmtId ?? 0) == 0)
            {
                @* <Authenticate-before-save> *@
                <div class="modal fade" id="modal-authenticate-n-save" role="dialog">
                    <div class="modal-dialog modal-md">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Authenticate</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 form-inline">
                                        <label>Choose Authentication Type:</label>
                                        <select class="form-control ddl-authentication-type">
                                            <option value="OTP" selected>OTP</option>
                                            <option value="SIG">SIG</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <br />
                                        <ul class="nav nav-tabs" style="display:none">
                                            <li><a data-toggle="tab" href="#OTP">OTP</a></li>
                                            <li><a data-toggle="tab" href="#SIG">Signature</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="OTP" class="tab-pane fade in active">
                                                <div class="col-md-12 form-inline">
                                                    <input type="text" class="txt-otp form-control" />
                                                    <input type="button" class="btn btn-primary btn-otp" value="Request OTP" />
                                                    <label class="green lbl-otp-msg" />
                                                </div>
                                            </div>
                                            <div id="SIG" class="tab-pane fade">
                                                <div class="rows">
                                                    <div class="col-md-12 form-inline">
                                                        <label>Upload Signature</label>
                                                        <input type="file" class="form-control img-upload-signature" />
                                                    </div>
                                                </div>
                                                <div class="rows">
                                                    <div class="col-md-12">
                                                        <img style="width:100%" class="img-sinature" id="img-signature" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success">Final Save</button>
                            </div>
                        </div>

                    </div>
                </div>
                @* </Authenticate-before-save> *@
            }
        </div>
    </div>
</form>