﻿@using Valuation_Board.Models.Application;
@model List<AllocationDetails>
@{
    ViewBag.Title = "AllocationDetails";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    body, .form-control {
        font-family: 'Lato', sans-serif;
        background-color: #e4e5e4;
    }

    h1 {
        margin-bottom: 40px;
    }

    label {
        color: #333;
    }

    .btn-send {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
    }

    .help-block.with-errors {
        color: #ff5050;
        margin-top: 5px;
    }
</style>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="row" style="background-color:white;">
                <div class="col-md-12 text-center">
                    <h4>Note Details</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="row" style="background-color:white;">
                <div class="col-md-12">
                    @foreach (var x in Model)
                    {
                        <label class="control-label">Application No.:</label><span id="spn2">&nbsp; @x.ApplicationNo</span>
                        break;
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="row" style="background-color:white;">
                <div class="col-md-12">
                    @foreach (var x in Model)
                    {
                        <label class="control-label">Application Date:</label><span id="spn2">&nbsp; @x.ApplicationDate</span>
                        break;
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="row" style="background-color:white;">
                <div class="col-md-6" style="float:left">
                    @foreach (var x in Model)
                    {
                        <label class="control-label">Project Name:</label><span id="spn2">&nbsp; @x.NameOfProject</span>
                        break;
                    }
                </div>
                <div class="col-md-4 text-right" style="float:right">
                    @foreach (var x in Model)
                    {
                        <a class="btn btn-primary" href="/OtherServices/ApplicationForm/Index?ApplicationId=@x.ServMstId&mode=V">Application Details</a>
                        break;
                    }
                   
                    <a href="/OtherServices/OtherServices/RedirectFromModule?modcode=@ViewBag.SubModuleCode" modcode="@ViewBag.SubModuleCode"
                       id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            @foreach (var x in Model.Select((value, i) => new { i, value }))
            {
                var nextDescription = "";
                if (x.i > 0)
                {
                    var nxtData = Model[x.i - 1];
                    nextDescription = nxtData.Description;
                }
                <div class="row" style="background-color:white;">
                    <div class="col-md-8" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="rounded-circle mx-auto" src="~/Contents/image/AllocatedDetailsNoImage.png" width="95px" height="70px" alt="Circle image">
                            </div>
                            <div class="col-md-10">
                                <ul class="list-unstyled mb-4" style="color:#049191;font-size: 14px;">
                                    <li>@x.value.DesignationName<label style="color:white;margin-left:5px;margin-right:3px;padding-left: 2px;padding-right: 2px;border-radius: 6px;box-sizing: border-box;background-color:@x.value.ResponseStatusColor">@x.value.ResponseStatus</label></li>
                                    @if (nextDescription != "")
                                    {
                                        <li style="color:#1e1717;font-size: 13px;"><b>User Action: </b> @nextDescription</li>
                                    }
                                    @if (x.value.Remarks != "" && x.value.Remarks != null)
                                    {
                                        <li style="color:#1e1717;font-size: 13px;"><b>Remarks : </b>@x.value.Remarks</li>
                                    }
                                    
                                    <li>
                                        <p style="color: #1e1717;background-color:#e9e9e9;font-size: 16px;">
                                            Allocated On:<span class="label"></span>
                                            <i class="" aria-hidden="true"></i>
                                            <span class="label"></span> <small>@x.value.allotedOn</small>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <p style="font-size: 14px;">
                            <span class="label"></span>
                            <span class="label"></span>
                            <span class="label">|</span>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>

                            <span>@x.value.updatedOn</span>
                        </p>
                    </div>
                </div>
            }

        </div>
        <!-- /.row-->

    </div>
</body>

</html>

