﻿
@{
    ViewBag.Title = "ApplicationDashBoard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*<script src="~/Contents/Script/AppJs/OtherCitizenApplicationlist.js?v=1.2"></script>*@
<style>
    tbody {
        height: 100px; /* Just for the demo          */
        overflow-y: auto; /* Trigger vertical scroll    */
        overflow-x: hidden; /* Hide the horizontal scroll */
    }
</style>
<script src="~/Contents/Script/AppJs/OtherCitizenApplicationlist.js"></script>
<input type="hidden" value="@ViewBag.submoduleId" id="submoduleid" />
<input type="hidden" value="@ViewBag.UserId" id="userid" />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h4>@ViewBag.submoduleName</h4>
            </div>
            <div class="col-md-6 text-right">
                @if (@ViewBag.submoduleId == 1)
                {
                    <a class="btn btn-primary" href="/OtherServices/ApplicationForm/Index">New Application</a>
                    <a href="/OtherServices/OtherServices/ApplicantDashboard" 
                       id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward"  style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
                }
                else if (@ViewBag.submoduleId == 2)
                {
                    <a class="btn btn-primary" href="/OtherServices/Stacking/Index">New Application</a>
                    <a href="/OtherServices/OtherServices/ApplicantDashboard"
                       id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
                    @*<p style="float:right;margin-bottom:20px;"><a class="btn btn-primary" href="/OtherServices/Stacking/Index">New Application</a></p>*@
                }
                else if (@ViewBag.submoduleId == 3)
                {
                    <a class="btn btn-primary" href="/OtherServices/Movie/Index">New Application</a>
                    <a href="/OtherServices/OtherServices/ApplicantDashboard"
                       id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
                    @*<p style="float:right;margin-bottom:20px;"><a class="btn btn-primary" href="/OtherServices/Movie/Index">New Application</a></p>*@
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="aplilist table table-bordered">
                    <thead>
                        <tr style="color: #fff;background-color: #286090;border-color: #204d74;">
                            <th style="text-align:center">Sl No.</th>
                            <th style="text-align:center">Municipality</th>
                            <th style="display:none">Appliction Id</th>
                            <th style="text-align:center">Application Number</th>
                            <th style="text-align:center">Date of Application</th>
                            <th style="text-align:center">Project Description</th>
                            <th style="display:none">status Id</th>
                            <th style="text-align:center">Status</th>
                            <th style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @*start:- place modal dialog to complete payment *@
    <div class="modal fade" id="modal_MakePaymentComplete" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#c1daee; padding-bottom:30px;">
                    <div class="col-md-4"><h5 class="modal-title" style="text-align: left;">Make Payment</h5></div>                    
                    <div class="col-md-8"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                </div>
                <div class="modal-body">
                    <form id="form-payment-complete">                                       
                        <div class="input-group">
                            <span class="input-group-addon">Payment Gateway</span>
                            <select class="form-control ddl-payment-gateway" name="ddl-payment-gateway">
                                <option value="">--select payment gateway--</option>                               
                            </select>

                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="background-color:#c1daee">
                    <div class="col-md-8" style="text-align:left"><span class="field-error error-block"></span></div>
                    <div class="col-md-4"><button type="button" class="btn btn-default complete-payment">Complete Payment</button></div>

                </div>
            </div>
        </div>
    </div>
    @*End:- place modal dialog to complete payment *@
</div>
<br />
