﻿@using Valuation_Board.Models.Application;
@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@model List<Module>
@{
    ViewBag.Title = "SubModulesPopulation";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<style>
    body {
        background-color: #efefef;
    }
</style>
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                   

                    <div class="row">
                        <div class="col-md-9" style="padding-bottom:5px">
                            <h3 class="box-title title-wise-bar-chart">Select Sub Module</h3>
                        </div>
                        <div class="col-md-3 clsBackButton" style="text-align:right; float:right;">
                            <a href="/Home/PopulateModules"
                               id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
                        </div>
                    </div>

                </div>
                <div class="box-body">
                    <div class="row">
                        @{ int i = 0;
                            var colors = new List<string>() { "bg-red",
                                                                                    "bg-yellow",
                                                                                    "bg-aqua",
                                                                                    "bg-blue",
                                                                                    "bg-green",
                                                                                    "bg-navy",
                                                                                    "bg-teal",
                                                                                    "bg-olive",
                                                                                    "bg-lime",
                                                                                    "bg-light-blue",
                                                                                    "bg-orange",
                                                                                    "bg-fuchsia",
                                                                                    "bg-purple",
                                                                                    "bg-maroon"};
                        }
                        @foreach (var x in Model)
                        {
                            i = ++i;
                            if (i > colors.Count)
                            {
                                i = 1;
                            }
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box @(colors[i])">
                                    <div class="inner">
                                        <span>Total : @x.Counter.SUBMITTED</span>&nbsp;&nbsp;
                                        <span class="pull-right">In Process : @x.Counter.INPROCESS</span><br />
                                        <span>Approved : @x.Counter.APPROVED</span>&nbsp;&nbsp;
                                        <span class="pull-right">Rejected : @x.Counter.REJECTED</span>

                                    </div>

                                        <a href="/OtherServices/OtherServices/RedirectFromModule?modcode=@x.Code" class="small-box-footer">@x.Name&nbsp;<i class="fa fa-arrow-circle-right"></i></a>

                                </div>
                            </div>
                        }
                        @if (Model.Count == 0)
                        {
                            <h4 class="text-center red-star">No Module Available</h4>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
