﻿
@{
    ViewBag.Title = "InspectorRegistration";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,500' rel='stylesheet' type='text/css'>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/Contents/Script/AppJs/InspectorRegistration.js"></script>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4> Inspector Registration</h4>
    </div>
    <div class="panel-body">
        <form id="Inspector-Registration-form" class="form-horizontal" onsubmit="">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Name of Inspector</label><span id="spn2" style="color: red">&nbsp;*</span>
                    <input type="text" id="txtinspecName" name="txtinspecName" class="form-control txtinspecName">
                </div>
                <div class="col-md-4">
                    <label class="control-label">Inspector Mobile</label><span id="spn2" style="color: red">&nbsp;*</span>
                    <input type="text" id="txtmobile" name="txtmobile" class="form-control txtmobile" maxlength="10">
                </div>
                <div class="col-md-4">
                    <label class="control-label">Inspector Email</label><span id="spn2" style="color: red">&nbsp;*</span>
                    <input type="text" id="txtinspectemail" name="txtinspectemail" class="form-control txtinspectemail">
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <label class="control-label">User Name</label><span id="spn2" style="color: red">&nbsp;*</span>
                    <input type="text" id="txtuserName" name="txtuserName" class="form-control txtuserName">
                </div>
                <div class="col-md-4">
                    <label class="control-label">Password</label><span id="spn2" style="color: red">&nbsp;*</span>
                    <input type="password" id="txtpass" name="txtpass" class="form-control txtpass">
                </div>
                <div class="col-md-4">
                    <label class="control-label">Confirm Password</label><span id="spn2" style="color: red">&nbsp;*</span>
                    <input type="password" id="txtconfpass" name="txtconfpass" class="form-control txtconfpass">
                    <div id="chkpass" style="color:red;"></div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    @*<label for="cpatchaTextBox" class="col-sm-4 col-form-label">Captcha<span style="color:red"> *</span></label>*@
                    <label for="cpatchaTextBox" class="control-label">Captcha</label><span id="spn2" style="color: red">&nbsp;*</span>
                </div>
                @*<div class="col-sm-6">*@
                <div class="col-lg-3">
                    <div id="captcha">
                    </div>
                </div>
                <div class="col-lg-4">
                    <input id="cpatchaTextBox" type="text" name="cpatchaTextBox" class="form-control" placeholder="Please enter captcha." required="required"
                           data-error="Company name is required.">
                    <div class="help-block with-errors error"></div>
                </div>

            </div>
            <div class="row">

                <div class="col-lg-12">
                    <a href="#" class="btn-mverify" style="float:right;margin-top: 9px;margin-left: 6px;" onclick="">Verify Mobile No.</a>&nbsp;
                    <input type="button" class="btn btn-primary btn-Register" style="float:right;" value="Register" onclick="">
                </div>
            </div>
        </form>
    </div>
</div>
@*789*@
<div class="modal fade" data-backdrop="false" id="ModelInspectorServices" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header well">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    OTP Verification
                </h4>
            </div>
            <div class="modal-body">

                <form id="inspector-OTP-form" class="form-horizontal" style="display:none">
                    <div class="messages"></div>
                    <div class="controls">
                        <center> <div id="optmsg" style="font-weight:bold; margin-top: -27px;"></div></center>
                        <div class="form-group row" style="margin-top:6px;">
                            <label for="lblMobile" class="col-sm-4 col-form-label">Mobile No.<span style="color:red"> *</span></label>
                            <div class="col-sm-8">
                                <label id="lblMobile"></label>

                            </div>
                            <label for="form_otp" class="col-sm-4 col-form-label">Enter OTP<span style="color:red"> *</span></label>
                            <div class="col-sm-8">
                                <input id="form_otp" type="text" name="otp" class="form-control form_otp" placeholder="Please enter OTP." required="required"
                                       data-error="OTP is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4"><input type="button" class="btn btn-primary btn-SendOTP" value="Verify OTP"></div>
                            <div class="col-lg-4"><p><a href="#" style="float:right;" class="Btn-resendotp">Resend</a></p></div>
                        </div>
                    </div>
                </form>

                <form id="inspector-MobileVerfication-form" class="form-horizontal" style="display:none">
                    <div class="messages"></div>
                    <div class="controls">
                        <center> <div id="mblmsg" style="font-weight:bold; margin-top: -27px;"></div></center>
                        <div class="form-group row" style="margin-top:6px;">

                            <label for="form_mobile_verify" class="col-sm-4 col-form-label">Mobile No<span style="color:red"> *</span></label>
                            <div class="col-sm-8">
                                <input id="form_mobile_verify" type="text" name="form_mobile_verify" pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$" class="form-control form_mobile_verify" placeholder="Please enter Mobile." required="required"
                                       data-error="Mobile No is required." maxlength="10">
                                <div class="help-block with-errors"></div>
                            </div>
                            <label for="form_otp_ver" class="col-sm-4 col-form-label">Enter OTP<span style="color:red"> *</span></label>
                            <div class="col-sm-8">
                                <input id="form_otp_ver" type="text" name="otp" class="form-control form_otp_ver" placeholder="Please enter OTP.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4"><input type="button" class="btn btn-primary btn-verifymobile" value="Verify Mobile"></div>
                            <div class="col-lg-4"><p><a href="#" style="float:right;" class="Btn-mobileresendverify">Resend</a></p></div>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>