﻿ @using Valuation_Board.Models.Application;
@model List<ApplicationFormMD.Inspector>

@{
    ViewBag.Title = "InspectorSchedule";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*<script src="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link href="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet" />*@

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


<script src="~/Contents/Script/AppJs/InspectorSchedule.js"></script>


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9" style="padding-bottom:5px">
                <h4> Inspector Schedule</h4>
            </div>
            <div class="clsBackButton" style="text-align:right; float:right; padding-right:15px">
                <a href="/OtherServices/OtherServices/RedirectFromModule?modcode=@ViewBag.SubModuleCode" modcode="@ViewBag.SubModuleCode"
                   id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
            </div>
        </div>
    </div>

    <span class="clsVariables" style="display:none;" municipalityid="@ViewBag.MunicipalityID" mindate="@ViewBag.MinDate" maxdate="@ViewBag.MaxDate" 
          ApplicationId="@ViewBag.ApplicationId" UrlMode="@ViewBag.mode"></span>


        <div class="table-responsive testimgdiv" >
            <table id="tbl" class="table table-hover table-bordered tblInst">
                <thead>
                    @*<tr>
                        <th colspan="16" style="background-color:#e8e8e8">
                            <div class="row">
                                <div class="col-md-9" style="padding-bottom:5px">
                                    <h4> Inspector Schedule</h4>
                                </div>
                                <div class="clsBackButton" style="text-align:right; float:right; padding-right:15px">
                                    <a href="/OtherServices/OtherServices/RedirectFromModule?modcode=@ViewBag.SubModuleCode" modcode="@ViewBag.SubModuleCode"
                                       id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
                                </div>
                            </div>
                        </th>
                    </tr>*@


                   @* <tr><th colspan="16" style="background-color:#e8e8e8">Inspection Detail</th></tr>*@

                    <tr>
                        <th>Inspection From Date/Time</th>
                        <th>Inspection To Date/Time</th>
                        <th style="width:50%">Inspector Name</th>
                        @*<th style="display:none;">Notify the Applicant </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="test_0">
                        <td>
                            <input type="text" id="txtinfrmdate" name="txtinfrmdate" readonly class="form-control txtinfrmdate" placeholder="DD/MM/YYYY" autocomplete="off" style="float:left; width:50%">
                            <input type="text" id="txtinfrmdatetime" name="txtinfrmdatetime" readonly class="form-control txtinfrmdatetime" placeholder="HH:MM" autocomplete="off" style="float:left; width:50%">
                        </td>
                        <td>
                            <input type="text" id="txtintodate" name="txtintodate" readonly class="form-control txtintodate" placeholder="DD/MM/YYYY" autocomplete="off" style="float:left; width:50%">
                            <input type="text" id="txtintodatetime" name="txtintodatetime" readonly class="form-control txtintodatetime" placeholder="HH:MM" autocomplete="off" style="float:left; width:50%">
                        </td>
                        <td>
                            <select id="inspdet" class="form-control">
                                <option value="">--Select--</option>
                            </select>
                        </td>
                        @*<td style="display:none;">
                                <select id="notify" class="form-control">
                                    <option value="">--Select--</option>
                                    <option value="Y">YES</option>
                                    <option value="N">NO</option>
                                </select>
                            </td>*@

                        <td style="text-align:center;">
                            <button type="button" id="btnAdd" class="btn-success">Add</button>
                            <input type="hidden" id="hdnDetailID">
                            <input type="hidden" id="hdnStatus" />
                        </td>
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr class="myData">
                            <td class="clsFromdt">@x.InspOnFrom</td>
                            <td class="clsTodt">@x.InspOnTo</td>

                            <td style="display:none;" class="clsInsptId" chk-data="@x.InspectorID">@x.InspectorID</td>
                            <td class="clsInsptName">@x.InspectorName</td>
                            <td style="text-align:center">
                                <span class="glyphicon glyphicon-edit imgEdit" style="color:blue; font-size:15px; cursor:pointer; display:none; text-align:center;" onClick="EditDetail(this);"></span>
                                <span class="glyphicon glyphicon-trash" class="clsDelButton imgDel" style="color:red; font-size:15px; cursor:pointer; text-align:center;" onClick="DeleteDetail(this, 0);"></span>

                                @*<img src="/Contents/image/edit.png" title="Edit" class="imgEdit" style="width:15px;height:15px;cursor:pointer; display:none; text-align:center;" onClick="EditDetail(this);" />*@
                                @*<img src="/Contents/image/delete.png" class="clsDelButton imgDel" title="Delete" style="width:15px;height:15px;cursor:pointer; text-align:center;" onClick="DeleteDetail(this, @x.SCHEDULEID);" />*@
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot class="cls mode_G"></tfoot>
            </table>
        </div>
        <div class="row cls clsOption" style="padding-top:5px">
            <div class="form-group">

                <div class="col-md-9">
                    <label class="control-label">Remarks </label><span id="spn2" style="color: red">&nbsp;*</span>
                    <textarea type="text" id="txtRemarks" class="form-control" placeholder="Remarks"></textarea>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Date </label><span id="spn2" style="color: red">&nbsp;*</span>
                    <input type="text" id="txtVerificationDate" class="form-control" placeholder="DD/MM/YYYY" disabled>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-12" style="padding-top:22px; text-align:right">
                    <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Save</span></button>
                    <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                </div>
            </div>
        </div>

    
</div>
  