﻿
@{
    ViewBag.Title = "MunicipalityDashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Contents/Script/AppJs/MunicipalityDashboard.js"></script>
<input type="hidden" value="@ViewBag.submoduleId" id="submoduleid" />
<input type="hidden" value="@ViewBag.UserId" id="userid" />
<div class="panel panel-default">
    <div class="panel-heading">
       


        <div class="row">
            <div class="col-md-9" style="padding-bottom:5px">
                <h4> @ViewBag.submoduleName List</h4>
            </div>
            <div class="col-md-3 clsBackButton" style="text-align:right; float:right;">
                <a href="/OtherServices/OtherServices/ApplicantDashboard"
                   id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="aplilist table table-bordered">
                    <thead>
                        <tr style="background-color: #286090;color: #fff;">
                            <th style="text-align:center">Sl No.</th>
                            <th style="display:none">Appliction Id</th>
                            <th style="text-align:center">Application Number</th>
                            <th style="text-align:center">Date of Application</th>
                            <th style="text-align:center">Project Description</th>
                            <th style="display:none">status Id</th>
                            <th style="text-align:center">Status</th>
                            <th style="text-align:center">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
