﻿@using Valuation_Board.App_Codes.BLL;
@using Valuation_Board.Models.Account;
@using Valuation_Board.Models.Application;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #testDiv {
        width: 100%;
        overflow-x: auto;
    }

    .testimgdiv {
        /*width: 150%;*/
        display: inline-block;
    }

    .container {
        width: 1352px !important;
    }

    .formFont {
        font-size: 12px;
    }

    .hide {
        display: none;
    }

    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 200px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    #mapSearchContainer {
        position: fixed;
        top: 20px;
        right: 40px;
        height: 30px;
        width: 180px;
        z-index: 110;
        font-size: 10pt;
        color: #5d5d5d;
        border: solid 1px #bbb;
        background-color: #f8f8f8;
    }

    .pointer {
        position: absolute;
        top: 86px;
        left: 60px;
        z-index: 99999;
    }
</style>
@*<script src="~/Contents/Script/AppJs/ServiceReport.js?vs=1"></script>*@

<div class="panel container formFont">
    <div class="row">
        <div class="col-md-9">
            <label class="control-label" style="font-size:20px; padding-bottom:5px;">Movie Shooting</label>
        </div>
    </div>
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                <label class="control-label">Applicant Name : </label>
                @if (SessionContext.IsAuthenticated)
                {
                    int UserTypeId = 0;
                    var user = SessionContext.CurrentUser as IInternalUserMin;
                    if (user != null)
                    {
                        if (user.UserType == UserType.MunicipalityUser)
                        {
                            UserTypeId = 2;
                        }
                        else if (user.UserType == UserType.AdministrativeUser)
                        {
                            UserTypeId = 3;
                        }
                        else if (user.UserType == UserType.OtherCitizenUser)
                        {
                            UserTypeId = 4;
                        }
                    }
                    string ApplicantName = new ApplicationFormBll().GetApplicantName(@ViewBag.UserID, UserTypeId, @ViewBag.ApplicationId);
                    <label class="control-label" style="font-weight:bold">@ApplicantName</label>
                }
            </div>
            <div class="col-md-3 clsBackButton" style="text-align:right; float:right; ">
                <a href="/OtherServices/OtherServices/RedirectFromModule?modcode=@ViewBag.SubModuleCode" modcode="@ViewBag.SubModuleCode"
                   id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>

                <button type="button" id="btnPrint" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> PDF</button>
            </div>
            <span class="clsVariables" style="display:none;" ApplicationId="@ViewBag.ApplicationId" municipalityid="@ViewBag.MuncipalityID" serviceid="@ViewBag.ServiceID"></span>
        </div>
    </div>


    <input type="hidden" id="hdnApplicationID" />
    <div class="panel-body">
        <form id="frmApprovedOtherAdjustment" target="_blank" action="/Municipality/AdjustmentApproval/UpdateData" method="post">
            <div id="myDiv">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Name of project</label>&nbsp; :
                            <label id="txtProjectName" class="control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Project Municipality/Corporation</label>&nbsp; :
                            <label id="ddlMunicipality" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Purpose</label>&nbsp; :
                            <label id="ddlPurpose" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Application No.</label>&nbsp; :
                            <label id="txtApplicationNo" class="control-label"></label>
                        </div>
                    </div>
                </div>
                <div id="testDiv">
                    <div class="table-responsive" style="padding-top:10px;">
                        <table id="tbl" class="table table-hover table-bordered tblInst" border="1">
                            <thead>
                                <tr><th colspan="7" style="background-color:#e8e8e8">Details of project</th></tr>
                                <tr>
                                    <th>Ward No</th>
                                    <th>Location</th>
                                    <th>Landmark</th>
                                    <th>Borough</th>
                                    <th>Proposed Start Date</th>
                                    <th>Proposed End Date</th>
                                    <th>Rate/Amount after inspection (&#x20B9;)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="test_0"></tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div style="padding-top:10px;">
                                <table id="tblOtherCharges" class="table table-hover table-bordered tblInst" border="1" width="100%">
                                    <thead>
                                        <tr><th colspan="2" style="background-color:#e8e8e8">Other Charges</th></tr>
                                        <tr>
                                            <th>Charge Type</th>
                                            <th style="text-align:right">Amount (&#x20B9;)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="test_0"></tr>
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12" style="padding-top:22px; text-align:right">
                            <button type="button" id="btnMakePayment" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Make Payment</span></button>
                            <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="row">
    @*start:- place modal dialog to complete payment *@
    <div class="modal fade" id="modal_MakePaymentComplete" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#c1daee; padding-bottom:30px;">
                    <div class="col-md-4"><h5 class="modal-title" style="text-align: left;">Make Payment</h5></div>
                    <div class="col-md-8"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                </div>
                <div class="modal-body">
                    <form id="form-payment-complete">
                        <div class="input-group">
                            <span class="input-group-addon">Payment Gateway</span>
                            <select class="form-control ddl-payment-gateway" name="ddl-payment-gateway">
                                <option value="">--select payment gateway--</option>
                            </select>

                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="background-color:#c1daee">
                    <div class="col-md-8" style="text-align:left"><span class="field-error error-block"></span></div>
                    <div class="col-md-4"><button type="button" class="btn btn-default complete-payment">Complete Payment</button></div>

                </div>
            </div>
        </div>
    </div>
    @*End:- place modal dialog to complete payment *@
</div>

<script>
    var mode = '', ApplicationId = '', UserType = '';
    var modalControl = '', ServiceID = "", MuncipalityID = "";

    $(document).ready(function () {

        modalControl = $('#modal_MakePaymentComplete');

        $("#btnPrint").click(function (evt) {
            Print();
        });
        $("#btnRefresh").click(function (evt) {
            Refresh();
        });
        $("#btnMakePayment").click(function (evt) {
            MakePayment();
        });

        ApplicationId = $('.clsVariables').attr('ApplicationId');
        Load(ApplicationId);
    });

    function Load(ApplicationId) {
        var E = "{ApplicationID: '" + ApplicationId + "'}";
        $.ajax({
            url: '/OtherServices/ApplicationForm/LoadReport',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: E,
            dataType: 'json',
            success: function (responce) {
                var xmlDoc = $.parseXML(responce.Data);
                var xml = $(xmlDoc);
                var Table = xml.find("Table");
                var Table1 = xml.find("Table1");
                var Table2 = xml.find("Table2");

                var ApplicationID = $.trim($(Table).find("ServMstId").text());
                var ApplicationNo = $.trim($(Table).find("ApplicationNo").text());
                var MunicipalityID = $.trim($(Table).find("MunicipalityDevAuthoId").text());
                var MunicipalityName = $.trim($(Table).find("MunicipalityName").text());
                var Purpose = $.trim($(Table).find("Purpose").text());
                var ProjectName = $.trim($(Table).find("NameOfProject").text());

                //MASTER 
                $("#hdnApplicationID").val(ApplicationID); $("#txtApplicationNo").text(ApplicationNo);
                $("#ddlMunicipality").text(MunicipalityName); $('.clsVariables').attr('automunicipalityid', MunicipalityID);
                $("#ddlPurpose").text(Purpose); $("#txtProjectName").text(ProjectName);
                //DETAIL
                Detail(xml);
                //DOCUMENT
               // Document(xml);
                //OTHER CHARGE
                OtherChargeDetail(xml);
            }
        });
    }
    function Detail(xml) {
        $("#tbl tr.myData").remove();
        var html = "", Amt = 0;
        var $this = $('#tbl .test_0');
        $parentTR = $this.closest('tr');
        $(xml).find("Table1").each(function () {

            var isActive = $.trim($(this).find("isActive").text());
            var Amts = $.trim($(this).find("ApprovedAmount").text()) == "" ? 0 : $.trim($(this).find("ApprovedAmount").text());
            Amt = parseFloat(Amt) + parseFloat(Amts);

            $parentTR.after("<tr class='myData' >" +  //style='display:" + (isActive == 1 ? "" : "none") + "'

                "<td>" + $.trim($(this).find("WardName").text()) + "</td>" +

                "<td style='display:none;' class='clsLocation' chk-data='" + $("#ddlLocation").val() + "'>" + $.trim($(this).find("LocationId").text()) + "</td>" +
                "<td>" + $.trim($(this).find("LocationName").text()) + "</td>" +

                "<td class='clsLandMark'>" + $.trim($(this).find("LandMark").text()) + "</td>" +
                "<td class='clsBorough'>" + $.trim($(this).find("BoroughNo").text()) + "</td>" +
                "<td class='clsStartofWork'>" + $.trim($(this).find("WorkStratDate").text()) + "</td>" +
                "<td class='clsEndofWork'>" + $.trim($(this).find("WorkEndDate").text()) + "</td>" +

                "<td style='text-align:right;' class='clsAmount'>" + $.trim($(this).find("ApprovedAmount").text()) + "</td>" +

                "</tr > ");
        });

        var fhtml = "";
        fhtml = "<tr>" +
            "<td colspan='6' style='text-align:right; font-weight:bold;'>Total (&#x20B9;)</td>" +
            "<td style='text-align:right; font-weight:bold;' class='clsTotal'>" + Amt + "</td>" +
            // "<td></td>" +
            "</tr > ";
        $('#tbl tfoot').append(fhtml);

    }
    function OtherChargeDetail(xml, mode) {
        $("#tblOtherCharges tr.myData").remove();
        var html = "", Amt = 0;
        var $this = $('#tblOtherCharges .test_0');
        $parentTR = $this.closest('tr');

        var l = $(xml).find("Table3").length;
        if (l > 0) {
            $(xml).find("Table3").each(function () {

                $parentTR.after("<tr class='myData'>" +

                    "<td style='display:none;' class='clsID' >" + $.trim($(this).find("ID").text()) + "</td>" +

                    "<td style='display:none;' class='clsChargeID' >" + $.trim($(this).find("OtherChargeID").text()) + "</td>" +
                    "<td>" + $.trim($(this).find("ChargeName").text()) + "</td>" +

                    "<td class='clsOtherAmt' style='text-align:right;'>" + $.trim($(this).find("Amount").text()) + "</td>" +

                    "</tr > ");
            });

           
        }
        else
            $('#tblOtherCharges').css('display', 'none');

        CalculateFinal();
    }
    function CalculateFinal() {
        var Total = 0;
        $('#tbl tr.myData').find('.clsAmount').each(function () {
            var amt = $(this).text() == "" ? 0 : $(this).text();
            Total = parseFloat(Total) + parseFloat(amt);
        });

        $('#tblOtherCharges').find('.clsOtherAmt').each(function () {
            var amt = $(this).text() == "" ? 0 : $(this).text();
            Total = parseFloat(Total) + parseFloat(amt);
        });

        var fhtml = "";
        fhtml = "<tr>" +
            "<td colspan='1' style='text-align:right; font-weight:bold;'>Gross Total (&#x20B9;)</td>" +
            "<td style='text-align:right; font-weight:bold;' class='clsTotal'>" + Total.toFixed(2); + "</td>" +
            "</tr > ";

        $('#tblOtherCharges tfoot').empty();
        $('#tblOtherCharges tfoot').append(fhtml);
    }
    function Refresh() {
        location.reload();
    }

    function MakePayment() {
        var MuncipalityID = $('.clsVariables').attr('municipalityid');
        var PayLoadPG = "{MunicipalityID:'" + MuncipalityID + "'}";
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/OtherServices/MakePayment/GetPGList",
            data: PayLoadPG,
            dataType: "json",
            success: function (data) {
                var ResponseData = data.Data;
                if (ResponseData != null) {
                    $('.ddl-payment-gateway').empty();
                    $('.ddl-payment-gateway').append('<option value="">--select--</option>');
                    $.each(ResponseData, function (index, value) {
                        var label = value.PG_Name;
                        var id = value.PG_Code;
                        $('.ddl-payment-gateway').append("<option value='" + id + "'>" + label + "</option>");
                    });
                    modalControl.modal('show');
                    $('.complete-payment').off('click', clickOnPayment);
                    $('.complete-payment').on('click', clickOnPayment);
                } else {
                    alert(data.Message);
                }
            },
            error: function (result) {
                alert("Error");
            }
        });
    }
    function validate() {
        modalControl.find(".modal-footer .field-error").hide();//hide all error fields
        var selectedPGVal = modalControl.find('.ddl-payment-gateway').val();
        if (selectedPGVal == "" || selectedPGVal == null || selectedPGVal == undefined) {
            modalControl.find(".modal-footer .field-error").html('Please select payment gateway');
            modalControl.find(".modal-footer .field-error").show();
            return false;
        }
        return true;
    };
    function clickOnPayment() {
        if (validate() && confirm("Are you sure to confirm payment?")) {
            var ServiceID = $('.clsVariables').attr('serviceid');
            var MuncipalityID = $('.clsVariables').attr('municipalityid');
            if (ServiceID != '' && MuncipalityID != '') {
                MakeFinalPayment(ServiceID, MuncipalityID, $('.ddl-payment-gateway').val());
                //alert(ServiceID+' '+ MuncipalityID+'  ' + $('.ddl-payment-gateway').val());
            }
        }
        else {
            alert('ERROR on id mapping.');
        }
    };
    function MakeFinalPayment(ServiceID, MuncipalityID, PGCode) {
        var PayLoadMP = "{MunicipalityID:'" + MuncipalityID + "',ServiceID:'" + ServiceID + "',PGCode:'" + PGCode + "'}";
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/OtherServices/MakePayment/MakePaymentTemp",
            data: PayLoadMP,
            dataType: "json",
            success: function (data) {
                var ResponseData = data;
                if (ResponseData != null) {
                    var rData = ResponseData.Data;
                    if (rData.hasOwnProperty('RedirectTo')) {
                        location.href = rData.RedirectTo;
                    }
                } else {
                    alert('Error: ' + response.Message);
                }
            },
            error: function (result) {
                alert("Error");
            }
        });
    };

    function Print() {

        var res = confirm('Are You Sure Want to Print Report ??');
        if (res == true) {
            $("#btnBack").hide(); $("#btnMakePayment").hide(); $("#btnRefresh").hide();

            var contents = $("#myDiv").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });

            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;

            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write("<html><head><title></title>");
            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="~/Contents/Css/Gridstyle.css" rel="stylesheet" type="text/css" />');

            var str = "<table border='0' width='100%'> <tr>";
            //str += "<td><img src='/Contents/image/biswabangla.png' style='width: 70px; height: 70px;' /></td>";
            str += "<td><h3 style='font-family:verdana; font-size:18px; text-align:center;'>Urban Development and Municipal Affairs Department, GoWB.</h3></td>";
            str += "</tr></table>";
            frameDoc.document.write(str);


            frameDoc.document.write(contents);

            frameDoc.document.write('</body></html>');
            frameDoc.document.close();

            $("#btnBack").show(); $("#btnMakePayment").show(); $("#btnRefresh").show();

            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);

        }

    }
</script>






