﻿@using Valuation_Board.App_Codes.BLL;
@using Valuation_Board.Models.Account;
@using Valuation_Board.Models.Application;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #testDiv {
        width: 100%;
        overflow-x: auto;
    }

    .testimgdiv {
        /*width: 150%;*/
        display: inline-block;
    }

    .container {
        width: 1352px !important;
    }

    .formFont {
        font-size: 12px;
    }

    .hide {
        display: none;
    }

    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 200px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    #mapSearchContainer {
        position: fixed;
        top: 20px;
        right: 40px;
        height: 30px;
        width: 180px;
        z-index: 110;
        font-size: 10pt;
        color: #5d5d5d;
        border: solid 1px #bbb;
        background-color: #f8f8f8;
    }

    .pointer {
        position: absolute;
        top: 86px;
        left: 60px;
        z-index: 99999;
    }
</style>
<script src="~/Contents/Script/AppJs/ServiceReport.js?vs=1"></script>

<div class="panel container formFont">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-9">
                <label class="control-label">Applicant Name : </label>
                @if (SessionContext.IsAuthenticated)
                {
                    int UserTypeId = 0;
                    var user = SessionContext.CurrentUser as IInternalUserMin;
                    if (user != null)
                    {
                        if (user.UserType == UserType.MunicipalityUser)
                        {
                            UserTypeId = 2;
                        }
                        else if (user.UserType == UserType.AdministrativeUser)
                        {
                            UserTypeId = 3;
                        }
                        else if (user.UserType == UserType.OtherCitizenUser)
                        {
                            UserTypeId = 4;
                        }
                    }
                    string ApplicantName = new ApplicationFormBll().GetApplicantName(@ViewBag.UserID, UserTypeId, @ViewBag.ApplicationId);
                    <label class="control-label" style="font-weight:bold">@ApplicantName</label>
                }
            </div>
            <div class="col-md-3 clsBackButton" style="text-align:right; float:right; ">
                <a href="/OtherServices/OtherServices/RedirectFromModule?modcode=@ViewBag.SubModuleCode" modcode="@ViewBag.SubModuleCode"
                   id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>

                <button type="button" id="btnPrint" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> PDF</button>
            </div>
            <span class="clsVariables" style="display:none;"  municipalityid="@ViewBag.MuncipalityID" serviceid="@ViewBag.ServiceID"></span>
        </div>
    </div>
    <input type="hidden" id="hdnApplicationID" />
    <div class="panel-body">
        <form id="frmApprovedOtherAdjustment" target="_blank" action="/Municipality/AdjustmentApproval/UpdateData" method="post">
            <div id="myDiv">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Name of project</label>&nbsp; :
                            <label id="txtProjectName" class="control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label">Project Municipality/Corporation</label>&nbsp; :
                            <label id="ddlMunicipality" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Purpose of Road Cutting</label>&nbsp; :
                            <label id="ddlPurpose" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Application No.</label>&nbsp; :
                            <label id="txtApplicationNo" class="control-label"></label>
                        </div>
                    </div>
                </div>
                <div id="testDiv">
                    <div class="table-responsive testimgdiv" style="padding-top:10px;">
                        <table id="tbl" class="table table-hover table-bordered tblInst" border="1">
                            <thead>
                                <tr><th colspan="14" style="background-color:#e8e8e8">Details of project</th></tr>
                                <tr>
                                    <th style="width:8%">Type Of Surface</th>
                                    <th style="width:8%">Type of Road</th>
                                    <th>Longitude Start/Longitude End</th>
                                    <th>Latitude Start/Latitude End</th>
                                    <th>Ward No</th>
                                    <th>Location</th>
                                    <th>Landmark</th>
                                    <th>Borough</th>
                                    <th>Proposed Start Date</th>
                                    <th>Proposed End Date</th>
                                    <th>Length of Excavation (Meters)</th>
                                    <th>Specification for Road / Micro tunnel (Meters)</th>
                                    <th>Estimated Cost (&#x20B9;)</th>
                                    <th>Rate/Amount after inspection (&#x20B9;)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="test_0"></tr>
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div style="padding-top:10px;">
                                <table id="tblOtherCharges" class="table table-hover table-bordered tblInst" border="1" width="100%">
                                    <thead>
                                        <tr><th colspan="2" style="background-color:#e8e8e8">Other Charges</th></tr>
                                        <tr>
                                            <th>Charge Type</th>
                                            <th style="text-align:right">Amount (&#x20B9;)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="test_0"></tr>
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12" style="padding-top:22px; text-align:right">
                            <button type="button" id="btnMakePayment" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Make Payment</span></button>
                            <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="row">
    @*start:- place modal dialog to complete payment *@
    <div class="modal fade" id="modal_MakePaymentComplete" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#c1daee; padding-bottom:30px;">
                    <div class="col-md-4"><h5 class="modal-title" style="text-align: left;">Make Payment</h5></div>
                    <div class="col-md-8"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                </div>
                <div class="modal-body">
                    <form id="form-payment-complete">
                        <div class="input-group">
                            <span class="input-group-addon">Payment Gateway</span>
                            <select class="form-control ddl-payment-gateway" name="ddl-payment-gateway">
                                <option value="">--select payment gateway--</option>
                            </select>

                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="background-color:#c1daee">
                    <div class="col-md-8" style="text-align:left"><span class="field-error error-block"></span></div>
                    <div class="col-md-4"><button type="button" class="btn btn-default complete-payment">Complete Payment</button></div>

                </div>
            </div>
        </div>
    </div>
    @*End:- place modal dialog to complete payment *@
</div>






