﻿@using Valuation_Board.App_Codes.BLL;
@using Valuation_Board.Models.Account;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #testDiv {
        width: 100%;
        overflow-x: auto;
    }

    .testimgdiv {
        /*width: 150%;*/
        display: inline-block;
    }

    .container {
        width: 1352px !important;
    }

    .formFont {
        font-size: 12px;
    }
</style>

<script src="~/Contents/Script/AppJs/Signage.js?vs=1"></script>
<div class="panel container formFont">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Application Form</h3></div>
        </div>
    </div>
    <input type="hidden" id="hdnApplicationID" />

    <div class="panel-body">
        <form id="frmApprovedOtherAdjustment" target="_blank" action="/Municipality/AdjustmentApproval/UpdateData" method="post">
            <div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Applicant Name : </label>
                            @if (SessionContext.IsAuthenticated)
                            {
                                int UserTypeId = 0;
                                var user = SessionContext.CurrentUser as IInternalUserMin;
                                if (user != null)
                                {
                                    if (user.UserType == UserType.MunicipalityUser)
                                    {
                                        UserTypeId = 2;
                                    }
                                    else if (user.UserType == UserType.AdministrativeUser)
                                    {
                                        UserTypeId = 3;
                                    }
                                    else if (user.UserType == UserType.OtherCitizenUser)
                                    {
                                        UserTypeId = 4;
                                    }
                                }
                                string ApplicantName = new ApplicationFormBll().GetApplicantName(@ViewBag.UserID, UserTypeId, @ViewBag.ApplicationId);
                                <label class="control-label">@ApplicantName</label>
                            }
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:6px;">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">Project Municipality/Corporation</label><span id="spn2" style="color: red">&nbsp;*</span>&nbsp;
                            <select class="form-control" id="ddlMunicipality">
                                <option value="">Select</option>
                                @if (SessionContext.IsAuthenticated)
                                {
                                    foreach (var type in (new ApplicationFormBll().GetMunicipality()))
                                    {
                                        <option value="@type.MunicipalityID">@type.MunicipalityName</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Name of project</label><span id="spn2" style="color: red">&nbsp;*</span>
                            <input type="text" id="txtProjectName" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Application No.</label><span id="spn2" style="color: red">&nbsp;</span>
                            <input type="text" id="txtApplicationNo" class="form-control" readonly>
                        </div>
                    </div>
                </div>

                <div id="testDiv">
                    <div class="table-responsive testimgdiv" style="padding-top:10px;">
                        <table id="tbl" class="table table-hover table-bordered tblInst">
                            <thead>
                                <tr><th colspan="13" style="background-color:#e8e8e8">Details of project</th></tr>
                                <tr>
                                    <th>Latitude Start/Latitude End</th>
                                    <th>Longitude Start/Longitude End</th>
                                    <th>Ward No</th>
                                    <th>Borough</th>
                                    <th>Location</th>
                                    <th>Landmark</th>
                                    <th>Date of Start of Work</th>
                                    <th>Date of End of Work</th>
                                    <th>Signage PostNo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="test_0">
                                    <td>
                                        <input type="text" id="txtLatitudeStart" class="allownumericwithdecimal" placeholder="Latitude Start" style="width:90px" />
                                        <input type="text" id="txtLatitudeEnd" class="allownumericwithdecimal" placeholder="Latitude End" style="width:90px" />
                                    </td>
                                    <td>
                                        <input type="text" id="txtLongitudeStart" class="allownumericwithdecimal" placeholder="Longitude Start" style="width:90px" />
                                        <input type="text" id="txtLongitudeEnd" class="allownumericwithdecimal" placeholder="Longitude End" style="width:90px" />
                                    </td>

                                    <td>
                                        <select id="ddlWard">
                                            <option value="">Select</option>
                                        </select>
                                    </td>

                                    <td><input type="text" id="txtBorough" class="allownumericwithdecimal" style="width:80px" /></td>


                                    <td>
                                        <select id="ddlLocation" style="width:65px">
                                            <option value="">Select</option>
                                        </select>
                                    </td>
                                    <td><input type="text" id="txtLandMark" /></td>

                                    <td><input type="text" id="txtStartofWork" placeholder="DD/MM/YYYY" style="width:90px" /></td>
                                    <td><input type="text" id="txtEndofWork" placeholder="DD/MM/YYYY" style="width:90px" /></td>
                                    <td><input type="text" id="txtSignagePostNo" class="allownumericwithdecimal" style="width:90px" /></td>


                                    <td style="text-align:center;">
                                        <button type="button" id="btnAdd" class="btn-success">Add</button>
                                        <input type="hidden" id="hdnDetailID">
                                        <input type="hidden" id="hdnStatus" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="testDiv">
                    <div class="table-responsive" style="padding-top:15px;">
                        <table id="tblimg" class="table table-hover table-bordered tblInst">
                            <thead>
                                <tr><th colspan="12" style="background-color:#e8e8e8">Upload Drawings</th></tr>
                            </thead>
                            <tbody>
                                @if (SessionContext.IsAuthenticated)
                                {
                                    var lst = new MovieBll().GetUploadDetail(@ViewBag.subModuleId);
                                    if (lst != null)
                                    {
                                        foreach (var type in lst)
                                        {
                                            <tr class="myData">
                                                <td>
                                                    <label class="control-label">@type.DocName</label>
                                                    @if (@type.isMandatory == 1)
                                                    {
                                                        <span id="spn2" style="color: red">&nbsp; * &nbsp;</span>
                                                    }
                                                    else
                                                    {
                                                        <span id="spn2" style="color: red">&nbsp; </span>
                                                    }

                                                    (Qty: @type.maxQuantity,
                                                    File Type : @type.ExtensionType,
                                                    File Max-Size : @type.MaxSize MB for each file")
                                                    <input type="file" class="form-control flimg" placeholder="File Upload..." multiple
                                                           onchange="Photo(this)"
                                                           accept="@type.ExtensionType"
                                                           id="flPic_@type.DocTypeID"
                                                           mandatory="@type.isMandatory"
                                                           MaxSize="@type.MaxSize"
                                                           maxQuantity="@type.maxQuantity"
                                                           ExtensionType="@type.ExtensionType"
                                                           docName="@type.DocName"
                                                           docTypeId="@type.DocTypeID" />

                                                </td>
                                            </tr>
                                            <tr class="docImg img_@type.DocTypeID"></tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3" style="padding-top:22px; float:right">
                            <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                            <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%; height:500px; margin-top:0px !important">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">

                        <div class="row" style="text-align:center">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <iframe id="imgview" height="500px" width="100%"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 350px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>

