﻿@using Valuation_Board.App_Codes.BLL;
@using Valuation_Board.Models.Account;
@using Valuation_Board.Models.Application;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #testDiv {
        width: 100%;
        overflow-x: auto;
    }

    .testimgdiv {
        /*width: 150%;*/
        display: inline-block;
    }

    .container {
        width: 1315px !important;
    }

    .formFont {
        font-size: 12px;
    }

    .hide {
        display: none;
    }

    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 200px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    #mapSearchContainer {
        position: fixed;
        top: 20px;
        right: 40px;
        height: 30px;
        width: 180px;
        z-index: 110;
        font-size: 10pt;
        color: #5d5d5d;
        border: solid 1px #bbb;
        background-color: #f8f8f8;
    }

    .pointer {
        position: absolute;
        top: 86px;
        left: 60px;
        z-index: 99999;
    }
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Contents/Script/jqueryfiler/jquery.filer.css" rel="stylesheet" />
<script src="~/Contents/Script/jqueryfiler/jquery.filer.js"></script>
@*<script src="~/Contents/Script/jqueryfiler/jquery.filer.min.js"></script>*@

<script src="~/Contents/Script/AppJs/Stacking.js?vs=1"></script>
<div class="panel container formFont">

    <div class="row">
        <div class="col-md-9">
            <label class="control-label" style="font-size:20px; padding-bottom:5px;">Sanction for storage of construction material </label>
        </div>
    </div>

    <div >
        <div class="row">
            <div class="col-md-9" style="padding-bottom:5px">
                <label class="control-label">Applicant Name : </label>
                @if (SessionContext.IsAuthenticated)
                {
                    int UserTypeId = 0;
                    var user = SessionContext.CurrentUser as IInternalUserMin;
                    if (user != null)
                    {
                        if (user.UserType == UserType.MunicipalityUser)
                        {
                            UserTypeId = 2;
                        }
                        else if (user.UserType == UserType.AdministrativeUser)
                        {
                            UserTypeId = 3;
                        }
                        else if (user.UserType == UserType.OtherCitizenUser)
                        {
                            UserTypeId = 4;
                        }
                    }
                    string ApplicantName = new ApplicationFormBll().GetApplicantName(@ViewBag.UserID, UserTypeId, @ViewBag.ApplicationId);
                    <label class="control-label" style="font-weight:bold">@ApplicantName</label>
                }
            </div>
            <div class="col-md-3 clsBackButton" style="text-align:right; float:right;">
                <a href="/OtherServices/OtherServices/RedirectFromModule?modcode=@ViewBag.SubModuleCode" modcode="@ViewBag.SubModuleCode"
                   id="btnBack" class="btn btn-primary"><span class="glyphicon glyphicon-backward" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Back</span></a>
            </div>
            <span class="clsVariables" style="display:none;" usertype="@ViewBag.UserType" automunicipalityid="" otherchargeMainID="" autoholdingno="" hdnParentID=""
                  ApplicationId="@ViewBag.ApplicationId" UrlMode="@ViewBag.mode"></span>
        </div>
    </div>
    <input type="hidden" id="hdnApplicationID" />

    <div>
        <div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label">Project Municipality/Corporation</label><span id="spn2" style="color: red">&nbsp;*</span>&nbsp;
                        <input type="text" id="ddlMunicipality" class="form-control" placeholder="Search municipality..">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Purpose</label><span id="spn2" style="color: red">&nbsp;*</span>
                        <select class="form-control" id="ddlPurpose">
                            <option value="">Select</option>
                            @if (SessionContext.IsAuthenticated)
                            {
                                var lst = new ApplicationFormBll().GetPurpose(@ViewBag.subModuleId);
                                if (lst != null)
                                {
                                    foreach (var type in lst)
                                    {
                                        <option value="@type.TypeID">@type.Purpose</option>
                                    }
                                }

                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Name of project</label><span id="spn2" style="color: red">&nbsp;*</span>
                        <textarea type="text" id="txtProjectName" class="form-control"></textarea>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Application No.</label><span id="spn2" style="color: red">&nbsp;</span>
                        <input type="text" id="txtApplicationNo" class="form-control" readonly>
                    </div>
                </div>
            </div>

            <div id="testDiv">
                <div class="table-responsive" style="padding-top:10px;">
                    <table id="tbl" class="table table-hover table-bordered tblInst">
                        <thead>
                            <tr><th colspan="16" style="background-color:#e8e8e8">Details of project</th></tr>
                            <tr>
                                <th>Ward No</th>
                                <th>Location</th>
                                <th>Landmark</th>
                                <th>Borough</th>
                                <th>Holding No.</th>
                                <th>Plot Area (Sq.mt)</th>
                                <th>Mode of Sanction</th>
                                <th>Ref. of Sanction No.</th>
                                <th>Proposed Start Date</th>
                                <th>Proposed End Date</th>

                                <th class="cls mode_E">Estimated Cost (&#x20B9;)</th>
                                <th class="cls mode_R" style="display:none">Verify ?</th>
                                @*<th class="cls mode_G">Rate per mtr.</th>*@
                                <th class="cls mode_G">Rate/Amount after inspection (&#x20B9;)</th>
                                <th class="clsEditOption"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="test_0">

                                <td>
                                    <select id="ddlWard">
                                        <option value="">Select</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="ddlLocation" style="width:65px">
                                        <option value="">Select</option>
                                    </select>
                                </td>
                                <td><input type="text" id="txtLandMark" /></td>
                                <td><input type="text" id="txtBorough" class="allownumericwithdecimal" style="width:80px" /></td>
                                <td><input type="text" id="txtHoldingNo" style="width:100px" /></td>
                                <td><input type="text" id="txtPlotArea" style="width:80px" placeholder="Max 2000 Sq.mt" onkeyup="CheckMaximum()" /></td>

                                <td>
                                    <select id="ddlSactionMode" style="width:65px">
                                        <option value="">Select</option>
                                        <option value="1">Online</option>
                                        <option value="2">Offline</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" id="txtSanctionNo" style="width:80px" />
                                </td>

                                <td><input type="text" id="txtStartofWork" placeholder="DD/MM/YYYY" style="width:90px" /></td>
                                <td><input type="text" id="txtEndofWork" placeholder="DD/MM/YYYY" style="width:90px" /></td>

                                <td class="cls mode_E"><input type="hidden" id="hdnEstimationCost" /></td>
                                <td class="cls mode_R" style="display:none"></td>
                                @*<td class="cls mode_G" ></td>*@
                                <td class="cls mode_G"></td>

                                <td style="text-align:center;" class="clsEditOption">
                                    <button type="button" id="btnAdd" class="btn-success">Add</button>
                                    <input type="hidden" id="hdnDetailID">
                                    <input type="hidden" id="hdnStatus" />
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="cls mode_G"></tfoot>
                    </table>
                </div>
            </div>
            @*//Upload documents*@
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive" style="padding-top:15px;">
                        <form id="myForm" method="post">
                            <table id="tblimg" class="table table-hover table-bordered tblInst">
                                <thead>
                                    <tr><th colspan="12" style="background-color:#e8e8e8">Upload Drawings</th></tr>
                                </thead>
                                <tbody>
                                    @if (SessionContext.IsAuthenticated)
                                    {
                                        var lst = new ApplicationFormBll().GetUploadDetail(@ViewBag.subModuleId, @ViewBag.ApplicationId, @ViewBag.UserID);
                                        if (lst != null)
                                        {
                                            foreach (var type in lst)
                                            {
                                                <tr class="myData" style="display: @(type.isVisible == false ? "none" : "") ">
                                                    <td>
                                                        <label class="control-label">@type.DocName</label>
                                                        @if (@type.isMandatory == 1)
                                                        {
                                                            <span id="spn2" style="color: red">&nbsp; * &nbsp;</span>
                                                        }
                                                        else
                                                        {
                                                            <span id="spn2" style="color: red">&nbsp; </span>
                                                        }

                                                        (MaxQty: @type.maxQuantity,
                                                        File Type : @type.ExtensionType,
                                                        Total File Size : @type.MaxSize MB")
                                                        <input type="file" class="form-control flimg" placeholder="File Upload..." name="files[]" multiple="multiple"
                                                               data-jfiler-limit="@type.maxQuantity"
                                                               data-jfiler-maxSize="@type.MaxSize"
                                                               onchange="Photo(this)"
                                                               accept="@type.ExtensionType"
                                                               id="flPic_@type.DocTypeID"
                                                               mandatory="@type.isMandatory"
                                                               maxQuantity="@type.maxQuantity"
                                                               ExtensionType="@type.ExtensionType"
                                                               docName="@type.DocName"
                                                               docTypeId="@type.DocTypeID"
                                                               @(type.isEnable == false ? "disabled" : "")
                                                               isDelete="@type.isDelete"
                                                               isVisible="@type.isVisible"
                                                               isEnable="@type.isEnable"/>



                                                    </td>
                                                </tr>
                                                <tr class="docImg img_@type.DocTypeID" style="display: @(type.isVisible == false ? "none" : "") "></tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive clstblOtherCharge" style="padding-top:15px;">
                        <table id="tblOtherCharges" class="table table-hover table-bordered">
                            <thead>
                                <tr><th colspan="3" style="background-color:#e8e8e8">Other Charges</th></tr>
                                <tr>
                                    <th>Charge Type</th>
                                    <th style="text-align:right">Amount (&#x20B9;)</th>
                                    <th class="clstblEditOtherCharge"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="test_0">
                                    <td>
                                        <select id="ddlOtherCharge" style="width:100%; height:23px">
                                            <option value="">Select</option>
                                            @if (SessionContext.IsAuthenticated)
                                            {
                                                var lst = new ApplicationFormBll().GetOtherCharges(@ViewBag.subModuleId);
                                                if (lst != null)
                                                {
                                                    foreach (var type in lst)
                                                    {
                                                        <option value="@type.OtherChargeID">@type.ChargeName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td><input type="text" id="txtOtherAmount" class="allownumericwithdecimal" style="width:100%" placeholder="0.00" /></td>
                                    <td style="text-align:center;" class="clstblEditOtherCharge">
                                        <button type="button" id="btnOtherChargeAdd" class="btn-success">Add</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color:#e8e8e8">Gross Charges  : (&#x20B9;)</th>
                                    <th style="background-color:#e8e8e8; text-align:right"><span class="clsGrossEstChargeAmt"> 0.00</span></th>
                                    <th style="background-color:#e8e8e8" class="clstblEditOtherCharge"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @*<div class="table-responsive" style="padding-top:15px;">
                            <table id="tblOtherChargess" class="table table-hover table-bordered " >
                                <thead>
                                    <tr><th colspan="16" style="background-color:#e8e8e8">Gross Estimation Charges (&#x20B9;) :</th>
                                        <th style="background-color:#e8e8e8"><span class="clsGrossEstCharge"> 0.00</span></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>*@
                </div>
            </div>


            @*//Edit Logic*@
            <div class="row cls clsOption" style="padding-top:5px">
                <div class="form-group">
                    <fieldset>
                        <legend>Forward/Assign:</legend>
                        <div class="col-md-1">
                            <label class="control-label">Action </label><span id="spn2" style="color: red">&nbsp;*</span><br>
                            <select id="ddlAction" style="height:23px; width:100%">
                                <option value="">Select</option>
                                @if (SessionContext.IsAuthenticated)
                                {
                                    List<ApplicationFormMD.Action> lst = new ApplicationFormBll().GetAction(@ViewBag.ApplicationId);
                                    if (lst != null)
                                    {
                                        foreach (var type in lst)
                                        {
                                            string isEnable = type.isEnable;
                                            //if(isEnable == "1") { }
                                            <option value="@type.ActionType">@type.ActionName</option>
                                        }
                                    }
                                }
                            </select>

                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Designation </label><span id="spn2" style="color: red">&nbsp;*</span><br>
                            <select id="ddlDesignation" style="height:23px; width:100%">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Date </label><span id="spn2" style="color: red">&nbsp;*</span><br>
                            <input type="text" id="txtVerificationDate" placeholder="DD/MM/YYYY" disabled>
                        </div>

                        <div class="col-md-12" style="padding-top:10px">
                            <label class="control-label">Remarks </label><span id="spn2" style="color: red">&nbsp;*</span>
                            <textarea type="text" id="txtRemarks" class="form-control" placeholder="Remarks"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-12" style="padding-top:22px; text-align:right">
                        <button type="button" id="btnSave" class="btn btn-primary"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="padding-right:4px"></span><span class="clsSaveText">Save</span></button>
                        <button type="button" id="btnRefresh" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                        @*<button type="button" id="btnUpload" onclick="Upload_Doc(66, 1);" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Upload</button>*@
                        <a class="clsDownload" style="display:none;" href="" download></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%; height:500px; margin-top:0px !important">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">

                        <div class="row" style="text-align:center">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <iframe id="imgview" height="500px" width="100%"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog_detail" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:90%; height:500px; margin-top:0px !important">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">
                        <div class="row" style="text-align:center">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div id="testDiv">
                                        <div class="table-responsive testimgdiv" style="padding-top:10px;">
                                            <table id="tblpopup" class="table table-hover table-bordered tblInst">
                                                <thead>
                                                    <tr><th colspan="16" style="background-color:#e8e8e8">Details of project</th></tr>
                                                    <tr>
                                                        <th style="width:8%">Type Of Surface</th>
                                                        <th style="width:8%">Type of Road</th>
                                                        <th>Longitude Start/Longitude End</th>
                                                        <th>Latitude Start/Latitude End</th>
                                                        <th>Ward No</th>
                                                        <th>Location</th>
                                                        <th>Landmark</th>
                                                        <th>Borough</th>
                                                        <th>Proposed Start Date</th>
                                                        <th>Proposed End Date</th>
                                                        <th>Length of Excavation (Meters)</th>
                                                        <th>Specification for Road / Micro tunnel (Meters)</th>

                                                        <th>Estimated Cost(&#x20B9;)</th>
                                                        <th>Verify</th>
                                                        <th>Amount(&#x20B9;)</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="test_0">
                                                        <td>
                                                            <select id="ddlTypeofSurface_P" onchange="Bind_TypeofRoad_P('');">
                                                                <option value="">Select</option>
                                                                @if (SessionContext.IsAuthenticated)
                                                                {
                                                                    var lst = new ApplicationFormBll().GetTypeofSurface(@ViewBag.subModuleId);
                                                                    if (lst != null)
                                                                    {
                                                                        foreach (var type in lst)
                                                                        {
                                                                            <option value="@type.SurfaceID">@type.SurfaceName</option>
                                                                        }
                                                                    }
                                                                }
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select id="ddlTypeofRoad_P" style="width:65px">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtLongitudeStart_P" class="allownumericwithdecimal" placeholder="Longitude Start" style="width:90px" />
                                                            <input type="text" id="txtLongitudeEnd_P" class="allownumericwithdecimal" placeholder="Longitude End" style="width:90px" />
                                                        </td>
                                                        <td>
                                                            <input type="text" id="txtLatitudeStart_P" class="allownumericwithdecimal" placeholder="Latitude Start" style="width:90px" />
                                                            <input type="text" id="txtLatitudeEnd_P" class="allownumericwithdecimal" placeholder="Latitude End" style="width:90px" />
                                                        </td>

                                                        <td>
                                                            <select id="ddlWard_P" onchange="Bind_Location_P('');">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select id="ddlLocation_P" style="width:65px">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" id="txtLandMark_P" /></td>
                                                        <td><input type="text" id="txtBorough_P" class="allownumericwithdecimal" style="width:80px" /></td>
                                                        <td><input type="text" id="txtStartofWork_P" placeholder="DD/MM/YYYY" style="width:90px" /></td>
                                                        <td><input type="text" id="txtEndofWork_P" placeholder="DD/MM/YYYY" style="width:90px" /></td>
                                                        <td><input type="text" id="txtEscavation_P" class="allownumericwithdecimal" style="width:80px" /></td>
                                                        <td>
                                                            <div style="float:left">
                                                                <select id="ddlSpecification_P">
                                                                    <option value="">Select</option>
                                                                    @if (SessionContext.IsAuthenticated)
                                                                    {
                                                                        var lst = new ApplicationFormBll().GetSpecification(@ViewBag.subModuleId);
                                                                        if (lst != null)
                                                                        {
                                                                            foreach (var type in lst)
                                                                            {
                                                                                <option value="@type.ID">@type.Description</option>
                                                                            }
                                                                        }

                                                                    }
                                                                </select>
                                                            </div>
                                                            <div style="float:left">
                                                                <input type="text" id="RWidth_P" class="dtl allownumericwithdecimal" style="width:30%; display:none" placeholder="RWidth" />
                                                                <input type="text" id="RDepth_P" class="dtl allownumericwithdecimal" style="width:30%; display:none" placeholder="RDepth" />
                                                                <input type="text" id="PNo_P" class="dtl allownumericwithdecimal" style="width:30%; display:none" placeholder="PNo." />
                                                                <input type="text" id="PLength_P" class="dtl allownumericwithdecimal" style="width:30%; display:none" placeholder="PLength" />
                                                                <input type="text" id="PWidth_P" class="dtl allownumericwithdecimal" style="width:30%; display:none" placeholder="PWidth" />
                                                                <input type="text" id="PDepth_P" class="dtl allownumericwithdecimal" style="width:30%; display:none" placeholder="PDepth" />
                                                                <input type="text" id="TDiameter_P" class="dtl allownumericwithdecimal" style="width:30%; display:none" placeholder="TDiameter" />
                                                            </div>
                                                        </td>
                                                        <td><input type="text" id="txtEstimationCost_P" class="allownumericwithdecimal" style="width:100%;" /></td>
                                                        <td><input id="chkVerify" checked disabled type="checkbox" /></td>
                                                        <td><input type="text" id="txtCalAmount_P" class="allownumericwithdecimal" style="width:100%;" /></td>

                                                        <td style="text-align:center;">
                                                            <button type="button" id="btnPopUpAdd" class="btn-success">Add</button>
                                                            <input type="hidden" id="hdnDetailID_P">
                                                            <input type="hidden" id="hdnStatus_P" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot class="cls mode_G"></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="map" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:100%; height:500px; margin-top:0px !important">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">

                        <div class="row" style="text-align:center">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div id="mapid" style="height:300px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    @*var markers = @Html.Raw(ViewBag.Markers); console.log(markers);
    $('#map').modal('show');


    var map = L.map('map').setView([22.586491, 88.343170], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    L.marker([22.586491, 88.343170]).addTo(map)
        .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
        .openPopup();

    var geocodeService = L.esri.Geocoding.geocodeService();
    map.on('click', function (e) {
        geocodeService.reverse().latlng(e.latlng).run(function (error, result) {
            if (error) {
                return;
            }
            L.marker(result.latlng).addTo(map).bindPopup(result.address.Match_addr + " [" + result.latlng.lat + " , " + result.latlng.lng + "]").openPopup();
        });
    });

    var arcgisOnline = L.esri.Geocoding.arcgisOnlineProvider();

    L.esri.Geocoding.geosearch({
        providers: [
            arcgisOnline,
            L.esri.Geocoding.mapServiceProvider({
                label: 'States and Counties',
                url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer',
                layers: [2, 3],
                searchFields: ['NAME', 'STATE_NAME']
            })
        ]
    }).addTo(map);*@
</script>

<script>
    $(document).ready(function () {

        $('.flimg').filer({
            showThumbs: true,
            addMore: true,
            allowDuplicates: false
        });

    });

</script>





