﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/CollectorWiseCollectionReport.js"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4"><h3 class="panel-title">Collector Wise Collection Report</h3></div>
            <div class="col-md-8 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
       @*string DateFrom, string DateTo, int? WardID, int? LocationID, int? CounterID*@
        <form id="frmCollectorWiseCollectionReport" target="_blank" action="/Municipality/MnReports/CollectorWisesReport" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="Counter">From Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateFrom" name="DateFrom" readonly />
                </div>
                <div class="col-md-2">
                    <label for="Counter">To Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateTo" name="DateTo" readonly />
                </div>
                <div class="col-md-2">
                    <label for="age">Ward<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                    <input type="hidden" id="WardID" name="WardID" />
                </div>

                <div class="col-md-2">
                    <label for="mother">Location<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation">
                    <input type="hidden" id="LocationID" name="LocationID" />
                </div>
                <div class="col-md-2">
                    <label for="Payment">Payment Type<span class="red-star">&nbsp;</span></label>
                    <select class="form-control input-sm change" id="PaymentTyp" name="PaymentTyp">
                        <option value="O">Online</option>
                        <option value="F">Offline</option>
                    </select>
                </div>
                <div class="col-md-4" id="divCounter">
                    <label for="Counter">Counter&nbsp;&nbsp; All <input type='checkbox' id='chkAll' name='chkAll' /> <span class="red-star">&nbsp;</span></label>
                    <input for="Counter" type="hidden" id="hdnCounter" name="Counter" />
                    <div class="col-md-12 select-counter" style="overflow-y:scroll; height:100px">
                        <table id="tabCounter">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11" style="text-align:right">
                        <input type="button" id="btnSave" value="Print  Report" class="btn btn-primary" />
                    </div>
                </div> 
            </div>           
        </form>
    </div>
</div>

