﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Contents/Script/AppJs/MunicipalityCounter.js?v=1.0"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Counter Master</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmPropertyTaxPaymentSearch" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="CounterCode">Counter Number<span class="red-star">&nbsp;*</span></label>                                                   
                </div>    
                <div class="col-md-2 ">
                    <input type="text" class="form-control input-sm change" id="txtCounter" name="txtCounter"> 
                </div>    
                <div class="col-md-1 ">                 
                </div>                                 
                <div class="col-md-4">
                    <label for="Status">Status<span class="red-star">&nbsp;*</span></label> 
                    &nbsp;&nbsp; &nbsp;&nbsp;
                    <input type="radio" id="rdActive" name="status" />Active                    
                    <input type="radio" id="rdInActive" name="status" />In-Active
                </div>                         
                <div class="col-md-2 " >
                    <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12" style="max-height:300px;overflow-y:scroll;">
                    <table id="tblCounter" style="width:100%" class="table table-condensed table-bordered table-responsive">
                        <thead>
                            <tr>
                                <td align="center" style="display:none">CounterID</td>
                                <td align="center">Counter Number</td>
                                <td align="center" style="display:none">MunicipalityID</td>
                                <td align="center" style="display:none">IsActive</td>
                                <td align="center">Status</td>
                                <td align="center">Change Status</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>       
    </div>
</div>

