﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions
@using Valuation_Board.Models.Application
@model Assessment_VM.AssessmentForm
@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>disabled,Improvment=>disabled
    if (new List<string>() { "P", "R", "M", "S", "I" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<script src="~/Contents/Script/AppJs/assmt-change-of-owner.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header border-bottom">
                <div class="box-title">
                    Change Of Owner(Full Mutation)
                </div>
                <div class="box-tools pull-right">
                    <div class="assmt-sub-actions">
                        <div class="btn-group btn-group" style="margin-bottom: 10px;">
                            <a data-toggle="tab" href="#owner-tab" class="btn btn-primary assmt-sub-action active">Change Of Owner(Full Mutation)</a>
                            <a data-toggle="tab" href="#other-tab" class="btn btn-primary assmt-sub-action">Other</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="cntr-assessment-form-entry">
                    <div class="tab-content">
                        @if (ViewBag.error != null)
                        {
                            Html.Partial(SiteConstants.ErrorViewPath, ViewBag.error as AppException<string, string>);
                        }
                        else if (Model == null)
                        {
                            Html.Partial(SiteConstants.ErrorViewPath, new AppException<string, string>("Form Can not be initialize please try again", "", null));
                        }
                        else
                        {
                            <div id="owner-tab" class="tab-pane in active fade">
                                @Html.Partial(@"~\Views\Municipality\Assessment\Year_Qtr.cshtml", Model)
                                @Html.Partial(@"~\Views\Municipality\Assessment\SettingParams.cshtml", Model)
                                <div id="app-container" class="tab-pane fade in active border-top">
                                    @Html.Partial(@"~\Views\Municipality\Assessment\HoldingDetails.cshtml", Model)
                                    <div id="searched-holding-modal" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            Modal content
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Modal Header</h4>
                                                </div>
                                                <div class="modal-body">

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success btn-select-holding">Select Holding</button>
                                                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="table table-responsive tbl-name-list no-margin">
                                        <table class="table table-striped table-bordered table-hover table-condensed">
                                            <caption class="bg-gray text-center">Add, Edit, Remove Names</caption>
                                            <thead class="bg-blue">
                                                <tr>
                                                    <th style="width: 60px;">#</th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th class="text-center" style="width:100px">
                                                        Remove
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="empty-row">
                                                    <td colspan="2" class="text-center">
                                                        No Name In List
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td><input type="text" class="form-control txt-name" placeholder="enter new name" /><label class="error" style="display:none"></label></td>
                                                    <td><input type="button" class="form-control btn-add-new" value="Add New" /></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>&nbsp;</label>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chk-inheritance"><label class="bold">Inheritance</label></label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Date Of Death:</label>
                                            <input type="text" class="form-control txt-date-of-death" placeholder="dd/mm/yyyy" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Date Cert No:</label>
                                            <input type="text" class="form-control txt-date-cert-no" placeholder="death cert no" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Building /Land Details:</label>
                                            <textarea class="txt-building-dtl form-control">
                                        </textarea>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row bg-gray-light no-margin  partial-save-cancel">
                                        <div class="col-md-12 text-right">
                                            <a data-toggle="tab" href="#other-tab" class="btn btn-primary assmt-sub-action">Next</a>
                                        </div>
                                    </div>
                                    @*<input type="button" class="btn btn-success pull-right btn-complete-name-change" style="display:none;" value="Complete Name Change" />*@
                                </div>
                            </div>
                            <div id="other-tab" class="tab-pane fade">
                                @{
                                    ScheduleThree.OtherInfoType dateOfOrderCnfg = null;
                                    ScheduleThree.OtherInfoType remarksCnfg = null;

                                    foreach (var t in Model.MasterData.OtherInfoTypeConfigs)
                                    {
                                        if (t.TypeCode == "DOO")//date of order
                                        {
                                            dateOfOrderCnfg = t;
                                        }
                                        if (t.TypeCode == "REM")//remarks
                                        {
                                            remarksCnfg = t;
                                        }
                                    }

                                }
                                <form id="frm-new-holding-OtherTabdetails">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Application Date:</label>
                                            <input type="text" class="form-control txt-application-date datepicker" placeholder="dd/mm/yyyy"  @(disabledCtrl) />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Application Case No:</label>
                                            <input type="text" class="form-control txt-application-no" placeholder="Application / Case no"  @(disabledCtrl) />
                                        </div>
                                        <div class="col-md-4">
                                            <label>@dateOfOrderCnfg.TypeDesc:</label>
                                            <input type="text" class="form-control txt-date-of-order datepicker" placeholder="dd/mm/yyyy" data-typecode="@dateOfOrderCnfg.TypeCode" data-infotype="@dateOfOrderCnfg.InfoType" data-datatype="@dateOfOrderCnfg.DataType" data-infotypeid="@dateOfOrderCnfg.InfoTypeId" data-typedesc="@dateOfOrderCnfg.TypeDesc"  @(disabledCtrl) />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>Pimary Phone No:</label>
                                            <input type="text" class="txt-primary-phone-no form-control" name="txt-primary-phone-no" value="@Model._OtherTabDetails.PrimaryPhNo"  @(disabledCtrl) />
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Primary Email:</label>
                                            <input type="text" class="txt-primary-email-id form-control" name="txt-primary-email-id " value="@Model._OtherTabDetails.PrimaryEmail"  @(disabledCtrl) />
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Processing Fees:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control txt-pro-cosing-fees" name="txt-pro-cosing-fees" value="@Model._OtherTabDetails.ProCosingFees" @(disabledCtrl)  />
                                                <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>Other Fees:</label>
                                            <div class="input-group">
                                                <input type="text" class="txt-other-fees form-control" name="txt-other-fees" value="@Model._OtherTabDetails.OtherFees"  @(disabledCtrl) />
                                                <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>@remarksCnfg.TypeDesc:</label>
                                            <textarea class="txt-remarks form-control" data-typecode="@remarksCnfg.TypeCode" data-infotype="@remarksCnfg.InfoType" data-datatype="@remarksCnfg.DataType" data-infotypeid="@remarksCnfg.InfoTypeId" data-typedesc="@remarksCnfg.TypeDesc" @(disabledCtrl) ></textarea>
                                        </div>
                                    </div>
                                    <hr />
                                    <input type="button" class="btn btn-success pull-right btn-complete-name-change" style="display:none;" value="Complete Name Change" />
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('textarea').each(function () {
            $(this).val($(this).val().trim());
        }
   );
    });
</script>