﻿@using Valuation_Board.App_Codes
@{
    ViewBag.Title = "Configure_PayHead";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Valuation_Board.Models.Application
@model List<Ward>
<script src="~/Contents/Script/AppJs/ConfigurePayHead.js?v=@(GlobalContext.applicationInfo.AssemblyVersion)"></script>
@*<h2>Configure PayHead</h2>*@
<div class="panel panel-primary" style="margin:10px;">
    <div class="panel-heading">
        <h3 class="panel-title">Configure PayHead</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-offset-6  col-md-6 ">
                <div class="form-inline text-right">
                    <div class="form-group">
                        <label for="email">Payhead Config Group</label>
                        <select class="form-control select-payhead-group">
                            <option value="0">Default</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn-default btn-sm btn-edit-payhead-config-group" title="Map, Un-Map Assessees to payhead group">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn-default btn-sm btn-add-payhead-config-group" title="Create new Payhead Group">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                @*<div class="container">*@

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Rebate">Rebate</a></li>
                    <li><a data-toggle="tab" href="#Interest">Interest</a></li>
                </ul>

                <div class="tab-content">
                    <div id="Rebate" class="tab-pane fade in active">
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="col-xs-3 col-sm-3 col-md-1 col-md-offset-3">
                                <label for="lblFinyearRebate">Finyear*</label>
                            </div>
                            <form id="frmRebate" data-toggle="validator" role="form">
                                <div class="col-xs-8 col-sm-8 col-md-3">
                                    <select id="ddlFinyearRebate" class="form-control input-sm">
                                        @*<option value="">-- Select --</option>*@
                                    </select>
                                </div>
                                <input type="button" class="btn btn-primary" value="View" id="btnSubmitRebate" />
                                <input type="button" class="btn btn-primary" value="Refresh" id="btnRefreshRebate" onclick="location.href='@Url.Action("Configure_PayHead", "MnPayHead")'" />
                            </form>


                        </div>
                        <br /><br /><br />
                        <div id="divRebate" class="col-xs-12 col-sm-12 col-md-12 ">
                            <div class="table-responsive" style="height:230px;">
                                <table class="table table-hover table-bordered tabHeader" id="tabRebate">
                                    <thead>
                                        <tr>
                                            <th align="right">Quarter No</th>
                                            <th align="right">From Date</th>
                                            <th align="right">To Date</th>
                                            <th align="right">Pay Rate %</th>
                                            <th align="right">Grace Period in Month</th>

                                            <th align="right">FinYear</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <input type="button" class="btn btn-primary col-md-offset-9" value="Submit" id="btnSaveRebate" />
                        </div>
                    </div>
                    <div id="Interest" class="tab-pane fade">
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-12">

                            <div class="col-xs-3 col-sm-3 col-md-1 col-md-offset-3">
                                <label for="lblFinyearInterest">Finyear*</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-3">
                                <select id="ddlFinyearInterest" class="form-control input-sm">
                                    @*<option value="">-- Select --</option>*@
                                </select>
                            </div>
                            <input type="button" class="btn btn-primary" value="View" id="btnSubmitInterest" />
                            <input type="button" class="btn btn-primary" value="Refresh" id="btnRefreshInterest" onclick="location.href='@Url.Action("Configure_PayHead", "MnPayHead")'" />
                        </div>
                        <br /><br /><br />
                        <div id="divInterest" class="col-xs-12 col-sm-12 col-md-12">
                            <div class="table-responsive" style="height:230px;">
                                <table class="table table-hover table-bordered tabHeader" id="tabInterest">
                                    <thead>
                                        <tr>
                                            <th align="right">Quarter No</th>
                                            <th align="right">From Date</th>
                                            <th align="right">To Date</th>
                                            <th align="right">Pay Rate %</th>
                                            <th align="right">Grace Period in Month</th>
                                            <th align="right">Period Offset</th>
                                            <th align="right">FinYear</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <input type="button" class="btn btn-primary col-md-offset-9" value="Submit" id="btnSaveInterest" />
                        </div>
                    </div>
                </div>
                @*</div>*@
            </div>
        </div>
        <div class="row">
            <div class="modal fade" id="modal-payhead-config" role="dialog">
                <div class="modal-dialog modal-lg" style="width: 1250px;margin-top: 50px;">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label>Ward:</label>
                                    <select class="form-control  select-ward">
                                        <option value="0">-select ward-</option>
                                        @foreach (var item in Model.OrderBy(t => t.WardID))
                                        {
                                            <option value="@item.WardID">@item.WardName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Location:</label>
                                    <select class="form-control  select-location" disabled>
                                        <option value="0">-select location-</option>
                                    </select>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" disabled class="chk-filter-assessee" />
                                        Filter Assessee
                                    </label>
                                </div>
                                <input type="button" class="btn btn-primary pull-right btn-unmapp-all-assessee" title="Map all unmapped assessees (in scope of ward or location)" title="" value="UnMap All" style="margin-left:5px;" />&nbsp;&nbsp;
                                <input type="button" class="btn btn-primary pull-right  btn-mapp-all-assessee" title="Un-Map all assessees (in scope of ward, location, group), even mapped on different group" value="Map All" />
                            </div>
                            <br />
                            <div class="container-fluid border chk-assessee-list" style="max-height:401px;display:none;">
                                <div class="row">
                                    <div class="col-md-6 chk-assessee-list-unmapped" style="background-color:#dddddd40;height:350px; overflow-y:scroll">d</div>
                                    <div class="col-md-6 chk-assessee-list-mapped" style="background-color:#dddddd40;height:350px; overflow-y:scroll">d</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <span class="chck-list-status" style="font-weight: bold;    color: #7d7878; display:none"> Double click buttons to map assessee</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <span class="chck-list-status" style="font-weight: bold;    color: #7d7878; display:none">
                                        Double click buttons to un-map assessee
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
