﻿@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        width: auto;
        padding: 0 10px;
        border: 1px solid #e0e0e0;
        background-color: #337ab7;
        color:white;
        
    }

    .search-by-assessee, .cancellation-Remarks-panel, .cancellation-reasons-panel {
        background-color: aliceblue;
    }

    .the-fieldset {
        border: 1px solid #e0e0e0;
        padding: 10px;
    }
    .top5 {
        margin-top: 5px;
    }

    .top7 {
        margin-top: 7px;
    }

    .top10 {
        margin-top: 10px;
    }

    .top15 {
        margin-top: 15px;
    }

    .top17 {
        margin-top: 17px;
    }

    .top30 {
        margin-top: 30px;
    }
</style>
<script type="text/javascript" src="~/Contents/Script/AppJs/PaymentCancellation.js"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Payment Cancellation</h3></div>
        </div>
    </div>
    <div class="modal fade" id="ModelViewInstrument" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                    <h4 class="modal-title">Instrument Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <form role="form" class="show-instrument" id="frmInstrument">
                                <div class="form-group">
                                    <table id="tblInstrument" class="table table-condensed table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td>Pay Mode</td>
                                                <td>Amount</td>
                                                <td>Instrument No</td>
                                                <td>Instrument Date</td>
                                                <td>Bank Name</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmSearch">
            <div class="form-group">
                <fieldset class="the-fieldset">
                    <legend class="the-legend"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</legend>
                    <select class="form-control ddl-search-by">
                        <option value="">--Select search options--</option>
                        <option value="A">Assessee</option>
                    </select>
                    <br />
                    <fieldset class="the-fieldset search-by-assessee" style="background-color: aliceblue;">
                        <div class="container-fluid">
                            <div class="rows">
                                <div class="col-md-2">
                                    <label for="Counter">From Date<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateFrom" name="DateFrom" readonly />
                                </div>
                                <div class="col-md-2">
                                    <label for="Counter">To Date<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateTo" name="DateTo" readonly />
                                </div>
                                <div class=" col-md-3">
                                    <label for="txtWard">Ward<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm change txtLocation" id="txtWard" name="txtWard">
                                    <input type="hidden" id="hdnWard" name="hdnWard" />
                                </div>
                                <div class=" col-md-3">
                                    <label for="txtLocation">Location<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm change txtLocation" id="txtLocation" name="txtLocation">
                                    <input type="hidden" id="hdnLocation" name="hdnLocation" />
                                </div>
                                <div class=" col-md-4">
                                    <label for="txtAssessee">Assessee<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm change txtAssessee" id="txtAssessee" name="txtAssessee">
                                    <input type="hidden" name="hdnAssessee" id="hdnAssessee" />
                                </div>
                                <di class="col-md-4" v>
                            </div>
                            <div class="col-md-4">
                                <label for="btnSearchByAssessee"><span class="red-star">&nbsp;</span></label>
                                <button class="btn btn-primary btn-sm btn-block  btnSearchByAssessee" id="btnSearchByAssessee" name="btnSearchByAssessee"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
            </div>
        </form>   
    </div>
        
    <br />
    <form id="frmSearchedResult">
        <div class="form-group">
            <fieldset class="the-fieldset searched-result-panel">
                <legend class="the-legend">Searched Result</legend>
                <div class="table-responsive">
                    <table class="table table-condensed table-bordered table-hover" id="tblResult">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Assessee Name</th>
                                <th>Reciept No</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Instruments</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </form>
    <br />
    <form id="frmCancellation">
                <fieldset class="the-fieldset cancel-payment-panel">
                    <legend class="the-legend">Complete Cancellation</legend>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset class="the-fieldset cancellation-reasons-panel">
                                    <legend class="the-legend">Select Cancellation Reason</legend>
                                    <div class="col-md-12 cancelation-reason-list" style="overflow-y:scroll; height:150px">
                                        <table>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="the-fieldset cancellation-Remarks-panel">
                                    <legend class="the-legend">Enter Remarks</legend>
                                    <div>
                                        <textarea rows="7" cols="66" id="txtRemark" name="txtRemark">
                                        </textarea>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row top5">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><button class="btn btn-primary btn-lg btn-block " id="btnSubmit">Submit Cancellation</button> </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </fieldset>
        </form>
</div>