﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/DemandVsPayment.js"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Collection Report</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmDemandVsPaymentReport" target="_blank" action="/Municipality/MnReports/DemandVsPaymentReport" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="Finyear">Financial Year<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="9" placeholder="yyyy-yyyy" id="Finyear" name="Finyear" />
                </div>
                
                <div class="col-md-10" style="text-align:right">
                    <input type="button" id="btnSave" value="Print  Report" class="btn btn-primary" />
                </div>
            </div>
        </form>

    </div>
</div>
