﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Contents/Script/AppJs/MnChangePassword.js?v=1.0"></script>

<div class="panel panel-primary" style="margin: 20px;">
    <div class="panel-heading">
        <h3 class="panel-title">Change Password</h3>
    </div>
    <div class="panel-body">
        <form id="frmChngPwd" method="post">
            <div class="row">
                <div class=" col-md-3">
                    <label for="mother">Old Password<span class="red-star">&nbsp;*</span></label>
                    <input type="password" class="form-control input-sm change" id="txtOldPassword" placeholder="Old Password" name="txtOldPassword">
                </div>

                <div class=" col-md-3">
                    <label for="mother">New Password<span class="red-star">&nbsp;*</span></label>
                    <input type="password" class="form-control input-sm change" id="txtNewPassword" placeholder="New Password" name="txtNewPassword">
                </div>
                <div class=" col-md-3">
                    <label for="mother">Re-Password<span class="red-star">&nbsp;*</span></label>
                    <input type="password" class="form-control input-sm change" id="txtRePassword" placeholder="Re-Password" name="txtRePassword">
                </div>
                
                <div class="col-md-2 " style="bottom: -15px;">
                    <input type="button" id="btnChange" value="Change" class="btn btn-primary" />
                    @*<button type="button" class="btn btn-default form-control" data-dismiss="modal">Reset</button>*@
                </div>
            </div>
        </form>
        
    </div>
</div>
