﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/ResetUserPassword.js?v=1.0"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Users Details</h3></div>
            @*<div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>*@
        </div>
    </div>
    <div class="panel-body">
        <form id="frmUsersDetails" method="post">          
            <div class="row">
                <div class="col-md-12" style="max-height:300px;overflow-y:scroll;">                  
                    <table id="tblDetail" style="width:100%" class="table table-condensed table-bordered table-responsive">
                        <thead>
                            <tr>
                                <td align="center" style="display:none;">UserID</td>
                                <td align="center" style="display:none;">MunicipalityID</td> 
                                <td align="center" style="display:none;">UserTypeID</td> 
                                <td align="center">User Name</td>
                                <td align="center"> Name</td>             
                                <td align="center">Phone Number</td>
                                <td align="center">E-Mail ID</td>
                                <td align="center">IsAccountLocked</td>                    
                                <td align="center">Change Password</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
               
                </div>
            </div>
        </form>
    </div>
</div>

