﻿@using Valuation_Board.App_Codes
@using Valuation_Board.Models.Application
@using Valuation_Board.Models.Account;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Score Sheet</h2>

@*<script src="~/Contents/Script/AppJs/MunicipalityTaxCollection.js?v=@GlobalContext.applicationInfo.AssemblyVersion"></script>*@

<script src="~/Contents/Script/AppJs/assmt-Score.js?v=@(GlobalContext.applicationInfo.AssemblyVersion)"></script>


<div class="clearfix">
    <form>
        <div class="container">
            @*<div class="card-header">
                    Search Score
                </div>*@
            @*<div class="card-body">*@
            <div class="row">
                <div class="col-md-6">
                    <label for="ActionText">Municipality</label>
                    @{
                        var mObj = SessionContext.CurrentUser as MunicipalityUser;
                        var selectedId =( mObj != null ? mObj.MunicipalityID : 0);
                        var disabled= (mObj != null ? " disabled " : "");
                    }
                    <select class="form-control" id="ddlMunicipality" name="CitizenDistrict" data-selected-municipality="@(selectedId)"  @disabled></select>
                </div>
                <div class="col-md-6">
                    <label for="ActionText">Year</label>
                    <select class="form-control" id="ddlyear"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <label for="ActionText">Effective Date Form :</label>
                    <label id="fromdate" for="ActionText"></label>
                    <label for="ActionText">Effective DateTo :</label>
                    <label id="todate" for="ActionText"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary" id="btnGo">GO</button>
                </div>
            </div>
            @*</div>*@
        </div>

    </form>
</div>
<div class="clearfix"></div>








<div class="panel panel-default">
    <div class="panel-heading">Score Sheet</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="AssmtScorewSheet" class="table table-bordered">
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Land Belt Sheet</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="AssmtBeltSheet" class="table table-bordered"></table>
        </div>

    </div>
</div>

<div class="form-group">
    <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
</div>












