﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/RoleUsersMapping.js?v=1.0"></script>

<div class="panel panel-primary" style="margin: 20px;">
    <div class="panel-heading">
        <h3 class="panel-title">Role User Mapping</h3>
    </div>
    <div class="panel-body">
        <div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <form>
                        @*<div class="form-group">
                            <label for="ddlUserType">Municipality Name<span class="red-star">*</span></label>
                            <select id="ddlMunicipalityName" class="form-control"></select>
                        </div>*@
                        <div class="form-group ">
                            <input type="hidden" id="hdnMappingID" />
                            <label for="ddlRole">Role<span class="red-star">&nbsp;*</span></label>
                            <select id="ddlRole" name="ddlRole" class="form-control"></select>
                        </div>

                        <div id="divActionMethods">
                            <label for="ddlAction">Check(s) User<span class="red-star">*</span></label>
                            <div id="divcheckboxcollection" class="well" style="max-height:200px;overflow-y:scroll">
                                @*checkbox papulate*@
                            </div>
                        </div>
                        <input type="button" class="btn btn-primary btn-sm" id="btnSave" value="Save" />
                        <input type="button" class="btn btn-primary btn-sm" id="btnCancel" value="Cancel" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

