﻿@using Valuation_Board.App_Codes.Exceptions;
@using Newtonsoft.Json;
@using Valuation_Board.App_Codes.Extension;
@{
    ViewBag.Title = "Old Dpr Entry";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model Valuation_Board.Models.Application.DprModel.OldDpr

<style>
    body {
        background-color: #efefef;
    }

    /*#ui-datepicker-div {
        z-index: 2 !important;
    }*/

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .dataTables_empty {
        text-align: center;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="~/Contents/Script/AppJs/file.upload.partial.js"></script>
<script src="~/Contents/Script/AppJs/dpr.old.entry.form.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>



@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <form autocomplete="off">
        <div class="hidden-controls">
            <input type="hidden" class="hdn-IdentityStamp" value="@Model.IdentityStamp" />
            <input type="hidden" class="hdn-SchemeCategories" value="@JsonConvert.SerializeObject(Model.SchemeCategories)" />
            <input type="hidden" class="hdn-SchemeTypes" value="@JsonConvert.SerializeObject(Model.SchemeTypes)" />
            <input type="hidden" class="hdn-mstDprId" value="@Model.DPChkSlId" />
            <input type="hidden" class="hdn-status" value="@Model.Status" />
            <input type="hidden" class="hdn-units" value="@JsonConvert.SerializeObject(Model.Units)" />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title title-wise-bar-chart">Old DPR Submission</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="required">Municipal/ Development Authority:</label>
                                    <select class="form-control dev-auth" name="dev-auth">
                                        <option value="">--select--</option>
                                        @foreach (var mn in Model.Municipalities)
                                        {
                                            <option value="@mn.Key" @(Model.MunicipalityId == mn.Key ? " selected " : "")>@mn.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Project No:</label>
                                    <input type="text" class="form-control txt-project-no" placeholder="It is auto generated field" name="txt-project-no" value="@Model.ProjectNo" readonly />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="required">Project Date:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control txt-project-date datepicker" name="txt-project-date" value="@Model.Projectdate.ToStrDate()" readonly placeholder="dd/mm/yyyy" />
                                    <span class="input-group-addon date-remove" style="cursor: pointer;"><i class="glyphicon glyphicon-remove"></i></span>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                <label class="required">DPR Verification Date:</label>
                <div class="input-group">
                    <input type="text" class="form-control txt-dpr-verified-on datepicker" name="txt-dpr-verified-on" value="@Model.DprVerifiedOn.ToStrDate()" readonly placeholder="dd/mm/yyyy" />
                    <span class="input-group-addon date-remove" style="cursor: pointer;"><i class="glyphicon glyphicon-remove"></i></span>
                </div>
            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Implementing Agency:</label>
                                    <input type="text" class="form-control txt-impl-agency" name="txt-impl-agency" value="@Model.AgencyName" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="required">Estimated Cost:</label> @*Actually it is Revised Estimated Cost, but label is different.It is newly added*@
                                    <input type="text" class="form-control txt-revised-estimated-cost money" name="txt-revised-estimated-cost" value="@Model.RevisedEstimatedCost" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="required">Revised Estimated Cost:</label>  @*Actually it is Estimated Cost, but label is different. It is old field*@
                                    <input type="text" class="form-control txt-estimated-cost money" name="txt-estimated-cost" value="@Model.EstimatedCost" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="required">Approved Cost:</label>
                                    <input type="text" class="form-control txt-approved-amount money" name="txt-approved-amount" value="@Model.ApprovedAmount" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="">Remarks:</label>
                                    <textarea class="form-control txt-remarks" name="txt-remarks" value="@Model.Remarks">@Model.Remarks </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Name of the Work:</label>
                                    <input type="text" class="form-control txt-work-name" name="txt-work-name" value="@Model.NameOfWork" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="required">Fund Source:</label>
                                    <select class="form-control ddl-scheme-types" name="ddl-scheme-types">
                                        <option value="">--select--</option>
                                        @foreach (var ss in Model.SchemeTypes)
                                        {
                                            var SchemeTypeId = Model.SchemeTypeId;
                                            <option value="@ss.Id" @(SchemeTypeId == ss.Id ? " selected " : "")>@ss.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="required">Scheme Category:</label>
                                    <select class="form-control ddl-scheme-category" name="ddl-scheme-category">
                                        <option value="">--select--</option>
                                        @foreach (var tta in Model.SchemeCategories.Where(t => t.SchemeTypeId == Model.SchemeTypeId))
                                        {
                                            <option value="@tta.Id" @(Model.SchemeCategoryId == tta.Id ? " selected " : "")>@tta.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Executive Summary:</label>
                                    <textarea class="form-control txt-exe-summary" name="txt-exe-summary" value="@Model.ExecutiveSummary">@Model.ExecutiveSummary </textarea>
                                    @*<input type="text" class="form-control txt-exe-summary" name="txt-exe-summary" value="@Model.ExecutiveSummary" />*@
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Commencement Date:</label>
                                    <input type="text" class="form-control datepicker txt-commencementDate" value="@(Model.CommencementDate == null ? null : Model.CommencementDate.Value.ToString("dd'/'MM'/'yyyy"))" name="txt-commencementDate" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Completion Date:</label>
                                    <input type="text" class="form-control datepicker txt-completionDate" value="@(Model.CompletionDate == null ? null : Model.CompletionDate.Value.ToString("dd'/'MM'/'yyyy"))" name="txt-completionDate" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Name of the Engineer</label>
                                    <input type="text" class="form-control txt-engineer-name" name="txt-engineer-name" value="@Model.NameOfEngineer" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Contact number:</label>
                                    <input type="text" class="form-control txt-contact-number" name="txt-contact-number" value="@Model.ContactNo" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Email:</label>
                                    <input type="text" class="form-control txt-email" name="txt-email" value="@Model.EmailId" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Designation:</label>
                                    <input type="text" class="form-control txt-designation " name="txt-designation" value="@Model.Designation" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">Memo No:</label>
                                    <input type="text" class="form-control txt-memo-no" name="txt-memo-no" value="@Model.MemoNo" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="required">Memo Date:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control txt-memoDate datepicker" value="@Model.MemoDate.ToStrDate()" name="txt-memoDate" readonly placeholder="dd/mm/yyyy" />
                                    <span class="input-group-addon date-remove" style="cursor: pointer;"><i class="glyphicon glyphicon-remove"></i></span>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                <label class="">DPR Submission Date:</label>
                <div class="input-group">
                    <input type="text" class="form-control txt-submission-date datepicker" value="@Model.DprSubmissionDate.ToStrDate()" name="txt-submission-date" readonly placeholder="dd/mm/yyyy" required/>
                    <span class="input-group-addon date-remove" style="cursor: pointer;"><i class="glyphicon glyphicon-remove"></i></span>
                </div>
            </div>*@

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="required">Admin Approval/Sanction Memo No:</label>
                                    <input type="text" class="form-control txt-sanction-memo-no" value="@Model.SanctionMemoNo" name="txt-sanction-memo-no" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Admin Approval/Sanction Memo Date:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control txt-approval-date datepicker" name="txt-approval-date" value="@Model.DprApprovalDate.ToStrDate()" readonly placeholder="dd/mm/yyyy" />
                                    <span class="input-group-addon date-remove" style="cursor: pointer;"><i class="glyphicon glyphicon-remove"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="">UO No:</label>
                                    <input type="text" class="form-control txt-uo-no" name="txt-uo-no" value="@Model.UONo" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="">UO Date:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control txt-uo-date datepicker" value="@Model.UODate.ToStrDate()" name="txt-uo-date" readonly placeholder="dd/mm/yyyy" />
                                    <span class="input-group-addon date-remove" style="cursor: pointer;"><i class="glyphicon glyphicon-remove"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="display:none;">
                                <div class="form-group">
                                    <label class="">Account Head no:</label>
                                    <textarea class="form-control txt-account-head" name="txt-account-head" rows="3" placeholder="Account Head">@Model.AccountHeadNo</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="required">Upload AA & FS (PDF):</label>
                                    <input type="file" class="form-control file-aa-fs" accept="application/pdf" name="file-aa-fs" />
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border">
                                    <div class="border-bottom text-center mg-col-margin bg-blue"><h3 class="m-0 h-slim white">Phasing of Expenditure<span class="required"></span></h3></div>
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-6">
                                            <table class="table table-responsive table-bordered table-condensed tbl-phasing-expenditure">
                                                <caption>
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <label>Fin-Year:</label>
                                                            <input type="text" class="form-control txt-phasing-fin-year" placeholder="2000-2001" value="@Valuation_Board.App_Codes.Utils.CommonUtils.GetFinYear(DateTime.Now)" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Add-Year:</label>
                                                            <select class="form-control ddl-add-year">
                                                                @for (int addYr = 0; addYr <= 20; addYr++)
                                                                {
                                                                    <option value="@addYr">+@addYr</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <input type="button" class="btn btn-default btn-add-year" value="Add Year">
                                                    </div>
                                                </caption>
                                                <thead class="bg-aqua">
                                                    <tr>
                                                        <th>Fin-Year</th>
                                                        <th colspan="2">Proposed Expenditure (Rs.)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var xYr in Model.PhasingOfExpenditures)
                                                    {
                                                        <tr data-PhasingId="@xYr.Id">
                                                            <td>
                                                                <label>  @xYr.FinYear  </label><input type="hidden" class="hdn-phasing-finyear" value="@xYr.FinYear" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control txt-prop-expenture-amnt" style="text-align:right" name="txt-prop-expenture-amnt" value="@xYr.ExpenditureAmount" placeholder="enter amount in Rs." />
                                                            </td>
                                                            <td><a href="javascript:void(0);" class="del-phasing-row"><span class="glyphicon glyphicon-trash"></span></a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border">
                                    <div class="border-bottom text-center mg-col-margin bg-blue"><h3 class="m-0 h-slim white">Table Of Sub Projects <span class="required"></span></h3></div>
                                    <div class="row subProjDiv">
                                        <div class="col-md-offset-2 col-md-8">
                                            <table class="table table-responsive table-bordered table-condensed subProjTbl tbl-sub-projects">
                                                <thead>
                                                    <tr class="bg-aqua">
                                                        <th>Sl No</th>
                                                        <th>Name of Sub Project</th>
                                                        <th style="width: 11%;">Qty</th>
                                                        <th style="width: 19%;">Unit</th>
                                                        <th>Estimated Cost (Rs.)</th>
                                                        <th>File upload (PDF)</th>
                                                        <th><a href="javascript:void(0);" class="btn-add-subproject white" style="font-size: 25px;"><span class="fa fa-plus"></span></a></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.SubProjects.Count == 0)
                                                    {
                                                        <tr class="no-row">
                                                            <td colspan="8" class="text-center">Please add subprojects</td>
                                                        </tr>
                                                    }
                                                    @{ int counti = 1;}
                                                    @foreach (var xYr in Model.SubProjects)
                                                    {
                                                        <tr data-sbpId="@(xYr.Id>0?xYr.Id.ToString():xYr.RandId)" data-id="@(xYr.Id>0?xYr.Id.ToString():xYr.RandId)" row-id="@(xYr.Id>0?xYr.Id.ToString():xYr.RandId)" id="@xYr.RandId">
                                                            <script>
                                                                InitializeSubProjId(@xYr.Id);
                                                            </script>
                                                            <td>@counti</td>
                                                            <td>
                                                                <input type="text" class="form-control txt-sub-project-Name" name="txt-sub-project-Name" value="@xYr.Name" placeholder="Sub Porject Name" />
                                                            </td>
                                                            <td style="width: 11%;">
                                                                <input type="text" class="form-control txt-sub-project-qty" name="txt-sub-project-qty" value="@xYr.Qty" style="text-align:right" placeholder="Quantity" />
                                                            </td>
                                                            <td style="width: 19%;">
                                                                <select class="form-control sub-project-unit" name="sub-project-unit">
                                                                    <option value="">--select--</option>
                                                                    @foreach (var unit in Model.Units)
                                                                    {
                                                                        <option value="@unit.Id" @(xYr.UnitId == unit.Id ? " selected" : "")>@unit.Name</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control txt-sub-project-cost" name="txt-sub-project-cost" value="@xYr.Cost" style="text-align:right" placeholder="Estimated Cost" />
                                                            </td>
                                                            <td><input type="file" accept="application/pdf" class="form-control file-subproject" /></td>
                                                            <td><a href="javascript:void(0);" class="del-row-sub-project"><span class="glyphicon glyphicon-trash"></span></a></td>
                                                        </tr>
                                                        counti++;
                                                    }
                                                </tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border">
                                    <div class="border-bottom text-center mg-col-margin bg-blue"><h3 class="m-0 h-slim white">Details of Already Released Installments</h3></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-responsive table-bordered table-condensed tbl-released-installments">
                                                <thead>
                                                    <tr class="bg-aqua">
                                                        <th>Sl No</th>
                                                        <th>Installment No</th>
                                                        <th>Sanction Order No</th>
                                                        <th>Sanction Order Date</th>
                                                        <th>Released Order No.</th>
                                                        <th>Released Order Date</th>
                                                        <th>Released Order Amount</th>
                                                        <th>Released Order Upload (PDF)</th>
                                                        <th>Sub Projects</th>
                                                        <th><a href="javascript:void(0);" class="btn-add white" style="font-size: 25px;"><span class="fa fa-plus"></span></a></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @if (Model.Installments.Count == 0)
                                                    {
                                                        <tr class="no-row">
                                                            <td class="text-center" colspan="10">Please add Installments, If Available!</td>
                                                        </tr>
                                                    }
                                                    @{ int countins = 1;}
                                                    @foreach (var xYr in Model.Installments)
                                                    {
                                                        <tr data-FundReleaseId="@xYr.FundReleaseId" data-id="@xYr.FundReleaseId">
                                                            <script>
                                                                InitializeInstlId(@xYr.FundReleaseId);
                                                            </script>
                                                            <td>@countins</td>
                                                            <td>
                                                                <select class="form-control ddl-installment input-xs valid" name="ddl-installment">
                                                                    <option value="">--select--</option>
                                                                    @foreach (var inst in Model.instlmntDrpDwn)
                                                                    {
                                                                        <option value="@inst.Id" @(xYr.InstallmentId == inst.Id ? " selected" : "")>@inst.Name</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control txt-orderno input-xs" name=" txt-orderno" value="@xYr.OrderNo" placeholder="Order NO" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control txt-orderdate input-xs datepicker" readonly name="txt-orderdate" value="@(xYr.OderDate.ToStrDate())" placeholder="Order date" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control input-xs txt-sanc-no" name="txt-sanc-no" value="@xYr.SancNo" placeholder="Release order no" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control input-xs txt-sanc-dt datepicker" readonly name="txt-orderdate" value="@(xYr.SancDate.ToStrDate())" placeholder="Release order date" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control input-xs txt-sanc-amnt money" name="txt-sanc-amnt" value="@xYr.InstAmnt" placeholder="Sanctioned Amount" />
                                                            </td>
                                                            <td><input type="file" accept="application/pdf" class="form-control input-xs file-upload" /></td>
                                                            <td style='width: 40%;'>
                                                                <table class='table table-responsive table-bordered table-condensed tbl-sub-inst mb-0'>
                                                                    <thead>
                                                                        <tr class='bg-aqua'>
                                                                            <th style="width: 27%;">Project</th>
                                                                            <th>Amount</th>
                                                                            <th>Surrender Amount (If any)</th>
                                                                            <th style="width: 24%;">SC/TC(PDF)</th>
                                                                            <th><a href="javascript:void(0);" class="btn-add1 white" style="font-size: 25px;"><span class="fa fa-plus"></span></a></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @if (Model.Installments[countins - 1].SubProjects.Count == 0)
                                                                        {
                                                                            <tr class='no-row'><td colspan='3' class='text-center'>please add subprojects</td></tr>
                                                                        }
                                                                        @foreach (var insSubp in xYr.SubProjects)
                                                                        {
                                                                            <tr data-TabId="@insSubp.TabId" data-inssbpId="@(insSubp.sbpId>0?insSubp.sbpId:insSubp.sbpId)">
                                                                                <td>
                                                                                    <select class="form-control ddl-int-sub ddl-installment input-xs valid" name="ddl-int-sub">
                                                                                        <option value="">--select--</option>
                                                                                        @foreach (var sbpl in Model.SubProjects)
                                                                                        {
                                                                                            <option value="@(sbpl.Id>0?sbpl.Id.ToString():sbpl.RandId)" @(((sbpl.Id == insSubp.sbpId && sbpl.Id != 0) || (sbpl.RandId == insSubp._SKey && sbpl.RandId != null) || (sbpl._SKey == insSubp._SKey && sbpl._SKey != null)) ? " selected" : "")>@sbpl.Name</option>
                                                                                        }
                                                                                    </select>
                                                                                </td>
                                                                                <td><input type="text" value="@insSubp.Amount" class="form-control input-xs txt-amnt money" placeholder="Amount" /></td>
                                                                                <td><input type="text" value="@insSubp.SurrenderAmount" @(insSubp.TabId > 0 || insSubp.sbpId > 0 ? "readonly" : "") class="form-control input-xs txt-surrender-amnt money" placeholder="Surrender Amount" /></td>
                                                                                <td><input type="file" @(insSubp.TabId > 0 || insSubp.sbpId > 0 ? "disabled" : "") accept="application/pdf" class="form-control input-xs surrender-file-upload" /></td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                    <tfoot></tfoot>
                                                                </table>
                                                            </td>
                                                            <td><a href="javascript:void(0);" class="del-row"><span class="glyphicon glyphicon-trash"></span></a></td>
                                                        </tr>
                                                        counti++;
                                                    }
                                                </tbody>
                                                <tfoot class="tff"></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border text-right">
                        <button class="btn btn-success btn-save-draft">Save As Draft</button>
                        <button class="btn btn-success btn-form-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    @*<div class="modal fade modal-inst" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Details of Released Installments</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="subproj-ref"/>
                    <table class="table table-responsive table-bordered table-condensed tbl-released-installments">
                        <thead>
                            <tr class="bg-aqua">
                                <th>Sl No</th>
                                <th>Installment No</th>
                                <th>Order no</th>
                                <th>Oder Date</th>
                                <th>Sanctioned Amount</th>
                                <th>Sanction date</th>
                                <th>File upload</th>
                                <th><a href="javascript:void(0);" class="btn-add white" style="font-size: 25px;"><span class="fa fa-plus"></span></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="no-row">
                                <td class="text-center" colspan="8">Please add Installments, If Available!</td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>*@
                                                        }


