﻿@using Valuation_Board.ViewModels
@model Assessment_VM.AssessmentForm
@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    if (new List<string>() { "P", "R", "M", "S", "I" }.Contains(Model.AssessmentValTag ?? ""))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<div class="partial-holding-details">
    <form class="frm-partial-holding-details" id="frm-partial-holding-details">
        <div class="row row no-margin">
            <div class="col-sm-2 col-xs-12">
                <div class="form-group">
                    <label>Holding Type Group:</label>
                    <select class="form-control ddl-hodling-type-group" name="ddl-hodling-type-group" @(disabledCtrl)>
                        <option value="">--Select Holding Type Group--</option>
                        @foreach (var item in Model._HoldingTypeGroupes)
                        {
                            <option value="@item.HoldingTypeGrpId" @(Model._HoldingDetails.HoldingTypeGroupId == item.HoldingTypeGrpId ? "selected" : "")>@item.HoldingTypeGrpDesc</option>
                        }
                    </select>
                </div>
            </div>
            @*<div class="col-sm-2 col-xs-12">
                <div class="form-group">
                    <label>Holding Type:</label>
                    <select class="form-control ddl-holding-type" name="ddl-holding-type" @(disabledCtrl)>
                        <option value="">--Select Holding Type--</option>
                        @foreach (var item in Model._HoldingTypes)
                        {
                            <option value="@item.HoldingTypeId" @(Model._HoldingDetails.HoldingTypeId == item.HoldingTypeId ? "selected" : "")>@item.HoldingTypeDesc</option>
                        }
                    </select>
                </div>
            </div>*@
            <div class="col-sm-4 col-xs-12">
                <label>Address</label>
                <textarea class="txt-address form-control" name="txt-address" @(disabledCtrl)>@Model._HoldingDetails.Address</textarea>
            </div>
            <div class="col-sm-4 col-xs-12 ">
                <label>Holding Names:</label>
                <div class="input-group">
                    <span class="input-group-addon">Names</span>
                    <input type="text" class="form-control txt-assessee-name" name="txt-assessee-name" @(disabledCtrl)>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-warning btn-add-assesse" @(disabledCtrl)>
                            +
                        </button>
                    </div>
                </div>
                <ul class="list-group list-holding-names">
                    @foreach (var item in Model._HoldingDetails.Owners)
                    {
                        <li class="list-group-item" data-name="@item.AssesseeName" data-TabId="@item.TabId">@item.AssesseeName<a href="javascript:void(0);" class="pull-right remove-assesse ">X</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="row">

        </div>
    </form>
</div>
