﻿@using Valuation_Board.ViewModels
@model Assessment_VM.AssessmentForm
@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>disabled,Improvment=>disabled
    if (new List<string>() { "P", "R", "M", "S", "I" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<div class="sec-holding-details ">
    <form id="frm-sec-holding-details">
        <div class="row no-margin">
            <div class="col-sm-12 col-md-12 no-margin">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Mauja Name:</label>
                        <input type="text" class="form-control txt-mauja-name" name="txt-mauja-name" value="@Model._AdditionalHoldingDetails.MaujaName" @(disabledCtrl) />
                    </div>
                    <div class="col-sm-3">
                        <label>Borough No:</label>
                        <input type="text" class="form-control txt-borough-no" name="txt-borough-no" value="@Model._AdditionalHoldingDetails.BoroughNo" @(disabledCtrl) />
                    </div>
                    <div class="col-sm-2">
                        <label>Khatian No:</label>
                        <div class="input-group">
                            <input type="text" class="txt-khatian-no-rs form-control" name="txt-khatian-no-rs" value="@Model._AdditionalHoldingDetails.KhatianNo_RS" @(disabledCtrl) />
                            <span class="input-group-addon"><span class="zone-val">Rs</span></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Khatian No:</label>
                        <div class="input-group">
                            <input type="text" class="txt-khatian-no-lr form-control" name="txt-khatian-no-lr" value="@Model._AdditionalHoldingDetails.KhatianNo_LR" @(disabledCtrl) />
                            <span class="input-group-addon"><span class="zone-val">LR</span></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Holding Area:</label>
                        <select type="text" class="form-control ddl-holding-area" name="ddl-holding-area" @(disabledCtrl)>
                            <option value="">--select--</option>
                            <option value="S" @(string.Equals(Model._AdditionalHoldingDetails.HoldingAreaCode, "S") ? "selected" : "")>Slum</option>
                            <option value="N" @(string.Equals(Model._AdditionalHoldingDetails.HoldingAreaCode, "N") ? "selected" : "")>Non-Slum</option>
                            <option value="G" @(string.Equals(Model._AdditionalHoldingDetails.HoldingAreaCode, "G") ? "selected" : "")>General</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Dag No:</label>
                        <div class="input-group">
                            <input type="text" class="txt-dag-no-rs form-control" name="txt-dag-no-rs" value="@Model._AdditionalHoldingDetails.DaagNo_RS" @(disabledCtrl) />
                            <span class="input-group-addon"><span class="zone-val">Rs</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Dag No:</label>
                        <div class="input-group">
                            <input type="text" class="txt-dag-no-lr form-control" name="txt-dag-no-lr" value="@Model._AdditionalHoldingDetails.DaagNo_LR" @(disabledCtrl) />
                            <span class="input-group-addon"><span class="zone-val">LR</span></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>Deed No:</label>
                        <input type="text" class="txt-deed-no form-control" name="txt-deed-no" value="@Model._AdditionalHoldingDetails.DeedNo" @(disabledCtrl) />
                    </div>
                    <div class="col-sm-2">
                        <label>Deed Type:</label>
                        <select type="text" class="form-control ddl-deed-type" name="ddl-deed-type" @(disabledCtrl)>
                            <option value="">--select--</option>
                            @foreach (var item in Model._DeedTypes)
                            {
                                <option value="@item.DeedTypeId" @(Model._AdditionalHoldingDetails.DeedTypeId == item.DeedTypeId ? "selected" : "")>@item.DeedTypeName</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>Deed Date:</label>
                        <input type="text" class="txt-deed-date form-control" name="txt-deed-date" value="@((Model._AdditionalHoldingDetails.DeedDate.Date==new DateTime().Date?new DateTime(DateTime.Now.Year,1,1):Model._AdditionalHoldingDetails.DeedDate).ToString("dd'/'MM'/'yyyy"))" @(disabledCtrl) />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5 no-margin">
                        <label>&nbsp;</label>
                        <div class="list-group lst-tags no-margin">
                            <a href="javascript:void(0);" class="list-group-item" style="border-top-left-radius: 0px;  border-top-right-radius: 0px">
                                <label><input type="checkbox" class="lift" @(Model._AdditionalHoldingDetails.Tag_Lift == true ? "checked" : "") @(disabledCtrl)> Lift</label>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item" style="border-top-left-radius: 0px;  border-top-right-radius: 0px">
                                <label><input type="checkbox" class="drainage" @(Model._AdditionalHoldingDetails.Tag_Drainage == true ? "checked" : "") @(disabledCtrl)> Drainage</label>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item" style="border-top-left-radius: 0px;  border-top-right-radius: 0px">
                                <label><input type="checkbox" class="toilets" @(Model._AdditionalHoldingDetails.Tag_Toilets == true ? "checked" : "") @(disabledCtrl)> Toilets</label>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item" style="border-top-left-radius: 0px;  border-top-right-radius: 4px">
                                <label><input type="checkbox" class="electricity" @(Model._AdditionalHoldingDetails.Tag_Electricity == true ? "checked" : "") @(disabledCtrl)> Electricity</label>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item" style="border-top-left-radius: 0px;  border-top-right-radius: 0px">
                                <label><input type="checkbox" class="Water" @(Model._AdditionalHoldingDetails.Tag_Water == true ? "checked" : "") @(disabledCtrl)> Water</label>
                            </a>
                        </div>
                    </div>
                    @foreach (var t in Model.MasterData.OtherInfoTypeConfigs)
                    {
                        if (t.TypeCode == "SBP")
                        {
                            <div class="col-md-3 no-margin">
                                <label>@t.TypeDesc</label>
                                <input type="text" class="txt-@t.TypeCode.ToLower() form-control" data-typecode="@t.TypeCode" data-infotype="@t.InfoType" data-datatype="@t.DataType" data-infotypeid="@t.InfoTypeId" data-typedesc="@t.TypeDesc"  @(disabledCtrl)></input>
                            </div>
                        }else if(new List<string>() { "ARO", "CMV" }.Contains(t.TypeCode))
                        {
                            <div class="col-md-2 no-margin">
                                <label>@t.TypeDesc</label>
                                <input type="text" class="txt-@t.TypeCode.ToLower() form-control" data-typecode="@t.TypeCode" data-infotype="@t.InfoType" data-datatype="@t.DataType" data-infotypeid="@t.InfoTypeId" data-typedesc="@t.TypeDesc" @(disabledCtrl)></input>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </form>
</div>
