﻿
@using Valuation_Board.ViewModels
@using Valuation_Board.Models.Account
@using Valuation_Board.App_Codes.Utils

@using Valuation_Board.App_Codes.Exceptions
@using Valuation_Board.App_Codes.BLL
@using Valuation_Board.App_Codes

@model List<Assessment_VM.AssessmentType>
@{

    ViewBag.Title = "Assessment";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    #ui-datepicker-div {
        z-index: 2 !important;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="~/Contents/Script/AppJs/assmt-key-stroke.js"></script>
<script>
    $(document).ready(function () {
        //$("#DocumentBody > .container").removeClass('container').addClass('container-fluid');
    });
</script>
<style>
    body {
        background-color: #efefef;
    }

    ul.list-group:after {
        clear: both;
        display: block;
        content: "";
    }

    .list-group-item {
        float: left;
        padding: 4px;
        border-radius: 0px !important;
    }

        .list-group-item > a {
            margin-left: 5px;
        }
</style>
<div class="assmt-navs">
    <div class="btn-group " style="margin-bottom: 10px;">
        @foreach (var item in Model)
        {
            <a href="/Municipality/Assessment/GetAssessmentContainer?Valtag=@item.ValTag" class="btn btn-primary opt-assmt-type  @((ViewBag.ValTag==item.ValTag) ? "active" : "")" data-ValTag="@item.ValTag">@item.ValDesc</a>
        }
    </div>
</div>
<div class="assmt-container">
    @if (string.IsNullOrEmpty(ViewBag.ValTag as string))
    {
        <h4 class="text-center">Clik on assessment type to perform specific operation</h4>
    }
    else
    {
        try
        {
            Assessment_VM.AssessmentForm obj = null;
            var mnId = (SessionContext.CurrentUser as MunicipalityUser).MunicipalityID;
            AssessmentBll bll = new AssessmentBll();
            string ValTag = ViewBag.ValTag.ToString().ToUpper();
            string SubAction = ViewBag.SubAction;
            switch (ValTag)
            {
                case "L":
                    {
                        SubAction = (SubAction == null ? "HL" : SubAction.ToString().ToUpper());
                        if (string.IsNullOrEmpty(SubAction) || SubAction == "HL")
                        {
                            obj = bll.GetNewForm(mnId, ValTag, SubAction);
                            Html.RenderPartial(@"~\Views\Municipality\Assessment\NewHolding\NewHoldingForm.cshtml", obj);
                        }
                        else if (SubAction == "OT")
                        {
                            throw new NotImplementedException("Operation not implemented");
                        }
                        break;
                    }
                case "R":
                case "I":
                    {
                        obj = bll.GetNewForm(mnId, ValTag, null);
                        Html.RenderPartial(@"~\Views\Municipality\Assessment\Review Improvement\ReviewInprovmentContainer.cshtml", obj);

                        break;
                    }
                case "E":
                    {
                        obj = bll.GetNewForm(mnId, ValTag, null);
                        Html.RenderPartial(@"~\Views\Municipality\Assessment\Review Improvement\EditContainer.cshtml", obj);

                        break;
                    }
                case "M":
                    {
                        obj = bll.GetNewForm(mnId, ValTag, null);
                        Html.RenderPartial(@"~\Views\Municipality\Assessment\Separation\SeparationContainer.cshtml", obj);

                        break;
                    }
                case "A":
                    {
                        obj = bll.GetNewForm(mnId, ValTag, null);
                        Html.RenderPartial(@"~\Views\Municipality\Assessment\Amalgamation\Container.cshtml", obj);

                        break;
                    }
                case "N":
                    {
                        obj = bll.GetNewForm(mnId, ValTag, null);
                        Html.RenderPartial(@"~\Views\Municipality\Assessment\ChangeOfOwner\Container.cshtml", obj);

                        break;
                    }
                case "S":
                    {
                        obj = bll.GetNewForm(mnId, ValTag, null);
                        Html.RenderPartial(@"~\Views\Municipality\Assessment\StrikeOff\Container.cshtml", obj);

                        break;
                    }
                default:
                    {
                        throw new Exception("Invalid Asssessment Type Requested");
                    }
            }

        }
        catch (Exception ex)
        {
            AppException<string, string> appExp = new AppException<string, string>(ex.Message, "", null);
            Html.RenderPartial(SiteConstants.ErrorViewPath, appExp);
        }
    }
    @*@(Html.Action(@"GetAssessmentForm", @"Assessment", new { Valtag = ViewBag.ValTag, SubAction=ViewBag.SubAction }))*@

</div>
<script>
    $(document).ready(function () {
        window.callHtml = function (payload, callBack) {
            $.ajax({
                type: 'post',
                url: "/Municipality/Assessment/GetAssessmentForm",
                data: JSON.stringify(payload),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    callBack(response);
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        };
        window.callJson = function (payload, callBack) {
            $.ajax({
                type: 'post',
                url: "/Municipality/Assessment/GetAssessmentForm",
                data: JSON.stringify(payload),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    callBack(response);
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        };
        var assessmentTypeNavs = function () {
            var dom = {
                cntrAssessmentFormContainer:$(".assmt-container")
            }
            this.setTitle = function (title) {

            };
            this.live = function () {
                //$(".assmt-navs .opt-assmt-type").on('click', function () {
                //    $(".assmt-navs .opt-assmt-type").removeClass('active');
                //    $(this).addClass('active');
                //    dom.cntrAssessmentFormContainer.empty();
                //    window.callHtml({ Valtag: $(this).attr("data-valtag"), SubAction: $(this).attr("data-sub-val-action") }, function (r) {
                //        dom.cntrAssessmentFormContainer.append(r);
                //    });
                //});
            };
            (function () {
                window.assmtContainer = dom.cntrAssessmentFormContainer;
            }())
        }
        var navs = new assessmentTypeNavs();
        navs.live();
    })

</script>
