﻿@using Valuation_Board.ViewModels
@model Assessment_VM.AssessmentForm


@if (ViewBag.error != null)
{
    <h5>Error Occured!<small>@ViewBag.error</small></h5>
}
else
{
    <div style="display:none" class="setting-parameters">
        <input class="val-tag" value="@Model.AssessmentValTag"/>
        <input class="sub-action" value="@Model.SubAction"/>
        <input class="year-id" value="@Model._YearID"/>
    </div>
    @Html.Partial(@"~\Views\Municipality\Assessment\HoldingDetails.cshtml", Model)
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\ValuationDetails.cshtml", Model)
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\AdditionalHoldingDetails.cshtml", Model)
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\OtherDetails.cshtml", Model)
    <hr/>
        @Html.Partial(@"~\Views\Municipality\Assessment\partialSaveCancel.cshtml", Model)
}


