﻿@using Valuation_Board.ViewModels
@model Assessment_VM.AssessmentForm
<div class="sec-holding-details ">
    <form id="frm-holding-details">
        @if (new List<string> { "L" }.Contains(Model.AssessmentValTag.ToUpper()))
        {

            <div class="row no-margin">
                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label>Ward No:</label>
                        <input type="text" class="form-control txtWard" value="@(Model._HoldingDetails.WardId==0?"":Model._HoldingDetails.WardName)" placeholder="Ward" />
                        <input type="hidden" value="@(Model._HoldingDetails.WardId==0?"":Model._HoldingDetails.WardId.ToString())" class="form-control hddn-Ward" name="hddn-Ward" />
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label>Location:</label>
                        <input type="text" class="form-control txtLocation" placeholder="Location" value="@Model._HoldingDetails.LocationName" />
                        <input type="hidden" class="form-control hddn-Location" value="@(Model._HoldingDetails.LocationId==0?"":Model._HoldingDetails.LocationId.ToString())" name="hddn-Location" />
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label>Hodling No:</label>
                        <input type="text" class="form-control txt-holding-no" value="@(string.IsNullOrEmpty( Model._HoldingDetails.HoldingNo)?"":Model._HoldingDetails.HoldingNo)" />
                        <input type="hidden" class="form-control hddn-holding-no" value="@(string.IsNullOrEmpty(Model._HoldingDetails.HoldingNo)?"":Model._HoldingDetails.HoldingNo.ToString())" name="hddn-holding-no" />
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Holding Type Group:</label>
                        <select class="form-control ddl-hodling-type-group" name="ddl-hodling-type-group">
                            <option value="">--Select Holding Type Group--</option>
                            @foreach (var item in Model._HoldingTypeGroupes)
                            {
                                <option value="@item.HoldingTypeGrpId" @(Model._HoldingDetails.HoldingTypeGroupId == item.HoldingTypeGrpId ? "selected" : "")>@item.HoldingTypeGrpDesc</option>
                            }
                        </select>
                    </div>
                </div>
                @*<div class="col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Holding Type:</label>
                        <select class="form-control ddl-holding-type" name="ddl-holding-type">
                            <option value="">--Select Holding Type--</option>
                            @foreach (var item in Model._HoldingTypes)
                            {
                                <option value="@item.HoldingTypeId" @(Model._HoldingDetails.HoldingTypeId == item.HoldingTypeId ? "selected" : "")>@item.HoldingTypeDesc</option>
                            }
                        </select>
                    </div>
                </div>*@
            </div>
            <div class="row no-margin">
                <div class="col-sm-6 col-xs-12 ">
                    <label>Holding Names:</label>
                    <div class="input-group">
                        <span class="input-group-addon">Names</span>
                        <input type="text" class="form-control txt-assessee-name" name="txt-assessee-name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-warning btn-add-assesse">
                                +
                            </button>
                        </div>
                    </div>
                    <ul class="list-group list-holding-names">
                        @foreach (var item in Model._HoldingDetails.Owners)
                        {
                            <li class="list-group-item" data-name="@item.AssesseeName" data-TabId="@item.TabId">@item.AssesseeName<a href="javascript:void(0);" class="pull-right remove-assesse ">X</a></li>
                        }
                    </ul>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <label>Address</label>
                    <textarea class="txt-address form-control" name="txt-address">@Model._HoldingDetails.Address</textarea>
                </div>
            </div>
        }

        @*"UA"=>update assessee*@
        @if (new List<string> { "R", "I", "M", "A","N","S","UA", "E" }.Contains(Model.AssessmentValTag.ToUpper()))
        {
            <div class="row row no-margin">
                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label>Ward No:</label>
                        <input type="text" class="form-control txtWard" placeholder="Ward" />
                        <input type="hidden" value="@(Model._HoldingDetails.WardId==0?"":Model._HoldingDetails.WardId.ToString())" class="form-control hddn-Ward" name="hddn-Ward" />
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label>Location:</label>
                        <input type="text" class="form-control txtLocation" placeholder="Location" />
                        <input type="hidden" class="form-control hddn-Location" value="@(Model._HoldingDetails.LocationId==0?"":Model._HoldingDetails.LocationId.ToString())" name="hddn-Location" />
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label>Hodling No:</label>
                        <input type="text" class="form-control txt-holding-no" placeholder="Hodling no" />
                        <input type="hidden" class="form-control hddn-holding-no" value="@(string.IsNullOrEmpty(Model._HoldingDetails.HoldingNo)?"":Model._HoldingDetails.HoldingNo.ToString())" name="hddn-holding-no" />
                    </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label class="hidden-xs">&nbsp;</label>
                            <button class="btn btn-primary form-control btn-load-review-form">Search</button>
                    </div>
                </div>
            </div>

        }
    </form>
</div>

