﻿@using Valuation_Board.Models.Application;
@model Valuation_Board.Models.Application.MutationForm
@{
    ViewBag.Title = "MutationForm";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="/Contents/Script/AppJs/mutationForm.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<div class="container">
    <form id="mutationform">
        <div class="panel panel-default">
            <a href="/Municipality/Assessment/MutationList" style="float:right" class="btn btn-success">Mutation List</a>
            <div class="panel-heading" style="background-color: #337ab7;color: white;">
                Mutation Form
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label">Municipality/Corporation</label><span id="spn2" style="color: red">&nbsp;*</span>&nbsp;
                        <input type="text" id="ddlMunicipality" class="form-control" placeholder="Search municipality..">
                        <span class="clsVariables" style="display:none;"  automunicipalityid="" ></span>
                    </div>
                    <div class="col-md-6">
                        <label for="ActionText">Mutation Type</label>
                        <select class="form-control" id="ddlMutationType" name="ddlMutationType" data-info="please mun">
                            @*<option value="">Select</option>
                                <option value="1">Mutation due to succession (intestate)</option>
                                <option value="2">Mutation due to succession (testamentary)</option>*@
                        </select>
                        <input type="hidden" class="hdnMutationType" value="@(Model.MutationTypeId == null? 0:Model.MutationTypeId)" />
                        <label for="lbl_ddlMutationType" id="lbl_ddlMutationType" generated="true" class="error"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Applicant's name in block letter :</label>
                        <input id="applicantName" class="form-control applicantName" name="applicantName" value="@(Model.ApplicantsName == null?"":Model.ApplicantsName)" />
                    </div>
                    <div class="col-md-6">
                        <label for="ActionText">Applicant's Father/Husband's name :</label>
                        <input id="fatherOrHusband" class="form-control fatherOrHusband" name="fatherOrHusband" value="@(Model.ApplicantsFatherHusband == null?"":Model.ApplicantsFatherHusband)" />
                    </div>

                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">House no/Flat no/Premises no :</label>
                        <input id="houseno" class="form-control houseno" name="houseno" value="@(Model.AddressNo == null?"":Model.AddressNo)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Road/Lane :</label>
                        <input id="road" class="form-control road" name="road" value="@(Model.AddressRdLn == null?"":Model.AddressRdLn)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Village :</label>
                        <input id="Village" class="form-control Village" name="Village" value="@(Model.AddressViTn == null?"":Model.AddressViTn)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Post Office :</label>
                        <input id="postoffice" class="form-control postoffice" name="postoffice" value="@(Model.AddressPO == null?"":Model.AddressPO)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">Police Station :</label>
                        <input id="ps" class="form-control ps" name="ps" value="@(Model.AddressPs == null?"":Model.AddressPs)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">District :</label>
                        <input id="district" class="form-control district" name="district" value="@(Model.AddressDt == null?"":Model.AddressDt)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">State :</label>
                        <input id="State" class="form-control State" name="State" value="@(Model.AddressSt == null?"":Model.AddressSt)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">PIN Code:</label>
                        <input id="pin" class="form-control pin" name="pin" value="@(Model.AddressPin == null?0:Model.AddressPin)" />
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Phone No :</label>
                        <input id="phone" class="form-control phone" name="phone" value="@(Model.CommunicationDetailsPh == null?"":Model.CommunicationDetailsPh)" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Mobile No :</label>
                        <input id="mobile" class="form-control mobile" name="mobile" value="@(Model.CommunicationDetailsMn == null?"":Model.CommunicationDetailsMn)" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Email ID :</label>
                        <input id="email" class="form-control email" name="email" value="@(Model.CommunicationDetailsEmailIdn == null?"":Model.CommunicationDetailsEmailIdn)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">ID Proof Type :</label>
                        <select class="form-control" id="ddlproofType" name="ddlproofType" data-info="please mun">
                            @*<option value="">Select</option>
                                <option value="1">Aadhar Card</option>
                                <option value="2">Voter Id</option>*@
                        </select>
                        <input type="hidden" class="hdnproofType" value="@(Model.IdProofType == null? 0:Model.IdProofType)" />
                        <label for="lbl_ddlproofType" id="lbl_ddlproofType" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Upload ID Proof  :</label>
                        <input type="file" id="idproof" class="form-control idproof" name="idproof" />
                        @if (Model.IdProofPath != null && Model.IdProofPath.Length > 0)
                        {
                            <a class="btnPreview" target="_blank" href="/UploadedFiles/@Model.IdProofPath">&nbsp;View File</a>
                        }
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Ward No :</label>
                        <input id="wardno" class="form-control wardno" name="wardno" value="@(Model.WardNo == null?"":Model.WardNo)" />
                        <input type="hidden" class="hddn-Ward" id="hddn-Ward" name="hddn-Ward" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Road Name :</label>
                        <input id="roadname" class="form-control roadname" name="roadname" value="@(Model.HoldingDtlsRoad == null?"":Model.HoldingDtlsRoad)" />
                        <input type="hidden" class="hddn-Location" id="hddn-Location" name="hddn-Location" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Locality / Mahalla :</label>
                        <input id="locality" class="form-control locality" name="locality" value="@(Model.HoldingDtlsLoMo == null?"":Model.HoldingDtlsLoMo)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Holding No :</label>
                        <input id="holdingno" class="form-control holdingno" name="holdingno" value="@(Model.HoldingDtlsHoldingNo == null?"":Model.HoldingDtlsHoldingNo)" />
                        <input type="hidden" class="hddn-holding-no" id="hddn-holding-no" name="hddn-holding-no" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Classification  of the Holding :</label>
                        <select class="form-control" id="holdingtype" name="holdingtype" data-info="please mun"></select>
                        <input type="hidden" class="hdnholdingtype" id="hdnholdingtype" name="hdnholdingtype" value="@(Model.HoldingTypeId == null?0:Model.HoldingTypeId)" />
                        <label for="lbl_holdingtype" id="lbl_holdingtype" generated="true" class="error"></label>
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">Block :</label>
                        <select type="text" class="form-control ddl-block" name="ddl-block"></select>
                        <input type="hidden" class="hdnblock" id="hdnblock" name="hdnblock" value="@(Model.LandRecBlock == null?0:Model.LandRecBlock)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Mauza Name :</label>
                        <select type="text" id="mauzaname" class="form-control mauzaname" name="mauzaname"></select>
                        <input type="hidden" class="hdnmauzaname" id="hdnmauzaname" name="hdnmauzaname" value="@(Model.LandRecMouza == null?"":Model.LandRecMouza)" />
                    </div>
                    <div class="col-md-2">
                        <label for="ActionText">J.L No :</label>
                        <input id="jlno" class="form-control jlno" name="jlno" value="@(Model.JlNo == null?"":Model.JlNo)" />
                    </div>
                    <div class="col-md-2">
                        <label for="ActionText">Plot No (RS) :</label>
                        <input id="plotnoRS" class="form-control plotnoRS" name="plotnoRS" value="@(Model.PlotNoRs == null?"":Model.PlotNoRs)" />
                    </div>
                    <div class="col-md-2">
                        <label for="ActionText">Plot No (LR) :</label>
                        <input id="plotnoLR" class="form-control plotnoLR" name="plotnoLR" value="@(Model.PlotNoLs == null?"":Model.PlotNoLs)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">Khatian No (RS) :</label>
                        <input id="KhatiannoRS" class="form-control KhatiannoRS" name="KhatiannoRS" value="@(Model.PlotNoLs == null?"":Model.PlotNoLs)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Khatian No (LR) :</label>
                        <input id="KhatiannoLR" class="form-control KhatiannoLR" name="KhatiannoLR" value="@(Model.PlotNoLs == null?"":Model.PlotNoLs)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Quantam of Land (in decimal) :</label>
                        <input id="quantamoflandDeci" class="form-control quantamoflandDeci" name="quantamoflandDeci" value="@(Model.QuanTumLandDc == null?"":Model.QuanTumLandDc)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Quantam of Land (in Khata):</label>
                        <input id="quantamoflandKhata" class="form-control quantamoflandKhata" name="quantamoflandKhata" value="@(Model.QuanTumLandKt == null?"":Model.QuanTumLandKt)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Classification of the land as per ROR :</label>
                        <input id="classificationofLandROR" class="form-control classificationofLandROR" name="classificationofLandROR" value="@(Model.LandTypeRor == null?"":Model.LandTypeRor)" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Name of the land owner/occupier as per ROR :</label>
                        <input id="occupierNameAsPerROR" class="form-control occupierNameAsPerROR" name="occupierNameAsPerROR" value="@(Model.LandOwOcRor == null?"":Model.LandOwOcRor)" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Upload scan copy of the ROR (Khatian) :</label>
                        <input type="file" id="fileROR" class="form-control fileROR" name="fileROR" />
                        @if (Model.RorPath != null && Model.RorPath.Length > 0)
                        {
                            <a class="btnPreview" target="_blank" href="/UploadedFiles/@Model.RorPath">&nbsp;View File</a>
                        }
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-12">
                        <label for="ActionText">Whether the present holding assessed or not? &nbsp; &nbsp; &nbsp;</label>
                        <input type="radio" id="yes" name="assessed" checked value="1">
                        <label for="yes">Yes</label>&nbsp;
                        <input type="radio" id="no" name="assessed" value="0">
                        <label for="no">No</label><br>
                    </div>
                </div>
                <div class="row isAssessedNoDiv">
                    <div class="col-md-6">
                        <label for="ActionText">Name of the Tax payer of the holding as per Assessment List of the Municipality :</label>
                        <input id="nameTaxPayer" class="form-control nameTaxPayer" name="nameTaxPayer" value="@(Model.nameTaxPayer == null?"":Model.nameTaxPayer)" />
                    </div>
                    <div class="col-md-6">
                        <label for="ActionText">Name of the present land/building/property owner :</label>
                        <input id="presentOwnerName" class="form-control presentOwnerName" name="presentOwnerName" value="@(Model.presentOwnerName == null?"":Model.presentOwnerName)" />
                    </div>
                </div>
                <div class="row isAssessedNoDiv">
                    <div class="col-md-6">
                        <label for="ActionText">Address of the present land/building/property owner :</label>
                        <input id="presentOwnerAddress" class="form-control presentOwnerAddress" name="presentOwnerAddress" value="@(Model.presentOwnerAddress == null?"":Model.presentOwnerAddress)" />
                    </div>
                    <div class="col-md-6">
                        <label for="ActionText">Upload scan copy of Property Tax Payment receipt of the last quater :</label>
                        <input type="file" id="lastQuaterPaymentReceipt" class="form-control lastQuaterPaymentReceipt" name="lastQuaterPaymentReceipt" />
                        @*@if (Model.RorPath != null && Model.RorPath.Length > 0)
                            {
                                <a class="btnPreview" target="_blank" href="/UploadedFiles/@Model.RorPath">&nbsp;View File</a>
                            }*@
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-12">
                        <label for="ActionText">Name of the transferor /vendor :</label>
                        <input id="nameTransVend" class="form-control nameTransVend" name="nameTransVend" value="@(Model.NameTrandVend == null?"":Model.NameTrandVend)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Whether transfer/vendor is an assessee of the Municipality or not? &nbsp; &nbsp; &nbsp;</label>
                        <input type="radio" id="yes" name="isAssessee" checked value="1">
                        <label for="yes">Yes</label>&nbsp;
                        <input type="radio" id="no" name="isAssessee" value="0">
                        <label for="no">No</label><br>
                    </div>
                    <div class="col-md-6 isAssesseeYesDiv">
                        <label for="ActionText">State quater upto which the Property Tax paid :</label>
                        <input id="uptoWhichTaxPaid" class="form-control uptoWhichTaxPaid" name="uptoWhichTaxPaid" value="@(Model.TrandVendTaxPaidUpto == null?"":Model.TrandVendTaxPaidUpto)" />
                    </div>
                    <div class="col-md-6 isAssesseeNoDiv" style="display:none;">
                        <label for="ActionText">State the summary of the Vendor's/Vendee's title from the recorded owner:</label>
                        <textarea id="isAssesseeNoRemarks" rows="1" class="form-control isAssesseeNoRemarks" name="isAssesseeNoRemarks" value="@(Model.TrandVendNoRemarks == null?"":Model.TrandVendNoRemarks)"></textarea>
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Mention the type of deed &nbsp; &nbsp; &nbsp;</label>
                        <input type="radio" id="sale" name="deedType" checked value="1">
                        <label for="sale">Sale deed</label>&nbsp;
                        <input type="radio" id="Lease" name="deedType" value="3">
                        <label for="Lease">Lease deed</label>&nbsp;
                        <input type="radio" id="Gift" name="deedType" value="2">
                        <label for="Gift">Gift deed</label>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-md-3">
                        <label for="ActionText">Deed No :</label>
                        <input id="deedNo" class="form-control deedNo" name="deedNo" value="@(Model.DeedTypeNo == null?"":Model.DeedTypeNo)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Date of Registration :</label>
                        <input id="deedRegDt" class="form-control datepicker deedRegDt" name="deedRegDt" placeholder="DD/MM/YYYY" value="@(Model.DeedTypeDate.ToString().IndexOf("0001") == -1 ? Model.DeedTypeDate.Date.ToString("dd'/'MM'/'yyyy"):"")" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Registering office :</label>
                        <input id="deedRegOffice" class="form-control deedRegOffice" name="deedRegOffice" value="@(Model.DeedTypeRegOff == null?"":Model.DeedTypeRegOff)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Value of the property as per deed in INR :</label>
                        <input id="deedRegAmt" class="form-control deedRegAmt" name="deedRegAmt" value="@(Model.DeedTypeVal == null?0:Model.DeedTypeVal)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Upload scaned copy of the registered deed :</label>
                        <input type="file" id="deedCopy" class="form-control deedCopy" name="deedCopy" />
                        @if (Model.DeedPath != null && Model.DeedPath.Length > 0)
                        {
                            <a class="btnPreview" target="_blank" href="/UploadedFiles/@Model.DeedPath">&nbsp;View File</a>
                        }
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Upload scaned copy of the registered deed :</label>
                        <select class="form-control devolvedtype" id="devolvedtype" name="devolvedtype" data-info="please mun"></select>
                        <input type="hidden" class="hdndevolvedtype" value="@(Model.DevolvedType == null?0:Model.DevolvedType)" />
                    </div>
                    <div class="col-md-6">
                        <label for="ActionText">Upload file :</label>
                        <input type="file" id="deedCopy" class="form-control deedCopy" name="deedCopy" />
                        @if (Model.DeedPath != null && Model.DeedPath.Length > 0)
                        {
                            <a class="btnPreview" target="_blank" href="/UploadedFiles/@Model.DeedPath">&nbsp;View File</a>
                        }
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Select Devolved Type :</label>
                        <select class="form-control devolvedtype" id="devolvedtype" name="devolvedtype" data-info="please mun"></select>
                        <input type="hidden" class="hdndevolvedtype" value="@(Model.DevolvedType == null?0:Model.DevolvedType)" />
                    </div>
                    <div class="col-md-6">
                        <label for="ActionText">Upload file :</label>
                        <input type="file" id="devolvedFile" class="form-control devolvedFile" name="devolvedFile" />
                        @if (Model.DevolvedPath != null && Model.DevolvedPath.Length > 0)
                        {
                            <a class="btnPreview" target="_blank" href="/UploadedFiles/@Model.DevolvedPath">&nbsp;View File</a>
                        }
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">Total land area :</label>
                        <input type="text" class="form-control Totallandarea " name="Totallandarea" value="@(Model.AreaDtlsTla == null?"":Model.AreaDtlsTla)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Total vacant land area :</label>
                        <input type="text" class="form-control Totalvacantlandarea" name="Totalvacantlandarea" value="@(Model.AreaDtlsTvla == null?"":Model.AreaDtlsTvla)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Area of the tank/pond within the area :</label>
                        <input type="text" class="form-control tankpond" name="tankpond" value="@(Model.AreaDtlsTp == null?"":Model.AreaDtlsTp)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Land area of the building /Flat :</label>
                        <input type="text" class="form-control areabuilding" name="areabuilding" value="@(Model.AreaDtlsLabf == null?"":Model.AreaDtlsLabf)" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">Floor area of the flat :</label>
                        <input type="text" class="form-control areaflat " name="areaflat" value="@(Model.AreaDtlsFa == null?"":Model.AreaDtlsFa)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Area of the car parking /gagrage space :</label>
                        <input type="text" class="form-control parkingspace" name="parkingspace" value="@(Model.parkingspace == null?"":Model.parkingspace)" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Area of exclusive garden :</label>
                        <input type="text" class="form-control exclusivegarden" name="exclusivegarden" value="@(Model.exclusivegarden == null?"":Model.exclusivegarden)" />
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-12"><label>Construction details of the holding applied for mutation (put tick mark)</label></div>
                    <div class="col-md-6">
                        <select class="form-control ddlroof" name="ddlroof" data-info="please mun">
                            <option value="">--Select--</option>
                            <option value="1">Pucca building with RCC roof</option>
                            <option value="2">Pucca building with GI sheet/asbestos/tiles  roof </option>
                            <option value="3"> Semi pucca building with GI sheet/asbestos/tiles roof</option>
                            <option value="4">Kachha building with roof of GI sheet/asbestos/tiles roof</option>
                        </select>
                        <input type="hidden" class="hdnRoof" value="@(Model.RoofTypeId == null?0:Model.RoofTypeId)" />
                    </div>
                    <div class="col-md-6">
                        <select class="form-control ddlFlor" name="ddlFlor" data-info="please mun">
                            <option value="">--Select--</option>
                            <option value="1">Floor made of cement</option>
                            <option value="2">Floor made of mozaic</option>
                            <option value="3">Floor made of marble</option>
                        </select>
                        <input type="hidden" class="hdnFlor" value="" />
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Whether Completion Certificate has been issued by the Municipality? &nbsp; &nbsp; &nbsp;</label>
                        <input type="radio" id="yes" name="Certificate" checked value="1">
                        <label for="yes">Yes</label>&nbsp;
                        <input type="radio" id="no" name="Certificate" value="0">
                        <label for="no">No</label><br>
                    </div>
                    <div class="col-md-3 CertificateYes">
                        <label for="ActionText">Completion Certificate number :</label>
                        <input type="text" class="form-control  Certificatenumber" name="Certificatenumber" value="@(Model.CompleCertNo == null?"":Model.CompleCertNo)" />
                    </div>
                    <div class="col-md-3 CertificateYes">
                        <label for="ActionText">Certificate Date :</label>
                        <input type="text" class="form-control datepicker CertificateDate" name="CertificateDate" placeholder="DD/MM/YYYY" value="@(Model.CompleCertDt.ToString().IndexOf("0001") == -1 ? Model.CompleCertDt.Date.ToString("dd'/'MM'/'yyyy"):"")" />
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-12">
                        <label for="ActionText">Declaration:	</label>
                    </div>
                    <div class="col-md-12">
                        <label for="ActionText">I solemnly declare that the information furnished by me in this form are true to the best of my knowledge and belief.</label>
                        <label for="ActionText">
                            I also declare that the original of the documents uploaded in this application are with my custody and I shall be liable to produce before the Municpality upon direction to do so.
                        </label>
                    </div>
                </div>
                <hr style="border-top: 1px solid #0088cb3d;" />
                <div class="row">
                    <div class="col-md-2">
                        <label for="ActionText" style="margin-top: 6px;">Signature :</label>
                    </div>
                    <div class="col-md-4">
                        <input type="file" id="SignatureFile" class="form-control SignatureFile" name="SignatureFile" />
                        @if (Model.AppliSigPath != null && Model.AppliSigPath.Length > 0)
                        {
                            <a class="btnPreview" target="_blank" href="/UploadedFiles/@Model.AppliSigPath">&nbsp;View File</a>
                        }
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary pull-right btnSave" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        width: 200px;
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }
</style>
