﻿@using Valuation_Board.Models.Application;
@model IEnumerable<MutationForm>
@{
    ViewBag.Title = "MutationForm";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*<script src="/Contents/Script/AppJs/mutationForm.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>*@
<div class="container">
    <form id="mutationform">
        <div class="panel panel-default">
            <a href="/Municipality/Assessment/MutationForm" style="float:right" class="btn btn-success">Mutation Form</a>
            <div class="panel-heading" style="background-color: #337ab7;color: white;">
                Mutation List
            </div>
            @*<div class="panel-body">

                </div>*@
        </div>
        <div class="row">
            <div class="col-md-12">
               
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="display:none">TabId</th>
                                <th>Applicants Name</th>
                                <th>Father /Husband</th>
                                <th>Word</th>
                                <th>Road</th>
                                <th>Holding No</th>
                                <th>MutationType</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in Model)
                            {
                                <tr>
                                    <td style="display:none" class="TabId">@d.TabId</td>
                                    <td>@d.ApplicantsName</td>
                                    <td>@d.ApplicantsFatherHusband</td>
                                    <td>@d.WardNo</td>
                                    <td>@d.HoldingDtlsRoad</td>
                                    <td>@d.HoldingDtlsHoldingNo</td>
                                    <td>@d.MutationType</td>
                                    <td>@d.Status</td>
                                    <td>
                                        <select class="form-control ddlView">
                                            <option value="">...</option>
                                            <option value="View">View</option>
                                            <option value="ChangeStatus">Change Status</option>
                                        </select>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </form>

</div>

<!-- Change Status -->
<div class="modal fade" id="MutationStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="ActionText">Status</label>
                            <input id="txt-status" class="form-control txt-status" name="txt-status">
                            <input type="hidden" class="hdntabId" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-Save">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('change', '.ddlView', function (e) {
            var Data = $(this).val();
            var TabId = $(this).closest('tr').find('.TabId').text();
            if (Data != "" && TabId != "") {
                if (Data == "View") {
                    window.open("/Municipality/Assessment/MutationForm?TabId=" + TabId, "_blank");
                    //TabId
                } else if (Data == "ChangeStatus") {
                    $('.hdntabId').val(TabId);
                    $('#MutationStatusModal').modal('show');
                }
            }
        });
        $(document).on('click', '.btn-Save', function (e) {
            e.preventDefault();
            var S = "{TabId:'" + $(".hdntabId").val() +
                "', Status:'" + $.trim($('.txt-status').val()) + "'}";
            $.ajax({
                type: "POST",
                url: "/Municipality/Assessment/UpdateStatus",
                data: (S),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (D) {
                    if (D.Status === 200) {
                        alert("Successful! " + D.Message, function () {
                        });
                        $('.hdntabId').val('');
                        $('#MutationStatusModal').modal('hide');
                        location.reload(true);
                    } else {
                        alert("Error! " + D.Message, function () { });
                    }
                }, error: function (err) {
                    alert("Error: Failed to save data.");
                }
            })
        });
    });
</script>