﻿@using Valuation_Board.Models.Application
@model Assessment_VM.AssessmentForm
@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>disabled,Improvment=>disabled
    if (new List<string>() { "P", "R", "M", "S", "I" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<div id="other-tab" class="tab-pane fade">
    @{
        ScheduleThree.OtherInfoType dateOfOrderCnfg = null;
        ScheduleThree.OtherInfoType remarksCnfg = null;

        foreach (var t in Model.MasterData.OtherInfoTypeConfigs)
        {
            if (t.TypeCode == "DOO")//date of order
            {
                dateOfOrderCnfg = t;
            }
            if (t.TypeCode == "REM")//remarks
            {
                remarksCnfg = t;
            }
        }

    }
    <form id="frm-new-holding-OtherTabdetails">
        <div class="row">
            <div class="col-md-4">
                <label>Application Date:</label>
                <input type="text" class="form-control txt-application-date" placeholder="dd/mm/yyyy" />
            </div>
            <div class="col-md-4">
                <label>Application Case No:</label>
                <input type="text" class="form-control txt-application-no" placeholder="Application / Case no" />
            </div>
            <div class="col-md-4">
                <label>@dateOfOrderCnfg.TypeDesc:</label>
                <input type="text" class="form-control txt-date-of-order" placeholder="dd/mm/yyyy" data-typecode="@dateOfOrderCnfg.TypeCode" data-infotype="@dateOfOrderCnfg.InfoType" data-datatype="@dateOfOrderCnfg.DataType" data-infotypeid="@dateOfOrderCnfg.InfoTypeId" data-typedesc="@dateOfOrderCnfg.TypeDesc" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>Pimary Phone No:</label>
                <input type="text" class="txt-primary-phone-no form-control" name="txt-primary-phone-no" value="@Model._OtherTabDetails.PrimaryPhNo" @(disabledCtrl) />
            </div>
            <div class="col-sm-3">
                <label>Primary Email:</label>
                <input type="text" class="txt-primary-email-id form-control" name="txt-primary-email-id " value="@Model._OtherTabDetails.PrimaryEmail" @(disabledCtrl) />
            </div>
            <div class="col-sm-3">
                <label>Processing Fees:</label>
                <div class="input-group">
                    <input type="text" class="form-control txt-pro-cosing-fees" name="txt-pro-cosing-fees" value="@Model._OtherTabDetails.ProCosingFees" @(disabledCtrl) />
                    <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Other Fees:</label>
                <div class="input-group">
                    <input type="text" class="txt-other-fees form-control" name="txt-other-fees" value="@Model._OtherTabDetails.OtherFees" @(disabledCtrl) />
                    <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>@remarksCnfg.TypeDesc:</label>
                <textarea class="txt-remarks form-control" data-typecode="@remarksCnfg.TypeCode" data-infotype="@remarksCnfg.InfoType" data-datatype="@remarksCnfg.DataType" data-infotypeid="@remarksCnfg.InfoTypeId" data-typedesc="@remarksCnfg.TypeDesc"></textarea>
            </div>
        </div>
        <br />
        @Html.Partial(@"~\Views\Municipality\Assessment\partialSaveCancel.cshtml", Model)
    </form>
</div>

