﻿@using Valuation_Board.ViewModels
@model Assessment_VM.AssessmentForm

@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>disabled,Improvment=>disabled
    if (new List<string>() { "P", "R","M","S","I" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<div class="sec-holding-details ">
    <form id="frm-other-details">
        <div class="row no-margin">
            <div class="col-sm-12 col-md-12 no-margin">
                @*<div class="row">
                    <div class="col-sm-3">
                        <label>Pimary Phone No:</label>
                        <input type="text" class="txt-primary-phone-no form-control" name="txt-primary-phone-no" value="@Model._OtherDetails.PrimaryPhNo"   @(disabledCtrl)/>
                    </div>
                    <div class="col-sm-3">
                        <label>Primary Email:</label>
                        <input type="text" class="txt-primary-email-id form-control" name="txt-primary-email-id " value="@Model._OtherDetails.PrimaryEmail"   @(disabledCtrl)/>
                    </div>
                    <div class="col-sm-3">
                        <label>Processing Fees:</label>
                        <div class="input-group">
                            <input type="text" class="form-control txt-pro-cosing-fees" name="txt-pro-cosing-fees" value="@Model._OtherDetails.ProCosingFees"   @(disabledCtrl)/>
                            <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Other Fees:</label>
                        <div class="input-group">
                            <input type="text" class="txt-other-fees form-control" name="txt-other-fees" value="@Model._OtherDetails.OtherFees"   @(disabledCtrl)/>
                            <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-12">
                        <label>Building /Land Details:</label>
                        <textarea class="txt-building-dtl form-control">
                            @Model._OtherDetails.BuildingDtl
                        </textarea>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('textarea').each(function () {
            $(this).val($(this).val().trim());
        }
   );
    });
</script>