﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions
@model Assessment_VM.AssessmentForm

@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>disabled,Improvment=>disabled
    if (new List<string>() { "M" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<div class="row bg-gray-light no-margin  partial-save-cancel">
    <div class="col-md-12 text-right">
    <input type="button" value="Save" class="btn btn-primary btn-save"   @(disabledCtrl) />
    <input type="button" value="Cancel" class="btn btn-warning btn-cancel"   @(disabledCtrl) /></div>
</div>