﻿@using Valuation_Board.ViewModels
@model Assessment_VM.AssessmentForm

<div style="display:none" class="setting-parameters">
    <input class="val-tag" value="@Model.AssessmentValTag" />
    <input class="sub-action" value="@Model.SubAction" />
    <input class="year-id" value="@Model._YearID" />
</div>