﻿@using Valuation_Board.ViewModels
@model Assessment_VM.AssessmentForm
@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>enabled,Improvment=>enabled
    if (new List<string>() { "S" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}
<div class="sec-holding-details">
    <form id="frm-valuation-details">
        <div class="row no-margin">
            <div class="row cntr-occupency-struct-details">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="valuation_details_table-1" class="table table-striped table-bordered table-hover table-condensed usage-parent-table text-center valuation_details_table">
                            <thead class="bg-blue">
                                <tr>
                                    <th colspan="10" class="text-center">Valuation Details</th>
                                </tr>
                                <tr>
                                    <th>Annual Valuation</th>
                                    <th>Qtr PTax</th>
                                    <th>Qtr S.Charge</th>
                                    <th>Land-cost</th>
                                    <th>Edu Cess</th>
                                    <th><a href="#valuation-details-1" data-target="#valuation-details-1" data-toggle="modal" class="glyphicon glyphicon-plus add-row white"></a></th>
                                    <th id="hdnJson" style="display:none;"> </th>
                                </tr>
                            </thead>
                            @{
                                <tbody>
                                    @if (Model._ValuationDetails != null)
                                    {
                                        foreach (var v in Model._ValuationDetails)
                                        {
                                            <tr>
                                                <td>@v.AnnualValuation</td>
                                                <td>@v.Qtr_Ptax</td>
                                                <td>@v.Qtr_Schrg</td>
                                                <td>@v.LandCost</td>
                                                <td>@v.Qtr_EduCess</td>
                                                <td><a class="rmvRow">Remove</a> &nbsp<a class="updateRow" ;">Update</a></td>
                                                <td class="completeJson" hidden></td>
                                                <td class="hiddenAssmtID" hidden></td>
                                            </tr>
                                        }
                                    }
                                   
                                </tbody>
                                //added by Eklas
                                <tfoot class="bg-aqua">
                                    <tr>
                                        <th colspan="1" style="text-align: left;">Summary&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label class="lbl-total-annual-vl"></label></th>
                                        <th class="text-center"><label class="lbl-total-qtr-ptax"></label></th>
                                        <th class="text-center"><label class="lbl-total-qtr-scharge"> </label></th>
                                        <th class="text-center"><label class="lbl-total-last-cost"></label></th>
                                        <th class="text-center"><label class="lbl-total-end-cess"></label></th>
                                        <th colspan="2"></th>
                                    </tr>
                                </tfoot>
                            }

                        </table>
                        <div id="modal-room-details" class="modal fade modal-room-details" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h4 class="modal-title">Details</h4>
                                    </div>
                                    <div class="modal-body">

                                    </div>
                                    <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="valuation-details-1" class="modal fade valdtlmodal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title">Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label>Holding Type:</label>
                                        <select class="form-control ddl-holding-type" name="ddl-holding-type" @(disabledCtrl)>
                                            @*<option value="">--Select Holding Type--</option>*@
                                            @foreach (var item in Model._HoldingTypes)
                                            {
                                                <option value="@item.HoldingTypeId" @(Model._HoldingDetails.HoldingTypeId == item.HoldingTypeId ? "selected" : "")>@item.HoldingTypeDesc</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                         <label>Owner/Occupier:</label>
                                        <select type="text" class="form-control ddl-ownerOrOccupier" name="ddl-ownerOrOccupier" @(disabledCtrl)>
                                            <option value="">--select--</option>
                                            <option value="1">Owner</option>
                                            <option value="2">Occupier</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3 ownerOccupier" hidden>
                                    <label>Monthly Rent:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control txt-monthly-rent" name="txt-monthly-rent" @(disabledCtrl) />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Zone:</label>
                                    <div class="input-group">
                                        <input type="text" class="hiddenFieldForUdtate" hidden />
                                        <select type="text" class="form-control ddl-zone" name="ddl-zone" @(disabledCtrl)>
                                            <option value="">--select--</option>
                                            @foreach (var item in Model._Zones)
                                            {
                                                <option value="@item.ScoreCode" data-value="@item.ScoreValue">@item.ScoreCode</option>
                                            }
                                        </select>
                                        @*@{
                                        decimal zoneVal = 0;
                                        var zoneValObj = Model._Zones.FirstOrDefault(t => t.ScoreCode == Model._ValuationDetails.ZoneId);
                                        if (zoneValObj != null)
                                        {
                                            zoneVal = Math.Round(zoneValObj.ScoreValue, 2);
                                        }
                                    }*@
                                        <span class="input-group-addon"><span class="zone-val zoneText"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Land Area:</label>
                                    <div class="input-group">
                                        <input type="text" class="txt-land-area-kt form-control" name="txt-land-area-kt" value="0" @(disabledCtrl) />
                                        <input type="text" class="hidden_assmt_id" name="hidden_assmt_id" value="0" hidden />
                                        <input type="text" class="hidden_tab_id" name="hidden_tab_id" value="0" hidden />
                                        <span class="input-group-addon"><span class="zone-val laKTText">KT</span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <input type="text" class="txt-land-area-ch form-control" name="txt-land-area-ch" value="0" @(disabledCtrl) />
                                        <span class="input-group-addon"><span class="zone-val laCHText">Ch</span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <input type="text" class="txt-land-area-sft form-control" name="txt-land-area-sft" value="0" @(disabledCtrl) />
                                        <span class="input-group-addon"><span class="zone-val laSFTText">SFT</span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Nature of Use:</label>
                                    <div class="input-group">
                                        <select type="text" class="form-control ddl-nature-of-use" name="ddl-nature-of-use" @(disabledCtrl)>
                                            <option value="">--select--</option>
                                            @foreach (var item in Model._NatureOfUse)
                                            {
                                                <option value="@item.ScoreCode" data-value="@item.ScoreValue">@item.ScoreCode</option>
                                            }
                                        </select>
                                        @*@{
                                        decimal natVal = 0;
                                        var natValObj = Model._NatureOfUse.FirstOrDefault(t => t.ScoreCode == Model._ValuationDetails.NatureOfUseId);
                                        if (natValObj != null)
                                        {
                                            natVal = Math.Round(natValObj.ScoreValue, 2);
                                        }
                                    }*@
                                        <span class="input-group-addon"><span class="zone-val NOUVal"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Bldg. Area:</label>
                                    <div class="input-group">
                                        <input type="text" class="txt-bldg-area-sft form-control" name="txt-bldg-area-sft" value="0" @(disabledCtrl) />
                                        <span class="input-group-addon"><span class="zone-val bldngSFTText">SFT</span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Plinth:</label>
                                    <div class="input-group">
                                        <input type="text" class="txt-plinth-sft form-control" name="txt-plinth-sft " value="0" @(disabledCtrl) />
                                        <span class="input-group-addon"><span class="zone-val plinthText">SFT</span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Age:</label>
                                    <div class="input-group">
                                        <input type="text" class="txt-age form-control" name="txt-age" value="0" @(disabledCtrl) />
                                        <span class="input-group-addon"><span class="zone-val ageText">YRS</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Construction:</label>
                                    <div class="input-group">
                                        <select type="text" class="form-control ddl-construction" name="ddl-construction" @(disabledCtrl)>
                                            <option value="">--select--</option>
                                            @foreach (var item in Model._Constructions)
                                            {
                                                <option value="@item.ScoreCode" data-value="@item.ScoreValue">@item.ScoreCode</option>
                                            }
                                        </select>
                                        <span class="input-group-addon"><span class="zone-val constText"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>&nbsp;</label>
                                    <div class="checkbox">
                                        <label><input type="checkbox" class="chk-SrchgTag" @(disabledCtrl) />Surcharge Applicable</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>&nbsp;</label>
                                    <div class="checkbox" style="display:none">
                                        <label><input type="checkbox" class="chk-EduCessTag" @(disabledCtrl) />Edu Cess Applicable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row bg-gray-light no-margin">
                                <div class="col-sm-2">
                                    <label>Annual Valuation</label>
                                    <input type="text" readonly placeholder="0.00" class="txt-readonly-annual-valuation form-control" name="txt-readonly-annual-valuation" value="0" @(disabledCtrl) />
                                    <label>&nbsp;</label>
                                </div>
                                <div class="col-sm-2">
                                    <label>Qtr PTax</label>
                                    <input type="text" readonly placeholder="0.00" class="txt-readonly-qtr-ptax form-control" name="txt-readonly-qtr-ptax " value="0" @(disabledCtrl) />
                                    <label>&nbsp;</label>
                                </div>
                                <div class="col-sm-2">
                                    <label>Qtr S.Charge</label>
                                    <input type="text" readonly placeholder="0.00" class="txt-readonly-qtr-schrg form-control" name="txt-readonly-qtr-schrg" value="0" @(disabledCtrl) />
                                    <label>&nbsp;</label>
                                </div>
                                <div class="col-sm-3">
                                    <label>Land-cost:</label>
                                    <input type="text" class="txt-land-cost form-control" value="0" readonly name="txt-land-cost" @(disabledCtrl) />
                                </div>
                                <div class="col-sm-3">
                                    <label>Edu Cess:</label>
                                    <input type="text" class="txt-readonly-qtr-Edu-cess form-control" value="0" readonly name="txt-land-cost" @(disabledCtrl) />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary valuation_Add_Btn" id="valuationAddBtn">Add</button>
                            <button type="button" class="btn btn-success valuation_Add_Btn" id="valuationSaveBtn" style="display:none;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-sm-12 col-md-12 no-margin">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Zone:</label>
                        <div class="input-group">
                            <select type="text" class="form-control ddl-zone" name="ddl-zone"  @(disabledCtrl)>
                                <option value="">--select--</option>
                                @foreach (var item in Model._Zones)
                                {
                                    <option value="@item.ScoreCode" data-value="@item.ScoreValue" @(Model._ValuationDetails.ZoneId == item.ScoreCode ? "selected" : "")>@item.ScoreCode</option>
                                }
                            </select>
                            @{
                                decimal zoneVal = 0;
                                var zoneValObj = Model._Zones.FirstOrDefault(t => t.ScoreCode == Model._ValuationDetails.ZoneId);
                                if (zoneValObj != null)
                                {
                                    zoneVal = Math.Round(zoneValObj.ScoreValue, 2);
                                }
                            }
                            <span class="input-group-addon"><span class="zone-val">@zoneVal</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Land Area:</label>
                        <div class="input-group">
                            <input type="text" class="txt-land-area-kt form-control" name="txt-land-area-kt" value="@Model._ValuationDetails.LandArea_KT"  @(disabledCtrl)/>
                            <span class="input-group-addon"><span class="zone-val">KT</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <input type="text" class="txt-land-area-ch form-control" name="txt-land-area-ch" value="@Model._ValuationDetails.LandArea_CH"  @(disabledCtrl)/>
                            <span class="input-group-addon"><span class="zone-val">Ch</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>&nbsp;</label>
                        <div class="input-group">
                            <input type="text" class="txt-land-area-sft form-control" name="txt-land-area-sft" value="@Model._ValuationDetails.LandArea_SFT" @(disabledCtrl) />
                            <span class="input-group-addon"><span class="zone-val">SFT</span></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Nature of Use:</label>
                        <div class="input-group">
                            <select type="text" class="form-control ddl-nature-of-use" name="ddl-nature-of-use"  @(disabledCtrl)>
                                <option value="">--select--</option>
                                @foreach (var item in Model._NatureOfUse)
                                {
                                    <option value="@item.ScoreCode" data-value="@item.ScoreValue" @(Model._ValuationDetails.NatureOfUseId == item.ScoreCode ? "selected" : "")>@item.ScoreCode</option>
                                }
                            </select>
                            @{
                                decimal natVal = 0;
                                var natValObj = Model._NatureOfUse.FirstOrDefault(t => t.ScoreCode == Model._ValuationDetails.NatureOfUseId);
                                if (natValObj != null)
                                {
                                    natVal = Math.Round(natValObj.ScoreValue, 2);
                                }
                            }
                            <span class="input-group-addon"><span class="zone-val">@natVal</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Bldg. Area:</label>
                        <div class="input-group">
                            <input type="text" class="txt-bldg-area-sft form-control" name="txt-bldg-area-sft" value="@Model._ValuationDetails.BldgArea_SFT"  @(disabledCtrl)/>
                            <span class="input-group-addon"><span class="zone-val">SFT</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Plinth:</label>
                        <div class="input-group">
                            <input type="text" class="txt-plinth-sft form-control" name="txt-plinth-sft " value="@Model._ValuationDetails.Plinth_SFT"  @(disabledCtrl)/>
                            <span class="input-group-addon"><span class="zone-val">SFT</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>Age:</label>
                        <div class="input-group">
                            <input type="text" class="txt-age form-control" name="txt-age" value="@Model._ValuationDetails.Age"  @(disabledCtrl)/>
                            <span class="input-group-addon"><span class="zone-val">YRS</span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Construction:</label>
                        <div class="input-group">
                            <select type="text" class="form-control ddl-construction" name="ddl-construction"  @(disabledCtrl)>
                                <option value="">--select--</option>
                                @foreach (var item in Model._Constructions)
                                {
                                    <option value="@item.ScoreCode" data-value="@item.ScoreValue" @(Model._ValuationDetails.ConstructionId == item.ScoreCode ? "selected" : "")>@item.ScoreCode</option>
                                }
                            </select>
                            @{
                                decimal constVal = 0;
                                var constValObj = Model._Constructions.FirstOrDefault(t => t.ScoreCode == Model._ValuationDetails.ConstructionId);
                                if (constValObj != null)
                                {
                                    constVal = Math.Round(constValObj.ScoreValue, 2);
                                }
                            }
                            <span class="input-group-addon"><span class="zone-val">@constVal</span></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>&nbsp;</label>
                        <div class="checkbox">
                            <label><input type="checkbox" @(Model._ValuationDetails.SrchgTag ? "checked" : "") class="chk-SrchgTag"  @(disabledCtrl)/>Surcharge Applicable</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label>&nbsp;</label>
                        <div class="checkbox" style="display:none">
                            <label><input type="checkbox" @(Model._ValuationDetails.EduCessTag ? "checked" : "") class="chk-EduCessTag"   @(disabledCtrl) />Edu Cess Applicable</label>
                        </div>
                    </div>
                </div>
                <div class="row bg-gray-light no-margin">
                    <div class="col-sm-2">
                        <label>Annual Valuation</label>
                        <input type="text" readonly placeholder="0.00" class="txt-readonly-annual-valuation form-control" name="txt-readonly-annual-valuation" value="@Model._ValuationDetails.AnnualValuation" @(disabledCtrl) />
                        <label>&nbsp;</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Qtr PTax</label>
                        <input type="text" readonly placeholder="0.00" class="txt-readonly-qtr-ptax form-control" name="txt-readonly-qtr-ptax " value="@Model._ValuationDetails.Qtr_Ptax" @(disabledCtrl) />
                        <label>&nbsp;</label>
                    </div>
                    <div class="col-sm-2">
                        <label>Qtr S.Charge</label>
                        <input type="text" readonly placeholder="0.00" class="txt-readonly-qtr-schrg form-control" name="txt-readonly-qtr-schrg" value="@Model._ValuationDetails.Qtr_Schrg"  @(disabledCtrl) />
                        <label>&nbsp;</label>
                    </div>
                    <div class="col-sm-3">
                        <label>Land-cost:</label>
                        <input type="text" class="txt-land-cost form-control" value="@Model._ValuationDetails.LandCost" readonly name="txt-land-cost"  @(disabledCtrl)/>
                    </div>
                    <div class="col-sm-3">
                        <label>Edu Cess:</label>
                        <input type="text" class="txt-readonly-qtr-Edu-cess form-control" value="@Model._ValuationDetails.Qtr_EduCess" readonly name="txt-land-cost"  @(disabledCtrl)/>
                    </div>
                </div>
                </div>*@
        </div>

    </form>
</div>

