﻿<div class="row assmt-finyear-qtr no-margin">
        <div class="col-sm-2 col-xs-12 col-sm-offset-4">
            <div class="form-group">
                <label>Select Fin-Year:</label>
                <select type="text" class="ddl-finyear-picker form-control"></select>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12">
            <div class="form-group">
                <label>Select Qtr:</label>
                <select type="text" class="ddl-qtr form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function () {
        var finYearQtr = function () {
            var dom = {
                ddlFinYear: $(".ddl-finyear-picker"),
                ddlQtr: $(".ddl-qtr"),
                cntrAssessmentForm: $(".cntr-assessment-form"),
                cntrAssessmentFormEntry: $(".cntr-assessment-form-entry")
            };
            var loadFinYear = function () {
                var fromYear = 1950;
                var toYear = new Date().getFullYear() + 10;
                for (fromYear; fromYear <= toYear; fromYear++) {
                    dom.ddlFinYear.append("<option value='" + (fromYear + "-" + (fromYear + 1)) + "'> " + (fromYear + "-" + (fromYear + 1)) + "</option>")
                }
            };
            var selectCurFinYearQtr = function () {
                var getCurQtr = function () {
                    var curMonth = new Date().getMonth() + 1;
                    if (curMonth >= 1 && curMonth <= 3) {
                        return 4;
                    } else if (curMonth >= 4 && curMonth <= 6) {
                        return 1;
                    } else if (curMonth >= 7 && curMonth <= 9) {
                        return 2;
                    } else if (curMonth >= 10 && curMonth < 12) {
                        return 3;
                    }
                };
                dom.ddlFinYear.find("option[value='" + $(".srv-cur-fin-year").val() + "']").prop('selected', true);
                dom.ddlQtr.find("option[value='" + getCurQtr() + "']").prop('selected', true);
            };
            this.live = function () {
                loadFinYear();
                selectCurFinYearQtr();
            };
        };
        var finYearPopulate = new finYearQtr();
        finYearPopulate.live();
    })
    </script>
