﻿@using Valuation_Board.ViewModels
@model Assessment_VM.AssessmentForm


@if (ViewBag.error != null)
{
    <h5>Error Occured!<small>@ViewBag.error</small></h5>
}
else
{
    @Html.Partial(@"~\Views\Municipality\Assessment\HoldingDetails.cshtml", Model)
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\ValuationDetails.cshtml", Model)
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\AdditionalHoldingDetails.cshtml", Model)
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\OtherDetails.cshtml", Model)
}