﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions
@using System.Web.Script.Serialization;

@model Assessment_VM.AssessmentForm
@if (ViewBag.error != null)
{
    @Html.Partial(SiteConstants.ErrorViewPath, ViewBag.error as AppException<string, string>);
}
else
{
    <input type="hidden" value="@(new JavaScriptSerializer().Serialize(Model.ActualAssmtData))" class="assmt-exisiting-holding-data"/>
           @Html.Partial(@"~\Views\Municipality\Assessment\_partialHoldingDetails.cshtml", Model) ;
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\ValuationDetails.cshtml", Model)
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\AdditionalHoldingDetails.cshtml", Model)
    <hr />
    @Html.Partial(@"~\Views\Municipality\Assessment\OtherDetails.cshtml", Model)


}