﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .hide_column {
        display: none;
    }
</style>
<script src="~/Contents/Script/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">

@*<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

<script src="~/Contents/Script/AppJs/ScheduleIII.js"></script>
<div class="row">
    <div class="col-sm-12 col-md-12 cntr-schedule-three">
        <div class="box box-primary">
            <div class="box-header ">
                <div class="box-title">Schedule III Submitted Forms</div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="hdnScheduleIIIId"/>
                        <div class="col-md-5">
                            <input type="text" id="txtMunicipality" class="form-control" required placeholder="Municipality Name" />
                            <input id="MunicipalityId" type="hidden" value="" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtFromDate" class="form-control" required placeholder="From Date" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtTodate" class="form-control" required placeholder="To Date" />
                        </div>
                        <div class="col-md-3">
                            <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                            <button type="button" id="Refresh" class="btn btn-primary">Refresh</button>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="box-body row">

                    <div class="table-responsive">
                        <table id="taableid" class="table table-striped table-bordered table-hover table-condensed usage-parent-table">
                            <thead class="bg-blue">
                                <tr>
                                    <th>#</th>
                                    <th style="display:none">ScheduleId</th>
                                    <th style="display:none">MunicipalityId</th>
                                    <th>Municipality Name</th>
                                    <th>FromDate</th>
                                    <th>ToDate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


