﻿@using Valuation_Board.App_Codes
@using Valuation_Board.Models.Application

@{
    ViewBag.Title = "Index";
Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .nav-tabs {
        /*background-color: #161616;*/
    }

    .tab-content {
        background-color: #e5eafd;
        color: black;
        padding: 5px
    }

    .nav-tabs > li > a {
        border: medium none;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
        background-color: #e5eafd;
    }

    .nav-tabs > li > a:hover {
        /*background-color: #303136 !important;*/
        border: medium none;
        border-radius: 0;
        color: black;
    }

    .list-group {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .searched-holding-result > .list-group > a {
        cursor: pointer;
    }
</style>
<script type='text/javascript'>

</script>
<script src="~/Contents/Script/AppJs/MunicipalityTaxCollection.js?v=@(GlobalContext.applicationInfo.AssemblyVersion+".13")"></script>
<div class="hidden-collection-settings" style="display:none">
    <input type="hidden" class="current-date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" />
</div>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Property Tax Collection</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>

        </div>

    </div>
    <div class="panel-body">
        <form id="frmPropertyTaxPaymentSearch" method="post">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#serch-by-assessee-id">Assessee ID</a></li>
                        <li><a data-toggle="tab" href="#holding-no">Holding No</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="serch-by-assessee-id" class="tab-pane fade in active">

                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="age">Search By Assessee ID:</label>
                                    <input type="text" placeholder="Assessee ID" class="form-control input-sm change txtSearchByAssesseeID">
                                    <input type="button" class="form-control input-sm btn-primary search-by-assesseeID" value="Search by Assessee ID" />
                                </div>
                            </div>
                        </div>
                        <div id="holding-no" class="tab-pane fade">

                            <div class="form-inline">
                                <div class="form-group">
                                    <label for="txtHoldingNo">Enter Holding No:</label>
                                    <input type="text" placeholder="Holding No" class="form-control input-sm txtHoldingNo" id="txtHoldingNo" />
                                    <input type="button" id="btn-search-by-holding-no" class="form-control input-sm btn-primary btn-search-by-holding-no" value="Search Holdings">
                                </div>

                            </div>
                            <div class="form-inline" style="margin-top:15px">
                                <div class="form-group searched-holding-result" style="margin-bottom:0px">
                                    <div class="list-group" style="text-align:left;max-height: 220px;overflow-x: hidden;">


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="data-population-alert col-md-12 col-sm-12" style="display:none">
                    <br />
                    <div class="alert alert-info text-center" style="margin:0px;">
                        <strong>No!</strong> <span class="msg-body">Indicates a neutral informative change or action.</span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-5 col-lg-5 col-md-5">
                    <hr class="style13" style="height:2px;margin-top: 21px;margin-bottom: 8px;">
                </div>
                <div class="col-sm-1 col-lg-1 col-md-1">
                    <h5 style="text-align:center">OR</h5>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <hr class="style13" style="height:2px;margin-top: 21px;margin-bottom: 8px;">
                </div>
            </div>

            @* Search panel 2 *@
            <div class="row">
                @* design search input parameters *@
                <div class="col-md-10">
                    <div class="row">
                        <div class=" col-md-2">
                            <label for="txtWard">Ward<span class="red-star">&nbsp;*</span></label>
                            <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                            <input type="hidden" id="hdnWard" name="hdnWard" />
                        </div>
                        <div class=" col-md-3">
                            <label for="txtLocation">Location<span class="red-star">&nbsp;*</span></label>
                            <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation">
                            <input type="hidden" id="hdnLocation" name="hdnLocation" />
                        </div>
                        <div class=" col-md-4">
                            <label for="txtAssessee">Holding No<span class="red-star">&nbsp;*</span></label>
                            <input type="text" class="form-control input-sm change" id="txtAssessee" name="txtAssessee">
                            <input type="hidden" name="hdnAssessee" id="hdnAssessee" />
                        </div>
                        <div class=" col-md-3">
                            <label for="txtCollectionDate">Collection Date:<span class="red-star">&nbsp;*</span></label>
                            <input type="text" id="txtCollectionDate" name="txtCollectionDate" class="form-control input-sm txtDate" placeholder="yyyy-mm-dd" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="txtNoticeServedDate">Notice Srv. Date:</label>
                            <div class="input-group">
                                <input type="text" id="txtNoticeServedDate" name="txtNoticeServedDate" class="form-control input-sm txtDate" placeholder="yyyy-mm-dd" readonly />
                                <a href="javascript:void(0);" data-reset="txtNoticeServedDate" class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                            </div>
                            <div class="col-md-3">
                                <label for="ddlEffectiveQtrFrom">Quarter Effective From</label>
                                <select id="ddlEffectiveQtrFrom" name="ddlEffectiveQtrFrom" class="form-control input-sm ddlEffectiveQtrFrom" disabled>
                                    <option value="">select Qtr</option>
                                    <option value="1">Quarter 1</option>
                                    <option value="2">Quarter 2</option>
                                    <option value="3">Quarter 3</option>
                                    <option value="4">Quarter 4</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Holding Type:</label>
                                <label class="form-control"> <span class="holding-type"></span></label>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                </div>

                @* place search button *@
                <div class="col-md-2">
                    <label for="btnSearch"><span class="red-star">&nbsp;</span></label>
                    <input type="button" id="btnSearch" value="Search" class="btn btn-primary btn-block" />
                    <input type="button" id="btnReset" value="Reset" class="btn btn-primary btn-block" />
                </div>
            </div>
            @* search panel 2 end *@
        </form>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4" id="PayHeadPercent">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 table-responsive" id="gridContainer">
            </div>
            @*start:- place modal dialog to complete payment *@
            <div class="modal fade" id="modal_MakePaymentComplete" role="dialog">
                <div class="modal-dialog modal-lg" style="margin-top: 2%;">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#c1daee">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4"><h5 class="modal-title" style="margin:0;text-align: left;">Make Payment</h5></div>
                                    <div class="col-md-7"><h5 style="margin:0;text-align: right;">Payable: Rs. <span class="total-Payable-amount">0.00</span>/-<input type="hidden" value="" class="hdn-total-Payable-amount" /></h5></div>
                                    <div class="col-md-1"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="tabContainer"></div>
                            <form id="form-email-phone">
                                <div class="email-phone panel panel-default" style="margin-top:10px;margin-bottom:0px">
                                    <div class="panel-body form-group" style="margin-bottom:0px;">
                                        <div class="form-group">
                                            <label for="txtPhone">Bill Receipt No:</label>
                                            <input type="text" class="form-control input-sm txt-bill-reciept-no" name="txt-bill-reciept-no" id="txt-bill-reciept-no" placeholder="Bill Receipt No">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtPhone">Mobile:</label>
                                            <input type="text" class="form-control input-sm txtPhone" name="Phone" id="txtPhone" placeholder="Mobile">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtEmail">Email:</label>
                                            <input type="text" class="form-control input-sm txtEmail" name="Email" id="txtEmail" placeholder="email">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" style="background-color:#c1daee">
                            <div class="col-md-6"><h4 style="margin:0;text-align: left;">Rs. <span class="total-diposited-amount">0.00</span>/-</h4></div>
                            <div class="col-md-6"><button type="button" class="btn btn-default complete-payment">Complete Payment</button></div>

                        </div>
                    </div>
                </div>
            </div>
            @*End:- place modal dialog to complete payment *@
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">

            </div>
        </div>

    </div>

</div>
<div class="panel panel-primary last-20-payment-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Last 20 payments Counter</h3></div>
            <div class="col-md-9 text-right"></div>

        </div>

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-responsive table-last20payments">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Assessee Name</th>
                        <th>Holding No</th>
                        <th>Receive Date<br />[dd/MM/yyyy]</th>
                        <th>NetAmount</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-primary last-20-payment-by-assessee-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Last 20 payments Assessee</h3></div>
            <div class="col-md-9 text-right"></div>

        </div>

    </div>
    <div class="panel-body">
        <div class="table-responsive">

        </div>
    </div>
</div>

