﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions
@model Assessment_VM.AssmtApprovalForm
<div class="appoval-list-root">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-responsive table-striped table-hover tbl-un-approved-list">
                    <thead class="bg-light-blue-active">
                        <tr>
                            <th rowspan="2">#</th>
                            <th rowspan="2">Ward</th>
                            <th rowspan="2">Location</th>
                            <th rowspan="2">Holding</th>
                            <th rowspan="2">Name</th>
                            <th colspan="2">Valuation</th>
                            <th colspan="2">Tax</th>
                            <th colspan="2">Effective From</th>
                            <th rowspan="2" class="text-center"><input type="checkbox" title="effect all" class="chk-all chk" /><br />Approve</th>
                            <th rowspan="2">Visit</th>
                        </tr>
                        <tr>
                            <th>Old</th>
                            <th>New</th>
                            <th>Old</th>
                            <th>New</th>
                            <th>Fin-Year</th>
                            <th>Qtr</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.error != null)
                        {
                            <tr>
                                <td colspan="13">
                                    @Html.Partial(SiteConstants.ErrorViewPath, ViewBag.error as AppException<string, string>);
                                </td>
                            </tr>
                        }
                        else
                        {
                            var count = 1;
                            foreach (var item in Model.AssmtTransactions)
                            {
                                <tr data-tabid="@item.TabId">
                                    <td>@count</td>
                                    <td>@item.WardId</td>
                                    <td>@item.LocationName</td>
                                    <td>@item.HoldingNo</td>
                                    <td>@item.AssesseeName</td>
                                    <td>@item.OldAnnualValue</td>
                                    <td>@item.AnnualVal</td>
                                    <td>@item.OldPTax</td>
                                    <td>@item.QtrProptax</td>
                                    <td>
                                        <select type="text" class="ddl-val-year form-control">
                                            @{
                                                var startYear = 1950;
                                                var endYear = DateTime.Now.Year + 10;
                                                for (int i = startYear; i <= endYear; i++)
                                                {
                                                    <option value="@(string.Format("{0}-{1}",i,(i+1)))" @(string.Format("{0}-{1}", i, (i + 1)) == item.ValYear ? "selected" : "")>@(string.Format("{0}-{1}", i, (i + 1)))</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <select type="text" class="ddl-val-qtr form-control">
                                            @{
                                                var startQtr = 1;
                                                var endQtr = 4;
                                                for (int i = startQtr; i <= endQtr; i++)
                                                {
                                                    <option value="@i" @(i == @item.ValQtr ? "selected" : "")>@(i)</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td class="text-center"><input type="checkbox" class="chk" @(item.ApprovedFlag == "Y" ? "checked" : "") /></td>
                                    <td></td>
                                </tr>
                                count++;
                            }
                            if (Model.AssmtTransactions == null || Model.AssmtTransactions.Count == 0)
                            {
                                <tr><td colspan="13"><div class="alert-warning text-center">No Pending Approval Found</div></td></tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <input type="button" class="btn-approve-selected btn btn-primary pull-right" style="display:none" value="Approve Selected" />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var _doms = {
            btnApprove: $(".btn-approve-selected"),
            chk: $(".chk"),
        };
        var getCheckedListPayload = function () {
            var arr = [];
            $.each($(".tbl-un-approved-list tbody tr").has(".chk:checked"), function (i,v) {
                arr.push({
                    TabId: $(v).attr('data-tabid'),
                    ValYear:$(v).find('.ddl-val-year').val(),
                    ValQtr: $(v).find('.ddl-val-qtr').val()
                });
            });
            return arr;
        };
        var evtHandlers = {
            onCheckChange: function () {
                if ($(this).hasClass('chk-all')) {
                    _doms.chk.prop('checked', $(this).is(':checked'));
                } else {
                    if($('.chk:not(.chk-all):checked').length===$('.chk:not(.chk-all)').length)
                    {
                        $(".chk-all").prop('checked', true);
                    }
                    if ($('.chk:not(.chk-all):unchecked').length === $('.chk:not(.chk-all)').length) {
                        $(".chk-all").prop('checked', false);
                    }
                }
                if ($('.chk:not(.chk-all):checked').length > 0) {
                    _doms.btnApprove.show();
                } else {
                    _doms.btnApprove.hide();
                }
            },
            onClickApproveButton: function (e) {
                e.preventDefault();
                alertify.confirm("Confirm us!", "Are you sure to approve selected datas?", function () {

                    var payload = getCheckedListPayload();
                    console.log(payload);
                    $.ajax({
                        type: 'post',
                        url: "/Municipality/Assessment/Approve",
                        data: JSON.stringify(payload),
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (response) {
                            $(".appoval-list-root").replaceWith(response);
                        },
                        failure: function (response) {
                            alert(response);
                        },
                        error: function (response) {
                            alert(response);
                        }
                    });
                }, function () { });
            }
        };
        var events = new function () {
            _doms.chk.on('change', evtHandlers.onCheckChange);
            _doms.btnApprove.on('click', evtHandlers.onClickApproveButton);
        };
    });
</script>