﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Utils
@using Valuation_Board.App_Codes.Exceptions
@model Assessment_VM.AssmtApprovalBase
@{

    ViewBag.Title = "Assessment Approval";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #ui-datepicker-div {
        z-index: 2 !important;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#DocumentBody > .container").removeClass('container').addClass('container-fluid');
    });
</script>
<style>
    body {
        background-color: #efefef;
    }
</style>

<fieldset>
    <legend>Assessment Approval</legend>
    <div style="display:none" class="setting-params">
        <input type="hidden" value="@Model.YearId" class="year-id" id="year-id"/>
    </div>
</fieldset>
@if (ViewBag.error != null)
{
    <div class="row">
        <div class="col-sm-12 col-xs-12">@Html.Partial(SiteConstants.ErrorViewPath, ViewBag.error as AppException)</div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12 cntr-assessment-approval">
            <div class="box box-primary">
                <div class="box-body">
                    <div class=" btn-group hidden-xs">
                        @foreach (var item in Model.AssessmentTypes)
                        {
                            <a href="javascript:void(0);" class="btn btn-primary opt-assessment-type" data-ValTag="@item.ValTag">@item.ValDesc</a>
                        }
                    </div>
                    <div class="btn-group btn-group-vertical btn-block hidden-sm hidden-md hidden-lg" style="margin-bottom: 10px;">
                        @foreach (var item in Model.AssessmentTypes)
                        {
                            <a href="javascript:void(0);" class="btn btn-primary opt-assessment-type" data-ValTag="@item.ValTag">@item.ValDesc</a>
                        }
                    </div>
                    <div class="cntr-assessment-approval-form border-top">
                        <h2 class="text-center">Please Click On Option</h2>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                </div>
            </div>


        </div>
    </div>
}
<script>
    $(document).ready(function () {
        var assessmentFormLoader = new function () {
            var srv = new function () {
                this.callForm = function (payload,callBack) {
                    $.ajax({
                        type: 'post',
                        url: "/Municipality/Assessment/GetApprovalForm",
                        data: JSON.stringify(payload),
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (response) {
                            callBack(response);
                        },
                        failure: function (response) {
                            alert(response);
                        },
                        error: function (response) {
                            alert(response);
                        }
                    });
                };
            };
            var dom = {
                cntrAssessmentApproval: $(".cntr-assessment-approval"),
                cntrAssessmentApprovalForm: $(".cntr-assessment-approval-form")
            };
            var bindEvents = function () {
                $(".btn-go").on('click', function () {
                    dom.cntrAssessmentApproval.show('medium');
                });
                $(".opt-assessment-type").on('click', function () {
                    $(".opt-assessment-type").removeClass('active');
                    $(this).addClass('active');
                    dom.cntrAssessmentApprovalForm.empty();
                    srv.callForm({ ValTag: $(this).attr("data-valtag"), YearId: $(".setting-params #year-id").val() }, function (r) {
                        dom.cntrAssessmentApprovalForm.append(r);
                    });
                });
            };
            this.load = function () {
                bindEvents();
            };
        };
        assessmentFormLoader.load();
    });
</script>