﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<script src="~/Contents/Script/AppJs/BlockPeriod.js"></script>



<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Block Period</div>
        <div class="panel-body">
            <form class="" id="blcokPeriod">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="txtfinyear">Fin Year:</label>
                            <input type="text" class="form-control" id="txtfinyear" name="txtfinyear" placeholder="Fin Year">
                        </div>
                        <div class="col-md-4">
                            <label for="qtr">Qtr:</label>
                            <select class="form-control" id="qtr" name="qtr">
                                <option value="0">--Select--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="txtperiod">Periods:</label>
                            <input type="text" class="form-control" id="txtperiod" name="txtperiod" placeholder="Period" />
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="txtdiscount">Discount on valuation:</label>
                            <input type="text" class="form-control" id="txtdiscount" name="txtdiscount" placeholder="Discount on valuation" />
                        </div>
                        <div class="col-md-4">
                            <label for="txtfactor">Multiplying Factor:</label>
                            <input type="text" class="form-control" id="txtfactor" name="txtfactor" placeholder="Multiplying Factor" />
                        </div>
                        <div class="col-md-4">
                            <label for="txtminimum">Minimum Valuation:</label>
                            <input type="text" class="form-control" id="txtminimum" name="txtminimum" placeholder="Minimum Valuation" />
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="txtmaxrate">Max Rate of PTax:</label>
                            <input type="text" class="form-control" id="txtmaxrate" name="txtmaxrate" placeholder="Max Rate of PTax" />
                        </div>
                        <div class="col-md-4">
                            <label for="txtless1000">If valuation < 1000 then divide 100 and Add:</label>
                            <input type="text" class="form-control" id="txtless1000" name="txtless1000" placeholder="If valuation < 1000 then divide 100 and Add" />
                        </div>
                        <div class="col-md-4">
                            <label for="txtgreater1000">If valuation >=1000 then divide 1000 and Add:</label>
                            <input type="text" class="form-control" id="txtgreater1000" name="txtgreater1000" placeholder="If valuation >=1000 then divide 1000 and Add" />
                        </div>
                    </div>
                  
                </div>
                <br />
                <div class="row">
                    <div class="form-group btn-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="btnsubmit">Save</button>
                            <button type="button" class="btn btn-default" id="btncancel">Cancel</button>
                        </div>
                        </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Block Period</div>
        <div class="panel-body">
            <div class="col-md-12" style="max-height:300px;overflow-y:scroll;">
                <table id="tbl_BlockPeriod" class="table table-bordered"></table>
            </div>

        </div>
    </div>
</div>







