﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script type='text/javascript'>

</script>
<script src="~/Contents/Script/AppJs/MunicipalityTaxCollection.js?v=1.4"></script>
<input type="hidden" class="current-date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" />
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Property Tax Collection</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>

        </div>

    </div>
    <div class="panel-body">
        <form id="frmPropertyTaxPaymentSearch" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="age">Search By Assessee ID<span class="red-star"></span></label>
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Assessee ID" class="form-control pull-left input-sm change txtSearchByAssesseeID">
                </div>
                <div class="col-md-3">
                    <input type="button" class="form-control input-sm btn-primary search-by-assesseeID" value="Search" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-lg-5 col-md-5">
                    <hr class="style13" style="height:2px;margin-top: 21px;margin-bottom: 8px;">
                </div>
                <div class="col-sm-1 col-lg-1 col-md-1">
                    <h5 style="text-align:center">OR</h5>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <hr class="style13" style="height:2px;margin-top: 21px;margin-bottom: 8px;">
                </div>
            </div>

            <div class="row">
                <div class=" col-md-1">
                    <label for="txtWard">Ward<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                    <input type="hidden" id="hdnWard" name="hdnWard" />
                </div>

                <div class=" col-md-2">
                    <label for="txtLocation">Location<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation">
                    <input type="hidden" id="hdnLocation" name="hdnLocation" />
                </div>
                <div class=" col-md-3">
                    <label for="txtAssessee">Assessee<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" id="txtAssessee" name="txtAssessee">
                    <input type="hidden" name="hdnAssessee" id="hdnAssessee" />
                </div>
                <div class=" col-md-2">
                    <label for="txtCollectionDate">Collection Date:<span class="red-star">&nbsp;*</span></label>
                    <input type="text" id="txtCollectionDate" name="txtCollectionDate" class="form-control input-sm txtDate" placeholder="yyyy-mm-dd" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" readonly />
                </div>
                <div class=" col-md-2">
                    <label for="txtNoticeServedDate">Notice Srv. Date:</label>
                    <input type="text" id="txtNoticeServedDate" name="txtNoticeServedDate" class="form-control input-sm txtDate" placeholder="yyyy-mm-dd"  readonly />
                </div>
                <div class="col-md-2 ">
                    <label for="btnSearch"><span class="red-star">&nbsp;</span></label>
                    <input type="button" id="btnSearch" value="Search" class="btn btn-primary form-control" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4" id="PayHeadPercent">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 table-responsive" id="gridContainer">
            </div>
            @*start:- place modal dialog to complete payment *@
            <div class="modal fade" id="modal_MakePaymentComplete" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#c1daee">


                            <div class="col-md-4"><h5 class="modal-title" style="margin:0;text-align: left;">Make Payment</h5></div>
                            <div class="col-md-7"><h5 style="margin:0;text-align: right;">Payable: Rs. <span class="total-Payable-amount">0.00</span>/-</h5></div>
                            <div class="col-md-1"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                        </div>
                        <div class="modal-body">
                            <div class="tabContainer"></div>
                        </div>
                        <div class="modal-footer" style="background-color:#c1daee">
                            <div class="col-md-3"><h4 style="margin:0;text-align: left;">Rs. <span class="total-diposited-amount">0.00</span>/-</h4></div>
                            <div class="col-md-9"><button type="button" class="btn btn-default complete-payment">Complete Payment</button></div>

                        </div>
                    </div>
                </div>
            </div>
            @*End:- place modal dialog to complete payment *@
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">

            </div>
        </div>

    </div>

</div>
<div class="panel panel-primary last-20-payment-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Last 20 payments Counter</h3></div>
            <div class="col-md-9 text-right"></div>

        </div>

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-responsive table-last20payments">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Assessee Name</th>
                        <th>Holding No</th>
                        <th>Receive Date<br />[dd/MM/yyyy]</th>
                        <th>NetAmount</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-primary last-20-payment-by-assessee-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Last 20 payments Assessee</h3></div>
            <div class="col-md-9 text-right"></div>

        </div>

    </div>
    <div class="panel-body">
        <div class="table-responsive">
           
        </div>
    </div>
</div>

