﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Valuation_Board.ViewModels
@model AdvanceAdjustmentPage_VM
<style>
    #tabAllAssessment th, #tabAdvAdjDtls th{
        text-align: center;
        color: white;
    }
    .modal-dialog {
        /*position: absolute;*/
        top: 20px;
        right: 100px;
        bottom: 0;
        left: 0;
        width:900px;
        /*z-index: 10040;*/
        overflow: auto;
        overflow-y: auto;
    }
    .ui-menu, ui-widget, ui-widget-content, ui-autocomplete, ui-front {
        z-index: 1234;
    }
</style>
<script src="~/Contents/Script/AppJs/AdvanceAdjustment.js"></script>
<div class="container" id="allEntry">
    <div class="modal fade" id="ModalAdvDetls" role="dialog">
        <div class="modal-dialog" >
            <!-- Modal content-->
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                    <h4 class="modal-title">Advance Adjustment Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered tabHeader" id="tabAdvAdjDtls">
                                    <thead>
                                        <tr bgcolor="#4169E1">
                                            <th align='left'>FinYear</th>
                                            <th align='center'>QtrNo</th>
                                            <th align="center">Tax Amt</th>
                                            <th align="center">Adjusted Tax Amt</th>
                                            <th align="center">Surcharge Amt</th>
                                            <th align="center">Adjusted Surcharge Amt</th>
                                            <th align="center">Adjusted On</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="panel panel-primary" style="margin:10px;">
    <div class="panel-heading">
        <h3 class="panel-title">Advance Adjustment</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form id="frmAdjAll" data-toggle="validator" role="form">
                    <div class="row">

                        <div class="col-xs-8 col-sm-8 col-md-3 col-md-offset-0">
                            <label for="dtFrom">From Date<span class="red-star">&nbsp;*</span></label>
                            <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtFrom" name="dtFrom" value="@(Model.AdvanceDate==null?"":Model.AdvanceDate.Value.Date.ToString("dd'/'MM'/'yyyy"))"/>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-3">
                            <label for="dtTo">To Date<span class="red-star">&nbsp;*</span></label>
                            <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtTo" name="dtTo" value="@(Model.AdvanceDate==null?"":Model.AdvanceDate.Value.Date.ToString("dd'/'MM'/'yyyy"))"/>
                        </div> <br />


                    </div>
                    <div class="row">
                        <div class=" col-md-2">
                            <label for="txtWard">Ward<span class="red-star">&nbsp;*</span></label>
                            <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard" value="@Model.WardName">
                            <input type="hidden" id="hdnWard" name="hdnWard" value="@Model.WardId"/>
                        </div>

                        <div class=" col-md-3">
                            <label for="txtLocation">Location<span class="red-star">&nbsp;*</span></label>
                            <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation" value="@Model.LocationName">
                            <input type="hidden" id="hdnLocation" name="hdnLocation" value="@Model.LocationId"/>
                        </div>
                        <div class=" col-md-3">
                            <label for="txtAssessee">Assessee<span class="red-star">&nbsp;*</span></label>
                            <input type="text" class="form-control input-sm change" id="txtAssessee" name="txtAssessee" value="@Model.AssesseeName">
                            <input type="hidden" name="hdnAssessee" id="hdnAssessee" value="@Model.AssesseeId"/>
                        </div>

                        <div class="col-md-4 col-md-offset-0">
                            <div class="col-md-12 col-md-offset-1">
                                <input type="button" class="btn btn-primary" value="View" id="btnView" data-onload-serch="@(Model.AssesseeId==null?false:true)"/>
                                <input type="button" class="btn btn-primary"  value="Refresh" id="btnRefreshRebate" onclick="location.href='@Url.Action("Index", "OtherAdjustment")'" />
                               
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <hr class="style13">
        <br />
        <div id="divAllAssessment" class="col-xs-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-bordered tabHeader" id="tabAllAssessment">
                    <thead>
                        <tr bgcolor="#4169E1">
                            <th align='left'>Assessee Name</th>
                            <th align='center'>Holding No</th>
                            <th align="center">Receipt No</th>
                            <th align="center">Adv Date</th>
                            <th align="center">Adv Amount</th>
                            <th align="center">Unadjust Adv Amount</th>
                            <th align="center">Adjust Adv Amount</th>
                            <th align="center">Status</th>
                            <th align="center">Adjustment Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            @*<input type="button" class="btn btn-primary col-md-offset-9" value="Approve" id="btnApprove" />*@
        </div>
        <div class="row">


        </div>

    </div>
</div>

