﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="panel panel-primary" style="margin:10px;">
    <div class="panel-heading">
        <h3 class="panel-title">Contact Us</h3>
    </div>
    <div class="panel-body">
        <table width="100%" cellpadding="5" cellspacing="0">
            <tr>
                <td>
                    <table width="100%" cellpadding="5" cellspacing="0">
                        <tr>
                            <td>
                                <table align="center" id='tableMain' style="line-height:20px;" cellpadding="5" width="98%">
                                    <tr>
                                        <td align="left" style="font-weight:bold;padding:0 0 15px 0;">
                                            Address
                                        </td>
                                        <td style="padding:0 0 15px 0;">:</td>
                                        <td style="padding:0 0 15px 0;"><div align="left">
                                                West Bengal Valuation Board<br />
                                                (A Statutory Body under Urban Development and Municipal Affairs Department, Government of West Bengal)<br />
                                                "MAYUKH" (Ground Floor), Bidhan Nagar, Kolkata - 700091
                                            </div>
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-weight:bold;padding:0 0 15px 0;">
                                            Contact No
                                        </td>
                                        <td style="padding:0 0 15px 0;">:</td>
                                        <td style="padding:0 0 15px 0;">033 2337-4762, 033 2337-5998, 033 2358-5164</td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-weight:bold;padding:0 0 15px 0;">
                                            Fax
                                        </td>
                                        <td style="padding:0 0 15px 0;">:</td>
                                        <td style="padding:0 0 15px 0;">033 2358-5720</td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-weight:bold;padding:0 0 15px 0;">
                                            Email ID
                                        </td>
                                        <td style="padding:0 0 15px 0;">:</td>
                                        <td style="padding:0 0 15px 0;">secretarymember@gmail.com</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    </div>
</div>
