﻿
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="panel panel-primary" style="margin:10px;">
    <div class="panel-heading">
        <h3 class="panel-title">Privacy Policy</h3>
    </div>
    <div class="panel-body">
        <table width="100%" cellpadding="5" cellspacing="0">
            <tr>
                <td>
                    <table width="100%" cellpadding="5" cellspacing="0">
                        <tr>
                            <td>
                                <table align="center" id='tableMain' style="line-height:20px;" cellpadding="5" width="98%">
                                    <tr>
                                        <td >
                                            <ul style="list-style:disc;">
                                                <li style="margin:0 0 10px 0;">
                                                    The Privacy Policy governs the use of this website.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    Urban Development and Municipal Affairs Department, GoWB. is committed to protect your privacy and works towards offering you a useful, safe online experience.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    Your information, whether public or private, will not be sold, exchanged, transferred, or given by Kolkata Police Recruitment, to any other organization for any reason whatsoever, without your consent.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    Urban Development and Municipal Affairs Department, GoWB. reserves the right, in its discretion, to change or modify all or any part of this Agreement at any time, effective immediately upon notice published on the site. Your continued use of the website constitutes your binding acceptance of these terms and conditions, including any changes or modifications made by Urban Development and Municipal Affairs Department, GoWB. as permitted above.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    Urban Development and Municipal Affairs Department, GoWB. treats your personal information or your use of the service as private and confidential and does not check, edit or reveal it to any third parties except where it believes in good faith, such action is necessary to comply with the applicable legal and regulatory processes or to protect and defend the rights of other users or to enforce the terms of service which are binding on all the users of the site.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    Except where specifically agreed upon or necessary for operational or regulatory reasons Urban Development and Municipal Affairs Department, GoWB., will not send you any unsolicited information via e-mail. The user can nevertheless unsubscribe from receipt of such e-mails by following instructions therein.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    Urban Development and Municipal Affairs Department, GoWB. may collect unnamed statistics, which do not personally identify you and reserves the right to perform statistical analyses of user behaviour and characteristics in order to measure interest in and use of the various areas of the site.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    The information contents provided on this site cannot be copied, modified, uploaded, downloaded, published or republished, transmitted or otherwise distributed for commercial purposes without prior and explicit permission from the concerned authorities.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    Reproduction of any information or material provided on this website, with or without any modification, is prohibited unless, with prior permission of Urban Development and Municipal Affairs Department, GoWB. and shall amount to violation of copyright and would be deemed an illegal act.
                                                </li>
                                                <li style="margin:0 0 10px 0;">
                                                    All matters of dispute shall be dealt under the jurisdiction of Calcutta High Court.
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    </div>
</div>

