﻿
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="panel panel-primary" style="margin:10px;">
    <div class="panel-heading">
        <h3 class="panel-title">Products / Services</h3>
    </div>
    <div class="panel-body">
        <table width="100%" cellpadding="5" cellspacing="0">
            <tr>
                <td>
                    <table width="100%" cellpadding="5" cellspacing="0">
                        <tr>
                            <td>
                                <table align="center" id='tableMain' style="line-height:20px;" cellpadding="5" width="98%">
                                    <tr>
                                        <td>
                                            <ul style="list-style:disc;">
                                                <li style="margin:0 0 10px 0;">
                                                    Tax payment as per demand.
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    </div>
</div>

