﻿
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="panel panel-primary" style="margin:10px;">
    <div class="panel-heading">
        <h3 class="panel-title">Terms and Conditions</h3>
    </div>
    <div class="panel-body">
        <table width="100%" cellpadding="5" cellspacing="0">
            <tr>
                <td>
                    <table align="center" id='tableMain' cellpadding="5" width="98%">
                        <tr>

                            <td align="left" style="line-height:20px;">
                                <p> 1.  Assessee willing to pay Property Tax online are advised to use a valid bank account to make the payment.</p>
                                <br />
                                <p>2.   Online payment of Property Tax & /or Processing fee can be made, using the following modes:</p>
                                <p style="margin-left:20px;">a.   Net Banking.</p>
                                <p style="margin-left:20px;">b.   Debit Card (VISA, Master, Maestro).</p>
                                <p style="margin-left:20px;">c.   Credit Card. (VISA, Master, Maestro)</p>
                                <br />
                                <p>3. For making online payment of the requisite fee, login and then click on "Apply Online" on the requisite Page and follow the instructions thereafter.</p>
                                <br />
                                <p>4. After successful completion of the payment, the system will be redirected back to the Urban Development and Municipal Affairs Department, GoWB. Page and generate receipt of the payment made and produce the same as and when required.</p>
                                <br />
                                <p>5. Urban Development and Municipal Affairs Department, GoWB. does not charge any service charge from the assessee for online payment. However, the assessee have to pay the charges as applicable for the merchant banks.</p>
                            </td>
                        </tr>


                    </table>
                </td>
            </tr>
        </table>


    </div>
</div>



