﻿@{
   
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/UserWardsMapping.js"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Ward mapping with User</h3></div>
            @*<div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>*@
        </div>
    </div>
    <div class="panel-body">
        <form id="frmUserWardMapping" method="post">
            <div class="row">
                <div class="col-md-12 text-center" >
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>&nbsp;Select User</span>
                        <select class="form-control input-sm change " id="UserID" name="UserID">
                            <option value="0">-- Select User --</option>
                            @foreach (var user in ViewBag.listUser)
                            {
                                <option value="@user.UserID">@string.Format("{0} {1} <{2}>",user.FirstName,user.LastName, user.UserName)  </option>
                            }
                        </select>
                        </div>
                    </div>

                <div class="col-md-12" style="max-height:500px;overflow-y:scroll;">
                    <table id="tblDetail" style="width:100%" class="table table-condensed table-bordered table-responsive">
                        <thead>
                            <tr style="background-color:#337ab7;">
                                <td style="color:white" align="center" >Ward Name</td>
                                <td style="color:white" align="center" >Action</td>
                                <td style="color:white" align="center">Result</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ward in ViewBag.wards)
                            {
                                <tr>
                                    <td>@ward.WardName</td>
                                    <td style="text-align:center;"><input type="checkbox" class="chk_ward" value="@ward.WardID" /></td>
                                    <td style="text-align:center;"><label id="lblResult" class="lblResultText"></label></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </form>
    </div>
</div>