﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style type="text/css">
    .btnRowDel {
        cursor: pointer; 
    }
    .btnRowEdit {
        cursor: pointer; 
    }
     .localcontainer > .row {
        border: 1px solid;
      }
      .header {
    width: 100%;
    height: 50px;
    background-color: lightcyan;
    box-shadow: 10px 10px 5px #888888;
}
      th {
    background-color: skyblue;
    color: white;
}
</style>
<script src="~/Contents/Script/AppJs/MnPaymentModeCounterConfiguration.js?v=1.0"></script>
<div class="container" style="margin: 20px;">
    <div class="row header">
        <div class="col-md-12 col-lg-12">
            <h2>Payment Modes Counters Association</h2>
        </div>
    </div>
    <form name="frmPaymentModesCountersAssociation" id="PaymentModesCountersAssociation">
        <div class="row">
            <div class="col-md-2 col-lg-2 localcontainer">
                <label>Select Counter :</label>
            </div>
            <div class="col-md-4 col-lg-4 localcontainer">
                <select id="drpCounter" name="drpCounter" class="form-control">
                </select>
            </div>
            <div class="col-md-2 col-lg-2 localcontainer">
                <label>Select Payment Mode :</label>
            </div>
            <div class="col-md-4 col-lg-4 localcontainer">
                <table id="tblPaymentModes">
                    <thead>
                        <tr>
                            <th>Payment Type</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
        <div class="row">
            </br>
            
            <div class="col-md-2 col-lg-2 localcontainer">
                <label>Form Date :</label>
            </div>
            <div class="col-md-3 col-lg-3 localcontainer">
                <input type="text" name="txtFormDate" value="" id="txtFormDate" style="width: 200px" class="form-control input-sm" placeholder="yyyy-mm-dd" readonly />
            </div>
            <div class="col-md-2 col-lg-2 localcontainer">
                <label>To Date :</label>
            </div>
            <div class="col-md-3 col-lg-3 localcontainer">
                <input type="text" name="txtToDate" value="" id="txtToDate" style="width: 200px" class="form-control input-sm" placeholder="yyyy-mm-dd" readonly/>
            </div>
            <div class="col-md-2 col-lg-2 localcontainer">
                <input type="button" name="" value="Add" id="btnAdd" class="btn btn-primary" style="width: 100px; height: 25px; padding: 5px" />
            </div>

        </div>
        <div class="row">
            </br>
            <div class="col-md-12" style="max-height: 200px; overflow-y: scroll;">
                <table id="tblAddRow" style="width: 100%;" class="table table-condensed table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>Payment Type</th>
                            <th>Date From</th>
                            <th>Date To</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            </br>
             <div class="col-md-6 col-lg-6 localcontainer" style="text-align: right">
                 <input type="button" name="" value="Save" id="btnInsert" class="btn btn-primary" RowId="0" style="width: 100px; height: 35px; padding: 5px" />
            </div>
            <div class="col-md-6 col-lg-6 localcontainer" style="text-align: left">
                <input type="button" name="" value="Cancel" id="btnCancel" class="btn btn-primary" style="width: 100px; height: 35px; padding: 5px" />
            </div>
        </div>
        <div class="row">
            </br>
            <div class="col-md-12" style="max-height: 200px; overflow-y: scroll;">
                <table id="tblPaymentModeCounterWise" style="width: 100%;border:solid 1px aqua" class="table table-condensed table-bordered table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Payment Type</th>
                            <th>Date From</th>
                            <th>Date To</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </form>

</div>
