﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

    <br />
    <br />
    <table width="100%">
        <tr>
            <td align="center" style="font-family:Calibri;font-size:xx-large;font-weight:bold;">
<!--                Site Under Construction -->
		TEMPORARY DOWN FOR MAINTENANCE ACTIVITY
            </td>
        </tr>
    </table>

