﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,500' rel='stylesheet' type='text/css'>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/Contents/Script/AppJs/Home.js?v=1.1"></script>
@* <link href="~/Contents/Css/LoginFormStyle.css" rel="stylesheet" />*@
<style type="text/css">
    .ui-menu, ui-widget, ui-widget-content, ui-autocomplete, ui-front {
        z-index: 1234;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .glyphicon.glyphicon-refresh {
        font-size: 20px;
    }
</style>
<script>
    $(document).ready(function () {
        window.HideLoginButton();
    });
    $(document).ready(function () {
        $('.modal-content').resizable({
            //alsoResize: ".modal-dialog",
            minHeight: 300,
            minWidth: 300
        });
        $('.modal-dialog').draggable();
    });
</script>
<input type="hidden" class="menu-availibility" value="no" />
<div class="panel panel-primary" style="margin: 20px;">
    <div class="panel-heading">
        <h3 class="panel-title">Login Menu</h3>
    </div>
    @*<div> <marquee> <b> Online payment for citizens are available for Barrackpore, Uttarpara, Kalyani, Panihati, Chandannagar, North Dum Dum, Bhadraswar, Budgebudge, Kancharapara, English Bazar, Naihati, Bansberia, Halisahar.</b> </marquee> </div>*@
    <div class="panel-body">
        <div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <h5 style="display:none">
                        For self assessment <a href="javascript:void(0);" class="login-assmt">click here</a>

                    </h5>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="form-group well" align="center">
                        <div class="panel-body h4 well disabled" style="cursor: pointer;" id="divMunicipality" data-toggle="modal" data-target="#ModelAdministration">Administrative Login</div>
                        <div class="panel-body h4 well" style="cursor: pointer;" id="divCollector" data-toggle="modal" data-target="#ModelMunicipality">ULB/DA Login</div>
                        <div class="panel-body h4 well" style="cursor: pointer;" id="divCitizen" data-toggle="modal" data-target="#ModelCitizen">Property Tax Online <br /> (Citizen Entry)</div>
                        <div class="panel-body h4 well" style="cursor: pointer;" id="divOtherService"><a href="#" target="_blank" class="OtherService">Other Services <br /> (Citizen/Organisation Login & Registation.)</a></div>
                    </div>

                </div>
            </div>

        </div>
        <div class="modal fade" id="ModelMunicipality" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header well">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            ULB/DA Login
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="frm_Mncpality" autocomplete="off">
                            <div class="form-group">

                                <label for="ActionText">District</label>
                                <select class="form-control" id="ddlMnDistrict" name="ddlMnDistrict"></select>
                            </div>
                            <div class="form-group">
                                <label for="txtMunicipality">ULB/DA</label>
                                <select class="form-control" id="ddlMnMunicipalityID" name="ddlMnMunicipalityID"></select>
                            </div>
                            <div class="form-group">
                                <label for="ActionText">User Name</label>
                                <input type="text" class="form-control" autocomplete="off" id="txtMnUserName" name="txtMnUserName" placeholder="User Name" />
                            </div>
                            <div class="form-group">
                                <label for="ActionName">Password</label>
                                <input type="password" class="form-control" autocomplete="off" id="txtMnPassword" name="txtMnPassword" placeholder="Password" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-6 col-sm-6" style="text-align: center;">
                            <span class="error" id="spn_frm_msg_Mn"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="button" id="MunicipalitybtnLogin" class="btn btn-primary form-control">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModelCitizen" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header well">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            Please Enter The Following Details To Proceed
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="frm_ModelCitizen" autocomplete="off">
                            <div class="form-group">

                                <label for="ActionText">District</label>
                                <select class="form-control" id="CitizenDistrict" name="CitizenDistrict"></select>
                            </div>
                            <div class="form-group">

                                <label for="ActionText">ULB</label>
                                <select class="form-control" id="CitizenMunicipality" name="CitizenMunicipality"></select>
                            </div>
                            <div class="form-group">
                                <label for="ActionName">Ward</label>
                                <select class="form-control" id="CitizenWard" name="CitizenWard"></select>
                            </div>
                            <div class="form-group">
                                <label for="ActionName">Location</label>
                                <select class="form-control" id="CitizenLocation" name="CitizenLocation"></select>
                            </div>
                            <div class="form-group">
                                <label for="ActionName">Holding Number </label>
                                <input type="text" class="form-control" id="CitizenHoldingNumber" autocomplete="off" name="CitizenHoldingNumber" placeholder="Holding Number" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer ">
                        <div class="col-md-6 col-sm-6">
                            <span class="error" id="spn_frm_ModelCitizen"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="button" id="btnCitizenLogin" class="btn btn-primary form-control">Proceed</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModelAdministration" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header well">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            Administrative Login
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="frm_Adminstration" autocomplete="off">
                            <div class="form-group">

                                <label for="ActionText">Admin Type</label>
                                <select class="form-control" id="ddlAdminType" name="ddlAdminType">
                                    <option value="">--select type--</option>
                                    @*<option value="1" title="Valuation Board Department">Valuation Board</option>*@
                                    <option value="2" title="Financial Department">UDMA</option>
                                    <option value="3" title="District Magistrate">DM</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ActionText">User Name</label>
                                <input type="text" class="form-control" autocomplete="off" id="txtAdmUserName" name="txtAdmUserName" placeholder="User Name" />
                            </div>
                            <div class="form-group">
                                <label for="ActionName">Password</label>
                                <input type="password" class="form-control" autocomplete="off" id="txtAdmPassword" name="txtAdmPassword" placeholder="Password" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-6 col-sm-6" style="text-align: center;">
                            <span class="error" id="spn_frm_msg_Adm"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="button" id="admBtnLogin" class="btn btn-primary form-control">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="false" id="ModelOtherServices" role="dialog" >
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header well">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            Citizen Login / Registration
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="Citizen-Login-form" class="form-horizontal">
                            <div class="controls">
                                <div class="form-group row">
                                    <label for="form_user_name" class="col-sm-4 col-form-label">User Name<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_user_name" type="text" name="user_name" class="form-control" placeholder="Please enter user name*" required="required"
                                               data-error="User name is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="form_password_login" class="col-sm-4 col-form-label">Password<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_password_login" type="password" name="password" class="form-control" placeholder="Please enter password " required="required"
                                               data-error="Password is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" style="text-align: center;">
                                        <span class="error" id="spn_frm_msg_otherciti"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6" style="text-align: center;">
                                        <span class="error" id="spn_frm_msg_Adm_other"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12"><input type="button" class="btn btn-primary btn-Login" style="float:right;" value="Login"></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6"><a href="#" style="float:right;border-bottom:2px solid #d5d5d5;" class="Btn-Signup">Signup</a></div>
                                    <div class="col-lg-6"><a href="#" style="float:left;border-bottom:2px solid #d5d5d5;" class="Btn-Forget">Forget Password</a></div>
                                </div>
                            </div>
                        </form>
                        <form id="Citizen-Registration-form" class="form-horizontal" onsubmit="" style="display:none">
                            <div class="messages"></div>
                            <div class="controls">

                                <div class="form-group row">
                                    <label for="form_name" class="col-sm-4 col-form-label">Type of Registration<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio" value="1" class="radiobtn" checked>Individual
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio" value="2" class="radiobtn">Commercial
                                        </label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="form_name" class="col-sm-4 col-form-label">Name of Applicant<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_name" type="text" name="form_name" class="form-control" placeholder="Please enter your name." required="required"
                                               data-error="Name of applicant is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="form_email" class="col-sm-4 col-form-label">Email<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_email" type="email" name="form_email" class="form-control" placeholder="Please enter your email. " required="required"
                                               data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form_mobile" class="col-sm-4 col-form-label">Mobile No<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_mobile" type="tel" name="form_mobile" pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$" class="form-control" placeholder="Please enter mobile no." required="required"
                                               data-error="Mobile no is required." maxlength="10">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label id="companynm" for="form_company_name" class="col-sm-4 col-form-label companynm"><span id="chngtag">Father/Husband Name</span><span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_company_name" type="text" name="form_company_name" class="form-control" placeholder="Enter the Father/Husband Name." required="required"
                                               data-error="Company name is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group row" id="Desigshowhide">
                                    <label for="form_designation" class="col-sm-4 col-form-label">Designation<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_designation" type="text" name="form_designation" class="form-control reqremove" placeholder="Please enter designation. " required="required"
                                               data-error="Designation is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="form_company_address" class="col-sm-4 col-form-label">Address<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <textarea id="form_company_address" name="form_company_address" class="form-control" placeholder="Please enter address." rows="4" required="required"
                                                  data-error="Address is required."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="form_username" class="col-sm-4 col-form-label">User Name<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_username" type="text" name="form_username" class="form-control" placeholder="Please enter your UserName." required="required"
                                               data-error="User Name of applicant is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form_password" class="col-sm-4 col-form-label">Password<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_password" type="password" name="form_password" class="form-control" placeholder="Please enter password " required="required"
                                               data-error="Password is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="form_confirm_password" class="col-sm-4 col-form-label">Confirm Password<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_confirm_password" type="password" name="form_confirm_password" class="form-control" placeholder="Please enter confirm password. " required="required"
                                               data-error="Confirm password is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="cpatchaTextBox" class="col-sm-4 col-form-label">Captcha<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div id="captcha">
                                                    <span> </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <a> <i style="margin-top:15px" onclick=" createCaptcha();" class="glyphicon glyphicon-refresh"></i></a>
                                            </div>
                                        </div>


                                        <input id="cpatchaTextBox" type="text" name="cpatchaTextBox" class="form-control" placeholder="Please enter captcha." required="required"
                                               data-error="Company name is required." autocomplete="off">
                                        <div class="help-block with-errors error"></div>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="#" class="btn-mverify" style="float:right;margin-top: 9px;margin-left: 6px;" onclick="">Verify Mobile No.</a>&nbsp;
                                        <input type="button" class="btn btn-primary btn-Register" style="float:right;" value="Register" onclick="">

                                    </div>

                                </div>
                            </div>
                        </form>
                        <form id="Citizen-OTP-form" class="form-horizontal" style="display:none">
                            <div class="messages"></div>
                            <div class="controls">
                                <center> <div id="optmsg" style="font-weight:bold; margin-top: -27px;"></div></center>
                                <div class="form-group row" style="margin-top:6px;">
                                    <label for="lblMobile" class="col-sm-4 col-form-label">Mobile No.<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <label id="lblMobile"></label>

                                    </div>
                                    <label for="form_otp" class="col-sm-4 col-form-label">Enter OTP<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_otp" type="text" name="otp" class="form-control form_otp" placeholder="Please enter OTP." required="required"
                                               data-error="OTP is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4"><input type="button" class="btn btn-primary btn-SendOTP" value="Verify OTP"></div>
                                    <div class="col-lg-4"><p><a href="#" style="float:right;" class="Btn-resendotp">Resend</a></p></div>
                                </div>
                            </div>
                        </form>

                        <form id="Citizen-MobileVerfication-form" class="form-horizontal" style="display:none">
                            <div class="messages"></div>
                            <div class="controls">
                                <center> <div id="mblmsg" style="font-weight:bold; margin-top: -27px;"></div></center>
                                <div class="form-group row" style="margin-top:6px;">

                                    <label for="form_mobile_verify" class="col-sm-4 col-form-label">Mobile No<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_mobile_verify" type="text" name="form_mobile_verify" pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$" class="form-control form_mobile_verify" placeholder="Please enter Mobile." required="required"
                                               data-error="Mobile No is required." maxlength="10">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <label for="form_otp_ver" class="col-sm-4 col-form-label">Enter OTP<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_otp_ver" type="text" name="otp" class="form-control form_otp_ver" placeholder="Please enter OTP.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4"><input type="button" class="btn btn-primary btn-verifymobile" value="Verify Mobile"></div>
                                    <div class="col-lg-4"><p><a href="#" style="float:right;" class="Btn-mobileresendverify">Resend</a></p></div>
                                </div>
                            </div>
                        </form>

                        <form id="Citizen-ForgetPass-form" class="form-horizontal" style="display:none">
                            <div class="messages"></div>
                            <div class="controls">
                                <center> <div id="mblmsg" style="font-weight:bold; margin-top: -27px;"></div></center>
                                <div class="form-group row" style="margin-top:6px;">

                                    <label for="form_mobile_forget" class="col-sm-4 col-form-label">Mobile No<span style="color:red"> *</span></label>
                                    <div class="col-sm-6">
                                        <input id="form_mobile_forget" type="text" name="form_mobile_forget" pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$" class="form-control form_mobile_forget" placeholder="Please enter Mobile." required="required"
                                               data-error="Mobile No is required." maxlength="10">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="button" class="btn btn-primary btn-GetOtpdata" value="GET OTP">
                                    </div>

                                    <label for="form_otp_ver_forget" class="col-sm-4 col-form-label">Enter OTP<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_otp_ver_forget" type="text" name="otp" class="form-control form_otp_ver_forget" placeholder="Please enter OTP.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4"><input type="button" class="btn btn-primary btn-proceForgetpass" value="Proceed for Forget Password"></div>

                                </div>
                            </div>
                        </form>
                        <form id="Citizen-ConfirmPass-form" class="form-horizontal" style="display:none">
                            <div class="messages"></div>
                            <div class="controls">
                                <center> <div id="mblmsg" style="font-weight:bold; margin-top: -27px;"></div></center>
                                <div class="form-group row" style="margin-top:6px;">

                                    <label for="form_forget_pass" class="col-sm-4 col-form-label">New Password<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_forget_pass" type="password" name="form_forget_pass" class="form-control form_forget_pass" placeholder="Please Enter the Password." required="required"
                                               data-error="Mobile No is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <label for="form_confirm_pass" class="col-sm-4 col-form-label">Confirm Password<span style="color:red"> *</span></label>
                                    <div class="col-sm-8">
                                        <input id="form_confirm_pass" type="password" name="form_confirm_pass" class="form-control form_confirm_pass" placeholder="Please enter the Confirm Mobile." required="required"
                                               data-error="Mobile No is required.">
                                        <div class="help-block with-errors err"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4"><input type="button" class="btn btn-primary btn-chngforpass" value="Change Password"></div>

                                </div>
                            </div>
                        </form>
                    </div>
                    @*<div class="modal-footer">
                            <div class="col-md-12 col-sm-12" style="text-align: center;">
                                <span class="error" id="spn_frm_msg_Adm"></span>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-primary block full-width m-b" id="btnRegister" style="background-color: #1ab394;border-color: #1ab394;">
                                    Create an account
                                </button>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <button type="button" id="admBtnLogin" class="btn btn-primary form-control">Login</button>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#Desigshowhide').hide();
        $('.reqremove').removeAttr('required');
        $('input:radio[name=optradio]').change(function () {
            if (this.value == '1') {
                $('#Desigshowhide').hide();
                $('#chngtag').html('Father/Husband Name');
                $("#form_company_name").attr("placeholder", "Enter the Father/Husband Name");
                $('.reqremove').val('');
                $('.reqremove').removeAttr('required');


            }
            else if (this.value == '2') {
                $('#Desigshowhide').show();
                $('#chngtag').html('Company Name');
                $("#form_company_name").attr("placeholder", "Enter the Company Name");
                $('.reqremove').attr('required', 'required');

            }
        });

        $(document).on('click', '.Btn-Signup', function (e) {
            e.preventDefault();
            $('.modal-title').html('Citizen Login / Registration');
            $('#Citizen-Login-form').hide();
            $('#Citizen-Registration-form').find("input[type=text],input[type=password],input[type=tel],input[type=email],textarea").val("");
            $('#Citizen-ConfirmPass-form').find("input[type=text],input[type=password],input[type=tel],input[type=email],textarea").val("");
            $('#Citizen-ForgetPass-form').find("input[type=text],input[type=password],input[type=tel],input[type=email],textarea").val("");
            $('#Citizen-Registration-form').show();
            mobileGlobal = '';
            gnewmobile = '';
            guserId = '';

        });

        $(document).on('click', '.Btn-Forget', function (e) {
            e.preventDefault();
            $('.modal-title').html('Forget Password');
            $('#Citizen-Login-form').hide();
            $('#Citizen-Registration-form').find("input[type=text],input[type=password],input[type=tel],input[type=email],textarea").val("");
            $('#Citizen-ConfirmPass-form').find("input[type=text],input[type=password],input[type=tel],input[type=email],textarea").val("");
            $('#Citizen-ForgetPass-form').find("input[type=text],input[type=password],input[type=tel],input[type=email],textarea").val("");
            $('#Citizen-Registration-form').hide();
            $('#Citizen-Registration-form').hide();
            $('#Citizen-OTP-form').hide();
            $('#Citizen-ForgetPass-form').show();
            mobileGlobal = '';
            gnewmobile = '';
            guserId = '';

        });
        //$(document).on('click', '.btn-Register', function (e) {
        //    e.preventDefault();
        //    $('#Citizen-Login-form').hide();
        //    $('#Citizen-Registration-form').hide();
        //    $('#Citizen-OTP-form').show();
        //});
        //$(document).on('click', '.btn-SendOTP', function (e) {
        //    e.preventDefault();
        //    $('#Citizen-Login-form').show();
        //    $('#Citizen-Registration-form').hide();
        //    $('#Citizen-OTP-form').hide();
        //});
        $(document).on('click', '.btn-mverify', function (e) {
            e.preventDefault();
            $('.modal-title').html('Mobile Verfication');
            $('#Citizen-MobileVerfication-form').show();
            $('#Citizen-Registration-form').hide();
            $('#Citizen-OTP-form').hide();
        });
        $(document).on('click', '.OtherService', function (e) {
            e.preventDefault();
            $('.modal-title').html('Login');
            $('#Citizen-Login-form').show();
            $('#Citizen-MobileVerfication-form').hide();
            $('#Citizen-Registration-form').hide();
            $('#Citizen-OTP-form').hide();
            $('#Citizen-ForgetPass-form').hide();
            $('#Citizen-ConfirmPass-form').hide();
            $('#ModelOtherServices').modal('show');
        });
        createCaptcha();
    });
    var code;
    function createCaptcha() {
        //clear the contents of captcha div first
        document.getElementById('captcha').innerHTML = "";
        var charsArray = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!#$%^&*";
        var lengthOtp = 6;
        var captcha = [];
        for (var i = 0; i < lengthOtp; i++) {
            //below code will not allow Repetition of Characters
            var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
            if (captcha.indexOf(charsArray[index]) == -1)
                captcha.push(charsArray[index]);
            else i--;
        }
        var canv = document.createElement("canvas");
        canv.id = "captcha";
        canv.width = 120;
        canv.height = 50;
        var ctx = canv.getContext("2d");
        ctx.font = "25px Georgia";
        ctx.strokeText(captcha.join(""), 0, 30);
        //storing captcha so that can validate you can save it somewhere else according to your specific requirements
        code = captcha.join("");
        document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }
    function validateCaptcha() {
        event.preventDefault();
        debugger
        if (document.getElementById("cpatchaTextBox").value == code) {
            // alert("Valid Captcha")
            $(".error").html("");
            return true;
        } else {
            $(".error").html("Invalid Captcha. try Again");
            createCaptcha();
            return false;
        }
    }

    //$('.form_forget_pass, .form_confirm_pass').on('keyup', function () {
    //    if (validPass) {
    //        $('.err').html('Matching').css('color', 'green');
    //       // $(".btn-chngforpass").prop("disabled", false);
    //        //$(".btn-chngforpass").show();
    //    } else
    //        $('.err').html('Not Matching').css('color', 'red');
    //    $(".btn-chngforpass").prop("disabled", true);
    //    $(".btn-chngforpass").hide();
    //});

</script>

