﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    hr.style13 {
        height: 10px;
        width: 100%;
        border: 0;
        padding-top: 0px !important;
        box-shadow: 0 10px 10px -10px #4286f4 inset;
    }

    .ui-menu, ui-widget, ui-widget-content, ui-autocomplete, ui-front {
        z-index: 1234;
    }
</style>
<script src="~/Contents/Script/AppJs/OtherAdjustment.js?v=13"></script>
<!-- Modal -->
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                    <h4 class="modal-title">Adjustment Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <form class="form-horizontal" id="frmAdjAllEDit" data-toggle="validator" role="form">
                                @*<div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label" for="txtFinYear">Fin Year : </label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="txtFinYear" name="txtFinYear" />
                                    </div>
                                </div>*@
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtPayDesc">Pay Head Description : </label>
                                        <input type="text" class="form-control" id="txtPayDesc" name="txtPayDesc" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlApplicableTypeRange">Applicable Type Range : </label>
                                        <select class="form-control" id="ddlApplicableTypeRange" name="ddlApplicableTypeRange">
                                            <option value="">-- Select --</option>
                                            <option value="C">Current Demand</option>
                                            <option value="R">Specified Range</option>
                                            <option value="A">All (Current Demand + All Arrear)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlFromFinYear">Effect FinYear From : </label>
                                        <select class="form-control" id="ddlFromFinYear" name="ddlFromFinYear"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlFromQtr">Effect Quarter From : </label>
                                        <select class="form-control" id="ddlFromQtr" name="ddlFromQtr">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlToFinYear">Effect FinYear To : </label>
                                        <select class="form-control" id="ddlToFinYear" name="ddlToFinYear"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlToQtr">Effect Quarter To : </label>
                                        <select class="form-control" id="ddlToQtr" name="ddlToQtr">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">Adjustment Applicable On : </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhPtax" checked="checked" name="chkAll[]">Property Tax</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhSurcharge" checked="checked" name="chkAll[]">Surcharge</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhPtaxInt" name="chkAll[]">P Tax Interest</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhSurchargeInt" name="chkAll[]">Surcharge Interest</label>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label" for="ddlCurrDemand">Effect On Current Demand : </label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" id="ddlCurrDemand" name="ddlCurrDemand">
                                            <option value="">-- Select --</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlRateType">Rate Value Type : </label>
                                        <select class="form-control" id="ddlRateType" name="ddlRateType">
                                            <option value="">-- Select --</option>
                                            <option value="P">Percent</option>
                                            <option value="A">Absolute</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtRateValue">Rate Value : </label>
                                        <input type="text" class="form-control" id="txtRateValue" name="txtRateValue" />
                                    </div>
                                </div>
                               
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtGracePeriod">Grace Period in Month : </label>
                                        <input type="text" class="form-control" id="txtGracePeriod" name="txtGracePeriod" />
                                    </div>
                                </div>
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtFromDateEdit">From Date : </label>
                                        <input type="text" class="form-control" id="txtFromDateEdit" name="txtFromDateEdit" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtToDateEdit">To Date : </label>
                                        <input type="text" class="form-control" id="txtToDateEdit" name="txtToDateEdit" />
                                    </div>
                                </div>                                
                                <div class="form-group">                                   
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtStatus">Status : </label>
                                        <input type="text" class="form-control" id="txtStatus" name="txtStatus" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtApprovedOn">Approved On : </label>
                                        <input type="text" class="form-control" id="txtApprovedOn" name="txtApprovedOn" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">Remarks : </label>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" rows="3" id="txtRemarks" name="txtRemarks"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnEditAll">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container" id="allEntry">
    <div class="modal fade" id="myModalEntry" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                    <h4 class="modal-title">Adjustment Details Entry</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <form class="form-horizontal" id="frmAdjAllEntry" data-toggle="validator" role="form">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlPayDescEntry">Pay Head Description : </label>
                                        <select class="form-control" id="ddlPayDescEntry" name="ddlPayDescEntry"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlApplicableTypeRangeEntry">Applicable Type Range : </label>
                                        <select class="form-control" id="ddlApplicableTypeRangeEntry" name="ddlApplicableTypeRangeEntry">
                                            <option value="">-- Select --</option>
                                            <option value="C">Current Demand</option>
                                            <option value="R">Specified Range</option>
                                            <option value="A">All (Current Demand + All Arrear)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlFromFinYearEntry">Effect FinYear From : </label>
                                        <select class="form-control" id="ddlFromFinYearEntry" name="ddlFromFinYearEntry"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlFromQtrEntry">Effect Quarter From : </label>
                                        <select class="form-control" id="ddlFromQtrEntry" name="ddlFromQtrEntry">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlToFinYearEntry">Effect FinYear To : </label>
                                        <select class="form-control" id="ddlToFinYearEntry" name="ddlToFinYearEntry"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlToQtrEntry">Effect Quarter To : </label>
                                        <select class="form-control" id="ddlToQtrEntry" name="ddlToQtrEntry">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">Adjustment Applicable On : </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox-inline"><input type="checkbox"  id="ckhPtaxEntry" checked="checked" name="test[]">Property Tax</label>
                                        <label class="checkbox-inline"><input type="checkbox"  id="ckhSurchargeEntry" checked="checked" name="test[]">Surcharge</label>
                                        <label class="checkbox-inline"><input type="checkbox"  id="ckhPtaxIntEntry" name="test[]">P Tax Interest</label>
                                        <label class="checkbox-inline"><input type="checkbox"  id="ckhSurchargeIntEntry" name="test[]">Surcharge Interest</label>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label" for="ddlCurrDemandEntry">Effect On Current Demand : </label>
                                        </div>
                                        <div class="col-md-6">
                                            <select class="form-control" id="ddlCurrDemandEntry" name="ddlCurrDemandEntry">
                                                <option value="">-- Select --</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlRateTypeEntry">Rate Value Type : </label>
                                        <select class="form-control" id="ddlRateTypeEntry" name="ddlRateTypeEntry">
                                            <option value="">-- Select --</option>
                                            <option value="P">Percent</option>
                                            <option value="A">Absolute</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtRateValueEntry">Rate Value : </label>
                                        <input type="text" class="form-control" id="txtRateValueEntry" name="txtRateValueEntry" />
                                    </div>
                                </div>

                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtGracePeriodEntry">Grace Period in Month : </label>
                                        <input type="text" class="form-control" id="txtGracePeriodEntry" name="txtGracePeriodEntry" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtFromDateEntry">Valid From : </label>
                                        <input type="text" class="form-control" id="txtFromDateEntry" name="txtFromDateEntry" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtToDateEntry">Valid To : </label>
                                        <input type="text" class="form-control" id="txtToDateEntry" name="txtToDateEntry" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">Remarks : </label>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" rows="3" id="txtRemarksEntry" name="txtRemarksEntry"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnEntryAll">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container" id="Individual">
    <div class="modal fade" id="myModalIndividual" role="dialog">
        <div class="modal-dialog" style="width:650px;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                    <h4 class="modal-title">Adjustment Details Assessee Wise</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <form class="form-horizontal" id="frmAdjIndEDit" data-toggle="validator" role="form">
                                <div class="form-group">                                  
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtPayDescInd">Pay Head Description : </label>
                                        <input type="text" class="form-control" id="txtPayDescInd" name="txtPayDescInd" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlApplicableTypeRangeInd">Applicable Type Range : </label>
                                        <select class="form-control" id="ddlApplicableTypeRangeInd" name="ddlApplicableTypeRangeInd">
                                            <option value="">-- Select --</option>
                                            <option value="C">Current Demand</option>
                                            <option value="R">Specified Range</option>
                                            <option value="A">All (Current Demand + All Arrear)</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlFromFinYearInd">Effect FinYear From : </label>
                                        <select class="form-control" id="ddlFromFinYearInd" name="ddlFromFinYearInd"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlFromQtrInd">Effect Quarter From : </label>
                                        <select class="form-control" id="ddlFromQtrInd" name="ddlFromQtrInd">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlToFinYearInd">Effect FinYear To : </label>
                                        <select class="form-control" id="ddlToFinYearInd" name="ddlToFinYearInd"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlToQtrInd">Effect Quarter To : </label>
                                        <select class="form-control" id="ddlToQtrInd" name="ddlToQtrInd">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">Adjustment Applicable On : </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhPtaxInd" checked="checked" name="chkInd[]">Property Tax</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhSurchargeInd" checked="checked" name="chkInd[]">Surcharge</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhPtaxIntInd" name="chkInd[]">P Tax Interest</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhSurchargeIntInd" name="chkInd[]">Surcharge Interest</label>
                                    </div>
                                </div>
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlRateTypeInd">Rate Value Type : </label>
                                        <select class="form-control" id="ddlRateTypeInd" name="ddlRateTypeInd">
                                            <option value="">-- Select --</option>
                                            <option value="P">Percent</option>
                                            <option value="A">Absolute</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtRateValueInd">Rate Value : </label>
                                        <input type="text" class="form-control" id="txtRateValueInd" name="txtRateValueInd" />
                                    </div>
                                </div>
                                
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtGracePeriodInd">Grace Period in Month : </label>
                                        <input type="text" class="form-control" id="txtGracePeriodInd" name="txtGracePeriodInd" />
                                    </div>
                                </div>
                                <div class="form-group">                                   
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtFromDateEditInd">From Date : </label>
                                        <input type="text" class="form-control" id="txtFromDateEditInd" name="txtFromDateEditInd" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtToDateEditInd">To Date : </label>
                                        <input type="text" class="form-control" id="txtToDateEditInd" name="txtToDateEditInd" />
                                    </div>                                    
                                </div>
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtStatusInd">Status : </label>
                                        <input type="text" class="form-control" id="txtStatusInd" name="txtStatusInd" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtApprovedOn">Approved On : </label>
                                        <input type="text" class="form-control" id="txtApprovedOnInd" name="txtApprovedOnInd" />
                                    </div>                                    
                                </div>
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtAdjustedInd">Adjusted : </label>
                                        <input type="text" class="form-control" id="txtAdjustedInd" name="txtAdjustedInd" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtAdjustedOn">Adjusted On : </label>
                                        <input type="text" class="form-control" id="txtAdjustedOnInd" name="txtAdjustedOnInd" />
                                    </div>                                    
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">Remarks : </label>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" rows="3" id="txtRemarksInd" name="txtRemarksInd"></textarea>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnEditInd">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container" id="IndividualEntry">
    <div class="modal fade" id="myModalEntryInd" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br />
                    <h4 class="modal-title">Adjustment Details Entry Assessee Wise</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <form class="form-horizontal" id="frmAdjIndiEntry" data-toggle="validator" role="form">
                                <div class="form-group">                                   
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtWardEntry">Ward : </label>
                                        <input type="text" class="form-control input-sm change" id="txtWardEntry" name="txtWardEntry">
                                        <input type="hidden" id="hdnWardEntry" name="hdnWardEntry" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtLocationEntry">Location : </label>
                                        <input type="text" class="form-control input-sm change" id="txtLocationEntry" name="txtLocationEntry">
                                        <input type="hidden" id="hdnLocationEntry" name="hdnLocationEntry" />
                                    </div>
                                </div>
                                <div class="form-group">                                    
                                    <div class="col-md-12">
                                        <label class="control-label" for="txtWardEntry">Assessee : </label>
                                        <input type="text" class="form-control input-sm change" id="txtAssesseeEntry" name="txtAssesseeEntry">
                                        <input type="hidden" id="hdnAssesseeEntry" name="hdnAssesseeEntry" />
                                    </div>
                                </div>
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlPayDescEntryInd">Pay Head Description : </label>
                                        <select class="form-control" id="ddlPayDescEntryInd" name="ddlPayDescEntryInd"></select>
                                        @*<input type="text" class="form-control" id="txtPayDescEntry" name="txtPayDescEntry" />*@
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlApplicableTypeRangeEntryInd">Applicable Type Range : </label>
                                        <select class="form-control" id="ddlApplicableTypeRangeEntryInd" name="ddlApplicableTypeRangeEntryInd">
                                            <option value="">-- Select --</option>
                                            <option value="C">Current Demand</option>
                                            <option value="R">Specified Range</option>
                                            <option value="A">All (Current Demand + All Arrear)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlFromFinYearEntryInd">Effect FinYear From : </label>
                                        <select class="form-control" id="ddlFromFinYearEntryInd" name="ddlFromFinYearEntryInd"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlFromQtrEntryInd">Effect Quarter From : </label>
                                        <select class="form-control" id="ddlFromQtrEntryInd" name="ddlFromQtrEntryInd">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlToFinYearEntryInd">Effect FinYear To : </label>
                                        <select class="form-control" id="ddlToFinYearEntryInd" name="ddlToFinYearEntryInd"></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlToQtrEntryInd">Effect Quarter To : </label>
                                        <select class="form-control" id="ddlToQtrEntryInd" name="ddlToQtrEntryInd">
                                            <option value="">-- Select --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">Adjustment Applicable On : </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhPtaxEntryInd" checked="checked" name="chkEntryInd[]">Property Tax</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhSurchargeEntryInd" checked="checked" name="chkEntryInd[]">Surcharge</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhPtaxIntEntryInd" name="chkEntryInd[]">P Tax Interest</label>
                                        <label class="checkbox-inline"><input type="checkbox" id="ckhSurchargeIntEntryInd" name="chkEntryInd[]">Surcharge Interest</label>
                                    </div>
                                </div>
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="ddlRateTypeEntryInd">Rate Value Type : </label>
                                        <select class="form-control" id="ddlRateTypeEntryInd" name="ddlRateTypeEntryInd">
                                            <option value="">-- Select --</option>
                                            <option value="P">Percent</option>
                                            <option value="A">Absolute</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtRateValueEntryInd">Rate Value : </label>
                                        <input type="text" class="form-control" id="txtRateValueEntryInd" name="txtRateValueEntryInd" />
                                    </div>
                                </div>                               
                                <div class="form-group">                                    
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtGracePeriodEntryInd">Grace Period in Month : </label>
                                        <input type="text" class="form-control" id="txtGracePeriodEntryInd" name="txtGracePeriodEntryInd" />
                                    </div>
                                </div>
                                <div class="form-group">                                   
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtFromDateEntryInd">Valid From : </label>
                                        <input type="text" class="form-control" id="txtFromDateEntryInd" name="txtFromDateEntryInd" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="txtToDateEntryInd">Valid To : </label>
                                        <input type="text" class="form-control" id="txtToDateEntryInd" name="txtToDateEntryInd" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">Remarks : </label>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control" rows="3" id="txtRemarksEntryInd" name="txtRemarksEntryInd"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnEntryInd">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="panel panel-primary" style="margin:10px;">
    <div class="panel-heading">
        <h3 class="panel-title">Other Adjustment</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                @*<div class="container">*@

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#all">Adjust All</a></li>
                    <li><a data-toggle="tab" href="#individual">Adjust Assessee Wise</a></li>
                </ul>

                <div class="tab-content">
                    <div id="all" class="tab-pane fade in active">
                        <br />
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <form id="frmAdjAll" data-toggle="validator" role="form">

                                <div class="col-xs-8 col-sm-8 col-md-3 col-md-offset-1">
                                    <label for="dtFrom">From Date<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtFrom" name="dtFrom" />
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-3">
                                    <label for="dtTo">To Date<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtTo" name="dtTo" />
                                </div>

                                <div class="col-xs-8 col-sm-8 col-md-5">
                                    <input type="button" class="btn btn-primary" value="View" id="btnView" />
                                    <input type="button" class="btn btn-primary" value="Refresh" id="btnRefreshRebate" onclick="location.href='@Url.Action("Index", "OtherAdjustment")'" />
                                    <input type="button" class="btn btn-primary" value="New Entry" data-toggle='modal' data-target='#myModalEntry' id="btnEntry" />
                                </div>

                            </form>
                        </div>
                        <br /><br /><br /><br />
                        <hr class="style13">
                        <br />
                        <div id="divAllAdj" class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1">
                            <div class="table-responsive" style="height:230px;">
                                <table class="table table-hover table-bordered tabHeader" id="tabAllAdj">
                                    <thead>
                                        <tr>
                                            <th align="center">Valid From</th>
                                            <th align="center">Valid To</th>
                                            <th align="center">Pay Head Desc</th>
                                            <th align="center">Rate Value</th>
                                            <th align="center">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            @*<input type="button" class="btn btn-primary col-md-offset-9" value="Submit" id="btnSaveRebate" />*@
                        </div>
                    </div>


                    <div id="individual" class="tab-pane fade">
                        <br />
                        <form id="frmAdjInd" data-toggle="validator" role="form">
                            <div class="row">

                                <div class="col-xs-8 col-sm-8 col-md-3 col-md-offset-0">
                                    <label for="dtFromInd">From Date<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtFromInd" name="dtFromInd" />
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-3">
                                    <label for="dtToInd">To Date<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm" placeholder="dd/mm/yyyy" id="dtToInd" name="dtToInd" />
                                </div> <br />


                            </div>
                            <div class="row">
                                <div class=" col-md-2">
                                    <label for="txtWard">Ward<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                                    <input type="hidden" id="hdnWard" name="hdnWard" />
                                </div>

                                <div class=" col-md-3">
                                    <label for="txtLocation">Location<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation">
                                    <input type="hidden" id="hdnLocation" name="hdnLocation" />
                                </div>
                                <div class=" col-md-3">
                                    <label for="txtAssessee">Assessee<span class="red-star">&nbsp;*</span></label>
                                    <input type="text" class="form-control input-sm change" id="txtAssessee" name="txtAssessee">
                                    <input type="hidden" name="hdnAssessee" id="hdnAssessee" />
                                </div>

                                <div class="col-md-4 col-md-offset-0">
                                    <div class="col-md-12 col-md-offset-1">
                                        <input type="button" class="btn btn-primary" value="View" id="btnViewInd" />
                                        <input type="button" class="btn btn-primary" value="Refresh" id="btnRefreshRebate" onclick="location.href='@Url.Action("Index", "OtherAdjustment")'" />
                                        <input type="button" class="btn btn-primary" value="New Entry" data-toggle='modal' data-target='#myModalEntryInd' id="btnEntryInd" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr class="style13">
                        <br />
                        <div id="divIndAdj" class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1">
                            <div class="table-responsive" style="height:230px;">
                                <table class="table table-hover table-bordered tabHeader" id="tabIndAdj">
                                    <thead>
                                        <tr>
                                            <th align="center">Valid From</th>
                                            <th align="center">Valid To</th>
                                            <th align="center">Pay Head Desc</th>
                                            <th align="center">Rate Value</th>
                                            <th align="center">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            @*<input type="button" class="btn btn-primary col-md-offset-9" value="Submit" id="btnSaveRebate" />*@
                        </div>

                    </div>
                </div>
                @*</div>*@
            </div>
        </div>
        <div class="row">


        </div>

    </div>
</div>

