﻿@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Valuation_Board.Models.Application;
@using Valuation_Board.App_Codes.Utils;




<style>
    .card {
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        /*width: 40%;*/
        border: 1px solid #ddd;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /*.container {
        padding: 2px 16px;
    }*/
    form {
        padding-bottom: 20px;
    }

    .card-header {
        background-color: #6f77b9;
        padding: 5px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .error-element {
        background-color: #f9c5c5 !important;
    }

    hr.style13 {
        height: 10px;
        width: 100%;
        border: 0;
        padding-top: 0px !important;
        box-shadow: 0 10px 10px -10px #4286f4 inset;
    }
</style>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/Contents/Script/AppJs/Assesse&DemanManager.js?v=1.0.1"></script>
<div class="parent-tab">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#new-assesse">New Assesse</a></li>
        <li><a data-toggle="tab" href="#assesse-updation">Updation</a></li>
    </ul>

    <div class="tab-content">
        <br />
        <div id="new-assesse" class="tab-pane fade in active">
            <div class="card">
                <div class="card-header">Add New Assesse</div>
                <div class="container-fluid">
                    <form id="assesse-insert-form" class="assesse-insert-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="txtName">Assesse Name</label>
                                <input type="text" class="form-control txtName" name="txtName" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtHolding">Holding No</label>
                                <input type="text" class="form-control txtHolding" name="txtHolding" placeholder="Holding No">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="txtAddress">Address</label>
                                <textarea class="form-control txtAddress" rows="5" name="txtAddress" placeholder="Address"></textarea>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="txtEmail">Email</label>
                                <input type="email" class="form-control txtEmail" name="txtEmail" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtPhone">Phone No</label>
                                <input type="text" class="form-control txtPhone" name="txtPhone" placeholder="Phone No">
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="ddlWard">Ward</label>
                                <select class="form-control ddlWard" name="ddlWard">
                                    <option value="" selected>-select ward-</option>
                                    @{
                                        if (ViewBag.Wards != null)
                                        {
                                            List<Ward> wards = ViewBag.Wards;
                                            foreach (Ward t in wards)
                                            {
                                                <option value="@t.WardID">@t.WardName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="ddlLocation">Location</label>
                                <select class="form-control ddlLocation" name="ddlLocation">
                                    <option value="">-select Location-</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="ddlHoldingType">Holding Type</label>
                                <select class="form-control ddlHoldingType" name="ddlHoldingType">
                                    <option value="">-select Holding Type-</option>
                                    @{
                                        if (ViewBag.HoldingTypes != null)
                                        {
                                            List<HoldingType> HoldingTypes = ViewBag.HoldingTypes;
                                            foreach (HoldingType t in HoldingTypes)
                                            {
                                                <option value="@t.HoldingTypeID">@t.HoldingTypeDesc</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="txtOldAssesseNo">Old Assesse No</label>
                                <input type="text" class="form-control txtOldAssesseNo" name="txtOldAssesseNo" placeholder="Old Assesse No">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="txtRefNo">Ref-no</label>
                                <input type="text" class="form-control txtRefNo" name="txtRefNo" placeholder="Reference No">
                            </div>
                            <div class="col-md-6">
                                <label for="txtRefDate">Ref-Date</label>
                                <input type="text" class="form-control txtRefDate" name="txtRefDate" readonly placeholder="Reference Date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="f col-md-6">

                            </div>
                            <div class="col-md-6">
                                <input type="hidden" class="hdnAssesse" value="" />
                                <button type="submit" class="btn btn-primary pull-right btn-assesse-update">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div id="assesse-updation" class="tab-pane fade">
            @* Assesse Search *@
            <div class="card assesee-search-component">
                <div class="card-header">Seach Assesse</div>
                <div class="container-fluid">
                    <form class="form-inline frm-assesee-search-component" action="/action_page.php">
                        <div class="form-group">
                            <label for="txtWard">Ward:</label>
                            <input type="text" class="form-control txtWard" id="txtWard" name="txtWard" placeholder="Ward">
                            <input type="hidden" class="hdnWard" name="hdnWard">
                        </div>
                        <div class="form-group">
                            <label for="txtLocation">Location:</label>
                            <input type="text" class="form-control txtLocation" name="txtLocation" placeholder="Location">
                            <input type="hidden" class="hdnLocation" name="hdnLocation">
                        </div>
                        <div class="form-group">
                            <label for="txtHoldingNo">Holding:</label>
                            <input type="text" class="form-control txtHolding" name="txtHolding">
                            <input type="hidden" class="hdnHolding" name="hdnHolding">
                        </div>
                        <div class="form-group pull-right">
                            <input type="hidden" class="form-control hdnAssesse" name="hdnAssesse">
                            <button class="btn btn-primary btn-sm  btn-assesse-load">Load Assesse</button>
                            <button class="btn btn-default btn-sm  btn-assesse-reset">Reset</button>
                        </div>

                    </form>
                </div>
            </div>
            <br />
            @* Assesee update Operations *@
            <div class="card assesse-updation-forms">
                <div class="card-header"></div>
                <div class="container-fluid">
                    @*<h4><b>John Doe</b></h4>*@
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="list-group">
                                <li class="list-group-item active"><b>Select Option</b></li>
                                <a data-toggle="tab" href="#assesse-update" class="list-group-item btn-assesse-update">Assesse Update</a>
                                <a data-toggle="tab" href="#arrear-update" class="list-group-item btn-arrear-update">Arrear Outstanding</a>
                                @*<a data-toggle="tab" href="#arrear-insert" class="list-group-item btn-arrear-insert">Arrear Insert</a>*@
                                <a data-toggle="tab" href="#demand-update" class="list-group-item btn-demand-update">Demand Outstanding</a>
                                @*<a data-toggle="tab" href="#demand-insert" class="list-group-item btn-demand-insert">Demand Insert</a>*@
                                <a data-toggle="tab" href="#review-insert" class="list-group-item btn-review-insert">Review (Update and Insert Tax Amount)</a>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <div class="tab-content">
                                <div id="arrear-update" class="panel panel-default tab-pane fade">
                                    <div class="panel-body">
                                        <form id="arrear-update-form" class="arrear-update-form">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-condensed table-bordered" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Fin-Year</th>
                                                            <th>Qtr.</th>
                                                            <th title="Current Property tax"><input type="checkbox" class="check-all-property-tax" />&nbsp;P.Tax</th>
                                                            <th title="Current Surcharge"><input type="checkbox" class="check-all-surcharge" />&nbsp;S.Ch.</th>
                                                            <th title="Property Tax Outstanding">OS P.Tax</th>
                                                            <th title="Surcharge Outstanding">Os S.Ch.</th>
                                                            @*<th>Action</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-fin-year="2012-2013" data-qtr="1">
                                                            <td>2012-2013</td>
                                                            <td>1</td>
                                                            <td><input type="text" class="txt-property-tax form-control" value="100.00" /></td>
                                                            <td><input type="text" value="100.00" class="txt-surcharge-tax form-control" /></td>
                                                            <td><button type="button" class="btn btn-default btn-xs btn-save-single">Save</button></td>
                                                        </tr>
                                                        <tr data-fin-year="2012-2013" data-qtr="2">
                                                            <td>2012-2013</td>
                                                            <td>2</td>
                                                            <td><input type="text" class="txt-property-tax form-control" value="100.00" /></td>
                                                            <td><input type="text" value="100.00" class="txt-surcharge-tax form-control" /></td>
                                                            <td><button type="button" class="btn btn-default btn-xs btn-save-single">Save</button></td>
                                                        </tr>
                                                        <tr data-fin-year="2012-2013" data-qtr="3">
                                                            <td>2012-2013</td>
                                                            <td>3</td>
                                                            <td><input type="text" class="txt-property-tax form-control" value="100.00" /></td>
                                                            <td><input type="text" value="100.00" class="txt-surcharge-tax form-control" /></td>
                                                            <td><button type="button" class="btn btn-default btn-xs btn-save-single">Save</button></td>
                                                        </tr>
                                                        <tr data-fin-year="2012-2013" data-qtr="4">
                                                            <td>2012-2013</td>
                                                            <td>4</td>
                                                            <td><input type="text" class="txt-property-tax form-control" value="100.00" /></td>
                                                            <td><input type="text" value="100.00" class="txt-surcharge-tax form-control" /></td>
                                                            <td><button type="button" class="btn btn-default btn-xs btn-save-single">Save</button></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            @*<button type="button" class="btn btn-primary btn-save-all pull-right">Save All</button>*@
                                        </form>
                                    </div>
                                </div>
                                <div id="arrear-insert" class="panel panel-default tab-pane fade">
                                    <div class="panel-body">
                                        <form class="arrear-insert-form">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>From Fin-Year</label>
                                                    <select class="form-control ddl-from-fin-year" name="ddl-from-fin-year">
                                                        <option value="">-select-</option>
                                                        @{
                                                            string finyear = CommonUtils.GetFinYear(DateTime.Now);
                                                            FinYearQtr fy = new FinYearQtr(finyear);
                                                            fy.AddYear(-1);
                                                            for (int i = 0; i < 50; i++)
                                                            {
                                                                string finyr = string.Format("{0}-{1}", fy.StartYear, fy.EndYear);
                                                                <option value="@finyr">@finyr</option>
                                                                fy.AddYear(-1);
                                                            }
                                                        }

                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>From Qtr.</label>
                                                    <select class="form-control ddl-from-qtr" name="ddl-from-qtr">
                                                        <option value="">-select-</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>To Fin-Year</label>
                                                    <select class="form-control ddl-to-fin-year" name="ddl-to-fin-year">
                                                        <option value="">-select-</option>
                                                        @{
                                                            fy = new FinYearQtr(finyear);
                                                            fy.AddYear(-1);
                                                            for (int i = 0; i < 50; i++)
                                                            {
                                                                string finyr = string.Format("{0}-{1}", fy.StartYear, fy.EndYear);
                                                                <option value="@finyr">@finyr</option>
                                                                fy.AddYear(-1);
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>From Qtr.</label>
                                                    <select class="form-control ddl-to-qtr" name="ddl-to-qtr">
                                                        <option value="">-select-</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>Property Tax/Qtr.</label>
                                                    <input type="text" class="form-control txt-property-tax-amnt-per-qtr" name="txt-property-tax-amnt-per-qtr" value="" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Surcharge/Qtr.</label>
                                                    <input type="text" class="form-control txt-surcharge-amnt-per-qtr" name="txt-surcharge-amnt-per-qtr" value="" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="p col-md-9">
                                                    <ol start="1" style=" color:  red; font-weight:  bold;" class="error-list"></ol>
                                                </div>
                                                <div class=" col-md-3">
                                                    <label>&nbsp;</label>
                                                    <button type="submit" class="btn pull-right btn-default btn-save">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div id="demand-update" class="panel panel-default tab-pane fade">
                                    <div class="panel-body">
                                        <form id="demand-update-form" class="demand-update-form">
                                            <table class="table table-striped table-condensed table-bordered" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Fin-Year</th>
                                                        <th>Qtr.</th>
                                                        <th title="Current Property tax"><input type="checkbox" class="check-all-property-tax" />&nbsp;P.Tax</th>
                                                        <th title="Current Surcharge"><input type="checkbox" class="check-all-surcharge" />&nbsp;S.Ch.</th>
                                                        <th title="Property Tax Outstanding">OS P.Tax</th>
                                                        <th title="Surcharge Outstanding">Os S.Ch.</th>
                                                        @*<th>Action</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            @*<button type="button" class="btn btn-primary btn-save-all pull-right">Save All</button>*@
                                        </form>
                                    </div>
                                </div>
                                <div id="demand-insert" class="panel panel-default tab-pane fade">
                                    <div class="panel-body">
                                        <form id="demand-insert-form" class="demand-insert-form">
                                            <table class="table table-striped table-condensed table-bordered" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Fin-Year</th>
                                                        <th>Qtr.</th>
                                                        <th title="Current Property tax"><input type="checkbox" class="check-all-property-tax">&nbsp;P.Tax</th>
                                                        <th title="Current Surcharge"><input type="checkbox" class="check-all-surcharge">&nbsp;S.Ch.</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        string finYear = CommonUtils.GetFinYear(DateTime.Now);
                                                        <tr data-fin-year="@finYear" data-qtr="1" data-read-only="true"><td>@finYear</td><td>1</td><td><input type="text" class="txt-property-tax form-control" value="0"></td><td><input type="text" value="0" class="txt-surcharge-tax form-control"></td><td><button type="button" class="btn btn-default btn-xs btn-save-single">Save</button></td></tr>
                                                        <tr data-fin-year="@finYear" data-qtr="2" data-read-only="true"><td>@finYear</td><td>2</td><td><input type="text" class="txt-property-tax form-control" value="0"></td><td><input type="text" value="0" class="txt-surcharge-tax form-control"></td><td><button type="button" class="btn btn-default btn-xs btn-save-single">Save</button></td></tr>
                                                        <tr data-fin-year="@finYear" data-qtr="3" data-read-only="true"><td>@finYear</td><td>3</td><td><input type="text" class="txt-property-tax form-control" value="0"></td><td><input type="text" value="0" class="txt-surcharge-tax form-control"></td><td><button type="button" class="btn btn-default btn-xs btn-save-single">Save</button></td></tr>
                                                        <tr data-fin-year="@finYear" data-qtr="4" data-read-only="true"><td>@finYear</td><td>4</td><td><input type="text" class="txt-property-tax form-control" value="0"></td><td><input type="text" value="0" class="txt-surcharge-tax form-control"></td><td><button type="button" class="btn btn-default btn-xs btn-save-single">Save</button></td></tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <button type="button" class="btn btn-primary btn-save-all pull-right">Save All</button>
                                        </form>
                                    </div>
                                </div>
                                <div id="assesse-update" class=" panel panel-default tab-pane fade in active">
                                    <div class="panel-body">
                                        <form id="assesse-update-form" class="assesse-update-form">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="txtName">Assesse Name</label>
                                                    <input type="text" class="form-control txtName" name="txtName" placeholder="Name">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="txtHolding">Holding No</label>
                                                    <input type="text" class="form-control txtHolding" name="txtHolding" placeholder="Holding No">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label for="txtAddress">Address</label>
                                                    <textarea class="form-control txtAddress" rows="5" name="txtAddress" placeholder="Address"></textarea>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="txtEmail">Email</label>
                                                    <input type="email" class="form-control txtEmail" name="txtEmail" placeholder="Email">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="txtPhone">Phone No</label>
                                                    <input type="text" class="form-control txtPhone" name="txtPhone" placeholder="Phone No">
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="ddlWard">Ward</label>
                                                    <select class="form-control ddlWard" name="ddlWard">
                                                        <option value="" selected>-select ward-</option>
                                                        @{
                                                            if (ViewBag.Wards != null)
                                                            {
                                                                List<Ward> wards = ViewBag.Wards;
                                                                foreach (Ward t in wards)
                                                                {
                                                                    <option value="@t.WardID">@t.WardName</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="ddlLocation">Location</label>
                                                    <select class="form-control ddlLocation" name="ddlLocation">
                                                        <option value="">-select Location-</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="ddlHoldingType">Holding Type</label>
                                                    <select class="form-control ddlHoldingType" name="ddlHoldingType">
                                                        <option value="">-select Holding Type-</option>
                                                        @{
                                                            if (ViewBag.HoldingTypes != null)
                                                            {
                                                                List<HoldingType> HoldingTypes = ViewBag.HoldingTypes;
                                                                foreach (HoldingType t in HoldingTypes)
                                                                {
                                                                    <option value="@t.HoldingTypeID">@t.HoldingTypeDesc</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="txtOldAssesseNo">Old Assesse No</label>
                                                    <input type="text" class="form-control txtOldAssesseNo" name="txtOldAssesseNo" placeholder="Old Assesse No">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 ">
                                                    <label for="txtRefNo">Ref-no</label>
                                                    <input type="text" class="form-control txtRefNo" name="txtRefNo" placeholder="Reference No">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="txtRefDate">Ref-Date</label>
                                                    <input type="text" class="form-control txtRefDate" name="txtRefDate" readonly placeholder="Reference Date">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <label for="txtRefNo">Is Assessee Disputed?</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><input type="checkbox" class="chkIsDisputed" name="chkIsDisputed"></span>
                                                        <input type="text" class="form-control txtDisputeReason" name="txtDisputeReason" placeholder="Reason" style="z-index: 1;">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="hidden" class="hdnAssesse" value="" />
                                                    <button type="submit" class="btn btn-primary pull-right btn-assesse-update" style="margin-top: 22px;">Save</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                                <div id="review-insert" class="panel panel-default tab-pane fade">
                                    <div class="panel-body">
                                        <form id="review-insert-form" class="review-insert-form">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>From Fin-Year</label>
                                                    <select class="form-control ddl-from-fin-year" name="ddl-from-fin-year">
                                                        <option value="">-select-</option>
                                                        @{
                                                            string finyearReview = CommonUtils.GetFinYear(DateTime.Now);
                                                            FinYearQtr fyR = new FinYearQtr(finyearReview);
                                                            //fy.AddYear(-1);
                                                            for (int i = 0; i < 50; i++)
                                                            {
                                                                string finyrReview = string.Format("{0}-{1}", fyR.StartYear, fyR.EndYear);
                                                                <option value="@finyrReview">@finyrReview</option>
                                                                fyR.AddYear(-1);
                                                            }
                                                        }

                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>From Qtr.</label>
                                                    <select class="form-control ddl-from-qtr" name="ddl-from-qtr">
                                                        <option value="">-select-</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>To Fin-Year</label>
                                                    <select class="form-control ddl-to-fin-year" name="ddl-to-fin-year">
                                                        <option value="">-select-</option>
                                                        @{
                                                            fyR = new FinYearQtr(finyearReview);
                                                            //fyR.AddYear(-1);
                                                            for (int i = 0; i < 50; i++)
                                                            {
                                                                string finyrReview = string.Format("{0}-{1}", fyR.StartYear, fyR.EndYear);
                                                                <option value="@finyrReview">@finyrReview</option>
                                                                fyR.AddYear(-1);
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>From Qtr.</label>
                                                    <select class="form-control ddl-to-qtr" name="ddl-to-qtr">
                                                        <option value="">-select-</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>Property Tax/Qtr.</label>
                                                    <input type="text" class="form-control txt-property-tax-amnt-per-qtr" name="txt-property-tax-amnt-per-qtr" value="" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Surcharge/Qtr.</label>
                                                    <input type="text" class="form-control txt-surcharge-amnt-per-qtr" name="txt-surcharge-amnt-per-qtr" value="" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label>Referance No</label>
                                                    <input type="text" class="form-control txt-ref-no" name="txt-ref-no" value="" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>Referance Text</label>
                                                    <textarea class="form-control txt-ref-Text" rows="2" name="txt-ref-Text" value=""></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="p col-md-9">
                                                    <ol start="1" style=" color:  red; font-weight:  bold;" class="error-list"></ol>
                                                </div>
                                                <div class=" col-md-3">
                                                    <label>&nbsp;</label>
                                                    <button type="button" class="btn pull-right btn-default btn-Cancel">Cancel</button>
                                                    @*<button type="button" class="btn pull-right btn-default btn-Show">Show</button>*@
                                                    <button type="submit" class="btn pull-right btn-default btn-save">Submit</button>

                                                </div>
                                            </div>
                                            <hr class="style13">
                                            <div class="row">
                                                <div class="" p col-md-9"">
                                                    <div class="table-responsive tabReview" style="padding:3px;">
                                                        <table class="table table-hover table-bordered tabHeader" id="tabReview" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th align="center">From FinYear</th>
                                                                    <th align="center">From Qtr</th>
                                                                    <th align="center">To FinYear</th>
                                                                    <th align="center">To Qtr</th>
                                                                    <th align="center">Tax Value</th>
                                                                    <th align="center">Surcharge Value</th>
                                                                    <th align="center">Status</th>
                                                                    <th align="center">Edit</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<br />