﻿@using Valuation_Board.ViewModels
@using Valuation_Board.Models.Application
@using Valuation_Board.App_Codes.Exceptions
@model StageOfProgress.ScemeCatMilestoneMapping
@{
    ViewBag.Title = "StageGroupMaster";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    body {
        background-color: #efefef;
    }

    #ui-datepicker-div {
        z-index: 2 !important;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .dataTables_empty {
        text-align: center;
    }
</style>
<script src="/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet">
<script src="/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
@if (ViewBag.error != null) {
    <h3 class="error text-center">@((ViewBag.error as AppException).Message)</h3>
}
else
{
<script src="~/Contents/Script/AppJs/dpr.schemecat.milestonegroup.mapping.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title title-wise-bar-chart" data-toggle="tooltip" title="hello">Work Milstones & Groups Entry </h3>
    </div>
    <div class="box-body ">
            <div class="row container1">
                <div class="col-md-offset-3 col-md-3">
                    <label>Select Group:</label>
                    <div class="form-group mb-0">
                        <select class="form-control ddl-group">
                            @foreach (var x in Model.Groups)
                            {
                                <option value="@x.Id">@x.Value</option>
                            }
                            
                        </select>
                    </div>
                </div>
                <div class=" col-md-3">
                    <label>Select Scheme Type:</label>
                    <div class="form-group  mb-0">
                        <select class="form-control ddl-scheme-type">
                            @foreach (var x in Model.SchemeTypes)
                            {
                                <option value="@x.Id">@x.Name</option>
                            }

                        </select>
                    </div>
                </div>
            </div>
        <br />
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="container2" style="max-height: 400px;overflow-y: scroll;">
                    
                    <table class="table table-bordered table-responsive table-condenced table-striped table-scheme-cat">
                        <thead style="background-color:#193f5f;color:white">
                            <tr>
                                <th width="60%">Secheme Category</th>
                                <th>Map/Un-map</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                               
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
}
