﻿@using Valuation_Board.ViewModels
@using Valuation_Board.App_Codes.Exceptions
@model StageOfProgressVM
@{
    ViewBag.Title = "StageGroupMaster";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    body {
        background-color: #efefef;
    }

    #ui-datepicker-div {
        z-index: 2 !important;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .dataTables_empty {
        text-align: center;
    }
</style>
<script src="/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet">
<script src="/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
@if (ViewBag.error != null)
{
    <h3 class="error text-center">@((ViewBag.error as AppException).Message)</h3>
}
else
{
<script src="~/Contents/Script/AppJs/dpr.stageOfProgress.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title title-wise-bar-chart" data-toggle="tooltip" title="hello">Work Milstones & Groups Entry </h3>
    </div>
    <div class="box-body ">
            <div class="row group-master">
                <div class="col-md-offset-4 col-md-4">
                    <label>Select Group:</label>
                    <div class="input-group">
                        <select class="form-control ddl-group">
                            @foreach (var x in Model.StageGroups)
                            {
                                <option value="@x.Id">@x.Value</option>
                            }
                            
                        </select>
                        <a href="javascript:void(0)" title="Add new Group" class="input-group-addon add-new-group"><i class="fa fa-plus"></i></a>
                        <a href="javascript:void(0)" title="Edit Current Group" class="input-group-addon edit-group"><i class="fa fa-edit"></i></a>
                    </div>
                    <div id="group-modal" class="modal fade" role="dialog" data-mode="">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" class="hdn-groupid" />
                                        <div class="form-group">
                                            <label class="required">Enter/Change Group Name:</label>
                                            <input type="text" name="txt-add-edit-group" required class="form-control txt-add-edit-group" />
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-submit">Submit</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="milestones">
                    <br />
                    <table class="table table-bordered table-responsive table-condenced table-striped table-mile-stone">
                        <thead style="background-color:#193f5f;color:white">
                            <tr>
                                <th width="60%">Name</th>
                                <th class="text-right" width="26%">Percetage (%)</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4">
                                    <input type="button" class="btn btn-primary pull-right btn-add-mile-stone" value="Add Milestone"/>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <div id="mile-stone-crud" class="modal fade" role="dialog" data-mode="">
                        <div class="modal-dialog modal-md">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <input type="hidden" class="hdn-id" />
                                        <div class="form-group">
                                            <label class="required">Description:</label>
                                            <input type="text" name="txt-dscr" required class="form-control txt-dscr" />
                                        </div>
                                        <div class="form-group">
                                            <label class="required">Percentage:</label>
                                            <input type="text" name="txt-per" required class="form-control txt-per money" />
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-submit btn-submit">Submit</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


}