﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2  style="text-align:center">401</h2>
<h4 style="text-align:center">Login Required! Click <a href="/Home/Index">here</a></h4>

