﻿@using Valuation_Board.App_Codes;
@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Extension;
@using Valuation_Board.App_Codes.Utils;
@using Newtonsoft.Json;

@model Valuation_Board.Models.Application.DprModel.DprFundRelease.FundReleaseAppliedApproval

@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>

                    <h3 class="box-title">@Model.InstallmentMaster.Name</h3>
                    <h3 class="pull-right box-title">
                        @if (Model.Status == "A")
                        {
                            <small class="label label-default">@Model.StatusDscr</small>
                        }
                        else if (Model.Status == "N" && Model.Status == "R")
                        {
                            <label class="label label-danger">@Model.StatusDscr</label>
                        }
                        else if (Model.Status == "V")
                        {
                            <small class="label label-default">@Model.StatusDscr</small>
                        }
                        else
                        {
                            <small class="label label-default">@Model.StatusDscr</small>
                        }
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body border-top">
                    <div class="item">
                        <p class="message">
                            <b href="#" class="name text-blue">
                                Memo No
                            </b>
                            <b class="pull-right"> @Model.MemoNo</b>
                        </p>
                    </div>
                    <div class="item">
                        <p class="message">
                            <b href="#" class="name text-blue">
                                Memo Date
                            </b>
                            <b class="pull-right">@Model.MemoDate.ToStrDate()</b>
                        </p>
                    </div>
                    <div class="item">
                        <p class="message">
                            <b href="#" class="name text-blue">
                                Installment Amount
                            </b>
                            <b class="pull-right">@Model.InstallmentAmount</b>
                        </p>
                    </div>
                    @*<div class="item">
                            <p class="message">
                                <b href="#" class="name text-blue">
                                    Start Date- End Date
                                </b>
                                @Model.StartDate.ToStrDate() - @Model.EndDate.ToStrDate()
                            </p>
                        </div>*@
                    <div class="item">
                        <p class="message">
                            <b href="#" class="name text-blue">
                                Sub-Projects
                            </b>
                            <a class="pull-right" href="#sbp-@Model.FundReleaseId" data-toggle="modal" data-target="#sbp-@Model.FundReleaseId">View</a>
                            <input type="hidden" class="canGenerateAAFS" value="@(Model.CanGenerateAAFS==true?1:0)" />
                            <input type="hidden" class="IsreleaseFileUploded" value="@(Model.isReleaseFileUploded)" />
                        </p>
                    </div>
                    @if (Model.IsOldDprEntry == false)
                    {
                        <div class="item">
                            <p class="message">
                                <b href="#" class="name text-blue">
                                    Check List
                                </b>
                                @if (Model.ApplyCheckList.Count > 0 && Model.ApplyCheckList[0].ApplyCheckListDocUrl != null)
                                {
                                    <a class="pull-right" href="@Model.LetterOrUcDocUrl" target="_blank">View File</a>
                                }
                                else
                                {
                                    <a class="pull-right" href="#" target="_blank">No File</a>
                                }
                            </p>
                        </div>
                    }
                    @if (Model.IsOldDprEntry == false)
                    {
                        <div class="item">
                            <p class="message">
                                <b href="#" class="name text-blue">
                                    Abstract Page
                                </b>
                                @if (Model.AbstractPgDocUrl != null)
                                {
                                    <a class="pull-right" href="@Model.AbstractPgDocUrl" target="_blank">View File</a>
                                }
                                else
                                {
                                    <a class="pull-right" href="#" target="_blank">No File</a>
                                }
                            </p>
                        </div>
                    }
                    @if (Model.IsOldDprEntry == true)
                    {
                        <div class="item">
                            <p class="message">
                                <b href="#" class="name text-blue">
                                    AA & FS
                                </b>
                                @if (Model.AAFSFileDocUrl != null)
                                {
                                    <a class="pull-right" href="@Model.AAFSFileDocUrl" target="_blank">View File</a>
                                }
                                else
                                {
                                    <a class="pull-right" href="#" target="_blank">No File</a>
                                }
                            </p>
                        </div>
                    }
                    <div class="item">
                        <p class="message">
                            <b href="#" class="name text-blue">
                                Requisition Letter/Requisition Letter+UC
                            </b>
                            @if (Model.LetterOrUcDocUrl != null)
                            {
                                <a class="pull-right" href="@Model.LetterOrUcDocUrl" target="_blank">View File</a>
                            }
                            else
                            {
                                <a class="pull-right" href="#" target="_blank">No File</a>
                            }
                        </p>
                    </div>
                    <div class="item">
                        <p class="message">
                            <b href="#" class="name text-blue">
                                Uploded Checklist For Installment
                            </b>
                            <a class="pull-right" href="#verify-modal" data-toggle="modal" data-target="#verify-modal">View</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Change DPR Installment Approval Status</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form role="form" id="post-dpr-msg">
                        <input type="hidden" value="@Model.FundReleaseId" id="FundReleaseId" name="FundReleaseId" />
                        <input type="hidden" value="@Model.MstDprId" id="mstDprId" name="mstDprId" />
                        <input type="hidden" value="@(Model.IsFinallAprovalPossible ? 1 : 0)" id="isFinallAprovalPossible" />
                        <input type="hidden" value="@(Model.Status)" id="installmentStatus" />
                        <input type="hidden" value="@(Model.canApprovalAmtChangble?1:0)" id="canApprovalAmtChangble" />
                        <input type="hidden" value="@JsonConvert.SerializeObject(Model.AaFs)" class="hdn-aafs" />
                        @{
                            var disableCtrlIfRequired = "";
                            if (!string.Equals(Model.Status, "V", StringComparison.OrdinalIgnoreCase))
                            {
                                disableCtrlIfRequired = " disabled ";
                            }
                        }
                        @{
                            long cd = Model.OpenDesignationId;
                            @*if (cd >= 7 && cd <= 10 && Model.CanChangeInternalStatus == true)
                            {
                                <div class="form-group col-md-12">
                                    <label>Put Internal Message:</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter ..." id="Internalmsg" name="Internalmsg"></textarea>
                                </div>
                                <div class="form-group col-md-2 pull-right">
                                    <label style="display:block">&nbsp;</label>
                                    <input type="button" value="Submit" class="btn btn-primary" id="btn-submit-Internalmsg" />
                                </div>
                            }*@
                            //else if ((cd >= 7 && cd <= 10 && Model.CanChangeInternalStatus == false) || !(cd >= 7 && cd <= 10))
                            {
                                <div class="form-group col-md-12">
                                    <label>Message</label>
                                    <textarea class="form-control" @disableCtrlIfRequired rows="3" placeholder="Enter ..." id="msg" name="msg"></textarea>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Action</label>
                                    <select class="form-control " @disableCtrlIfRequired id="status" name="status">
                                        @foreach (var ac in Model.ApprovalActions)
                                        {
                                            <option value="@ac.Code">@ac.Dscr</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Forward to:</label>
                                    <select class="form-control" @disableCtrlIfRequired id="designation" name="designation">
                                        <option value="">--select--</option>
                                        @foreach (var x in Model.Designations)
                                        {
                                            <option value="@x.Id">@x.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Sanctioned Amt:</label>
                                    <input type="text" value="@Model.LastApprovedAmount" disabled placeholder="Sanctioned Amount" class="form-control" id="approved-amount" name="approved-amount" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label style="display:block">&nbsp;</label>
                                    <input type="button" value="Submit" class="btn btn-primary" @disableCtrlIfRequired id="btn-submit-msg" />
                                </div>
                            }
                        }
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success box-dpr-messages">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-comments-o"></i>
                    <h3 class="box-title">Messages & Comments</h3>
                </div>
                <div class="box-body chat border-top" style="overflow: hidden; width: auto; height: 478px;">
                    @for (int i = 0; i < Model.DprAllocationSteps.Count; i++)
                    {
                        var msg = Model.DprAllocationSteps[i];
                        <div class="item">
                            <img src="/Contents/Dashboard/dist/img/avatar5.png" alt="user image" class="online">
                            <p class="message">
                                <a href="#" class="name">
                                    @msg.TDesignationName
                                    @if (string.Equals(msg.Status, "A", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-success">approved</small>
                                    }
                                    else if (string.Equals(msg.Status, "F", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-success">Forwarded</small>
                                    }
                                    else if (string.Equals(msg.Status, "O", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-primary">Opened</small>
                                    }
                                    else if (string.Equals(msg.Status, "N", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-danger">Rejected</small>
                                    }
                                    else if (string.Equals(msg.Status, "R", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-warning">Returned</small>
                                    }
                                    @if (i != 0)
                                    {
                                        <span class="text-muted">~ <b>@(Model.DprAllocationSteps[i - 1].TDesignationName)</b></span>
                                    }

                                    <small class="text-muted pull-right" title="Assigned On">&nbsp;<i class="fa fa-clock-o"></i>&nbsp;@(msg.AssignedOn.HasValue ? msg.AssignedOn.Value.ToString("dd-MMM-yyyy") : "")</small>
                                    <small class="text-muted pull-right" title="Approved Amount">Rs. @msg.AprovedProjectAmount&nbsp;| </small>
                                </a>
                                @(Html.Raw(msg.Remarks ?? "&nbsp;"))
                                @if (msg.AssignedToId != null)
                                {
                                    <br />
                                    <span class="text-muted bg-gray">
                                        <b title="Replied By">@msg.AssignedToName</b>
                                        @if (msg.RepliedOn != null)
                                        {
                                            <i class="fa fa-fw fa-arrow-right"></i>
                                            <small title="Replied On">@(msg.RepliedOn.HasValue ? msg.AssignedOn.Value.ToString("dd-MMM-yyyy hh:mm tt") : "")</small>
                                        }
                                    </span>
                                }

                            </p>
                        </div>
                    }
                </div>
            </div>
            <div class="modal fade final-approval-modal" role="dialog" style="padding-right: 17px;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Final Approval</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label>Sanction No:</label>
                                        <input type="text" class="form-control txt-sanction-number" name="txt-sanction-number" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>UO No:</label>
                                        <input type="text" class="form-control txt-uo-no" name="txt-uo-no" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Uo Date:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control txt-uo-date datepicker" readonly name="txt-uo-date" />
                                            <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="txt-uo-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-md-3 form-group">
                                        <label class="required">Approval Date:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control txt-approval-date datepicker" readonly name="txt-approval-date" />
                                            <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="txt-approval-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>*@
                                    <div class="col-md-4 form-group">
                                        <label class="required">Release Order No:</label>
                                        <input type="text" class="form-control release-order-no" accept="application/pdf" name="release-order-no" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="required">Order Date:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control release-order-dt datepicker" readonly name="release-order-dt" />
                                            <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="release-order-dt">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="required">Release Order:</label>
                                        <input type="file" class="form-control file-release-order" accept="application/pdf" name="file-release-order" />
                                        <a href="#" class="viewFile" target="_blank" style="padding-left: 32%;display:none">View File</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-final-approve hidden">Approve Finally</button>
                            <button type="button" class="btn btn-primary btn-gen-aafs">Generate</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </div>
    <div class="modal fade verify-modal" id="verify-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-condensed tbl-sub-projects bg-white">
                        @{var applicableChk = Model.ApplyCheckList.Where(t => t.fundReleaseId == Model.FundReleaseId).ToList();}
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Description</th>
                                <th style="width: 10%;">File</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ApplyCheckList.Count == 0)
                            {
                                <tr><td class="text-center" colspan="3">No Applied sub-projects found</td></tr>
                            }
                            else
                            {
                                int ind = 1;
                                foreach (var ch in applicableChk)
                                {
                                    <tr>
                                        <td>@ind</td>
                                        <td>@ch.Perticular</td>
                                        @if (ch.ApplyCheckListDocUrl != null && ch.ApplyCheckListDocUrl.Length > 0)
                                        {
                                            <td><a href="@ch.ApplyCheckListDocUrl" target="_blank">View File</a></td>
                                        }
                                        else
                                        {
                                            <td><a href="#">No File</a></td>
                                        }
                                    </tr>
                                    { ind = ind + 1; }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-md-9 show-msg">
                        <div class="alert alert-success" style="display:none">
                            <strong>Success!</strong> Indicates a successful or positive action.
                        </div>
                        <div class="alert alert-danger" style="display:none">
                            <strong>Error!</strong> Indicates a successful or positive action.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="sbp-@Model.FundReleaseId">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sub Projects from @Model.InstallmentMaster.Name</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-condensed tbl-sub-projects bg-white">
                        @{var applicableSbps = Model.SubProjects.Where(t => t.InstlmntId == Model.FundReleaseId).ToList();}
                        <thead>
                            <tr>
                                <th colspan="6" class="text-center">Applied Sub-Projects</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>Name</th>

                                <th>Unit</th>
                                <th>Qty</th>
                                <th>Cost</th>
                                <th>Applied Amt</th>
                                <th>Sanctioned Amt</th>
                                <th>File</th>
                                <th>Check</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SubProjects.Count == 0)
                            {
                                <tr><td class="text-center" colspan="6">No Applied sub-projects found</td></tr>
                            }
                            else
                            {
                                int ind = 1;
                                foreach (var sb in applicableSbps)
                                {
                                <tr data-id="@sb.Id" class="data @(sb.IsApplied?"":" not-applied ")" data-dprId="@sb.MstDprId" data-AmtApplied="@sb.InstPaid" data-cost="@sb.Cost">
                                    <td>@ind</td>
                                    <td>@sb.Name</td>
                                    <td>@sb.UnitName</td>
                                    <td>@sb.Qty</td>
                                    <td>@sb.Cost</td>
                                    <td>@sb.AppliedAmt</td>
                                    <td>
                                        <input type="text" data-cost="@sb.AppliedAmt" class="form-control txt-subp-SancCost" value="@sb.AppliedAmt" @(Model.canApprovalAmtChangble ? "" : " disabled ")/>
                                    </td>
                                    @if (sb.SubpProjFilesDocUrl != null && sb.SubpProjFilesDocUrl.Length > 0)
                                    {
                                        <td><a href="@sb.SubpProjFilesDocUrl" target="_blank">View File</a></td>
                                    }
                                    else
                                    {
                                        <td><a href="#">No File</a></td>
                                    }
                                    <td>
                                        <input data-cost="@sb.Cost" data-instId="@sb.InstlmntId" data-AmtApplied="@sb.InstPaid" data-dprId="@sb.MstDprId" data-sbpId="@sb.Id" type="checkbox" class="check-sbp" checked value="1">
                                    </td>
                                </tr>
                                    { ind = ind + 1; }
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
}