﻿@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;

@model Valuation_Board.Models.Application.DprModel.DprFundRelease.FundReleaseAplied

@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" value="@Model.FundReleaseId" class="mst-fund-release-id"/>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover table-striped">
                    <thead class="bg-navy-active">
                    <tr>
                        <th>#sl</th>
                        <th>Perticulars</th>
                        <th style="width:9%">File</th>
                        <th>Selected</th>
                        <th>Verify</th>
                        <th>Remarks</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        int count = 1;
                        bool isReadOnly = ViewBag.isReadonly ?? false;
                        var appliedCheckList = Model.ApplyCheckList;
                    }
                    @foreach (var t in appliedCheckList)
                    {
                        <tr data-chk-id="@t.ChkId" data-fundrelease-id="@t.fundReleaseId">
                            <td>@count</td>
                            <td>@t.Perticular</td>
                            @if (t.ApplyCheckListDocUrl != null && t.ApplyCheckListDocUrl.Length > 0)
                            {
                                <td><a href=@t.ApplyCheckListDocUrl  target="_blank">View File</a></td>
                            }
                            else
                            {
                                <td><a href="#">No File</a></td>
                            }
                            <td>
                                <div class="checkbox disabled">
                                    <label><input type="checkbox" @(t.IsChecked ? "checked" : "") disabled></label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" @(t.isVerified ? "checked" : "") @(isReadOnly ? "disabled" : "") class="chk-verify"></label>
                                </div>
                            </td>
                            <td>
                                <textarea class="form-control txt-verify-remarks" @(isReadOnly ? "disabled" : "") >@t.VerifyRemarks</textarea>
                            </td>
                        </tr>
                        count++;
                    }
                    @if (appliedCheckList.Count == 0)
                    {
                        <tr><td colspan="6"><h5 class="text-center">No checklist available</h5></td></tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   

}