﻿@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;

@model Valuation_Board.Models.Application.DprModel.DprFundRelease.InstallmentMaster
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{

    <div class="box box-primary box-installment">
        <div class="box-header with-border">
            <h3 class="box-title">New Installment Apply: @Model.Name</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form>
                <div class="hidden-input">
                    <input type="hidden" value="@Model.Id" class="installment-id" />
                </div>
                 @if (Model.SubProjects.Count > 0)
                 {
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-condensed tbl-sub-projects">
                                @*@{var applicableSbps = Model.SubProjects.Where(t => t.IsApplied == false).ToList();}*@
                                @{var applicableSbps = Model.SubProjects;}
                                <thead>
                                    <tr>
                                        <th colspan="8" class="text-center" style="font-size: 20px;">Please check Applicable Sub-Projects</th>
                                    </tr>
                                    <tr>
                                        <th >#</th>
                                        <th>Name</th>

                                        <th>Unit</th>
                                        <th>Qty</th>
                                        <th>Cost</th>
                                        <th>Utilized Amt</th>
                                        <th>Amt to be released</th>
                                        @*<th>Upload File</th>*@
                                        <th>Check</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.SubProjects.Count == 0)
                                    {
                                        <tr><td class="text-center" colspan="8">No Applicable sub-projects</td></tr>
                                    }
                                    else
                                    {
                                        int ind = 1;
                                        foreach (var sb in applicableSbps.GroupBy(t=> new {t.Id,t.Name,t.Cost,t.MstDprId,t.Qty,t.UnitName,t.InstPaid }).Select(t=>t))
                                        {
                                            <tr data-id="@sb.Key.Id" class="data" data-cost="@sb.Key.Cost" data-due="@(sb.Key.Cost - sb.Key.InstPaid)">
                                                <td>@ind</td>
                                                <td>@sb.Key.Name</td>
                                                <td>@sb.Key.UnitName</td>
                                                <td>@sb.Key.Qty</td>
                                                <td>@sb.Key.Cost</td>
                                                <td>@sb.Key.InstPaid</td>
                                                <td>
                                                    <input type="text" disabled class="inst-due" name="inst-due"  value="@(sb.Key.Cost - sb.Key.InstPaid)"/>
                                                </td>
                                                @*<td>
                                                    <input subproj-id="@sb.Id" type="file" disabled class="subproj-file" name="subproj-file">
                                                </td>*@
                                                <td>
                                                    <input data-cost="@sb.Key.Cost" type="checkbox" class="check-sbp" @(sb.Key.Cost==sb.Key.InstPaid?"disabled":"") value="1">
                                                    @*@(sb.IsApplied ? " disabled " : "") @(sb.IsApplied ? " checked " : "")*@
                                                </td>
                                            </tr>
                                            { ind = ind + 1; }
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                 }
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Memo No:</label>
                        <input type="text" class="form-control memo-no" name="memo-no" required/>
                        @if (Model.SubProjects.Count > 0)
                        {
                            <input type="hidden" value="true" class="HasSubProj" />
                        }
                        else
                        {
                            <input type="hidden" value="false" class="HasSubProj" />
                        }
                    </div>
                    <div class="form-group col-md-4">
                        <label>Memo Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control memo-date" readonly name="memo-date" required />
                            <a href="javascript:void(0);" data-clean-ctrl="memo-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Installment Amount:</label>
                        <input type="text" readonly class="form-control inst-amount" name="inst-amount" required />
                    </div>
                </div>
                <div class="row">
                    @*<div class="form-group col-md-4 hideshowDt">
                        <label>Start Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control start-date" readonly name="start-date" required />
                            <a href="javascript:void(0);" data-clean-ctrl="start-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-md-4 hideshowDt">
                        <label>End Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control end-date" readonly name="end-date" required />
                            <a href="javascript:void(0);" data-clean-ctrl="end-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>*@
                    @*<div class="form-group col-md-4 hideshowAbsPg">
                        <label>News Paper Abstract Page:</label>
                        <div class="input-group">
                            <input type="file" class="form-control file-newsPaprAbsPg" required name="file-newsPaprAbsPg" />
                        </div>
                    </div>*@
                    <div class="form-group col-md-4">
                        <label>Requisition Letter/Requisition Letter+UC (PDF):</label>
                        <div class="input-group">
                            <input type="file" class="form-control file-letterOrUc" accept="application/pdf" name="file-letterOrUc" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12" >
                        <b style="margin-left: 77%;">(PDF Only)</b>
                        <ul class="list-group">
                            @foreach (var t in Model.CheckList)
                            {
                                <li class="list-group-item ">
                                    <label class="checkbox-inline" style="width:70%;">
                                        <input type="checkbox" class="inst-check-list" value="@t.ChkId" />
                                        @t.Perticular 
                                    </label>
                                    <label class="checkbox-inline" style="float:right;">
                                        <input check-id="@t.ChkId" type="file" class="file-checklist-file" accept="application/pdf" name="file-checklist-file" />
                                    </label>
                                </li>
                            }
                            @if (Model.CheckList.Count == 0)
                            {
                                <li class="list-group-item text-center"><b>Not Check List Available</b></li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 show-msg">
                        <div class="alert alert-success" style="display:none">
                            <strong>Success!</strong> Indicates a successful or positive action.
                        </div>
                        <div class="alert alert-danger" style="display:none">
                            <strong>Error!</strong> Indicates a successful or positive action.
                        </div>
                    </div>
                        <div class="col-md-3">
                            <input type="button" value="Apply" class="btn btn-primary btn-apply-installment pull-right" />
                        </div>
                    </div>
            </form>
        </div>
    </div>
}