﻿@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@using Valuation_Board.App_Codes.Extension;

@model Valuation_Board.Models.Application.DprModel.DprFundRelease.OldFundRelease
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{

    <div class="box box-primary box-installment">
        <div class="box-header with-border">
            @if (Model.FundReleaseId != 0)
            {
                <h3 class="box-title">Update Installment: @Model.InstallmentMaster.Name</h3><br/>
                <h3 class="box-title pull-right" style="color:blue">@Model.StatusDscr</h3>
                <small>@Model.ProjectNo</small>
            }
            else
            {
                <h3 class="box-title">New Installment Apply: @Model.InstallmentMaster.Name</h3>
            }

            
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form>
                <div class="hidden-input">
                    <input type="hidden" value="@Model.FundReleaseId" class="fundrelease-id" />
                    <input type="hidden" value="@Model.MstDprId" class="dpr-id" />
                    <input type="hidden" value="@Model.Status" class="status"/>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Memo No:</label>
                        <input type="text" class="form-control memo-no" name="memo-no" value="@Model.MemoNo" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Installment Amount:</label>
                        <input type="text" class="form-control inst-amount" name="inst-amount" value="@Model.InstallmentAmount" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Memo Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control memo-date datepicker" readonly name="memo-date" value="@Model.MemoDate.ToStrDate()"  />
                            <a href="javascript:void(0);" data-clean-ctrl="memo-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Start Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control start-date datepicker" readonly name="start-date" value="@Model.StartDate.ToStrDate()"  />
                            <a href="javascript:void(0);" data-clean-ctrl="start-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label>End Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control end-date datepicker" readonly name="end-date" value="@Model.EndDate.ToStrDate()"  />
                            <a href="javascript:void(0);" data-clean-ctrl="end-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Apporved Amount:</label>
                        <input type="text" class="form-control approved-amount" name="approved-amount" value="@Model.ApprovedAmount"  />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Approval Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control approval-date datepicker" readonly name="approval-date" value="@Model.ApprovalDate.ToStrDate()"  />
                            <a href="javascript:void(0);" data-clean-ctrl="approval-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Uo No:</label>
                        <input type="text" class="form-control uo-no" name="uo-no" value="@Model.UoNo" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Uo Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control uo-date datepicker" name="uo-date" value="@Model.UoDate.ToStrDate()" readonly />
                            <a href="javascript:void(0);" data-clean-ctrl="uo-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Sanctioned Memo No:</label>
                        <input type="text" class="form-control sanctioned-memo-no" name="sanctioned-memo-no" value="@Model.SanctionMemoNo" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Verification Date:</label>
                        <div class="input-group">
                            <input type="text" class="form-control verification-date datepicker" name="verification-date" value="@Model.VerificationDate.ToStrDate()" readonly />
                            <a href="javascript:void(0);" data-clean-ctrl="verification-date" class="input-group-addon clear-data"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Account Head No:</label>
                        <textarea class="form-control account-head-no" >@Model.AccountHeadNo</textarea>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="form-group col-md-12">
                        <ul class="list-group">
                            @foreach (var t in Model.InstallmentMaster.CheckList)
                            {
                                var userCheck = Model.ApplyCheckList.FirstOrDefault(q => q.ChkId == t.ChkId);
                                var isChecked = (userCheck != null && userCheck.IsChecked);
                                <li class="list-group-item ">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" class="inst-check-list" value="@t.ChkId" @(isChecked?" checked ":"")/>
                                        @t.Perticular
                                    </label>
                                </li>
                            }
                            @if (Model.InstallmentMaster.CheckList.Count == 0)
                            {
                                <li class="list-group-item text-center"><b>Not Check List Available</b></li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 show-msg">
                        <div class="alert alert-success" style="display:none">
                            <strong>Success!</strong> Indicates a successful or positive action.
                        </div>
                        <div class="alert alert-danger" style="display:none">
                            <strong>Error!</strong> Indicates a successful or positive action.
                        </div>
                    </div>
                        <div class="col-md-3">
                            <input type="button" value="Save" class="btn btn-primary btn-save-installment pull-right" />
                        </div>
                    </div>
            </form>
        </div>
    </div>
}