﻿@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@model Valuation_Board.Models.Application.DprModel.Master
@{
    ViewBag.Title = "DprApproveOrReturn";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    #ui-datepicker-div {
        z-index: 2 !important;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>

<style>
    body {
        background-color: #efefef;
    }
    /*table {
        table-layout: fixed;
    }*/

    .tbl-part1-check-list td:nth-child(1), .tbl-part2-check-list td:nth-child(1) {
        width: 2%;
    }

    .tbl-part1-check-list td:nth-child(2), .tbl-part2-check-list td:nth-child(2) {
        width: 30%;
    }

    .tbl-part1-check-list td:nth-child(3), .tbl-part2-check-list td:nth-child(3) {
        width: 7%;
    }

    .tbl-part1-check-list td:nth-child(4), .tbl-part2-check-list td:nth-child(4) {
        width: 7%;
    }
</style>
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <form autocomplete="off">
        @*<div class="hidden-controls">
                <input type="hidden" class="hdn-IdentityStamp" value="@Model.IdentityStamp" />
            </div>*@
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title title-wise-bar-chart">Comprehensive Checklist for DPR Verification</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name of the Municipal Body/ Development Authority</label>
                                    <input type="text" class="form-control txt-dev-auth" name="txt-dev-auth" value="@Model.MunicipalityName" readonly />
                                    <input type="hidden" class="form-control hdn-dev-auth-id" name="hdn-dev-auth-id" value="@Model.MunicipalityId" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name of Engineer</label>
                                    <input type="text" class="form-control txt-work-name" name="txt-work-name" value="@Model.NameOfEngineer" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Designation</label>
                                    <input type="text" class="form-control txt-work-name" name="txt-work-name" value="@Model.Designation" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Estimated Cost</label>
                                    <input type="text" class="form-control txt-estimated-cost" name="txt-estimated-cost" value="@Model.EstimatedCost" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name of the Work</label>
                                    <input type="text" class="form-control txt-work-name" name="txt-work-name" value="@Model.NameOfWork" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Implementing Agency</label>
                                    <input type="text" class="form-control txt-impl-agency" name="txt-impl-agency" value="@Model.AgencyName" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Memo No.</label>
                                    <input type="text" class="form-control txt-estimated-cost" name="txt-estimated-cost" value="@Model.MemoNo" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Memo Date</label>
                                    <input type="text" class="form-control txt-estimated-cost" name="txt-estimated-cost" value="@Model.MemoDate.Value.ToString("dd'/'MM'/'yyyy")" readonly />
                                </div>
                            </div>
                        </div>
                        @{ Func<string, string, string, string> IsSelected = (x, str2, defVal) =>
                              {
                                  if (!string.IsNullOrEmpty(defVal))
                                  {
                                      if (!string.IsNullOrEmpty(str2) && str2.Equals(defVal, StringComparison.OrdinalIgnoreCase))
                                          return " selected ";
                                  }
                                  else
                                  {
                                      if (!string.IsNullOrEmpty(x) && x.Equals(str2, StringComparison.OrdinalIgnoreCase))
                                          return " selected ";
                                  }

                                  return string.Empty;
                              };
                        }
                        <table class="table table-responsive table-bordered table-condensed  tbl-part1-check-list">
                            <thead class="bg-blue">
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Perticular</th>
                                    <th>Part Val</th>
                                    <th>Page No</th>
                                    <th>Verify @*<label class="checkbox-inline" style="padding-bottom: 19px;"><input type="checkbox" name="VerifyOrRejectAll" value="VerifyOrRejectAll" class="VorRall"></label>*@</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1; }
                                @if (Model.Part1.CheckList.Count > 0)
                                {
                                    <tr>
                                        <td></td>
                                        <td><h4>Part I:</h4></td>
                                    </tr>
                                    foreach (var x in Model.Part1.CheckList)
                                    {
                                        <tr data-Id="@x.Id" class="data">
                                            <td>@x.PartSlNo</td>
                                            <td><div class="lbl-Perticular">@x.Perticular</div></td>
                                            @*<td><div class="lbl-partval">@x.Val</div></td>*@
                                            <td>
                                                <div class="lbl-partval">
                                                    <select class="form-control ddl-chk-part1" name="ddl-chk-part1" @(x.IsReadOnly ? " disabled " : "") data-IsReadOnly="@x.IsReadOnly" data-DefaultValue="@(x.DefaultValue ?? "")">
                                                        <option value="NO" @(IsSelected(x.Val, "NO", x.DefaultValue))>No</option>
                                                        <option value="YES" @(IsSelected(x.Val, "YES", x.DefaultValue))>Yes</option>
                                                        <option value="NA" @(IsSelected(x.Val, "NA", x.DefaultValue))>NA</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td><div class="lbl-pageNo">@x.PageNo</div></td>
                                            <td>
                                                <div>
                                                    <label class="checkbox-inline"><input class="chk-part1" name="@(string.Format("{0}-chk-part1", x.Id))" type="checkbox"></label>
                                                </div>
                                            </td>
                                            <td><input type="text" class="txt-remarks form-control" value="@x.Remarks" /></td>
                                        </tr>
                                        i = i + 1;
                                    }
                                }
                                @if (Model.Part2.CheckList.Count > 0)
                                {
                                    <tr>
                                        <td></td>
                                        <td><h4>Part II:</h4></td>
                                    </tr>
                                    foreach (var x in Model.Part2.CheckList)
                                    {
                                        <tr data-Id="@x.Id" class="data">
                                            <td>@x.PartSlNo</td>
                                            <td><div class="lbl-Perticular">@x.Perticular</div></td>
                                            @*<td><div class="lbl-partval">@x.Val</div></td>*@
                                            <td>
                                                <div class="lbl-partval">
                                                    <select class="form-control ddl-chk-part1" name="ddl-chk-part1" @(x.IsReadOnly ? " disabled " : "") data-IsReadOnly="@x.IsReadOnly" data-DefaultValue="@(x.DefaultValue ?? "")">
                                                        <option value="NO" @(IsSelected(x.Val, "NO", x.DefaultValue))>No</option>
                                                        <option value="YES" @(IsSelected(x.Val, "YES", x.DefaultValue))>Yes</option>
                                                        <option value="NA" @(IsSelected(x.Val, "NA", x.DefaultValue))>NA</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td><div class="lbl-pageNo">@x.PageNo</div></td>
                                            <td>
                                                <div>
                                                    <label class="checkbox-inline"><input class="chk-part1" name="@(string.Format("{0}-chk-part1", x.Id))" type="checkbox"></label>
                                                </div>
                                            </td>
                                            <td><input type="text" class="txt-remarks form-control" value="@x.Remarks" /></td>
                                        </tr>
                                        i = i + 1;
                                    }
                                }

                            </tbody>
                        </table>

                        @if (string.IsNullOrEmpty(Model.CheckListDocUrl) == false)
                        {
                            <div class="well well-default text-center mt-5">
                                <a href="@Model.CheckListDocUrl" target="_blank">Download latest Uploaded Checklist</a>
                            </div>
                        }
                        @if (string.IsNullOrEmpty(Model.AbsPgDocUrl) == false)
                        {
                            <div class="well well-default text-center mt-5">
                                <a href="@Model.AbsPgDocUrl" target="_blank">Download Abstract Page</a>
                            </div>
                        }
                    </div>
                    <div class="box box-primary box-installment">
                        <!-- /.box-header -->
                        <div class="box-body">
                                <div class="hidden-input">
                                    <input type="hidden" value="" class="installment-id" />
                                </div>
                                @if (Model.SubProjects.Count > 0)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-condensed tbl-sub-projects">
                                                @*@{var applicableSbps = Model.SubProjects.Where(t => t.IsApplied == false).ToList();}*@
                                                @{var applicableSbps = Model.SubProjects;}
                                                <thead>
                                                    <tr>
                                                        <th colspan="8" class="text-center" style="font-size: 20px;">Applied Sub-Projects</th>
                                                    </tr>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Qty</th>
                                                        <th>Cost</th>
                                                        <th>File</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.SubProjects.Count == 0)
                                                    {
                                                        <tr><td class="text-center" colspan="8">No Applicable sub-projects</td></tr>
                                                    }
                                                    else
                                                    {
                                                        int ind = 1;
                                                        foreach (var sb in applicableSbps)
                                                        {
                                                        <tr>
                                                            <td>@ind</td>
                                                            <td>@sb.Name</td>
                                                            <td>@sb.Qty</td>
                                                            <td>@sb.Cost</td>
                                                            @if (sb.SubProjFile !=null)
                                                            {
                                                                <td>
                                                                    <a href="@sb.SubProjFile" target="_blank">View File</a>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <a href="#" target="_blank">No File</a>
                                                                </td>
                                                            }
                                                        </tr>
                                                            { ind = ind + 1; }
                                                        }
                                                    }
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="box-footer clearfix no-border text-right pull-right">
                        <button class="btn btn-danger btn-form-submit returnBtn">Return</button>
                        <button class="btn btn-success btn-form-submit verifyBtn">Verify</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
   
    <script>
$(document).ready(function () {
    var Server = function () {
        this.submitForm = function (obj,callback) {
            $.ajax({
                type: 'post',
                url: '/Modules/dpr/VerifyDpr',
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    callback(response);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    callback({ Status: xhr.status, Message: xhr.responseText, Data: null });
                }
            });
        };
    };
    var toggleVerifyOrReturn = function () {
        $('.returnBtn').css('display', 'block');
        $('.verifyBtn').css('display', 'none');
        $('.chk-part1').change(function () {
            var flag = true;
            $(".tbl-part1-check-list tbody tr").map(function (ind, val) {
                if ($(val).find('.chk-part1').prop('checked') == false) {
                    flag = false
                }
            });
            if (flag == false) {
                $('.returnBtn').css('display', 'block');
                $('.verifyBtn').css('display', 'none');
            }
            if (flag == true) {
                $('.returnBtn').css('display', 'none');
                $('.verifyBtn').css('display', 'block');
            }
        });
    };
    var App = function (srv) {
        var doms = function () {
            return {
                chkLstPar1: $(".tbl-part1-check-list tbody tr.data").map(function (ind, val) {
                    return {
                        Id: $(val).attr("data-Id"),
                        chk: $(val).find('.chk-part1'),
                        txtRemark: $(val).find('.txt-remarks'),
                        ddl_partval: $(val).find('.ddl-chk-part1')
                    }
                }),
                btn_submitForm: $(".btn-form-submit"),
               // btn_resetForm: $(".btn-reset"),
            };
        }
        var _eventHandlers = {
            _onSubmitForm: function (e) {
                e.preventDefault();
                    alertify.confirm("Confirm Us!", "Are you sure to Proceed?", function () {
                        var formdata = getFormData();
                        srv.submitForm(formdata, function (e) {
                            if (e.Status == 200) {
                                alertify.alert('Successfull', e.Message, function () {
                                    location.href = "/Modules/Dpr/DprListUi";
                                });
                            } else {
                                alert("Error on Dpr verify");
                                alertify.error(e.Message);
                            }
                        })
                    }, function () { })
                    console.log(getFormData());
            },
        };
        var bindEvents = function () {
            doms().btn_submitForm.on('click', _eventHandlers._onSubmitForm);
        }
        var registerValidator = function () {
            //add validate method
            var vld = {
                rules: {},
                messages: {},
                errorPlacement: function (error, element) {
                    error.insertAfter(element);
                    error.css('color', 'red');
                }
            }
            $('form').validate(vld);
        }
        var getFormData = function () {
            return {
                DPChkSlId: @(ViewBag.DPChkSlId),
                Part1: {
                    CheckList: doms().chkLstPar1.map(function (ind, val) {
                        return { Id: val.Id, Approve: val.chk.prop('checked'), Remarks: val.txtRemark.val(), Val: val.ddl_partval.val() };
                    }).get()
                },
            }
        }
        this.Init = function () {
            bindEvents();
            registerValidator();
        };
    };
    (function () {
        var srv = new Server();
        var app = new App(srv);
        app.Init();
        toggleVerifyOrReturn();
        //$('.VorRall').change(function () {
        //    if ($(".VorRall").prop('checked') == true) {
        //        $('.chk-part1').prop('checked', true);
        //        $('.returnBtn').css('display', 'none');
        //        $('.verifyBtn').css('display', 'block');
        //    }
        //    if ($(".VorRall").prop('checked') == false) {
        //        $('.chk-part1').prop('checked', false);
        //        $('.returnBtn').css('display', 'block');
        //        $('.verifyBtn').css('display', 'none');
        //    }
        //});
    }());
});
    </script>
                                    }

                                   

