﻿@using Valuation_Board.App_Codes;
@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@using Newtonsoft.Json;

@model Valuation_Board.Models.Application.DprModel.DprApproval

@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <div class="row">
        <div class="col-md-6">
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-gradient">
                    <h5 class="white" title="project no">@Model.ProjectNo</h5>
                    <h6 class="white"><span class="pull-left">Project Amount: Rs. @Model.EstimatedCost</span></h6>
                </div>
                <div class="box-footer no-padding">
                    <ul class="list-group">
                        <li class="list-group-item "><label>UlB's Name </label><p class="pull-right">@Model.MunicipalityDevAuthoName</p></li>
                        <li class="list-group-item "><label>Name Of the Work </label><p>@Model.NameOfWork</p></li>
                        <li class="list-group-item "><label>Email Id</label> <p class="pull-right">@Model.EmailID</p></li>
                        <li class="list-group-item "><label>Mobile No</label> <p class="pull-right">@Model.ContactNumber</p></li>
                        <li class="list-group-item "><a href="/Modules/dpr/DprReport?mstDprId=@Model.DPChkSlId" target="_blank"><label>Print Form click here</label></a></li>
                        <li class="list-group-item "><label>Check List</label> <a class="pull-right" href="@Model.CheckListDocUrl" target="_blank"><label>@(@Model.CheckListDocUrl == null ? "No File" : "View File")</label></a></li>
                        <li class="list-group-item "><label>Abstract Page</label> <a class="pull-right" href="@Model.AbsPgDocUrl" target="_blank"><label>@(@Model.AbsPgDocUrl==null?"No File": "View File")</label></a></li>
                    </ul>
                </div>
            </div>
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Change DPR Approval Status</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                     @if (true == true)
                     {
                          <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-condensed tbl-sub-projects">
                                    <thead>
                                        <tr>
                                            <th colspan="6" class="text-center">Sub-Projects</th>
                                        </tr>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>

                                            <th>Unit</th>
                                            <th>Qty</th>
                                            <th>Cost</th>
                                            <th>File</th>
                                            <th>Check</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.SubProjects.Count == 0)
                                        {
                                            <tr><td class="text-center" colspan="6">No sub-projects included</td></tr>
                                        }
                                        else
                                        {
                                            int ind = 1;
                                            foreach (var sb in Model.SubProjects)
                                            {
                                            <tr data-id="@sb.Id" class="data">
                                                <td>@ind</td>
                                                <td>@sb.Name</td>
                                                <td>@sb.UnitName</td>
                                                <td>@sb.Qty</td>
                                                <td><input type="text" class="form-control txt-subp-cost" value="@sb.Cost" @(Model.canApprovalAmtChangble ? "" : " disabled ") /></td>
                                                @if (sb.SubProjFile != null)
                                                {
                                                    <td>
                                                        <a href="@sb.SubProjFile" target="_blank">View File</a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a href="#" target="_blank">No File</a>
                                                    </td>
                                                }
                                                <td>
                                                    <input data-cost="@sb.Cost" data-dprId="@sb.MstDprId" data-sbpId="@sb.Id" type="checkbox" class="check-sbp" checked value="1">
                                                </td>
                                            </tr>
                                                { ind = ind + 1;}
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        @if (Model.SubProjects.Count > 0)
                                        {
                                            <tr><td class="text-center" colspan="4">Summary</td><td><label class="lbl-sb-totalCost">@Model.SubProjects.Sum(t => t.Cost)</label> </td></tr>
                                        }
                                    </tfoot>
                                </table>
                            </div>
                          </div>
                     }
                   
                          <form role="form" id="post-dpr-msg">
                              <input type="hidden" value="@Model.DPChkSlId" id="mstDprId" name="mstDprId" />
                              <input type="hidden" value="@Model.HasSubProj" id="HasSubProj" name="HasSubProj" />
                              <input type="hidden" value="@(Model.isFinallAprovalPossible ? 1 : 0)" id="isFinallAprovalPossible" />
                              <input type="hidden" value="@(Model.CanGenerateAAFS ? 1 : 0)" class="CanGenerateAAFS" />
                              <input type="hidden" value="@(Model.canApprovalAmtChangble?1:0)" id="canApprovalAmtChangble" />
                              <input type="hidden" value="@(JsonConvert.SerializeObject(Model.Budgets))" id="hdn-budgets" />
                              <input type="hidden" value="@JsonConvert.SerializeObject(Model.AaFs)" class="hdn-aafs" />
                              <input type="hidden" value="@JsonConvert.SerializeObject(Model.BudgetHeadsApplied)" class="hdn-applied-budgets" />
                              @{
                                  var disableCtrlIfRequired = "";
                                  if (!string.Equals(Model.DPChkStatus, "V", StringComparison.OrdinalIgnoreCase))
                                  {
                                      disableCtrlIfRequired = " disabled ";
                                  }
                              }
                              @{
                                  long cd = Model.OpenDesignationId;
                                  @*if (cd >= 7 && cd <= 10 && Model.CanChangeInternalStatus == true)
                                  {
                                      <div class="form-group col-md-12">
                                          <label>Put Internal Message:</label>
                                          <textarea class="form-control" rows="3" placeholder="Enter ..." id="Internalmsg" name="Internalmsg"></textarea>
                                      </div>
                                      <div class="form-group col-md-2 pull-right">
                                          <label style="display:block">&nbsp;</label>
                                          <input type="button" value="Submit" class="btn btn-primary"  id="btn-submit-Internalmsg" />
                                      </div>
                                  }*@
                                              //else if ((cd >= 7 && cd <= 10 && Model.CanChangeInternalStatus == false) || !(cd >= 7 && cd <= 10))
                                {
                                      <div class="form-group col-md-12">
                                          <label>Message</label>
                                          <textarea class="form-control" @disableCtrlIfRequired rows="3" placeholder="Enter ..." id="msg" name="msg"></textarea>
                                      </div>
                                      <div class="form-group col-md-4">
                                          <label>Action</label>
                                          <select class="form-control " @disableCtrlIfRequired id="status" name="status">
                                              @foreach (var ac in Model.ApprovalActions)
                                          {
                                                  <option value="@ac.Code">@ac.Dscr</option>
                                              }
                                          </select>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label>Forward to:</label>
                                          <select class="form-control" @disableCtrlIfRequired id="designation" name="designation">
                                              <option value="">--select--</option>
                                              @foreach (var x in Model.Designations)
                                              {
                                                  <option value="@x.Id">@x.Name</option>
                                              }
                                          </select>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label>Sanctioned Amt:</label>
                                          <input type="text" value="@Model.LastApprovedAmount" placeholder="Sanctioned Amount" class="form-control" id="approved-amount" name="approved-amount" />
                                      </div>
                                      <div class="form-group col-md-2">
                                          <label style="display:block">&nbsp;</label>
                                          <input type="button" value="Submit" class="btn btn-primary" @disableCtrlIfRequired id="btn-submit-msg" />
                                      </div>
                                  }
                              }

                          </form>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success box-dpr-messages">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa fa-comments-o"></i>
                    <h3 class="box-title">Messages & Comments</h3>
                </div>
                <div class="box-body chat border-top" style="overflow: hidden; width: auto; height: 478px;">
                    @for (int i = 0; i < Model.DprAllocationSteps.Count; i++)
                    {
                        var msg = Model.DprAllocationSteps[i];
                        <div class="item">
                            <img src="/Contents/Dashboard/dist/img/avatar5.png" alt="user image" class="online">

                            <p class="message">
                                <a href="#" class="name">
                                    @msg.TDesignationName
                                    @if (string.Equals(msg.Status, "A", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-success">approved</small>
                                    }
                                    else if (string.Equals(msg.Status, "O", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-primary">Opened</small>
                                    }
                                    else if (string.Equals(msg.Status, "N", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-danger">Rejected</small>
                                    }
                                    else if (string.Equals(msg.Status, "R", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-warning">Returned</small>
                                    }
                                    @if (string.Equals(msg.Status, "F", StringComparison.OrdinalIgnoreCase))
                                    {
                                        <small class="label label-success">forwarded</small>
                                    }
                                    @if (i != 0)
                                    {
                                        <span class="text-muted">~ <b>@(Model.DprAllocationSteps[i - 1].TDesignationName)</b></span>
                                    }

                                    <small class="text-muted pull-right" title="Assigned On">&nbsp;<i class="fa fa-clock-o"></i>&nbsp;@(msg.AssignedOn.HasValue ? msg.AssignedOn.Value.ToString("dd-MMM-yyyy") : "")</small>
                                    <small class="text-muted pull-right" title="Approved Amount">Rs. @msg.AprovedProjectAmount&nbsp;| </small>
                                </a>
                                @(Html.Raw(msg.Remarks ?? "&nbsp;"))
                                @if (msg.AssignedToId != null)
                                {
                                    <br />
                                    <span class="text-muted bg-gray">
                                        <b title="Replied By">@msg.AssignedToName</b>
                                        @if (msg.RepliedOn != null)
                                        {
                                            <i class="fa fa-fw fa-arrow-right"></i>
                                            <small title="Replied On">@(msg.RepliedOn.HasValue ? msg.AssignedOn.Value.ToString("dd-MMM-yyyy hh:mm tt") : "")</small>
                                        }
                                    </span>
                                }

                            </p>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
                            }