﻿
@{
    ViewBag.Title = "Apply Fund Release";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    #ui-datepicker-div {
        z-index: 2 !important;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="~/Contents/Script/AppJs/file.upload.partial.js"></script>
<script src="~/Contents/Script/AppJs/dpr.applyfundrelease.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<style>
    body {
        background-color: #efefef;
    }
    /*table {
        table-layout: fixed;
    }*/

    .tbl-part1-check-list td:nth-child(1), .tbl-part2-check-list td:nth-child(1) {
        width: 2%;
    }

    .tbl-part1-check-list td:nth-child(2), .tbl-part2-check-list td:nth-child(2) {
        width: 30%;
    }

    .tbl-part1-check-list td:nth-child(3), .tbl-part2-check-list td:nth-child(3) {
        width: 7%;
    }

    .tbl-part1-check-list td:nth-child(4), .tbl-part2-check-list td:nth-child(4) {
        width: 7%;
    }
</style>
@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@using Valuation_Board.App_Codes.Extension;

@model Valuation_Board.Models.Application.DprModel.DprFundRelease.InitiationModel

@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{

    <div class="row">
        <div class="col-md-12">
            <div style="display:none;" class="hidden-settings">
                <input type="hidden" class="mstdprid" value="@Model.MstDprId" />
                <input type="hidden" class="approved-project-amount" value="@Model.ApprovedProjectCost" />
                <input type="hidden" class="cumulative-amount" value="@Model.TotalCumulativeAmount" />
            </div>
            <div class="project-summary">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Fund Release: @Model.ProjectNo</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Implementing Agency With Project ID:</label>
                                <input type="text" readonly class="form-control" value="@(string.Format("{0}=>{1}",Model.AgencyName,Model.ProjectNo))" />
                            </div>
                            @{
                                string lastInstallmentReleasedText = "";
                                var lastInstallment = Model.AppliedInstallments.Where(t => t.Status != "R" && t.Status != "N").OrderByDescending(t => t.InstallmentMaster.Rank).FirstOrDefault();
                                lastInstallmentReleasedText = (lastInstallment == null ? "" : lastInstallment.InstallmentMaster.Name);
                            }
                            <div class="form-group col-md-6">
                                <label>Last installment applied/released:</label>
                                <input type="text" readonly class="form-control" value="@(string.IsNullOrEmpty(lastInstallmentReleasedText)?"Still not applied":lastInstallmentReleasedText)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Total Project Cost:</label>
                                <input type="text" readonly class="form-control" value="@Model.ApprovedProjectCost" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Amount utilized so far (Cumulative):</label>
                                <input type="text" readonly class="form-control" value="@Model.TotalCumulativeAmount" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Name of the Project:</label>
                                <input type="text" readonly class="form-control" value="@Model.NameOfTheProject" />
                            </div>
                        </div>
                        <form>
                            <div class="row border-top">
                                <div class="form-group col-md-6">
                                    <label>Select Project Installment:</label>
                                    <select class="form-control select-new-installment" required name="select-new-installment">
                                        <option value="">--select Installment--</option>
                                        @foreach (var inst in Model.InstallmentMasters.OrderBy(t => t.Rank))
                                        {
                                            <option value="@inst.Id">@inst.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>&nbsp;</label>
                                    <span class="input-group-btn">
                                        <input type="button" @(Model.TotalCumulativeAmount==Model.ApprovedProjectCost? "disabled":"") value="Proceed" class="btn btn-primary pull-right btn-installment-ui" />
                                    </span>

                                    @*<input type="button" value="Procced" class="btn btn-primary pull-right input-group-btn" />*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="relase-installment">
                <!--inastallment window will come here will-->
            </div>
            <div class="old-installments">
                @if (Model.AppliedInstallments.Count > 0)
                {
                    <h5 class="text-center">Old Installemt List on current DPR</h5>
                }
                
                @foreach (var appInst in Model.AppliedInstallments)
                {
                    <div class="box box-primary bg-gray">
                        <div class="box-header with-border">
                            <h3 class="box-title">@appInst.InstallmentMaster.Name</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Summary:</label>
                                    <ul class="list-group">
                                        <li class="list-group-item"><label>Status:</label><span class="pull-right">@appInst.StatusDscr</span></li>
                                        <li class="list-group-item"><label>Memo No:</label><span class="pull-right">@appInst.MemoNo</span></li>
                                        <li class="list-group-item"><label>Memo Date:</label><span class="pull-right">@appInst.MemoDate.ToStrDate()</span></li>
                                        <li class="list-group-item"><label>Applied Installment Amount:</label><span class="pull-right">@appInst.InstallmentAmount</span></li>
                                        <li class="list-group-item"><label>Released Installment Amount:</label><span class="pull-right">@appInst.ReleasedInstallmentAmount</span></li>
                                        @*@if (string.IsNullOrEmpty(appInst.NewsPaprAbsDocUrl) == false)
                                        {
                                            <li class="list-group-item"><label>News Paper Abstruct:</label><span class="pull-right"><a href="@appInst.NewsPaprAbsDocUrl" target="_blank">View File</a></span></li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item"><label>News Paper Abstruct:</label><span class="pull-right"><a href="#">No File</a></span></li>
                                        }*@
                                        @if (string.IsNullOrEmpty(appInst.LetterOrUcDocUrl) == false)
                                        {
                                            <li class="list-group-item"><label>Requisition Letter/Requisition Letter+UC:</label><span class="pull-right"><a href="@appInst.LetterOrUcDocUrl" target="_blank">View File</a></span></li>
                                        }
                                        else
                                        {
                                            <li class="list-group-item"><label>Requisition Letter/Requisition Letter+UC:</label><span class="pull-right"><a href="#">No File</a></span></li>
                                        }
                                        @*<li class="list-group-item"><label>Start Date:</label><span class="pull-right">@appInst.StartDate.ToStrDate()</span></li>
                                        <li class="list-group-item"><label>End date:</label><span class="pull-right">@appInst.EndDate.ToStrDate()</span></li>*@
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <label>Check List:</label>
                                    <ul class="list-group">
                                        @foreach (var chk in appInst.ApplyCheckList)
                                        {
                                            <li class="list-group-item ">
                                                <label class="checkbox-inline" style="width:70%;">
                                                    <input type="checkbox" disabled class="inst-check-list" value="@chk.ChkId" @(chk.IsChecked ? "checked" : "")/>
                                                    @chk.Perticular
                                                </label>
                                                <label class="checkbox-inline" style="float:right;">
                                                    @if (string.IsNullOrEmpty(chk.ApplyCheckListDocUrl) == false)
                                                    {
                                                        <label><span class="pull-right"><a href="@chk.ApplyCheckListDocUrl" target="_blank">View File</a></span></label>
                                                    }
                                                    else
                                                    {
                                                        <label><span class="pull-right"><a href="#">No File</a></span></label>
                                                    }
                                                </label>
                                            </li>
                                        }
                                        @if (appInst.ApplyCheckList.Count == 0)
                                        {
                                            <li class="list-group-item text-center"><b>Not Check List Available</b></li>
                                        }

                                    </ul>
                                </div>
                            </div>
                             @if (appInst.SubProjects.Count > 0)
                             {
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered table-condensed tbl-sub-projects bg-white">
                                            @*@{var applicableSbps = appInst.SubProjects.Where(t => t.InstlmntId == appInst.FundReleaseId).ToList();}*@
                                            @{var applicableSbps = appInst.SubProjects;}
                                            <thead>
                                                <tr>
                                                    <th colspan="7" class="text-center">Applied Sub-Projects</th>
                                                </tr>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>

                                                    <th>Unit</th>
                                                    <th>Qty</th>
                                                    <th>Cost</th>
                                                    <th>Utilized Amt</th>
                                                    @*<th>File</th>*@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (appInst.SubProjects.Count == 0)
                                                {
                                                    <tr><td class="text-center" colspan="7">No Applied sub-projects found</td></tr>
                                                }
                                                else
                                                {
                                                    int ind = 1;
                                                    foreach (var sb in applicableSbps)
                                                    {
                                                        <tr data-id="@sb.Id" class="data @(sb.IsApplied?"":" not-applied ")" data-cost="@sb.Cost">
                                                            <td>@ind</td>
                                                            <td>@sb.Name</td>
                                                            <td>@sb.UnitName</td>
                                                            <td>@sb.Qty</td>
                                                            <td>@sb.Cost</td>
                                                            <td>@sb.InstPaid</td>
                                                            @*<td>
                                                                @if (string.IsNullOrEmpty(sb.SubpProjFilesDocUrl) == false)
                                                                {
                                                                    <label><span class="pull-right"><a href="@sb.SubpProjFilesDocUrl" target="_blank">View File</a></span></label>
                                                                }
                                                                else
                                                                {
                                                                    <label><span class="pull-right"><a href="#">No File</a></span></label>
                                                                }
                                                            </td>*@
                                                        </tr>
                                                        { ind = ind + 1; }
                                                    }
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                                }
                            
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
 }
