﻿@using Valuation_Board.Models.Application;
@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@model List<Valuation_Board.Models.Application.DprModel.DprDraft>
@{
    ViewBag.Title = "DprForm";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    body {
        background-color: #efefef;
    }

    #ui-datepicker-div {
        z-index: 2 !important;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .dataTables_empty {
        text-align: center;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
@{
    ViewBag.Title = "DprList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title title-wise-bar-chart">Comprehensive DPR Draft List</h3>
                </div>
                <div class="box-body">
                    <table class="table table-responsive table-striped table-bordered table-condensed tbl-dpr-list">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Municipal Body/Development Authority</th>
                                <th>Name Of Work</th>
                                <th>Draft On</th>
                                <th>Countinue Submission</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int count = 1;}
                            @foreach(var x in Model)
                            {
                            <tr>
                                <td>@count</td>
                                <td>@x.DprMaster.MunicipalityName</td>
                                <td>@x.DprMaster.NameOfWork</td>
                                <td>@x.DraftOn.ToString("dd'/'MM'/'yyyy")</td>
                                <td><a href="/Modules/Dpr/DprFormByDraft?identityStamp=@x.DprMaster.IdentityStamp">DPR Form</a></td>
                            </tr>
                                count = count + 1;
                            }
                            @if (count == 1) {
                                <tr><td colspan="4">
                                    <h5 class="text-center">No Draft Found</h5>
                                    </td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


