﻿@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;

@model Valuation_Board.Models.Application.DprModel.DprDashboard.OnLoadData
@{
    ViewBag.Title = "Modules";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/AppJs/dpr.dashboard.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<script src="~/Contents/Dashboard/flot/jquery.flot.js"></script>
<script src="~/Contents/Dashboard/flot/jquery.flot.resize.js"></script>
<script src="~/Contents/Dashboard/flot/jquery.flot.pie.js"></script>
<script src="~/Contents/Dashboard/flot/jquery.flot.categories.js"></script>
<script src="~/Contents/Dashboard/flot/jquery.flot.orderBars.js"></script>
<script>
    jQuery(document).ready(function () {

        var back = jQuery(".prev");
        var next = jQuery(".next");
        var steps = jQuery(".step");

        next.bind("click", function () {
            jQuery.each(steps, function (i) {
                if (!jQuery(steps[i]).hasClass('current') && !jQuery(steps[i]).hasClass('done')) {
                    jQuery(steps[i]).addClass('current');
                    jQuery(steps[i - 1]).removeClass('current').addClass('done');
                    return false;
                }
            })
        });
        back.bind("click", function () {
            jQuery.each(steps, function (i) {
                if (jQuery(steps[i]).hasClass('done') && jQuery(steps[i + 1]).hasClass('current')) {
                    jQuery(steps[i + 1]).removeClass('current');
                    jQuery(steps[i]).removeClass('done').addClass('current');
                    return false;
                }
            })
        });

    });
    function SearchProjTab(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
<style>
    body {
        background-color: #efefef;
    }

    .color-label {
        padding: 3px;
        display: inline-block;
        border-radius: 3px;
    }

    .info-box-icon-overload {
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
        display: block;
        float: left;
        height: 68px;
        width: 72px;
        text-align: center;
        font-size: 45px;
        line-height: 70px;
        background: rgba(0, 0, 0, 0.2)
    }

        .info-box-icon-overload:hover {
            color: white;
        }

    .info-box-overload {
        display: block;
        min-height: 68px;
        background: #fff;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        margin-bottom: 15px;
    }

    .filter-chip {
        float: left;
        background-color: #516575;
        color: #ffffff;
        /* width: 100px; */
        line-height: 19px;
        text-align: center;
        margin: 2px;
        padding: 5px;
    }

        .filter-chip > .remove {
            margin-left: 10px;
            color: white;
        }

            .filter-chip > .remove:hover {
                color: white;
            }

    .info-box-content-overload {
        padding: 5px 5px;
    }

    .change-filter-modal .tab-content > .tab-pane {
        min-height: 200px;
        padding: 10px;
    }

        .change-filter-modal .tab-content > .tab-pane > .list-container {
            max-height: 300px;
            overflow-y: scroll;
        }

    .todo-list .checkbox {
        margin: 0px;
    }

    .chart-tooltip {
        pointer-events: none;
    }
    .chart-tooltipCategory {
        pointer-events: none;
    }

    .financial-year-wise-data-bar-chart-last-n-years .tickLabel {
        max-width: unset !important;
    }

    .financial-year-wise-data-bar-chart-next-n-years-expenditure .tickLabel {
        max-width: unset !important;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #00c0ef;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #00c0ef;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #269abc;
            }

    /* Style the tab content */
    .tabcontent {
        display: block;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    .tabcontenthdn {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    
    /*added for progress bar*/
    .clearfix:after {
        clear: both;
        content: "";
        display: block;
        height: 0;
    }

    .wrapper {
        display: table-cell;
        height: 400px;
        vertical-align: middle;
    }

    .nav {
        margin-top: 40px;
    }

    .pull-right {
        float: right;
    }

    a, a:active {
        color: #333;
        text-decoration: none;
    }

        a:hover {
            color: #999;
        }

    .arrow-steps .step {
        font-size: 10px;
        text-align: center;
        color: #666;
        cursor: default;
        margin: 0 3px;
        padding: 10px 10px 10px 30px;
        min-width: 80px;
        float: left;
        position: relative;
        background-color: #d9e3f7;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color 0.2s ease;
    }

        .arrow-steps .step:after,
        .arrow-steps .step:before {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #d9e3f7;
            z-index: 2;
            transition: border-color 0.2s ease;
        }

        .arrow-steps .step:before {
            right: auto;
            left: 0;
            border-left: 17px solid #fff;
            z-index: 0;
        }

        .arrow-steps .step:first-child:before {
            border: none;
        }

        .arrow-steps .step:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .arrow-steps .step span {
            position: relative;
        }

            .arrow-steps .step span:before {
                opacity: 0;
                content: "✔";
                position: absolute;
                top: -2px;
                left: -12px;
            }

        .arrow-steps .step.done span:before {
            opacity: 1;
            -webkit-transition: opacity 0.3s ease 0.5s;
            -moz-transition: opacity 0.3s ease 0.5s;
            -ms-transition: opacity 0.3s ease 0.5s;
            transition: opacity 0.3s ease 0.5s;
        }

        .arrow-steps .step.current {
            color: #fff;
            background-color: #23468c;
        }

            .arrow-steps .step.current:after {
                border-left: 17px solid #23468c;
            }
</style>
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="info-box-overload filterBox">
                <a class="info-box-icon-overload bg-light-blue-gradient cursor-pointer btn-open-filter" title="Add Remove Filter" data-toggle="modal" data-target="#change-filter-modal">
                    <i class="fa fa-filter">
                    </i>
                </a>
                <div class="info-box-content-overload list-filters">

                </div>
            </div>
            <div class="modal fade change-filter-modal" id="change-filter-modal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body" style="padding:0px;">
                            <div class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs ui-sortable-handle" style="background: #93d2d2;">
                                    <li class="active"><a href="#date-range" data-toggle="tab" aria-expanded="false">Date Range</a></li>
                                    <li class=""><a href="#municipality" data-toggle="tab" aria-expanded="true">ULB & Other</a></li>

                                    <li class="pull-right">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </li>
                                    <li class="pull-right header"><i class="fa fa-inbox"></i> Change Filter</li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="date-range" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>Time Span</label>
                                                <select class="ddl-time-span form-control">
                                                    <option value="to-day">To Day</option>
                                                    <option value="last-7-days" selected>Last 7 Days</option>
                                                    <option value="last-month">Last Month</option>
                                                    <option value="last-6-months">Last 6 months</option>
                                                    <option value="last-1-year">Last 1 year</option>
                                                    <option value="date-range">Date range</option>
                                                </select>

                                            </div>
                                            <div class="form-group custom-date-range" style="display:none">
                                                <label>From Date:</label>
                                                <input type="text" readonly="" class="form-control from-date datepicker" placeholder="from date (dd/mm/yyyy)" id="dp1547115976174">
                                                <label>To Date:</label>
                                                <input type="text" readonly="" class="form-control to-date datepicker" placeholder="to date (dd/mm/yyyy)" id="dp1547115976175">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart tab-pane" id="municipality" style="position: relative;">
                                        <div class="form-inline">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                <input type="text" class="form-control txt-search-municipality" placeholder="Search ULB">
                                            </div>
                                            <div class="input-group">
                                                <select class="form-control ddl-authority">
                                                    <option value="">--select Body Type--</option>
                                                    @foreach (var auth in Model.Authorities)
                                                    {
                                                        <option value="@auth.Id">@auth.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="input-group">
                                                <select class="form-control ddl-schemetypes">
                                                    <option value="">--All Fund Source--</option>
                                                    @foreach (var auth in Model.SchemeTypes)
                                                    {
                                                        <option value="@auth.Id">@auth.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="input-group">
                                                <select class="form-control ddl-scheme-categories" data-all-categories="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.SchemeCategories)">
                                                    <option value="">--All Scheme Categories--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="list-container">
                                            <ul class="todo-list">
                                                @*if true then user can add remove municipality*@
                                                @if (Model.FilterConfig.AddRemoveMunicipality)
                                                {
                                                    <li>
                                                        <div class="checkbox">
                                                            <label><input type="checkbox" checked class="all"> Select All</label>
                                                        </div>
                                                    </li>
                                                }
                                                @foreach (var x in Model.Municipalities)
                                                {
                                                    <li>
                                                        <div class="checkbox">
                                                            <label><input type="checkbox" data-auth-id="@x.AuthorityId" data-name="@x.MunicipalityName" value="@x.MunicipalityID" @(Model.FilterConfig.AddRemoveMunicipality ? "" : " checked disabled")>@x.MunicipalityName</label>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"><a class="btn btn-danger pull-right filtr-modal-close">Close</a></div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title title-wise-bar-chart">Select Module</h3>
                    <a class="btn btn-primary dash-reports box-tools" data-toggle="modal" data-target="#dash-reports-modal-box">Reports</a>

                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-lg-3 col-xs-6 dash-block dash-block-submitted cursor-pointer" data-val="submitted">
                            <!-- small box -->
                            <div class="small-box bg-green-gradient">
                                <div class="inner">
                                    <h4 class="white dpr-count">0</h4>
                                    <span><span class="amount">0.00</span></span>
                                </div>
                                <a href="javascript:void(0)" class="small-box-footer">Submitted&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 dash-block dash-block-approved cursor-pointer" data-val="approved">
                            <!-- small box -->
                            <div class="small-box bg-light-blue-gradient">
                                <div class="inner">
                                    <h4 class="white dpr-count">0</h4>
                                    <span><span class="amount">0.00</span></span>
                                </div>
                                <a href="javascript:void(0)" class="small-box-footer">Approved&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 dash-block dash-block-returned cursor-pointer" data-val="returned">
                            <!-- small box -->
                            <div class="small-box bg-orange">
                                <div class="inner">
                                    <h4 class="white dpr-count">0</h4>
                                    <span><span class="amount">0.00</span></span>
                                </div>
                                <a href="javascript:void(0)" class="small-box-footer">Returned&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 dash-block dash-block-released cursor-pointer" data-val="released">
                            <!-- small box -->
                            <div class="small-box bg-aqua-gradient">
                                <div class="inner">
                                    <h4 class="white dpr-count">0</h4>
                                    <span><span class="amount">0.00</span></span>
                                </div>
                                <a href="javascript:void(0)" class="small-box-footer">Released&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <a href="#" class="small-box-footer redirect-report-link hidden" target="_blank">Submitted&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
                    </div>

                </div>
            </div>
            <div class="modal fade dash-reports-modal-box" id="dash-reports-modal-box" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body" style="height: 400px;overflow: scroll;">
                            <div class="list-group dash-reports">
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_ProjApprvInFavOfMuni report" data-key="RPT_ProjApprvInFavOfMuni">Projects Approved in favour of ULB / DA</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_ULBOrDAWiseAAFS report" data-key="RPT_ULBOrDAWiseAAFS">ULB/DA Wise AA & FS</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_FundReleaseSummary report" data-key="RPT_FundReleaseSummary">Fund Release Summary</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_ProjWiseFundReleased report" data-key="RPT_ProjWiseFundReleased">Project Wise Fund Released</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_ProjWiseFundReleaseDetail report" data-key="RPT_ProjWiseFundReleaseDetail">Project Wise Fund Release Detail</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_AAFSSummary report" data-key="RPT_AAFSSummary">AAFS Summary</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_PhasingSummary report" data-key="RPT_PhasingSummary">ULB/DA Wise Phasing Summary</div>

                                <div class="list-group-item list-group-item-action cursor-pointer RPT_DPRSubmittedButAAFSNotIssued report" data-key="RPT_DPRSubmittedButAAFSNotIssued">DPR Submitted But AA&FS Not Issued</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_DPRSubmittedButAAFSNotIssuedExcel1 report" data-key="RPT_DPRSubmittedButAAFSNotIssuedExcel1">DPR Submitted But AA&FS Not Issued (Excel)</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_DPRSubmittedWithoutAnySubScheme report" data-key="RPT_DPRSubmittedWithoutAnySubScheme">DPR Submitted Without Any Sub Scheme</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_DPRSubmittedWithoutAnySubSchemeExcel report" data-key="RPT_DPRSubmittedWithoutAnySubSchemeExcel">DPR Submitted Without Any Sub Scheme (Excel)</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_InstallmentClaimedButFundNotReleased report" data-key="RPT_InstallmentClaimedButFundNotReleased">Installment Claimed But Fund Not Released</div>
                                <div class="list-group-item list-group-item-action cursor-pointer UnReleasedInstallmentsExcel report" data-key="UnReleasedInstallmentsExcel">Installment Claimed But Fund Not Released(Excel)</div>

                                <div class="list-group-item list-group-item-action cursor-pointer Rpt_ProposalDetailsReport report" data-key="Rpt_ProposalDetailsReport">Approval Status</div>
                                <div class="list-group-item list-group-item-action cursor-pointer Rpt_AverageTimeDpr report" data-key="Rpt_AverageTimeDpr">Average Approval Time</div>
                                <div class="list-group-item list-group-item-action cursor-pointer Rpt_ProjectStatusSummary report" data-key="Rpt_ProjectStatusSummary">Proposal Status Summary</div>
                                <div class="list-group-item list-group-item-action cursor-pointer Rpt_FundreleaseFinYearWise report" data-key="Rpt_FundreleaseFinYearWise">Financial Year Wise Project Details</div>
                                <div class="list-group-item list-group-item-action cursor-pointer Rpt_YearWiseFundReq report" data-key="Rpt_YearWiseFundReq">Financial Year Wise Fund Required</div>
                                <div class="list-group-item list-group-item-action cursor-pointer Rpt_SchemeCatgoryWiseProjectDtls report" data-key="Rpt_SchemeCatgoryWiseProjectDtls">Scheme Category Wise Project Details</div>
                                <div class="list-group-item list-group-item-action cursor-pointer Rpt_FundReleaseSummeryReport report" data-key="Rpt_FundReleaseSummeryReport">Fund Release Status</div>

                                <div class="list-group-item list-group-item-action cursor-pointer RPT_SynopsisOfRSP report" data-key="RPT_SynopsisOfRSP">Synopsis Of RSP</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_RSPDraft report" data-key="RPT_RSPDraft">RSP Draft</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_SchemeWiseNoOfUC report" data-key="RPT_SchemeWiseNoOfUC">Scheme Wise UC</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_YearWiseNoOfUC report" data-key="RPT_YearWiseNoOfUC">Year Wise UC</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_TotalNoOfPondRoadLightPark report" data-key="RPT_TotalNoOfPondRoadLightPark">Category Wise Count</div>
                                <div class="list-group-item list-group-item-action cursor-pointer RPT_PhysicalProgressOfProj report" data-key="RPT_PhysicalProgressOfProj">Physical Progress Of Project</div>

                                <a href="#" target="_blank" class="hidden redirect-report-link"></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </div>
    <div class="row dash-tab" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <div class="btn-group">
                <a data-toggle="tab" href="#data-analysis" class="btn btn-info active">Data Analysis</a>
                <a data-toggle="tab" href="#financial-year-wise-data" class="btn btn-info">Financial Year Wise Data</a>
            </div>
        </div>
    </div>
    <div class="tab-content dash-tab">
        <div id="data-analysis" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary sceme-wise-pie-box">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">Scheme Wise Pie Chart</h3>
                            <div class="box-tools">
                                <label class="radio-inline"><input type="radio" class="data-by-radio" name="optradio1" value="P" checked>Percent</label>
                                <label class="radio-inline"><input type="radio" class="data-by-radio" name="optradio1" value="A">Amount</label>
                                <label class="radio-inline"><input type="radio" class="data-by-radio" name="optradio1" value="C">Count</label>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 sceme-wise-pie" style="height: 300px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box bg-green average-approval-time">
                        <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Average Approval Time</span>
                            <span class="info-box-number value">0.00</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                            <span class="progress-description">
                                Result Calculated in Days
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <div class="box box-primary search-project" style="min-height: 258px;">
                        <div class="box-header with-border">
                            @*<i class="fa fa-bar-chart-o"></i>*@
                            <h3 class="box-title">Search Project : </h3>
                            <div class="" style="position: absolute;left: 154px;top: 5px;width: 190px;">
                                <input type="text" class="form-control txt-search-projectName" placeholder="Search by Project Name" />
                            </div>
                            <div class="box-tools">
                                <input type="text" class="form-control txt-search-project" placeholder="Search by Project No" />
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="tab">
                                <button class="tablinks active" onclick="SearchProjTab(event, 'Details')">Details</button>
                                <button class="tablinks" onclick="SearchProjTab(event, 'RoadMap')">Road Map</button>
                            </div>
                            <div id="Details" class="tabcontent">
                                <div class="row">
                                    <div class="col-md-12 chart searched-project-chart">
                                        <h3 class="text-center error">No Project Selected</h3>
                                    </div>
                                </div>
                            </div>
                            <div id="RoadMap" class="tabcontent tabcontenthdn">
                                <div class="row">
                                    <div class="col-md-12 chart searched-road-map">
                                        <div class="container">
                                            <div class="wrapper">
                                                <div class="arrow-steps clearfix" style="display:none;">
                                                    <div class="step current applied"> <span> Applied</span> </div>
                                                    <div class="step approved"> <span>Approved </span> </div>
                                                    <div class="step tender"> <span> Tender</span> </div>
                                                    <div class="step phyProg"> <span> Physical Progress</span> </div>
                                                    <div class="step fundRel"> <span>Fund Release</span> </div>
                                                </div>
                                                <h3 class="text-center error">No Project Selected</h3>
                                                <div class="nav clearfix" >
                                                    <a href="#" class="prev" style="display:none;">Previous</a>
                                                    <a href="#" class="next pull-right" style="display:none;">Next</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 municipality-wise-data">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">
                                Top <select class="top-no-of-ulb">
                                    <option value="5">5</option>
                                    <option value="10" selected="selected">10</option>
                                    <option value="15">15</option>
                                </select> Applied: ULB Wise Data
                            </h3>
                            <div class="box-tools">
                                <label class="radio-inline"><input type="radio" class="data-by-radio" name="optradio" checked value="A">Amount</label>
                                <label class="radio-inline"><input type="radio" class="data-by-radio" name="optradio" value="C">Count</label>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 municipality-wise-grouped-Column-chart text-right" style="height: 300px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="financial-year-wise-data" class="tab-pane fade">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">Financial Year Wise Project Summary: Last 5 Years</h3>
                            <div class="box-tools">
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 chart" style="padding:50px">
                                    <div class="financial-year-wise-data-bar-chart-last-n-years" style="height:300px;width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">Financial Year Wise Fund Required: Next 5 Years</h3>
                            <div class="box-tools">
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 chart" style="padding:50px">
                                    <div class="financial-year-wise-data-bar-chart-next-n-years-expenditure" style="height:300px;width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade scheme-category-for-scheme-type" id="scheme-category-for-scheme-type" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" style="padding:0px;height: 385px;overflow: scroll;">
                    <div class="box box-primary category-wise-pie-box">
                        <div class="box-header with-border">
                            <i class="fa fa-bar-chart-o"></i>
                            <h3 class="box-title">Category Wise Pie Chart</h3>                            
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12 category-wise-pie" style="height: 300px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}

