﻿@using Valuation_Board.App_Codes;
@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@using Newtonsoft.Json;
@model Valuation_Board.Models.Application.DprModel.Master

@{
    ViewBag.Title = "DprForm";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    #ui-datepicker-div {
        z-index: 2 !important;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="~/Contents/Script/AppJs/file.upload.partial.js"></script>
<script src="~/Contents/Script/AppJs/dprFormSubmission.js?12@GlobalContext.applicationInfo.AssemblyVersion"></script>

<style>
    body {
        background-color: #efefef;
    }
    /*table {
        table-layout: fixed;
    }*/

    .tbl-part1-check-list td:nth-child(1), .tbl-part2-check-list td:nth-child(1) {
        width: 2%;
    }

    .tbl-part1-check-list td:nth-child(2), .tbl-part2-check-list td:nth-child(2) {
        width: 30%;
    }

    .tbl-part1-check-list td:nth-child(3), .tbl-part2-check-list td:nth-child(3) {
        width: 7%;
    }

    .tbl-part1-check-list td:nth-child(4), .tbl-part2-check-list td:nth-child(4) {
        width: 7%;
    }
    
</style>
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <form autocomplete="off">
        <div class="hidden-controls">
            <input type="hidden" class="hdn-IdentityStamp" value="@Model.IdentityStamp" />
            <input type="hidden" class="hdn-SchemeCategories" value="@JsonConvert.SerializeObject(Model.SchemeCategories)" />
            <input type="hidden" class="hdn-SchemeTypes" value="@JsonConvert.SerializeObject(Model.SchemeTypes)" />
            <input type="hidden" class="hdn-units" value="@JsonConvert.SerializeObject(Model.Units)" />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title title-wise-bar-chart">Comprehensive Checklist for DPR Submission</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name of the Municipal Body/ Development Authority</label>
                                    <input type="text" class="form-control txt-dev-auth" name="txt-dev-auth" value="@Model.MunicipalityName" readonly />
                                    <input type="hidden" class="form-control hdn-dev-auth-id" name="hdn-dev-auth-id" value="@Model.MunicipalityId" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name of the Work</label>
                                    <input type="text" class="form-control txt-work-name" name="txt-work-name" value="@Model.NameOfWork" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Implementing Agency</label>
                                    <input type="text" class="form-control txt-impl-agency" name="txt-impl-agency" value="@Model.AgencyName" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Estimated Cost</label>
                                    <input type="text" class="form-control txt-estimated-cost" name="txt-estimated-cost" value="@Model.EstimatedCost" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fund Source:</label>
                                    <select class="form-control ddl-scheme-types" name="ddl-scheme-types">
                                        <option value="">--select--</option>
                                        @foreach (var ss in Model.SchemeTypes)
                                        {
                                            var SchemeTypeId = Model.SchemeTypeId;
                                            <option value="@ss.Id" @(ss.Id == Model.SchemeTypeId ? " selected " : "")>@ss.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Scheme Category:</label>
                                    <select class="form-control ddl-scheme-category" name="ddl-scheme-category">
                                        <option value="">--select--</option>
                                        @foreach (var tta in Model.SchemeCategories.Where(t => t.SchemeTypeId == Model.SchemeTypeId))
                                        {
                                            if (tta.Id == Model.SchemeCategoryId)
                                            {
                                                <option value="@tta.Id" selected>@tta.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@tta.Id">@tta.Name</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="">Executive Summary:</label>
                                    <textarea class="form-control txt-exe-summary" name="txt-exe-summary" value="@Model.ExecutiveSummary">@Model.ExecutiveSummary </textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Commencement Date:</label>
                                    <input type="text" class="form-control txt-commencementDate" value="@(Model.CommencementDate == null ? null : Model.CommencementDate.Value.ToString("dd'/'MM'/'yyyy"))" name="txt-commencementDate" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Completion Date:</label>
                                    <input type="text" class="form-control txt-completionDate" value="@(Model.CompletionDate == null ? null : Model.CompletionDate.Value.ToString("dd'/'MM'/'yyyy"))" name="txt-completionDate" readonly />
                                </div>
                            </div>
                        </div>
                        @{ Func<string, string, string, string> IsSelected = (x, str2, defVal) =>
                              {
                                  if (!string.IsNullOrEmpty(defVal))
                                  {
                                      if (!string.IsNullOrEmpty(str2) && str2.Equals(defVal, StringComparison.OrdinalIgnoreCase))
                                          return " selected ";
                                  }
                                  else
                                  {
                                      if (!string.IsNullOrEmpty(x) && x.Equals(str2, StringComparison.OrdinalIgnoreCase))
                                          return " selected ";
                                  }

                                  return string.Empty;
                              };
                        }
                        @{ var visiblePart1 = false;}
                        @if (Model.Part1.CheckList.Count > 0)
                        {
                            visiblePart1 = true;
                        }
                        <h3 style="@(visiblePart1==false?"Display:none":"")">Part -I</h3>
                        <table style="@(visiblePart1==false?"Display:none":"")" class="table table-responsive table-bordered table-condensed  tbl-part1-check-list">
                            <thead class="bg-blue">
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Perticular</th>
                                    <th>Yes/No</th>
                                    <th>Page No.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 1;}

                                @foreach (var x in Model.Part1.CheckList)
                                {
                                    <tr data-Id="@x.Id">
                                        <td>@i</td>
                                        @{string clsval = (@x.IsMandatory == true ? "required" : "");}
                                        <td><div class="lbl-Perticular @clsval">@x.Perticular</div></td>
                                        <td>
                                            <div>
                                                @*<label class="checkbox-inline"><input class="chk-part1" name="@(string.Format("{0}-chk-part1", x.Id))" type="checkbox"></label>*@
                                                <select style=@(x.IsNAconsiderable == false ? "color:red;border-color:red;" : "color:black;") class="form-control ddl-chk-part1" name="ddl-chk-part1" @(x.IsReadOnly ? " disabled " : "") data-IsReadOnly="@x.IsReadOnly" data-isNAConsiderable="@x.IsNAconsiderable" data-DefaultValue="@(x.DefaultValue ?? "")">
                                                    <option value="NO" @(IsSelected(x.Val, "NO", x.DefaultValue))>No</option>
                                                    <option value="YES" @(IsSelected(x.Val, "YES", x.DefaultValue))>Yes</option>
                                                    @if (x.IsNAconsiderable == true)
                                                    {
                                                        <option value="NA" @(IsSelected(x.Val, "NA", x.DefaultValue))>NA</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td><input type="text" class="txt-pageno form-control" @(x.Val == "NA" || x.Val == "NO" || x.Val == null ? " disabled " : "") value="@x.PageNo" /></td>
                                        <td><input type="text" class="txt-remarks form-control" @(x.Val == "NA" ? " disabled " : "") value="@x.Remarks" /></td>
                                    </tr>
                                    i = i + 1;
                                }
                            </tbody>
                        </table>

                        <h3><u>NOTE</u></h3>
                        <ul>
                            @foreach (var note in Model.Part1.Notes)
                            {
                                <li>@note.Description</li>
                            }
                        </ul>
                        <br />
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border">
                                    <div class="border-bottom text-center mg-col-margin bg-blue"><h3 class="m-0 h-slim white">Details of engineer in charge</h3></div>
                                    <div class="row mt-10">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name of the Engineer</label>
                                                <input type="text" class="form-control txt-engineer-name" name="txt-engineer-name" value="@Model.NameOfEngineer" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Designation:</label>
                                                <input type="text" class="form-control txt-designation" name="txt-designation" value="@Model.Designation" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input type="text" class="form-control txt-email" name="txt-email" value="@Model.EmailId" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Contact number:</label>
                                                <input type="text" class="form-control txt-contact-number" name="txt-contact-number" value="@Model.ContactNo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @{ var visiblePart2 = false;}
                        @if (Model.Part2.CheckList.Count > 0)
                        {
                            visiblePart2 = true;
                        }
                        <h3 style="@(visiblePart2==false?"Display:none":"")">Part -II</h3>
                        <table style="@(visiblePart2==false?"Display:none":"")" class="table table-responsive table-bordered table-condensed tbl-part2-check-list">
                            <thead class="bg-blue">
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Perticulars</th>
                                    <th>Yes/No</th>
                                    <th>Page No.</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int j = 1; }
                                @foreach (var x in Model.Part2.CheckList)
                                {
                                    <tr data-Id="@x.Id">
                                        <td>@j</td>
                                        @{string clsval = (@x.IsMandatory == true ? "required" : "");}
                                        <td><div class="lbl-Perticular @clsval">@x.Perticular</div></td>
                                        <td>
                                            <div>
                                                @*<label class="checkbox-inline"><input class="chk-part2" name="@(string.Format("{0}-chk-part2", x.Id))" type="checkbox"></label>*@
                                                <select style=@(x.IsNAconsiderable == false ? "color:red;border-color:red;" : "color:black;") class="form-control ddl-chk-part2" name="ddl-chk-part2" @(x.IsReadOnly ? " disabled " : "") data-isNAConsiderable="@x.IsNAconsiderable" data-IsReadOnly="@x.IsReadOnly" data-DefaultValue="@(x.DefaultValue ?? "")">
                                                    <option value="NO" @(IsSelected(x.Val, "NO", x.DefaultValue))>No</option>
                                                    <option value="YES" @(IsSelected(x.Val, "YES", x.DefaultValue))>Yes</option>
                                                    @if (x.IsNAconsiderable == true)
                                                    {
                                                        <option value="NA" @(IsSelected(x.Val, "NA", x.DefaultValue))>NA</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>
                                        <td><input type="text" class="txt-pageno form-control" @(x.Val == "NA" || x.Val == "NO" || x.Val == null ? " disabled " : "") value="@x.PageNo" /></td>
                                        <td><input type="text" class="txt-remarks form-control" @(x.Val == "NA" ? " disabled " : "") value="@x.Remarks" /></td>
                                    </tr>
                                    j = j + 1;
                                }
                            </tbody>
                        </table>
                        <br />
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border">
                                    <div class="border-bottom text-center mg-col-margin bg-blue"><h3 class="m-0 h-slim white">Details of Authorized Chairperson/Commissioner/CEO (Administrator)</h3></div>
                                    <div class="row mt-10">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="required">Name:</label>
                                                <input type="text" class="form-control txt-name-ceo" name="txt-name-ceo" value="@Model.CEOName" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="required">Email:</label>
                                                <input type="text" class="form-control txt-email-ceo" name="txt-email-ceo" value="@Model.CEOEmail" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="required">Mobile:</label>
                                                <input type="text" class="form-control txt-mobile-ceo" name="txt-mobile-ceo" value="@Model.CEOMob" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h3><u>NOTE</u></h3>
                        <ul>
                            @foreach (var note in Model.Part2.Notes)
                            {
                                <li>@note.Description</li>
                            }
                        </ul>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Memo No:</label>
                                    <input type="text" class="form-control txt-memo-no" name="txt-memo-no" value="@Model.MemoNo" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Memo Date:</label>
                                    <input type="text" class="form-control txt-memoDate" value="@(Model.MemoDate == null ? DateTime.Now.ToString("dd'/'MM'/'yyyy") : Model.MemoDate.Value.ToString("dd'/'MM'/'yyyy"))" name="txt-memoDate" readonly />
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border">
                                    <div class="border-bottom text-center mg-col-margin bg-blue"><h3 class="m-0 h-slim white required">Phasing of Expenditure</h3></div>
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-6">
                                            <table class="table table-responsive table-bordered table-condensed tbl-phasing-expenditure">
                                                <caption>
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <label>Fin-Year:</label>
                                                            <input type="text" class="form-control txt-phasing-fin-year" placeholder="2000-2001" value="@Valuation_Board.App_Codes.Utils.CommonUtils.GetFinYear(DateTime.Now)" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Add-Year:</label>
                                                            <select class="form-control ddl-add-year">
                                                                @for (int addYr = 0; addYr <= 20; addYr++)
                                                                {
                                                                    <option value="@addYr">+@addYr</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <input type="button" class="btn btn-default btn-add-year" value="Add Year">
                                                    </div>
                                                </caption>
                                                <thead class="bg-aqua">
                                                    <tr>
                                                        <th>Fin-Year</th>
                                                        <th colspan="2">Proposed Expenditure (Rs.)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.PhasingOfExpenditures.Count == 0)
                                                    {
                                                        <tr class="no-row">
                                                            <td colspan="3" class="text-center">Please add Phasing of Expenditures</td>
                                                        </tr>
                                                    }
                                                    @foreach (var xYr in Model.PhasingOfExpenditures)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label>  @xYr.FinYear  </label><input type="hidden" class="hdn-phasing-finyear" value="@xYr.FinYear" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control txt-prop-expenture-amnt" style="text-align:right" name="txt-prop-expenture-amnt" value="@xYr.ExpenditureAmount" placeholder="enter amount in Rs." />
                                                            </td>
                                                            <td><a href="javascript:void(0);" class="del-phasing-row"><span class="glyphicon glyphicon-trash"></span></a></td>
                                                        </tr>

                                                    }
                                                </tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 border  ">
                                    <div class="border-bottom text-center mg-col-margin bg-blue"><h3 class="m-0 h-slim white required">Table Of Sub Projects</h3></div>

                                    <div class="row subProjDiv mt-10">
                                        <div class="col-md-offset-2 col-md-8">
                                            <table class="table table-responsive table-bordered table-condensed tbl-sub-projects">
                                                <thead>
                                                    <tr class="bg-aqua">
                                                        <th>Serial No.</th>
                                                        <th>Name of Sub Project</th>
                                                        <th>Unit</th>
                                                        <th>Qty</th>
                                                        <th>Estimated Cost (Rs.)</th>
                                                        <th>File upload (PDF)</th>
                                                        @*<th>UC upload</th>*@
                                                        <th><a href="javascript:void(0);" class="btn-add-subproject white" style="font-size: 25px;"><span class="fa fa-plus"></span></a></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.SubProjects.Count == 0)
                                                    {
                                                        <tr class="no-row">
                                                            <td colspan="7" class="text-center">Please add subprojects</td>
                                                        </tr>
                                                    }
                                                    @*<input type="hidden" id="hdntxtRandId" value="" />*@
                                                    @{
                                                        int counti = 1;
                                                        @*<script>
                                            var sd = JSON.stringfy(@Model.SubProjects);
                                            $('#hdntxtRandId').val(sd);
                                        </script>*@
                                                    }

                                                    @foreach (var xYr in Model.SubProjects)
                                                    {
                                                        @*<input type="hidden" id="hdntxtRandId" class="hdntxtRandId" value="@xYr.RandId"/>*@
                                                        <tr id="@xYr.RandId" row-id="@xYr.RandId">

                                                            <td>@counti</td>
                                                            <td>
                                                                <input type="text" class="form-control txt-sub-project-Name" name="txt-sub-project-Name" value="@xYr.Name" placeholder="Sub Porject Name" />
                                                            </td>
                                                            <td>
                                                                <select style="width: 85px;" class="form-control sub-project-unit" name="sub-project-unit">
                                                                    <option value="">--select--</option>
                                                                    @foreach (var unit in Model.Units)
                                                                    {
                                                                        <option value="@unit.Id" @(xYr.UnitId == unit.Id ? "selected" : "")>@unit.Name</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control txt-sub-project-qty" name="txt-sub-project-qty" value="@xYr.Qty" style="text-align:right" placeholder="Quantity" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control txt-sub-project-cost" name="txt-sub-project-cost" value="@xYr.Cost" style="text-align:right" placeholder="Estimated Cost" />
                                                            </td>

                                                            <td><input type="file" accept='application/pdf' class="form-control file-subproject" /></td>
                                                            @*<td><input type="file" class="form-control file-uc" /></td>*@
                                                            <td><a href="javascript:void(0);" class="del-row-sub-project"><span class="glyphicon glyphicon-trash"></span></a></td>
                                                        </tr>
                                                        counti++;
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    @if (Model.SubProjects.Count > 0)
                                                    {
                                                        <tr>
                                                            <td colspan="4"><label>Total Project Cost</label></td>
                                                            <td class="text-right"><label>@Model.SubProjects.Sum(t => t.Cost)</label></td>
                                                        </tr>
                                                    }
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="required">Upload Abstract page with Engineer's Signature (PDF):</label>
                                <input type="file" class="form-control file-abstruct-page" accept="application/pdf" name="file-abstruct-page" />
                            </div>
                            @*<div class="form-group  col-md-6">
                <label>Upload Vetted Project Page with Engineer's Signature:</label>
                <input type="file" class="form-control file-vetted-project-page" name="file-vetted-project-page" />
            </div>*@
                        </div>
                    </div>
                        <div class="box-footer clearfix no-border text-right">
                            @if (Request.QueryString["identityStamp"] == null)
                            {
                                <button class="btn btn-danger btn-reset">Reset</button>
                            }
                            <button class="btn btn-success btn-save-as-draft">Save As Draft</button>
                            <button class="btn btn-success btn-form-submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
    </form>
                                                    }