﻿@using Valuation_Board.App_Codes;
@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@using Newtonsoft.Json;

@model Valuation_Board.Models.Application.DprModel.Dpr

<style>
    body {
        background-color: #efefef;
    }

    #ui-datepicker-div {
        z-index: 2 !important;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .dataTables_empty {
        text-align: center;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/AppJs/file.upload.partial.js"></script>
@{
    ViewBag.Title = "DPR Final Submission";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title title-wise-bar-chart">Final Step to Submit DPR</h3>
                </div>
                <div class="box-body">
                    @if (Model.DPChkStatus == null || Model.DPChkStatus.ToUpper() == "D" || Model.DPChkStatus.ToUpper() == "R")
                    {
                        if (string.IsNullOrEmpty(Model.CheckListDocUrl) == false)
                        {
                            <div class="well well-default text-center">
                                <a href="@Model.CheckListDocUrl" target="_blank">Download latest Uploaded Checklist</a>
                            </div>
                        }
                    }
                    <form>
                        <input type="hidden" class="mstDprID" value="@Model.DPChkSlId"/>
                        <div class="form-group">
                            <label>Upload DPR Checklist (PDF):</label>
                            <input type="file" required class="form-control file-checklist" accept='application/pdf' name="file-checklist"/>
                        </div>
                        <button type="button" class="btn btn-primary pull-right btn-final-submit disabled" >Upload & Submit DPR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            function getBase64(file,name,callback) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    callback({ Result: reader.result,Name:name });
                };
                reader.onerror = function (error) {
                    alertify.error('Unable to read file');
                };
            };

            var doc = {};
            $(".file-checklist").on('change', function () {
                $(".btn-final-submit").addClass('disabled');
                doc = {};
                //if (this.files.length > 0) {
                //    var file = getBase64(this.files[0], this.files[0].name, function (data) {
                //        doc = data;
                //        $(".btn-final-submit").removeClass('disabled');
                //    });
                //} else {
                //    $(".btn-final-submit").addClass('disabled');
                //}
                if (this.files.length > 0) {
                    window.StageFileByFormData(this, function (response) {
                        doc.StageId = response.Data;
                        doc.Result = null;
                        doc.Name = null;
                        $(".btn-final-submit").removeClass('disabled');
                        alertify.success(response.Message);
                    }, function (response) {
                        alertify.error(response.Message);
                        (this).val('');
                    });
                } 
            });
            $(".btn-final-submit").on('click', function (e) {
                e.preventDefault();
                if ($('form').valid()) {
                    var mstDPrId = $(".mstDprID").val();
                    var formData = {
                        file: doc,
                        mstDprId: mstDPrId
                    };
                    alertify.confirm('Please confirm us!', 'Are you sure to submit?', function () {
                        $.ajax({
                            type: 'post',
                            url: '/Modules/dpr/DprFinalSubmit',
                            data: JSON.stringify(formData),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (r) {
                                if (r.Status === 200) {
                                    alertify.alert('Success!', r.Message, function () {
                                        location.reload();
                                    });

                                } else {
                                    alertify.error(r.Message);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                callback({ Status: xhr.status, Message: xhr.responseText, Data: null });
                            }
                        });
                    }, function () { })
                    
                }
            });
        });
    </script>
}

