﻿
@{
    ViewBag.Title = "Installment Approval";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    #ui-datepicker-div {
        z-index: 1050 !important;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="~/Contents/Dashboard/Dist/jquery.slimscroll.js"></script>
<script src="~/Contents/Script/AppJs/file.upload.partial.js"></script>
<script src="~/Contents/Script/AppJs/dpr.fund-release.approval.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<style>
    body {
        background-color: #efefef;
    }
    /*table {
        table-layout: fixed;
    }*/

    .tbl-part1-check-list td:nth-child(1), .tbl-part2-check-list td:nth-child(1) {
        width: 2%;
    }

    .tbl-part1-check-list td:nth-child(2), .tbl-part2-check-list td:nth-child(2) {
        width: 30%;
    }

    .tbl-part1-check-list td:nth-child(3), .tbl-part2-check-list td:nth-child(3) {
        width: 7%;
    }

    .tbl-part1-check-list td:nth-child(4), .tbl-part2-check-list td:nth-child(4) {
        width: 7%;
    }
</style>

@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;

@model Valuation_Board.Models.Application.DprModel.DprFundRelease.InitiationModel

@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
    <section class="content-header" style="padding:0px">
        <h4 style="margin-top: 0px;">
            Installment Approval&nbsp;
            <small>@Model.NameOfTheProject=>@Model.ProjectNo</small>
            <small class="pull-right">Rs. (<span title="Cumulative Amount">@(Model.TotalCumulativeAmount)</span>/<span title="Total Approved Amount">@(Model.ApprovedProjectCost))</span></small>
        </h4>
        
    </section>
    <div class="callout callout-info white row" style="padding-bottom: 0px">
        <div class="form-group col-md-4 no-padding">
            <label>Select Installment</label>
            <input type="hidden" class="mst-dpr-id" value="@Model.MstDprId"/>
            <select class="form-control select-fund-release-id">
                <option>--select installment--</option>
                @foreach (var x in Model.AppliedInstallments)
                {
                    <option value="@x.FundReleaseId">@x.InstallmentMaster.Name</option>
                }
            </select>
        </div>
        <div class="col-md-8 no-padding"></div>
    </div>
    <div class="approval-box">
        
    </div>
}
