﻿@using Newtonsoft.Json;
@using Valuation_Board.App_Codes;
@using Valuation_Board.Models.Account;
@{
    /**/

    ViewBag.Title = "DprForm";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    body {
        background-color: #efefef;
    }
    
    #ui-datepicker-div {
        z-index: 1050 !important;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .dataTables_empty {
        text-align: center;
    }
    .modal-backdrop {
        visibility: hidden !important;
    }

    .modal.in {
        background-color: rgba(0,0,0,0.5);
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Dashboard/Dist/jquery.slimscroll.js"></script>
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

@*<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>*@

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
@*<link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />*@

<script src="~/Contents/Script/AppJs/file.upload.partial.js"></script>
<script src="~/Contents/Script/AppJs/dprSubmittedList.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>

@{
    ViewBag.Title = "DprList";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Valuation_Board.Models.Application
@using Valuation_Board.App_Codes.Exceptions;
@model DprModel.DprListModel
<script>
    $(document).ready(function () {
        $("#DocumentBody>.container").removeClass('container').addClass('container-fluid');
    });
</script>
@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{
<div class="row">
    <div class="col-md-12">
        <div style="display:none">
            <input type="hidden" class="hdn-user-type" value="@((int)(SessionContext.CurrentUser as IInternalUserMin).UserType)" />
            <input type="hidden" class="hdn-user-id" value="@((int)(SessionContext.CurrentUser as IInternalUserMin).UserID)" />
            <input type="hidden" class="hdn-user-roleid" value="@((int)(SessionContext.CurrentUser as IInternalUserMin).RoleId)" />
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title title-wise-bar-chart" data-toggle="tooltip" title="hello">Comprehensive List of DPR Submitted</h3>
            </div>
            <div class="box-body">
                <form autocomplete="off">
                    <div class="border pd-10 mb-10">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>ULB/ DA</label>
                                        <select class="form-control ulbs" multiple="multiple">
                                            @if (Model.Ulbs.Count > 1)
                                            {
                                                <option value="0" selected>--All--</option>
                                            }
                                            @foreach (var x in Model.Ulbs)
                                            {
                                                <option value="@x.Key">@x.Value</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>From date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control txt-from-date" name="txt-from-date" readonly required value="@DateTime.Now.ToString("dd'/'MM'/'yyyy")" />
                                            <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="txt-from-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label>To date</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control txt-to-date" name="txt-to-date" readonly required value="@DateTime.Now.ToString("dd'/'MM'/'yyyy")" />
                                            <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="txt-to-date">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        </div>
                                    </div>
                                    @if (Model.Ulbs.Count > 1)
                                    {
                                        <div class="col-md-3">
                                            <label>Date Type:</label>
                                            <select class="form-control ddl-rdo_status" style="width:unset;">
                                                <option selected value="AL">All</option>
                                                <option value="P">Applied</option>
                                                <option value="S">Submitted</option>
                                                <option value="A">Approved</option>
                                                <option value="RT">Returned</option>
                                                <option value="RL">Released</option>
                                                <option value="SD">DPR Submission Date</option>
                                                <option value="DV">Doc Verification</option>
                                                <option value="IA">Installment Applied</option>
                                                <option value="SC">Status Changed On</option>
                                                <option value="MD">Installment Memo Date</option>
                                            </select>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3">
                                            <label>Date Type:</label>
                                            <select class="form-control ddl-rdo_status" style="width:unset;">
                                                <option selected value="AL">All</option>
                                                <option value="P">Applied</option>
                                                <option value="S">Submitted</option>
                                                <option value="A">Approved</option>
                                                <option value="RT">Returned</option>
                                                <option value="RL">Released</option>
                                                <option value="SD">DPR Submission Date</option>
                                                <option value="DV">Doc Verification</option>
                                                <option value="IA">Installment Applied</option>
                                            </select>
                                        </div>
                                    }
                                    @*<div class="col-md-6">
            <div style="margin-top: 26px;">
                <label class="radio-inline"><input type="radio" class="rdo_status" name="rdo_status" value="AL" checked>All</label>
                <label class="radio-inline"><input type="radio" class="rdo_status" name="rdo_status" value="P" checked>Applied</label>
                <label class="radio-inline"><input type="radio" class="rdo_status" name="rdo_status" value="S">Submitted</label>
                <label class="radio-inline"><input type="radio" class="rdo_status" name="rdo_status" value="A">Approved</label>
                <label class="radio-inline"><input type="radio" class="rdo_status" name="rdo_status" value="RT">Returned</label>
                <label class="radio-inline"><input type="radio" class="rdo_status" name="rdo_status" value="RL">Released</label>
            </div>
        </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>select Scheme Type:</label>
                                        <select class="form-control ddl-schemetypes">
                                            <option value="">--All Scheme Type--</option>
                                            @foreach (var auth in Model.SchemeTypes)
                                            {
                                                <option value="@auth.Id">@auth.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>select Scheme Category:</label>
                                        <select class="form-control ddl-scheme-categories" data-all-categories="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.SchemeCategories)">
                                            <option value="">--All Scheme Categories--</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>DPR Category:</label>
                                        <select class="form-control ddl-dpr-type" style="width:unset;">
                                            <option selected value="">New & Old</option>
                                            <option value="N">New</option>
                                            <option value="O">Old</option>
                                        </select>
                                    </div>
                                    @if (Model.Ulbs.Count > 1)
                                    {
                                        <div class="col-md-3" style="margin-left: -75px;">
                                            <label>My List:</label>
                                            <select class="form-control ddl-dpr-mylist" style="width:unset;">
                                                <option selected value="A">All</option>
                                                <option value="O">Opened</option>
                                                <option value="H">History</option>
                                                <option value="N">None</option>
                                            </select>
                                        </div>
                                    }

                                    <div class="col-md-1">
                                        <label>&nbsp;</label>
                                        <button style="margin-top: 26px;" class="btn btn-primary btn-search-by-date pull-right">Show</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <table class="table table-responsive table-striped table-bordered table-condensed tbl-dpr-list" style="width:100%">
                    <thead style="background-color:#a1c0c1;">
                        <tr>
                            <th>#</th>
                            <th>Dev Auth</th>
                            @*<th>Submitted On</th>*@
                            <th>Memo No</th>
                            <th>Memo Dt</th>
                            <th>Name of<br />work</th>
                            <th>Project Id</th>
                            <th>Project <br />Date</th>
                            <th>Submission <br />Date</th>
                            <th>Installment <br />Applied On</th>
                            <th>Status</th>
                            <th>Released <br />/Approved</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot style="background-color:#a1c0c1;">
                        <tr>
                            <th colspan="9">Total Fund Released / Approved</th>
                            <th colspan="3" class="text-center"></th>
                        </tr>
                    </tfoot>
                </table>
                <a href="javascript:void(0);" class="pull-right download-excel" target="_blank">download excel</a>
                <div class="modal fade edit-installment-modal" role="dialog">
                    <div class="modal-dialog modal-lg" style="margin-top:2%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Installments</h4>
                            </div>
                            <div class="modal-body bg-gray-light">
                               <div class="table-responsive">
                                   <table class="table table-bordered table-responsive table-condensed table-striped">
                                       <thead class="bg-blue">
                                           <tr>
                                               <th>Name</th>
                                               <th>Status</th>
                                               <th>Actions</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                       </tbody>
                                   </table>
                               </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade dpr-approval-modal" role="dialog">
            <div class="modal-dialog modal-lg" style="margin-top:2%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dpr Approval</h4>
                    </div>
                    <div class="modal-body bg-gray-light">
                        <p class="text-center">Loding...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade final-approval-modal" role="dialog" style="padding-right: 17px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Final Approval</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>UO No:</label>
                                    <input type="text" class="form-control txt-uo-no" name="txt-uo-no" />
                                </div>
                                <div class="col-md-4">
                                    <label>UO Date:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control txt-uo-date datepicker" readonly name="txt-uo-date" />
                                        <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="txt-uo-date">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Accorded By:</label>
                                    <select type="text" class="form-control ddl-accorded-by" name="ddl-accorded-by">
                                        <option value="FA">FA</option>
                                        <option value="FD">FD</option>
                                    </select>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Sanction Memo No:</label>
                                    <input type="text" class="form-control txt-sanction-number" name="txt-sanction-number" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="required">Sanction Date:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control txt-approval-date datepicker" readonly name="txt-approval-date" />
                                        <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="txt-approval-date">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </div>
                                </div>
                                @*<div class="col-md-4 form-group">
                                    <label>Account Head</label>
                                    <textarea class="form-control txt-account-head" name="txt-account-head"></textarea>
                                </div>*@
                                <div class="col-md-4 form-group">
                                    <label class="required">Upload AA & FS (PDF): </label>
                                    <input type="file" class="form-control file-aa-fs" accept="application/pdf" name="file-aa-fs" />
                                    <a href="#" class="viewFile" target="_blank" style="padding-left: 32%;display:none">View File</a>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-4 form-group">
                                    <label class="required">Upload AA & FS:</label>
                                    <input type="file" class="form-control file-aa-fs" name="file-aa-fs" />
                                </div>
                            </div>*@
                            @*<div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-condensed table-responsive table-striped tbl-account-heads">
                                        <thead>
                                            <tr>
                                                <th colspan="6" class="text-center">Head of Accounts</th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th>Head of Account</th>
                                                <th>Current Balance</th>
                                                <th>Deductable Amount</th>
                                                <th>upcomming balance</th>
                                                <th><input class="btn btn-default add-row" value="Add" type="button"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="no-row"><td colspan="6" class="text-center">No data added</td></tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" class="text-left">Total Deductable from heads</td>
                                                <td colspan="3">Rs. <label class="tol-ded-amt pull-right">0</label></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                
                            </div>*@
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-final-approve hidden">Approve Finally</button>
                        <button type="button" class="btn btn-primary btn-gen-aafs">Generate</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>
}


