﻿
@{
    ViewBag.Title = "Verify Fund Release";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    #ui-datepicker-div {
        z-index: 2 !important;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="~/Contents/Script/AppJs/dprFormSubmission.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<style>
    body {
        background-color: #efefef;
    }
    /*table {
        table-layout: fixed;
    }*/

    .tbl-part1-check-list td:nth-child(1), .tbl-part2-check-list td:nth-child(1) {
        width: 2%;
    }

    .tbl-part1-check-list td:nth-child(2), .tbl-part2-check-list td:nth-child(2) {
        width: 30%;
    }

    .tbl-part1-check-list td:nth-child(3), .tbl-part2-check-list td:nth-child(3) {
        width: 7%;
    }

    .tbl-part1-check-list td:nth-child(4), .tbl-part2-check-list td:nth-child(4) {
        width: 7%;
    }
</style>

@using Valuation_Board.App_Codes.Exceptions;
@using Valuation_Board.App_Codes.Utils;
@using Valuation_Board.App_Codes.Extension
@model Valuation_Board.Models.Application.DprModel.DprFundRelease.InitiationModel

@if (ViewBag.error != null)
{
    var exp = (ViewBag.error as AppException<string, string>);
    @Html.Partial(SiteConstants.ErrorViewPath, exp);
}
else
{

    <div class="row">
        <div class="col-md-12">
            <div class="project-summary">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Fund Release: @Model.ProjectNo</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Implementing Agency With Project ID:</label>
                                <input type="text" readonly class="form-control" value="@(string.Format("{0}=>{1}",Model.AgencyName,Model.ProjectNo))" />
                            </div>
                            @{
                                string lastInstallmentReleasedText = "";
                                var lastInstallment = Model.AppliedInstallments.Where(t => t.Status != "R" && t.Status != "N").OrderByDescending(t => t.InstallmentMaster.Rank).FirstOrDefault();
                                lastInstallmentReleasedText = (lastInstallment == null ? "" : lastInstallment.InstallmentMaster.Name);
                            }
                            <div class="form-group col-md-6">
                                <label>Last installment applied/released:</label>
                                <input type="text" readonly class="form-control" value="@(string.IsNullOrEmpty(lastInstallmentReleasedText)?"Still not applied":lastInstallmentReleasedText)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Total Project Cost:</label>
                                <input type="text" readonly class="form-control" value="@Model.ApprovedProjectCost" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Amount utilized so far (Cumulative):</label>
                                <input type="text" readonly class="form-control" value="@Model.TotalCumulativeAmount" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Name of the Project:</label>
                                <input type="text" readonly class="form-control" value="@Model.NameOfTheProject" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Old Installment List</h3>
                        <h3 class="box-title pull-right" title="Agency: @Model.AgencyName">@Model.ProjectNo</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="display: none">
                            <input type="hidden" value="@Model.MstDprId" class="mst-dpr-id"/>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <thead class="bg-navy-active">
                                    <tr>
                                        <th>Applied On</th>
                                        <th>Installment</th>
                                        <th>Memo No</th>
                                        <th>Memo Dt.</th>
                                        <th>Applied<br/>Amount</th>
                                        <th>Status</th>
                                        <th>Status <br />Changed on</th>
                                        <th>AA & FS</th>
                                        <th>Requisition Letter/<br />Requisition Letter+UC</th>
                                        <th>Released Order</th>
                                        @*<th>End Dt.</th>*@
                                        <th>Sub Projects</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var x in Model.AppliedInstallments.OrderBy(t => t.AppliedOn))
                                {
                                    var bgColor = "btn-default";
                                    var btnIcon = "";
                                    var isReadonly = 1;
                                    if (x.Status == "A")
                                    {
                                        bgColor = "btn-success";
                                    }
                                    else if (x.Status == "R" || x.Status == "N")
                                    {
                                        bgColor = "btn-danger";
                                    }
                                    else if (x.Status == null)
                                    {
                                        bgColor = "btn-primary";
                                        isReadonly = 0;
                                    }
                                    else if (x.Status == "V")
                                    {
                                        btnIcon = "<i class='glyphicon glyphicon-ok' style='color: green;'></i>";

                                    }
                                    <tr data-fund-release-id="@x.FundReleaseId" data-mst-dpr-id="@x.MstDprId" data-is-readonly="@isReadonly">
                                        <td>@(x.AppliedOn != null ? x.AppliedOn.Value.ToString("dd'/'MM'/'yyyy") : "")</td>
                                        <td>@x.InstallmentMaster.Name</td>
                                        <td>@x.MemoNo</td>
                                        <td>@x.MemoDate.ToStrDate()</td>
                                        <td>@x.InstallmentAmount</td>
                                        <td>@x.StatusDscr</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(x.Status) == false && x.LastStatusChangedOn != null)
                                            {
                                                @x.LastStatusChangedOn.ToStrDate()
                                            }
                                        </td>
                                        <td><a href="@x.AAFSFileDocUrl" target="_blank">@(x.AAFSFileDocUrl == null ? "No File" : "View File")</a></td>
                                        <td><a href="@x.LetterOrUcDocUrl" target="_blank">@(x.LetterOrUcDocUrl == null ? "No File" : "View File")</a></td>
                                        <td><a href="@x.ReleaseFilePath" target="_blank">@(x.ReleaseFilePath == null ? "No File" : "View File")</a></td>
                                        @*<td>@x.EndDate.ToStrDate()</td>*@
                                        <td>
                                            <a href="#sbp-@x.FundReleaseId" data-toggle="modal" data-target="#sbp-@x.FundReleaseId">View</a>
                                            <div class="modal fade" role="dialog" id="sbp-@x.FundReleaseId">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Sub Projects from @x.InstallmentMaster.Name</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table class="table table-bordered table-condensed tbl-sub-projects bg-white">
                                                                @{var applicableSbps = x.SubProjects.Where(t => t.InstlmntId == x.FundReleaseId).ToList();}
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="6" class="text-center">Applied Sub-Projects</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Name</th>
                                                                        <th>Unit</th>
                                                                        <th>Qty</th>
                                                                        <th>Cost</th>
                                                                        <th>File</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (x.SubProjects.Count == 0)
                                                                    {
                                                                        <tr><td class="text-center" colspan="6">No Applied sub-projects found</td></tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        int ind = 1;
                                                                        foreach (var sb in applicableSbps)
                                                                        {
                                                                            <tr data-id="@sb.Id" class="data @(sb.IsApplied?"":" not-applied ")" data-cost="@sb.Cost">
                                                                                <td>@ind</td>
                                                                                <td>@sb.Name</td>
                                                                                <td>@sb.UnitName</td>
                                                                                <td>@sb.Qty</td>
                                                                                <td>@sb.Cost</td>
                                                                                @if (sb.SubpProjFilesDocUrl != null && sb.SubpProjFilesDocUrl.Length > 0)
                                                                                {
                                                                                    <td><a href="@sb.SubpProjFilesDocUrl" target="_blank">View File</a></td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td><a href="#">No File</a></td>
                                                                                }
                                                                            </tr>
                                                                            { ind = ind + 1; }
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @if (string.IsNullOrEmpty(x.Status))
                                            {
                                                <a href="javascript:void(0);" data-verify-title="@("Verify Checklist for: " + x.InstallmentMaster.Name)" class="btn @bgColor btn-verify-request" data-val="@x.FundReleaseId" data-mst-dpr-id="@Model.MstDprId">Verify</a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0);" data-verify-title="@("Verified Checklist for: " + x.InstallmentMaster.Name)" class="btn @bgColor btn-check-list-details" data-val="@x.FundReleaseId" data-mst-dpr-id="@Model.MstDprId"> @Html.Raw(btnIcon) Detail</a>
                                            }
                                        </td>

                                    </tr>
                                }
                                @if ((Model.AppliedInstallments.Count) == 0)
                                {
                                    <tr colspan="10"><td><h5 class="text-center">No Installment applied previously</h5></td></tr>
                                }
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>



                            <div class="modal fade verify-modal" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Modal Header</h4>
                                        </div>
                                        <div class="modal-body">
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-9 show-msg">
                                                <div class="alert alert-success" style="display:none">
                                                    <strong>Success!</strong> Indicates a successful or positive action.
                                                </div>
                                                <div class="alert alert-danger" style="display:none">
                                                    <strong>Error!</strong> Indicates a successful or positive action.
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="button" value="Continue Return" class="btn btn-danger btn-verify-return pull-right"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var verifyModal = $(".verify-modal");
            var btnVerifyReturn = $(".btn-verify-return");
            
            verifyModal.setTitle=function(title) {
                $(this).find(".modal-header .modal-title").empty().append(title);
            }
            verifyModal.setBody = function(body) {
                $(this).find(".modal-body").empty().append(body);
            };
            verifyModal.showMessage = function (msg,type) {
                if (type.toLocaleLowerCase() == "r") {
                    verifyModal.find('.show-msg').children('.alert').hide();
                    verifyModal.find('.show-msg').children('.alert-danger').empty().append('<strong>Error!</strong> ' + msg + '.').show();
                } else if (type.toLocaleLowerCase() == "s") {
                    verifyModal.find('.show-msg').children('.alert').hide();
                    verifyModal.find('.show-msg').children('.alert-success').empty().append('<strong>Success!</strong> ' + msg + '.').show();
                }
            }
            var server=function() {
                return{
                    getVerificationUI: function (data, callback) {
                        $.ajax({
                            type: 'post',
                            url: '/Modules/dpr/GetUIFundReleaseVerification',
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "html",
                            success: function (response) {
                                callback(response);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                callback({ Status: xhr.status, Message: xhr.responseText, Data: null });
                            }
                        });
                    },
                    verifyInstallment: function (data, callback) {
                        $.ajax({
                            type: 'post',
                            url: '/Modules/dpr/VerifyFundRelease',
                            data: JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                callback(response);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                callback({ Status: xhr.status, Message: xhr.responseText, Data: null });
                            }
                        });
                    }
                }
            }
            $(".btn-verify-request,.btn-check-list-details").on('click',
                function(e) {
                    e.preventDefault();
                    var mstDprId = $(this).closest('tr').attr('data-mst-dpr-id').toNumber();
                    var fundReleaseId = $(this).closest('tr').attr('data-fund-release-id').toNumber();
                    var isReadOnly = $(this).closest('tr').attr('data-is-readonly').toNumber() == 1 ? true : false;
                    var title = $(this).attr("data-verify-title");
                    verifyModal.setTitle(title);
                    verifyModal.find('.modal-footer').show();
                    if (isReadOnly == true) {
                        verifyModal.find('.modal-footer').hide();
                    }
                    var payLoead = { mstDprId: mstDprId, cmd: "verify_ui", _params: { fundReleaseId: fundReleaseId, isReadonly: isReadOnly}};
                    server().getVerificationUI(payLoead,
                        function(r) {
                            verifyModal.setBody(r);
                            verifyModal.modal('show');
                        });
                });
            $(verifyModal).on('change',".chk-verify",function() {
                    var allChkbxes = verifyModal.find('.modal-body table tbody tr .chk-verify');
                    if (allChkbxes.length == 0 || allChkbxes.length !== allChkbxes.filter(":checked").length) {
                        btnVerifyReturn.addClass('btn-danger').removeClass('btn-success').val('Contiune Return');
                    } else {
                        btnVerifyReturn.addClass('btn-success').removeClass('btn-danger').val('Contiune as Verified');
                    }
            });
            btnVerifyReturn.on('click',function(e) {
                e.preventDefault();
                var payloadList = verifyModal.find('.modal-body table tbody tr').map(function(i, v) {
                    var ChkId = $(v).attr("data-chk-id").toNumber();
                    var isVerified = $(v).find('.chk-verify').prop('checked');
                    var VerifyRemarks = $(v).find('.txt-verify-remarks').val();
                    return { isVerified: isVerified, VerifyRemarks: VerifyRemarks, ChkId: ChkId }
                }).get();
                var mstDprId = $(".mst-dpr-id").val().toNumber();
                var fundreleaseId = $(".mst-fund-release-id").length > 0 ? $(".mst-fund-release-id").val().toNumber() : 0;
                alertify.confirm("Confirm Us!",
                    "Are you sure to proceed this fund/installment?",
                    function () {
                        var payload = {
                            mstDprId: mstDprId,
                            fundReleaseId: fundreleaseId,
                            checks: payloadList
                        };
                        server().verifyInstallment(payload,
                            function(r) {
                                if (r.Status === 200) {
                                    alertify.alert("Successful!", r.Message, function() {
                                        location.reload();
                                    });
                                } else {
                                    verifyModal.showMessage(r.Message, 'r');
                                }
                            });
                    },
                    function() {});

            })
        });
    </script>
}
