﻿@using Valuation_Board.App_Codes;
@{
    ViewBag.Title = "Reschedule Document Verification Date";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    body {
        background-color: #efefef;
    }

    #ui-datepicker-div {
        z-index: 2 !important;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .dataTables_empty {
        text-align: center;
    }
</style>
<script src="~/Contents/Dashboard/Dist/adminlte.min.js"></script>
<link href="~/Contents/Dashboard/Dist/AdminLTE.css" rel="stylesheet" />
<script src="~/Contents/Script/jQuery.tabbable-1.0.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
<script src="~/Contents/Script/AppJs/dprUpdtDocVerificationDt.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title title-wise-bar-chart">Update document verification date of submitted DPR</h3>
            </div>
            <div class="box-body">
                <form autocomplete="off">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Verify date from</label>
                            <div class="input-group">
                                <input type="text" class="form-control txt-from-date" name="txt-from-date" readonly required />
                                <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="txt-from-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Verify date to</label>
                            <div class="input-group">
                                <input type="text" class="form-control txt-to-date" name="txt-to-date" readonly required />
                                <a href="javascript:void(0)" class="input-group-addon remove-date" title="clear input" data-clear-tergate="txt-to-date">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label style="padding-top: 30px;">OR</label>
                        </div>
                        <div class="col-md-2" style="padding-left: 0px;">
                            <label>Memo No.</label>
                            <div class="input-group">
                                <input type="text" class="form-control memo_no" name="memo_no" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>&nbsp;</label>
                            <button style="margin-top: 26px;" class="btn btn-primary btn-search-by-date pull-left">Filter</button>
                            <label>&nbsp;</label>
                            <button style="margin-top: 26px;" class="btn btn-primary btn-show-all pull-right">Show All</button>
                        </div>
                    </div>
                </form>
                <hr />
                <table class="table table-responsive table-striped table-bordered table-condensed tbl-dpr-list">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Dev Auth</th>
                            <th>Proj. Name</th>
                            <th>Estimated Amt.</th>
                            <th>Memo No</th>
                            <th>Memo Dt</th>
                            <th>Verification Dt.</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

