﻿
@{
    ViewBag.Title = "AddVendor";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@{
    ViewBag.Title = "Tender";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/add-vendor.js"></script>
<div class="container">
    <form id="addVendor">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add New Vendor
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Vendor Name :</label>
                        <input id="vendorNm" class="form-control vendorNm" name="vendorNm" placeholder="Enter vendor name" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Vendor Registration No. :</label>
                        <input id="vendorRegNo" class="form-control vendorRegNo" name="vendorRegNo" placeholder="Enter vendor Reg No." />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Vendor Address :</label>
                        <input id="vendorAdd" class="form-control vendorAdd" name="vendorAdd" placeholder="Enter vendor address" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Vendor PAN :</label>
                        <input id="vendorPAN" class="form-control vendorPAN" name="vendorPAN" placeholder="Enter vendor PAN" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Vendor GST No :</label>
                        <input id="gstNo" class="form-control gstNo" name="gstNo" placeholder="Enter vendor GST no" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Primary Contact No :</label>
                        <input id="pcontactNo" class="form-control pcontactNo" name="pcontactNo" placeholder="Primary contact no" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Primary Contact Person Name :</label>
                        <input id="cntctPrsnName" class="form-control cntctPrsnName" name="cntctPrsnName" placeholder="Contact person name" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Primary Email :</label>
                        <input id="primaryEmail" class="form-control primaryEmail" name="primaryEmail" placeholder="Enter Primary Email" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Other Contact No :</label>
                        <input id="othrCntctNo" class="form-control othrCntctNo" name="othrCntctNo" placeholder="Enter Other Contact No" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary pull-right btn-sbmt" style="margin-top: 10px;" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Existing Vendor List
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    <th>Vendor Name</th>
                                    <th>Address</th>
                                    <th>Registration No.</th>
                                    <th>Vendor PAN</th>
                                    <th>GST No</th>
                                    <th>Contact No</th>
                                    <th>Cnt Person Name</th>
                                    <th>Email</th>
                                    <th>Other No</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyVendor"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>



