﻿@model List<Valuation_Board.Models.Application.DprModel.SchemeCategory>
@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/Budget.js"></script>
<div class="container">
    <form id="configurebudget">
        <div class="panel panel-default">
            <div class="panel-heading">
                Configure Budget
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3" >
                        <label for="ActionText">Municipality :</label>
                        <select class="form-control ddlMunicipality1 ddlMunicipalityCmmn" id="ddlMunicipality1" name="ddlMunicipality1" data-info="please mun"></select>
                        <label for="lbl_ddlMunicipality1" id="lbl_ddlMunicipality1" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-3" style="display:none;">
                        <label for="ActionText">Budget Code :</label>
                        <select class="form-control ddlBudgetCode" id="ddlBudgetCode" name="ddlBudgetCode" data-info="please mun"></select>
                        <label for="lbl_ddlBudgetCode" id="lbl_ddlBudgetCode" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Financial Year :</label>
                        <select class="form-control  finYear1" id="finYear1" name="finYear1" data-info="please mun"></select>
                        <label for="lbl_finYear1" id="lbl_finYear1" generated="true" class="error"></label>
                    </div>
                    @*<div class="col-md-3">
                        <label for="ActionText">Financial Year :</label>
                        <input id="finYear1" class="form-control finYear1" name="finYear1" placeholder="YYYY-YYYY" />
                    </div>*@
                    <div class="col-md-1">
                        <input type="button" class="btn btn-success pull-left btn-search" style="margin-top: 22px;" value="Search" />
                    </div>
                    <div class="col-md-1">
                        <input type="button" class="btn btn-primary pull-left btn-copy" style="margin-top: 22px;" value="Copy All" />
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="col-md-3" style="display:none;">
                        <label for="ActionText">Municipality :</label>
                        <select class="form-control ddlMunicipality ddlMunicipalityCmmn" id="ddlMunicipality" name="ddlMunicipality" data-info="please mun"></select>
                        <label for="lbl_ddlMunicipality" id="lbl_ddlMunicipality" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Budget Code :</label>
                        <input id="budgetCode" class="form-control budgetCode" name="budgetCode" placeholder="Enter Budget Code" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Budget Description :</label>
                        <input id="budgetDesc" class="form-control budgetDesc" name="budgetDesc" placeholder="Enter Budget Description" />
                    </div>
                    <div class="col-md-3" style="display:none;">
                        <label for="ActionText">Financial Year :</label>
                        <select class="form-control finYear finYear" id="finYear" name="finYear" data-info="please mun"></select>
                        <label for="lbl_finYear" id="lbl_finYear" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Budget Amount :</label>
                        <input id="budgetAmt" class="form-control budgetAmt" name="budgetAmt" placeholder="It should be numeric" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Effective Date Form :</label>
                        <input id="effDate" class="form-control datepicker effDate" name="effDate" placeholder="DD/MM/YYYY" />
                    </div>
                    @*<div class="col-md-3">
                        <label for="ActionText">Financial Year :</label>
                        <input id="finYear" class="form-control finYear" name="finYear" placeholder="YYYY-YYYY" />
                    </div>*@
                </div>
                <div class="row">
                    
                    <div class="col-md-3">
                        <label for="ActionText">Fund Type:</label>
                        <select class="form-control ddl-fund-type" name="ddl-fund-type">
                            <option value="">--Select--</option>
                           @foreach (var item in Model)
                           {
                                <option value="@item.Id">@item.Name</option>
                           }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Remarks :</label>
                        <textarea id="remarks" class="form-control remarks" style="height: 35px;" name="remarks"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary pull-right btn-sbmt" style="margin-top: 10px;" value="Submit" />
                        <input type="button" class="btn btn-success pull-right btn-edit" style="margin-top: 10px;display:none;" value="Save" />
                        <input type="button" class="btn btn-danger pull-right btn-cancel" style="margin-top: 10px;display:none;margin-right: 5px;" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Budget List
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="myTable table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    @*<th>Municipality</th>*@
                                    @*<th>Fund Type</th>*@
                                    <th>Budget Code</th>
                                    <th>Budget Description</th>
                                    @*<th>Financial Year</th>*@
                                    <th>Budget Amount</th>
                                    <th>Effective Date Form</th>
                                    <th>Remarks</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyBudget"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>



