﻿
@{
    ViewBag.Title = "FundSource";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Contents/Script/AppJs/FundTypeMaster.js"></script>
<div class="container">
    <form id="configureFundSource">
        <div class="panel panel-default">
            <div class="panel-heading">
                Configure Fund Source
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="ActionText">Fund Source :</label>
                        <input id="fundSource" class="form-control fundSource" name="fundSource" placeholder="Fund Source" />
                        <input id="fundSourceId" type="hidden" class="form-control fundSourceId" name="fundSourceId" placeholder="Fund Source" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary pull-right btn-sbmt" style="margin-top: 10px;" value="Submit" />
                        <input type="button" class="btn btn-success pull-right btn-edit" style="margin-top: 10px;display:none;" value="Save" />
                        <input type="button" class="btn btn-danger pull-right btn-cancel" style="margin-top: 10px;display:none;margin-right: 5px;" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Fund Source List
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    <th style="width:15%">Sl No</th>
                                    <th>Fund Source</th>
                                    <th style="width:15%">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyFundSource"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




