﻿
@{
    ViewBag.Title = "ReClameSurrenderAmount";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/file.upload.partial.js"></script>
<script src="~/Contents/Script/AppJs/ReClameAmt.js"></script>
<div class="container">
    <form id="surrenderAmt">
        <div class="panel panel-default">
            <div class="panel-heading">
                Reclaim Surrender Amount
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Project No :</label>
                        <input id="projectNo" class="form-control projectNo" name="projectNo" placeholder="Enter Project No" />
                    </div>
                    <div class="col-md-6 pull-left">
                        <input type="button" class="btn btn-primary pull-left btn-search" style="margin-top: 23px;" value="Search" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Installment List
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    <th style="width:6%">Sl No</th>
                                    <th style="width:25%">Sub Project Name</th>
                                    <th style="width:15%">Installment No</th>
                                    <th style="width:15%">Installment Amount</th>
                                    <th style="width:15%">Surrendered Amount</th>
                                    <th style="width:15%">Utilized Amount</th>
                                    <th style="width:15%">Amount to Reclaim</th>
                                    <th style="width:18%">Forwarding Letter with Release Order and Surrender Certificate(PDF)</th>
                                    <th style="width:6%">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodysurrender"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

