﻿
@{
    ViewBag.Title = "SchemeCategory";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Contents/Script/AppJs/SchemeCategory.js"></script>
<div class="container">
    <form id="configureSchemeCategory">
        <div class="panel panel-default">
            <div class="panel-heading">
                Configure Scheme Category
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="ActionText">Fund Source :</label>
                        <select class="form-control ddlfundSource" id="ddlfundSource" name="ddlfundSource" data-info="please mun"></select>
                        <label for="lbl_ddlfundSource" id="lbl_ddlfundSource" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-6">
                        <label for="ActionText">Scheme Category :</label>
                        <input id="schemeCategory" class="form-control schemeCategory" name="schemeCategory" placeholder="Enter Scheme Category" />
                        <input id="schemeCategoryId" type="hidden" class="form-control schemeCategoryId" name="schemeCategoryId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary pull-right btn-sbmt" style="margin-top: 10px;" value="Submit" />
                        <input type="button" class="btn btn-success pull-right btn-edit" style="margin-top: 10px;display:none;" value="Save" />
                        <input type="button" class="btn btn-danger pull-right btn-cancel" style="margin-top: 10px;display:none;margin-right: 5px;" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Scheme Category List
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    <th style="width:10%">Sl No</th>
                                    <th style="width:40%">Fund Source</th>
                                    <th style="width:40%">Scheme Category</th>
                                    <th style="width:10%">Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodySchemeCategory"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>






