﻿
@{
    ViewBag.Title = "SubprojType";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/SubprojType.js"></script>
<div class="container">
    <form id="configureSubprojType">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sub Project Type
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label for="ActionText">Stage Group :</label>
                        <select class="form-control ddlStageGrp" id="ddlStageGrp" name="ddlStageGrp" data-info="please mun"></select>
                        <label for="lbl_ddlStageGrp" id="lbl_ddlStageGrp" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-md-10">
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn btn-primary pull-right btn-sbmt" style="margin-top: 10px;" value="Submit" />
                            <input type="button" class="btn btn-success pull-right btn-edit" style="margin-top: 10px;display:none;" value="Save" />
                            <input type="button" class="btn btn-danger pull-right btn-cancel" style="margin-top: 10px;display:none;margin-right: 5px;" value="Cancel" />
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Sub Project Type List
                <input type="button" class="btn btn-primary pull-right btn-add" style="margin-top: -7px;" value="Add Sub Project Type " />
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr style="background-color: #2e6da4;color: white;">
                                    <th style="width:15%">Sl No</th>
                                    <th>Sub Project Type</th>
                                    <th style="width:10%">Edit</th>
                                    <th style="width:10%">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyFundSource"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="subproj-modal" class="modal fade" role="dialog" data-mode="">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" class="hdn-groupid" />
                    <div class="form-group">
                        <label class="required">Enter/Edit Sub Project Type:</label>
                        <input type="text" name="txt-add-edit-spt" required class="form-control txt-add-edit-spt" />
                        <input type="hidden" name="hdntxt-add-edit-spt" class="form-control hdntxt-add-edit-spt" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary btn-submit">Submit</button>*@
                <input type="button" class="btn btn-primary btn-submit" value="Submit" />
            </div>
        </div>
    </div>
</div>
