﻿
@{
    ViewBag.Title = "Tender";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/Tender.js"></script>
<div class="container">
    <form id="configureTender">
        <div class="panel panel-default">
            <div class="panel-heading">
                Configure Tender
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Municipality / Authority</label>
                        <select class="form-control ddlMunicipality ddlMunicipalityCmmn" id="ddlMunicipality" name="ddlMunicipality" data-info="please mun"></select>
                        <label for="lbl_ddlMunicipality" id="lbl_ddlMunicipality" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Project ID :</label>
                        <input id="tenderPrjctNo" class="form-control tenderPrjctNo" autocomplete="off" name="tenderPrjctNo" placeholder="Select Project No" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Sub Project ID :</label>
                        <input id="SubPrjctNo" class="form-control SubPrjctNo" name="SubPrjctNo" placeholder="Select Sub Project No" />
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Tender Call No :</label>
                        @*<input id="tenderCallNo" class="form-control tenderCallNo" name="tenderCallNo" placeholder="Enter Tender Call No" />*@
                        <select class="form-control tenderCallNo" id="tenderCallNo" name="tenderCallNo">
                            <option value="">--select--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Tender No :</label>
                        <input id="tenderNo" class="form-control tenderNo" name="tenderNo" placeholder="Enter Tender No" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Tender Status</label>
                        <select class="form-control tndrStatus" id="tndrStatus" name="tndrStatus" data-info="please mun">
                            <option value="1">Non Responsive</option>
                            <option value="2">Responsive</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Bid Submission Start Date :</label>
                        <input id="tOpenDate" class="form-control datepicker tOpenDate" name="tOpenDate" placeholder="DD/MM/YYYY" />
                    </div>  
                    <div class="col-md-4">
                        <label for="ActionText">Bid Submission End Date :</label>
                        <input id="tCloseDate" class="form-control datepicker tCloseDate" name="tCloseDate" placeholder="DD/MM/YYYY" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Awarded To :&nbsp;</label><span><a class="disablCntrl" href="~/Modules/DprExtension/AddVendor" target="_blank">Add new vendor</a></span>
                        <input id="awardedTo" class="form-control disablCntrl awardedTo" name="awardedTo" placeholder="Select Vendor Name" />
                    </div>   
                    <div class="col-md-4">
                        <label for="ActionText">Work Order No :</label>
                        <input id="wOrderNo" class="form-control disablCntrl wOrderNo" name="wOrderNo" placeholder="Enter Work Order No" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Work Order Date :</label>
                        <input id="workOdrDt" class="form-control disablCntrl datepicker workOdrDt" name="workOdrDt" placeholder="DD/MM/YYYY" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Work Start Date :</label>
                        <input id="workStrtDt" class="form-control disablCntrl datepicker workStrtDt" name="workStrtDt" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Work Completion Date :</label>
                        <input id="workCmpltnDt" class="form-control disablCntrl datepicker workCmpltnDt" name="workCmpltnDt" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Engineer Name :</label>
                        <input id="engName" class="form-control disablCntrl engName" name="engName" placeholder="Enter Engineer Name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Engineer Designation :</label>
                        <input id="engDesig" class="form-control disablCntrl engDesig" name="engDesig" placeholder="Enter Engineer Designation" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Engineer Email :</label>
                        <input id="engEmail" class="form-control disablCntrl engEmail" name="engEmail" placeholder="Enter Engineer Email" />
                    </div>
                    <div class="col-md-4">
                        <label for="ActionText">Engineer Phone :</label>
                        <input id="engPhone" class="form-control disablCntrl engPhone" name="engPhone" placeholder="Enter Engineer Phone" maxlength="10" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary pull-right btn-sbmt" style="margin-top: 10px;" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Tender List
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    <th>Project No</th>
                                    <th>Sub Scheme ID</th>
                                    <th>Tender No</th>
                                    <th>Tender Call No</th>
                                    <th>Tender Open Dt</th>
                                    <th>Tender Close Dt</th>
                                    <th>Awarded To</th>
                                    <th>Work Order No</th>
                                    <th>Work Order Dt</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyTender"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

