﻿
@{
    ViewBag.Title = "UlbWiseContactDetails";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/UlbWiseContactDetails.js"></script>
<div class="container">
    <form id="configureulbcontact">
        <div class="panel panel-default">
            <div class="panel-heading">
                Configure Ulb Wise Contact
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">Municipality :</label>
                        <select class="form-control ddlMunicipality1 ddlMunicipalityCmmn" id="ddlMunicipality1" name="ddlMunicipality1" data-info="please mun"></select>
                        <label for="lbl_ddlMunicipality1" id="lbl_ddlMunicipality1" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-1">
                        <input type="button" class="btn btn-success pull-left btn-search" style="margin-top: 22px;" value="Search" />
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <br />
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">Designation:</label>
                        <select class="form-control ddl-desigId" name="ddl-desigId">
                            <option value="">--Select--</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.DesignationId">@item.DesignationName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Name :</label>
                        <input type="text" class="name form-control" name="name" />
                        <input type="hidden" class="tabId form-control" name="tabId" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Email :</label>
                        <input type="text" class="email form-control" name="email" />
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Phone :</label>
                        <input type="text" class="phone form-control" name="phone" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary pull-right btn-sbmt" style="margin-top: 10px;" value="Submit" />
                        <input type="button" class="btn btn-success pull-right btn-edit" style="margin-top: 10px;display:none;" value="Save" />
                        <input type="button" class="btn btn-danger pull-right btn-cancel" style="margin-top: 10px;display:none;margin-right: 5px;" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Ulb Wise Contact
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="myTable table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyBudget"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

