﻿
@{
    ViewBag.Title = "WorkStatus";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/file.upload.partial.js"></script>
<script src="~/Contents/Script/AppJs/WorkStatus.js"></script>
<div class="container">
    <form id="workStatus">
        <input type="hidden" value="0" class="hdnIsDelayed"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                Work Status
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="ActionText">Vendor :</label>
                        <select class="form-control ddlvendor wrkStatusGrp" id="ddlvendor" name="ddlvendor" data-info="please mun"></select>
                        <label for="lbl_ddlvendor" id="lbl_ddlvendor" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Work Category :</label>
                        <select class="form-control wType wrkStatusGrp" id="wType" name="wType" data-info="please mun"></select>
                        <label for="lbl_wType" id="lbl_wType" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Work Order No :</label>
                        <input id="wrkOrdrNo" class="form-control  wrkOrdrNo" name="wrkOrdrNo" placeholder="Select Work Order No" />
                    </div>
                    <div class="col-md-3 phyWork" style="display:none;">
                        <label for="ActionText">Work Status Date :</label>
                        <input id="wStartDate" class="form-control datepicker wStartDate" name="wStartDate" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-3 financial" style="display:none;">
                        <label for="ActionText">Cumulative Amt Paid :</label>
                        <input id="cummiAmt" class="form-control  cummiAmt" name="cummiAmt" placeholder="Enter Amount" />
                    </div>
                </div>
                <div class="row phyWork" style="display:none;">
                    <div class="col-md-3">
                        <label for="ActionText">Stage Of Progress :</label>
                        <select class="form-control ddwrkcmpleted" id="ddwrkcmpleted" name="ddwrkcmpleted" data-info="please mun"></select>
                        <label for="lbl_ddwrkcmpleted" id="lbl_ddwrkcmpleted" generated="true" class="error"></label>
                    </div>
                    <div class="progress  col-md-9" style="margin-top: 30px;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            0%
                        </div>
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-md-3 phyWork" style="display:none;">
                        <label for="ActionText">Image 1 (Pre Work) :</label>
                        <input class="form-control"  type="file" id="image1" name="image1" accept="image/*">
                    </div>
                    <div class="col-md-3 phyWork" style="display:none;">
                        <label for="ActionText">Image 1 As On :</label>
                        <input id="image1Date" class="form-control datepicker image1Date" name="image1Date" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-6 phyWork" style="display:none;">
                        <img src="#" id="image1Prev" class="img-thumbnail" alt="Image 1 not selected yet." style="width:253px;height:150px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 phyWork" style="display:none;">
                        <label for="ActionText">Image (Ongoing Work, JPEG/JPG/PNG) :</label>
                        <input class="form-control" type="file" id="image2" name="image2" accept="image/jpeg, image/jpg, image/png">
                    </div>
                    <div class="col-md-3 phyWork" style="display:none;">
                        <label for="ActionText">Image As On :</label>
                        <input id="image2Date" class="form-control datepicker image2Date" name="image2Date" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-3 phyWork" style="display:none;">
                        @*<label for="ActionText">Image 2 Preview :</label>*@
                        <img src="#" id="image2Prev" class="img-thumbnail" alt="Image not selected yet."  style="width:253px;height:150px;">
                    </div>
                   
                </div>
                <div class="row" style="display:none;">
                    <div class="col-md-3 phyWork" style="display:none;">
                        <label for="ActionText">Image 3  :</label>
                        <input class="form-control" type="file" id="image3" name="image3" accept="image/jpeg, image/jpg, image/png">
                    </div>
                    <div class="col-md-3 phyWork" style="display:none;">
                        <label for="ActionText">Image 3 As On :</label>
                        <input id="image3Date" class="form-control datepicker image3Date" name="image3Date" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-3 phyWork" style="display:none;">
                        <img src="#"id="image3Prev" class="img-thumbnail" alt="Image 3 not selected yet."  style="width:253px;height:150px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 financial" style="display:none;">
                        <label for="ActionText">Paid On:</label>
                        <input id="paidOn" class="form-control  paidOn datepicker" name="paidOn" placeholder="Select Date" readonly />
                    </div>
                    <div class="col-md-9 nrmlRemarks" style="display:block;">
                        <label for="ActionText">Remarks :</label>
                        <textarea id="remarks" class="form-control  remarks" name="remarks" placeholder="Put Remarks"></textarea>
                    </div>
                    <div class="col-md-9 dlyRemarks" style="display:none;">
                        <label for="ActionText">Delay Remarks :</label>
                        <textarea id="delayremarks" class="form-control  delayremarks" name="delayremarks" placeholder="Put Remarks"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-primary pull-right btn-sbmt" style="margin-top: 10px;" value="Submit" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Work Status List
            </div>
            <div class="panel-body financial" style="display:none">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    <th>Tender No</th>
                                    <th>Vendor Name</th>
                                    <th>Work Order No</th>
                                    <th>Work Order Dt</th>
                                    <th>Cummi Amt Paid</th>
                                    <th>Paid On</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyWorkStatus"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-body phyWork" style="display:none">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="PhysicalStatusTbl" class="table table-bordered">
                            <thead>
                                <tr style="background-color: #286090;color: #fff;">
                                    <th>Tender No</th>
                                    <th>Vendor Name</th>
                                    <th>Work Order No</th>
                                    <th>Work Order Dt</th>
                                    <th>Work Status Dt</th>
                                    <th>Work Completed</th> 
                                    <th>Percentage Completed</th>                                   
                                    <th>Remarks</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyPhysicalStatus"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

