﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/CancelPaymentReport.js?"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Payment Cancelation Report</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmCancelPaymentReport" target="_blank" action="/Municipality/MnReports/CancelPaymentReport" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="FromDate">From Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateFrom" name="DateFrom" readonly />
                </div>
                <div class="col-md-2">
                    <label for="ToDate">To Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateTo" name="DateTo" readonly />
                </div>
                <div class="col-md-2">
                    <label for="ward">Ward<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                    <input type="hidden" id="WardID" name="WardID" />
                </div>

                <div class="col-md-2">
                    <label for="Location">Location<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation">
                    <input type="hidden" id="LocationID" name="LocationID" />
                </div>
                <div class="col-md-4">
                    <div class="col-md-11" style="text-align:right">
                        <input type="button" id="btnSave" value="Print  Report" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-5" style="text-align:left" id="divCounter">
                        <fieldset class="the-fieldset counter-list">
                            <legend class="the-legend">Counter&nbsp;&nbsp;All
                                <input type="checkbox" id="chkAll" name="chkAll" /><span class="red-star">&nbsp;</span></legend>
                            <input for="Counter" type="hidden" id="hdnCounter" name="Counter" />
                            <div class="col-md-12 counter-list" style="overflow-y:scroll; height:100px">
                                <table id="tabCounter">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
