﻿@using Valuation_Board.ViewModels;
@using System.Globalization;
@using Valuation_Board.App_Codes
@using Valuation_Board.Models.Application
@model Dashboard_vm
@{
    ViewBag.Title = "municipality-dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    /*content-wrapper > h1, h2, h3, h4, h5, h6 {
        font-family: Open Sans, sans-serif;
        font-weight: unset;
        color: white;
    }*/
    .small-box .icon {
        font-size: 52px !important;
        top: -8px !important;
        
    }
    .small-box h4 {
        text-shadow: black 1px 2px 4px;
    }
    .small-box:hover .icon {
        font-size: 55px !important;
    }
    .small-box {
        margin-bottom: 10px !important;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 10px;
        border-top: 1px solid #cac9c9;
    }

    .border-top {
        border-top: 1px solid #f4f4f4;
    }

    .border-bottom {
        border-bottom: 1px solid #f4f4f4;
    }

    .border-left {
        border-left: 1px solid #f4f4f4;
    }

    .border-right {
        border-right: 1px solid #f4f4f4;
    }

    .strike {
        text-decoration: Line-Through
    }
</style>
<!-- Font Awesome -->
<link rel="stylesheet" href="/Contents/Dashboard/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/Contents/Dashboard/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link href="~/Contents/Dashboard/Dist/AdminLTE.min.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Contents/Script/AppJs/dashboard-municipality-collector.js?v=@(GlobalContext.applicationInfo.AssemblyVersion)"></script>


<section class="content-wrapper dash-board" style="margin-left:0px;background-color: rgba(255,255,255,0)">
    <!-- Small boxes (Stat box) -->
    
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="tab-content">
                <div id="drilldown-Municipality-Collection">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title white">Collection Dash Board</h3>
                            <div class="pull-right box-tools ">
                                <div class="form-group form-inline">
                                    <label>Time Span</label>
                                    <select class="ddl-time-span form-control">
                                        <option value="to-day">To Day</option>
                                        <option value="last-7-days">Last 7 Days</option>
                                        <option value="last-month">Last Month</option>
                                        <option value="last-6-months">Last 6 months</option>
                                        <option value="last-1-year">Last 1 year</option>
                                        <option value="date-range">Date range</option>
                                    </select>
                                    <span class="custom-date-range" style="display:none">
                                        <input type="text" readonly class="form-control from-date" placeholder="from date (dd/mm/yyyy)" value="@DateTime.Now.ToString("dd'/'MM'/'yyyy")" />
                                        <label>to</label>
                                        <input type="text" readonly class="form-control to-date" placeholder="to date (dd/mm/yyyy)" value="@DateTime.Now.ToString("dd'/'MM'/'yyyy")" />
                                    </span>
                                    <button type="button" class="pull-right btn btn-default btn-get-details" style="margin-left:5px;display:none">
                                        Details
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="chart pie-origine" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F6620}">
                                                            <!-- Sales Chart Canvas -->
                                                            <div class="jumbotron">
                                                                <h1 style="text-shadow:black 1px 3px 1px;" class="total-collection-collctor">$99999.00</h1>
                                                                <h1 style="text-shadow: black 1px 1px 2px;">
                                                                    <small>
                                                                        <abbr>- Total Collection</abbr>
                                                                    </small>
                                                                </h1>
                                                            </div>
                                                            
                                                        </div>
                                                        <!-- /.chart-responsive -->
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-md-6 border-left">
                                                        <div class="pie-payhead-wise" id="{F8BE0079-0806-4812-B32D-2609569B12FF}">
                                                            @* pie chart on property tx, surcharge, rebate, interest *@
                                                            <div>pay head wise</div>
                                                        </div>
                                                        <!-- /.progress-group -->
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->
                                            </div>
                                            <!-- ./box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-body">
                                            <div class="col-md-12 flow-chart-payment-flow" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F662143}">
                                                @* pie chart on collection medium *@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




