﻿@using Valuation_Board.ViewModels;
@using System.Globalization;
@using Valuation_Board.App_Codes
@using Valuation_Board.Models.Application
@model Dashboard_vm
@{
    ViewBag.Title = "municipality-dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    /*content-wrapper > h1, h2, h3, h4, h5, h6 {
        font-family: Open Sans, sans-serif;
        font-weight: unset;
        color: white;
    }*/
    .small-box .icon {
        font-size: 52px !important;
        top: -8px !important;
    }

    .small-box h4 {
        text-shadow: black 1px 2px 4px;
    }

    .small-box:hover .icon {
        font-size: 55px !important;
    }

    .small-box {
        margin-bottom: 10px !important;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 10px;
        border-top: 1px solid #cac9c9;
    }

    .border-top {
        border-top: 1px solid #f4f4f4;
    }

    .border-bottom {
        border-bottom: 1px solid #f4f4f4;
    }

    .border-left {
        border-left: 1px solid #f4f4f4;
    }

    .border-right {
        border-right: 1px solid #f4f4f4;
    }

    .strike {
        text-decoration: Line-Through
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="/Contents/Dashboard/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/Contents/Dashboard/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link href="~/Contents/Dashboard/Dist/AdminLTE.min.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="~/Contents/Script/raphael-2.1.4.min.js"></script>
<script src="~/Contents/Script/justgage.js"></script>

<script src="~/Contents/Script/AppJs/dashboard-municipality.js?v=@(GlobalContext.applicationInfo.AssemblyVersion)"></script>


<script>

</script>

<style>
    body {
        text-align: center;
    }
    /*#totalGauge {
        width: 500px;
        height: 300px;
        display: inline-block;
        margin: 1em;
        align-content:center;
    }*/

    /* Title */
    #totalGauge text:nth-child(6) tspan {
        font-size: 0.8em !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /* Value */
    #totalGauge text:nth-child(7) tspan {
        font-size: 0.4em !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /* Label */
        #totalGauge text:nth-child(8) tspan,
        totalGauge text:nth-child(9) tspan,
        totalGauge text:nth-child(10) tspan {
        font-size: 0.7em !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /* Title */
    #arrearGauge text:nth-child(6) tspan {
        font-size: 0.7em !important;
    }

    /* Value */
    #arrearGauge text:nth-child(7) tspan {
        font-size: 0.4em !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /* Label */
    #arrearGauge text:nth-child(8) tspan,
    arrearGauge text:nth-child(9) tspan,
    arrearGauge text:nth-child(10) tspan {
        font-size: 0.9em !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /* Title */
    #currentGauge text:nth-child(6) tspan {
        font-size: 0.7em !important;
    }

    /* Value */
    #currentGauge text:nth-child(7) tspan {
        font-size: 0.4em !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    /* Label */
    #currentGauge text:nth-child(8) tspan,
    currentGauge text:nth-child(9) tspan,
    currentGauge text:nth-child(10) tspan {
        font-size: 0.9em !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
</style>


<section class="content-wrapper dash-board" style="margin-left:0px;background-color: rgba(255,255,255,0)">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        @*Municipality Collection *@
        <div class="col-md-2 col-md-offset-3  col-xs-12">
            <!-- small box -->
            <a href="#drilldown-Municipality-Collection" data-toggle="tab" class="small-box bg-light-blue-gradient btn-door-Municipality-Collection">
                <div class="inner">
                    <h4 class="white"> Collection</h4>
                </div>
                <div class="icon" style="top:-24px;right:2px;">
                    <i class="ion ion-social-usd"></i>
                </div>
            </a>
        </div>

        @*Drill Down assesse block*@
        <div class="col-md-2 col-xs-12">
            <!-- small box -->
            <a href="#drilldown-assessee" data-toggle="tab" class="small-box bg-green btn-door-drill-assessee">
                <div class="inner">
                    @*<h4 class="white">@Model.TotalAssesseesCount</h4>*@
                    <h4 class="white">Assessees</h4>
                </div>
                <div class="icon" style="top:-24px;right:2px;">
                    <i class="ion ion-person-stalker"></i>
                </div>
            </a>
        </div>

        @*Drill Down Municipalities*@
        <div class="col-md-2 col-xs-12">
            <!-- small box -->
            <a href="#drilldown-demand-vs-collection" data-toggle="tab" class="small-box bg-orange btn-door-demand-vs-collection">
                <div class="inner">
                    <h4 class="white">Demand vs Collection</h4>
                </div>
                <div class="icon" style="top:-24px;right:2px;">
                    <i class="ion ion-android-home"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="tab-content">
                <div id="drilldown-Municipality-Collection" class="tab-pane fade ">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title white">Collection</h3>
                            <div class="pull-right box-tools ">
                                <div class="form-group form-inline">
                                    <label>Time Span</label>
                                    <select class="ddl-time-span form-control">
                                        <option value="to-day">To Day</option>
                                        <option value="last-7-days">Last 7 Days</option>
                                        <option value="last-month">Last Month</option>
                                        <option value="last-6-months">Last 6 months</option>
                                        <option value="last-1-year">Last 1 year</option>
                                        <option value="date-range">Date range</option>
                                    </select>
                                    <span class="custom-date-range" style="display:none">
                                        <input type="text" readonly class="form-control from-date" placeholder="from date (dd/mm/yyyy)" value="@DateTime.Now.ToString("dd'/'MM'/'yyyy")" />
                                        <label>to</label>
                                        <input type="text" readonly class="form-control to-date" placeholder="to date (dd/mm/yyyy)" value="@DateTime.Now.ToString("dd'/'MM'/'yyyy")" />
                                    </span>
                                    <button type="button" class="pull-right btn btn-default btn-get-details" style="margin-left:5px;display:none">
                                        Details
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="row border-bottom">
                                                    <div class="row collection-summary">
                                                        <div class="col-sm-3 col-xs-12">
                                                            <div class="info-box ">
                                                                <span class="info-box-icon bg-navy"><i class="glyphicon glyphicon-plus"></i></span>
                                                                <div class="info-box-content">
                                                                    <h3 class="info-box-number amount-head-total" style="font-size:25px;">0</h3>
                                                                    <span class="progress-description">
                                                                        Total Collection
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-sm-3 col-xs-12">
                                                            <div class="info-box ">
                                                                <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
                                                                <div class="info-box-content">
                                                                    <h3 class="info-box-number amount-head-counter" style="font-size:25px;">0</h3>
                                                                    <span class="progress-description">
                                                                        Counter
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-sm-3 col-xs-12">
                                                            <div class="info-box ">
                                                                <span class="info-box-icon bg-yellow"><i class="fa fa-internet-explorer"></i></span>
                                                                <div class="info-box-content">
                                                                    <h3 class="info-box-number amount-head-web-portal" style="font-size:25px;">0</h3>
                                                                    <span class="progress-description">
                                                                        Web Portal
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-sm-3 col-xs-12">
                                                            <div class="info-box">
                                                                <span class="info-box-icon bg-green"><i class="fa fa-mobile"></i></span>
                                                                <div class="info-box-content">
                                                                    <h3 class="info-box-number amount-head-App" style="font-size:25px;">0</h3>
                                                                    <span class="progress-description">
                                                                        App
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="chart pie-origine" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F6620}">
                                                            <!-- Sales Chart Canvas -->
                                                            pie chart
                                                        </div>
                                                        <!-- /.chart-responsive -->
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-md-6 border-left">
                                                        <div class="pie-payhead-wise" id="{F8BE0079-0806-4812-B32D-2609569B12FF}">
                                                            @* pie chart on property tx, surcharge, rebate, interest *@
                                                            <div>pay head wise</div>
                                                        </div>
                                                        <!-- /.progress-group -->
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->
                                            </div>
                                            <!-- ./box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-body">
                                            <div class="col-md-12 flow-chart-payment-flow" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F662143}">
                                                @* pie chart on collection medium *@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title title-wise-bar-chart">Ward wise</h3>

                                            <div class="box-tools pull-right">
                                                <div class=" form-group form-inline municipality-wise-collection-filter">
                                                    <select class="form-control ddl-collection-by">
                                                        <option value="collector">Collector Wise</option>
                                                        <option value="ward">Ward Wise</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div class="col-md-12 bar-chrt-municipality-wise-collection" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F6621}">
                                                @* pie chart on collection medium *@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div id="drilldown-demand-vs-collection" class="tab-pane fade ">
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title white">Demand-vs-Collection</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="row border-bottom">
                                                    <div class="row">
                                                        <div class="col-md-12">                                                            
                                                            <div class="col-md-4 col-md-offset-3" id="totalGauge">
                                                            </div>
                                                            <div class="col-md-4" style="margin-top:200px;">
                                                                <table class="table" id="totalGaugeTable1" style="width:100%; font-size:16px; font-weight:bold;"></table>
                                                            </div>                                                                                                                       
                                                        </div>                                                         
                                                    </div>                                                    
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="col-md-6" id="arrearGauge">
                                                            </div>
                                                            <div class="col-md-6" style="padding-top:150px;">
                                                                <table class="table" id="arrearGaugeTable" style="width:100%; font-size:12px; font-weight:bold;"></table>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="col-md-6" id="currentGauge">
                                                            </div>
                                                            <div class="col-md-6" style="padding-top:150px;">
                                                                <table class="table" id="currentGaugeTable" style="width:100%; font-size:12px; font-weight:bold;"></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-12 core-chrt-word-wise-demandVScollection" id="chrtDemandVSCollectionWardWise">
                                                            @* pie chart on collection medium *@
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.row -->
                                            </div>
                                            <!-- ./box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-body">
                                            <div class="col-md-12 flow-chart-payment-flow" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F662143}">
                                                @* pie chart on collection medium *@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title title-wise-bar-chart">Ward wise</h3>

                                            <div class="box-tools pull-right">
                                                <div class=" form-group form-inline municipality-wise-collection-filter">
                                                    <select class="form-control ddl-collection-by">
                                                        <option value="collector">Collector Wise</option>
                                                        <option value="ward">Ward Wise</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div class="col-md-12 bar-chrt-municipality-wise-collection" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F6621}">
                                                @* pie chart on collection medium *@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




