﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/DemandReport.js"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Demand Report</h3></div>
            @*<div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>*@
        </div>
    </div>
    <div class="panel-body">
        <form id="frmDemandReport" action="/Municipality/MnReports/DemandReport" target="_blank" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="ward">Ward<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                    <input type="hidden" id="WardID" name="WardID" />
                </div>

                <div class="col-md-4">
                    <label for="location">Location</label>@*<span class="red-star">&nbsp;*</span>*@
                    <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation">
                    <input type="hidden" id="LocationID" name="LocationID" />
                </div>
                <div class="col-md-6">
                    <label for="Assessee">Assessee</label>@*<span class="red-star">&nbsp;*</span>*@
                    <input type="text" class="form-control input-sm change" id="txtAssessee" name="txtAssessee">
                    <input type="hidden" name="AssesseeID" id="AssesseeID" />
                </div>
            </div>
            <div class="row" style="padding-top:15px;">
                <div class="col-md-10" style="text-align:right;">
                    <input type="button" id="btnPreviewReport" value="Demand Report" data-command="demand" class="btn btn-primary" />
                </div>
                <div class="col-md-2 " style="text-align:left;">
                    <input type="button" id="btnOutstandingReport" value="Demand Outstanding" data-command="outsanding" class="btn btn-primary" />
                </div>
            </div>
        </form>
        </div>
</div>

