﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    hr.style13 {
        height: 10px;
        width: 100%;
        border: 0;
        padding-top: 0px !important;
        box-shadow: 0 10px 10px -10px #4286f4 inset;
    }
</style>

<script src="~/Contents/Script/AppJs/ApprovedAdjustment.js"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Approved Other Adjustment</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmApprovedOtherAdjustment" target="_blank" action="/Municipality/AdjustmentApproval/UpdateData" method="post">
            <div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-3" ><label for="Approved">Effect Type : <span class="red-star">&nbsp;</span></label></div>
                    <div class="col-md-3">
                        <select class="form-control input-sm change" id="ddlEffectType" name="EffectType">
                            <option value="">----- Select -----</option>
                            <option value="A">All</option>
                            <option value="I">Individual</option>
                        </select>
                    </div>
                </div>
                <hr class="style13">
                <br/>
                <div class="table-responsive" id="divAdj">
                    <table id="tblAdj" class="table table-hover table-bordered tabHeader">
                        <thead>
                            @*<tr>                                
                                <th>Financial Year</th>
                                <th>Pay Head</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Rate( In % )</th>
                                <th>Effect on Current Demand</th>
                                <th>Grace Period</th>
                                <th>Select Approved&nbsp;&nbsp;All
                                    <input type="checkbox" id="chkAll" name="chkAll" />
                                </th>
                            </tr>*@
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <input type="button" class="btn btn-primary col-md-offset-9" value="Submit" id="btnAproved" />
            </div>
        </form>
    </div>
</div>
