﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/UserRegistration.js?v=1.0"></script>

<div class="panel panel-primary" style="margin: 20px;">
    <div class="panel-heading">
        <h3 class="panel-title">User Master</h3>
    </div>
    <div class="panel-body">
        <div>
            <div class="row" id="divtxtContainer">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group ">
                        @*<input type="hidden" id="hdnUserID" />*@
                        <label for="txtFirstName">First Name<span class="red-star">&nbsp;*</span></label>
                        <input type="text" id="txtFirstName" name="txtFirstName" placeholder="First Name" class="form-control" />
                    </div>                  
                    <div class="form-group">
                        <label for="ddlUserType">User Type<span class="red-star">*</span></label>
                        <select id="ddlUserType" class="form-control">
                            @*<option value="">Select User Type</option>
                            <option value="1">Citizen</option>
                            <option value="2">Collector</option>
                            <option value="3">OtherSysUser</option>*@
                        </select>
                    </div>
                  
                    <div class="form-group ">
                        <label for="txtUserID"> User Name<span class="red-star">&nbsp;*</span></label>
                        <input type="text" id="txtUserID" name="txtUserID" placeholder="Create User Name" class="form-control" />
                    </div>
                    <div class="form-group ">
                        <label for="txtPassword">Password<span class="red-star">&nbsp;*</span></label>
                        <input type="password" id="txtPassword" name="txtPassword" placeholder="Create Password" class="form-control" />
                    </div>             
                    <div class="form-group ">                       
                            <label for="AccountLocked">Is Account Locked<span class="red-star">&nbsp;</span></label><br />
                            <label><input type="radio" id="rdLockYes" name="AccountLocked" value="1" checked />Yes</label>
                            <label><input type="radio" id="rdLockNo" name="AccountLocked" value="0" />No</label>                       
                        @*<div class="col-md-3 col-lg-3 col-sm-3">
                <label for="AccountVarified">Is Account Varified<span class="red-star">&nbsp;</span></label><br />
                <label><input type="radio" id="rdVarifiedYes" name="AccountVarified" value="1" />Yes</label>
                <label><input type="radio" id="rdVarifiedNo" name="AccountVarified" value="0" />No</label>
            </div>*@
                    </div>
                   
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group ">
                        <label for="txtLastName">Last Name<span class="red-star">&nbsp;*</span></label>
                        <input type="text" id="txtLastName" name="txtLastName" placeholder="Last Name" class="form-control" />
                    </div>
                    @*<div class="form-group">
                        <label for="ddlUserType">Municipality Name<span class="red-star">*</span></label>
                        <select id="ddlMunicipalityName" class="form-control"></select>
                    </div>*@
                    <div class="form-group">
                        <label for="txtPhoneNo">Phone Number<span class="red-star">*</span></label>
                        <input type="text" id="txtPhoneNo" name="txtPhoneNo" maxlength="10" placeholder="Phone Number" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email-ID<span class="red-star"></span></label>
                        <input type="text" id="txtEmail" name="txtEmail" placeholder="Email-ID" class="form-control" />
                    </div>
                    @*<div class="form-group" id="divRole">
                        <label for="ddlAction">Assign Role(s)<span class="red-star"></span></label>
                        <div id="divcheckboxcollection" class="well" style="max-height:200px;overflow-y:scroll">
                            checkbox papulate
                        </div>
                    </div>*@
                    <div class="form-group ">
                        <label for="txtReEnterPassword">Re-Enter Password<span class="red-star">&nbsp;*</span></label>
                        <input type="password" id="txtReEnterPassword" name="txtReEnterPassword" placeholder="Re Enter Password" class="form-control" />
                    </div>
                    <input type="button" class="btn btn-primary btn-sm" id="btnSave" value="Save" />
                    <input type="button" class="btn btn-primary btn-sm" id="btnCancel" value="Cancel" />        
                   
                </div>
            </div>
        </div>  
    </div>
</div>

