﻿@using Valuation_Board.ViewModels
@using System.Web.Script.Serialization;
@model Assessment_VM.AssessmentForm
@{
    var data = "";
    try
    {
        data = new JavaScriptSerializer().Serialize(Model);
        <input type="hidden" value="@data" class="hdn-assmt-data" />
    }
    catch
    {

    }

}
@Html.Partial(@"~\Views\Municipality\Assessment\_partialHoldingDetails.cshtml", Model)
<hr />
@Html.Partial(@"~\Views\Municipality\Assessment\ValuationDetails.cshtml", Model)
<hr />
@Html.Partial(@"~\Views\Municipality\Assessment\AdditionalHoldingDetails.cshtml", Model)
<hr />
@Html.Partial(@"~\Views\Municipality\Assessment\OtherDetails.cshtml", Model)
<hr />
@*@Html.Partial(@"~\Views\Municipality\Assessment\partialSaveCancel.cshtml", Model)*@