﻿@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using Valuation_Board.ViewModels;

@model MunicipalityConfiguration_vm
@{
    var municipalityConfig = Model.MunicipalityConfiguration;
    var districts = Model.Districts;
}
<script src="~/Contents/Script/AppJs/municipality-configuration-master.js"></script>
<h3 class="text-center">Manage Municipality Configurations</h3>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-pane-demand-bill" data-toggle="tab">Demand Bill</a></li>
        <li><a href="#tab-pane-basic-configuration" data-toggle="tab">Basic</a></li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="tab-pane-demand-bill">
            <form class="form-horizontal">
                <div class="form-group" style="margin-left:0px;margin-right:0px;">
                    <div class="col-md-12">
                        <label class="control-label">Rebate and interest rate description on demand bill:</label>
                        <input type="text" class="form-control txtText" placeholder="" value="@municipalityConfig.DemandBillConfiguration.DemandBillRebateIntrstText">
                    </div>
                </div>
                <div class="form-group" style="margin-left:0px;margin-right:0px;">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right btn-save-changes">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tab-pane-basic-configuration">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>Manage Basic information</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="txtMunicipalityName">Municipality Name:</label>
                            <input type="text" class="form-control txtMunicipalityName" name="MunicipalityName" id="txtMunicipalityName" value="@municipalityConfig.BasicInfoConfiguration.MunicipalityName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pwd">Address:</label>
                            <input type="text" class="form-control txtAddress" name="Address" id="txtAddress" value="@municipalityConfig.BasicInfoConfiguration.Address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="txtwebsite">Website:</label>
                            <input type="text" class="form-control txtwebsite" name="website" id="txtwebsite" value="@municipalityConfig.BasicInfoConfiguration.WebSite">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtEmail">Email:</label>
                            <input type="email" class="form-control txtEmail" name="Email" id="txtEmail" value="@municipalityConfig.BasicInfoConfiguration.Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="txtFax">Fax:</label>
                            <input type="text" class="form-control txtFax" name="Fax" id="txtFax" value="@municipalityConfig.BasicInfoConfiguration.Fax">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtTelephone">Tele-Phone:</label>
                            <input type="text" class="form-control txtTelephone" name="Telephone" id="txtTelephone" value="@municipalityConfig.BasicInfoConfiguration.TelePhone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="txtMobile">Mobile:</label>
                            <input type="text" class="form-control txtMobile" name="Mobile" id="txtMobile" value="@municipalityConfig.BasicInfoConfiguration.Mobile">
                        </div>
                        <div class="form-group col-md-6">
                            <button type="button" class="btn btn-primary pull-right btn-save-changes" style="margin-top: 24px;">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- /tabs -->