﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/ScoreBelt.js"></script>

<div class="container">
    <form id="scoreBelt">
        <div class="panel panel-default">
            <div class="panel-heading">
                Score & Belt Sheet
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-4">
                        <label for="ActionText">Municipality</label>
                        <select class="form-control" id="ddlMunicipality" name="ddlMunicipality" data-info="please mun"></select>
                        <label for="lbl_ddlMunicipality" id="lbl_ddlMunicipality" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-2">
                        <label for="ActionText">Year</label>
                        <select class="form-control" id="ddlyear" name="ddlyear" data-info="please year"></select>
                        <label for="lbl_ddlyear" id="lbl_ddlyear" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-2">
                        <label for="ActionText">Effective Date Form :</label>
                        <input id="fromdate" class="form-control" readonly="readonly" />
                        @*<label id="fromdate" for="ActionText"></label>*@

                    </div>
                    <div class="col-md-2">
                        <label for="ActionText">Effective DateTo :</label>
                        <input id="todate" class="form-control" readonly="readonly" />
                        @*<label id="todate" for="ActionText"></label>*@
                    </div>
                    <div class="col-md-2" style="margin-top:25px;">
                        <button type="button" class="btn btn-primary" id="btnGo" data-tag="S">GO</button>
                    </div>
                </div>




            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                Score Sheet Add
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Score Type</label>
                            <select class="form-control" id="ddlScoreType" name="ddlScoreType"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Score</label>
                            <select class="form-control" id="ddlScore" name="ddlScore" style="display:none;"></select>
                            <input class="form-control" id="txtscore" name="txtscore" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" id="txtDesc" name="txtDesc" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Value</label>
                            <input class="form-control" id="txtvalue" name="txtvalue" />
                        </div>
                    </div>
                    <div class="col-md-1" style="margin-top:25px;">
                        <div class="">
                            <button type="button" class="btn btn-primary" id="btnAddScore" data-tag="SA">Add</button>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Score Sheet
            </div>
            <div class="panel-body">
               
                    <div class="col-md-12">
                        <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                            <table id="myTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Score Type</th>
                                        <th>Score</th>
                                        <th>Description</th>
                                        <th>Value</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyScoreSheet"></tbody>
                            </table>
                        </div>

                    </div>
               


            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                Belt Sheet Add
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Belt Type</label>
                            <select class="form-control" id="ddlbeltType" name="ddlbeltType"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">From(>) K</label>
                            <input class="form-control" id="txtFrom" name="txtFrom" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Upto(<=) K</label>
                            <input class="form-control" id="txtUpto" name="txtUpto" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>% Consider</label>
                            <select class="form-control" id="ddlConsider" name="ddlConsider"></select>
                        </div>
                    </div>
                    <div class="col-md-1" style="margin-top:25px;">
                        <div class="">
                            <button type="button" class="btn btn-primary" id="btnAddBelt" data-tag="BA">Add</button>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Belt Sheet
            </div>
            <div class="panel-body">
                
                    <div class="col-md-12" style="max-height:300px; overflow-y:scroll;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Belt Type</th>
                                    <th>From(>) K</th>
                                    <th>Upto(<=) K</th>
                                    <th>% Consider</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyBeltSheet"></tbody>
                        </table>
                    </div>
               

            </div>
        </div>

    </form>

</div>




