﻿
@{
    ViewBag.Title = "ScoreBeltView";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<script src="~/Contents/Script/AppJs/ScoreBelt.js"></script>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Score & Belt Sheet
        </div>
        <div class="panel-body">
            <form id="scoreBelt">
                <div class="row">
                   
                    <div class="col-md-3">
                        <label for="ActionText">Year</label>
                        <select class="form-control" id="ddlyear" name="ddlyear" data-info="please year"></select>
                        <label for="lbl_ddlyear" id="lbl_ddlyear" generated="true" class="error"></label>
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Effective Date Form :</label>
                        <input id="fromdate" class="form-control" readonly="readonly"/>
                        @*<label id="fromdate" for="ActionText"></label>*@
                       
                    </div>
                    <div class="col-md-3">
                        <label for="ActionText">Effective DateTo :</label>
                        <input id="todate" class="form-control" readonly="readonly" />
                        @*<label id="todate" for="ActionText"></label>*@
                    </div>
                    <div class="col-md-2" style="margin-top:25px;">
                        <button type="button" class="btn btn-primary" id="btnGo">GO</button>
                    </div>
                </div>
                
                
            </form>

        </div>
    </div>

    



</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Score Sheet
        </div>
        <div class="panel-body">
            <form id="score">
                <div class="col-md-12">
                    <div class="table-responsive" style="max-height:300px; overflow-y:scroll;">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Score Type</th>
                                    <th>Score</th>
                                    <th>Description</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyScoreSheet"></tbody>
                        </table>
                    </div>

                </div>
            </form>


        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading">
            Belt Sheet
        </div>
        <div class="panel-body">
            <form id="belt">
                <div class="col-md-12" style="max-height:300px; overflow-y:scroll;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Belt Type</th>
                                <th>From(>) K</th>
                                <th>Upto(<=) K</th>
                                <th>% Consider</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyBeltSheet"></tbody>
                    </table>
                </div>
            </form>

        </div>
    </div>

</div>


