﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/CollectionReport.js?v=5"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Collection Report</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
       @*string DateFrom, string DateTo, int? WardID, int? LocationID, int? CounterID*@
        <form id="frmCollectionReport" target="_blank" action="/Municipality/MnReports/CollectionReport" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="Counter">From Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateFrom" name="DateFrom" readonly />
                </div>
                <div class="col-md-2">
                    <label for="Counter">To Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="DateTo" name="DateTo" readonly />
                </div>
                <div class="col-md-2">
                    <label for="age">Ward<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                    <input type="hidden" id="WardID" name="WardID" />
                </div>

                <div class="col-md-2">
                    <label for="mother">Location<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation">
                    <input type="hidden" id="LocationID" name="LocationID" />
                </div>

                @*<div class="col-md-2">
                    <label for="User">User<span class="red-star">&nbsp;</span></label>
                    <select class="form-control input-sm change" id="UserID" name="UserID">
                        <option value="0">-- All --</option>
                        @foreach (var user in ViewBag.listUser)
                        {
                            <option value="@user.UserID">@user.UserName</option>
                        }
                    </select>
                </div>*@

                <div class="col-md-2">
                    <label for="Payment">Payment Type<span class="red-star">&nbsp;</span></label>
                    <select class="form-control input-sm change" id="PaymentTyp" name="PaymentTyp">
                        <option value="O">Online</option>
                        <option value="F">Offline</option>
                    </select>
                </div>
                <div class="col-md-4" id="divCounter">
                    <label for="Counter">Counter&nbsp;&nbsp; All <input type='checkbox' id='chkAll' name='chkAll' /> <span class="red-star">&nbsp;</span></label>
                    <input for="Counter" type="hidden" id="hdnCounter" name="Counter" />
                    <div class="col-md-12 select-counter" style="overflow-y:scroll; height:100px">
                        <table id="tabCounter">
                            <tbody>
                            </tbody>
                        </table>
                    </div>                    
                        @*<select class="form-control input-sm change" id="CounterID" name="CounterID"></select>*@
                </div>
                
                <div class="col-md-12">
                    <div class="col-md-7 h6" style="text-align:left; color:red">
                        <span>*&nbsp;<b>Date and To Date difference should not be more then 7 day to print the report.</b></span>
                    </div>
                    <div class="col-md-3" style="text-align:right">
                        <input type="button" id="btnSave" value="Print Report" data-command="print" class="btn btn-primary" />
                    </div>
                    <div class="col-md-1" style="text-align:right">
                        <input type="button" id="btnExport" value="Export Excel Report" data-command="export" class="btn btn-primary" />
                    </div>
                </div> 
            </div>           
        </form>
    </div>
</div>

