﻿@using Valuation_Board.ViewModels
@using Valuation_Board.Models.Application

@model Assessment_VM.AssessmentForm
@{
    var disabledElemnt = "";
    var disabledCtrl = "";
    //new holding=>enabled,Review=>disabled,Improvment=>disabled
    if (new List<string>() { "P", "R", "M", "S", "I" }.Contains(Model.AssessmentValTag))
    {
        disabledElemnt = "disable-element";
        disabledCtrl = "disabled";
    }
}

@if (ViewBag.error != null)
{
    <h5>Error Occured!<small>@ViewBag.error</small></h5>
}
else
{
    <script src="/Contents/Script/AppJs/assmt-new-holding.js?@GlobalContext.applicationInfo.AssemblyVersion"></script>
    <div style="display:none" class="setting-parameters">
        <input class="val-tag" value="@Model.AssessmentValTag" />
        <input class="sub-action" value="@Model.SubAction" />
        <input class="year-id" value="@Model._YearID" />
    </div>
    <div class="box box-primary">
        <div class="box-header border-bottom">
            <div class="box-title">New Holding > @((Model.SubAction == "HL" || Model.SubAction == null) ? "New" : "Other") </div>
            <div class="box-tools pull-right">
                <div class="assmt-sub-actions">
                    <div class="btn-group btn-group" style="margin-bottom: 10px;">
                        @*<a href="/Municipality/Assessment/GetAssessmentContainer?Valtag=@(Model.AssessmentValTag)&SubAction=HL" class="btn btn-primary assmt-sub-action @((Model.SubAction == "HL" || Model.SubAction == null) ? "active" : "")" data-ValTag="@Model.AssessmentValTag" data-sub-val-action="HL">Holding</a>
                            <a href="/Municipality/Assessment/GetAssessmentContainer?Valtag=@(Model.AssessmentValTag)&SubAction=OT" class="btn btn-primary assmt-sub-action @((Model.SubAction == "OT") ? "active" : "")" data-ValTag="@Model.AssessmentValTag" data-sub-val-action="OT">Other</a>*@
                        <a data-toggle="tab" href="#holding-tab" class="btn btn-primary assmt-sub-action active holding">Holding</a>
                        <a data-toggle="tab" href="#other-tab" class="btn btn-primary assmt-sub-action">Other</a>
                        <a data-toggle="tab" href="#ptax-tab" class="btn btn-primary assmt-sub-action">Check P-Tax</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">

            <div class="cntr-assessment-form-entry">
                <div class="tab-content">
                    <div id="holding-tab" class="tab-pane fade in active">
                        @Html.Partial(@"~\Views\Municipality\Assessment\SettingParams.cshtml", Model)

                        @Html.Partial(@"~\Views\Municipality\Assessment\Year_Qtr.cshtml", Model)
                        <hr />
                        @Html.Partial(@"~\Views\Municipality\Assessment\HoldingDetails.cshtml", Model)
                        <hr />
                        @Html.Partial(@"~\Views\Municipality\Assessment\ValuationDetails.cshtml", Model)
                        <hr />
                        @Html.Partial(@"~\Views\Municipality\Assessment\AdditionalHoldingDetails.cshtml", Model)
                        <hr />
                        @Html.Partial(@"~\Views\Municipality\Assessment\OtherDetails.cshtml", Model)
                        <hr/>
                        <div class="row bg-gray-light no-margin  partial-save-cancel">
                            <div class="col-md-12 text-right">
                                <a data-toggle="tab" href="#other-tab" class="btn btn-primary assmt-sub-action">Next</a>
                            </div>
                        </div>
                    </div>
                    <div id="other-tab" class="tab-pane fade">
                        @{
                            ScheduleThree.OtherInfoType dateOfOrderCnfg = null;
                            ScheduleThree.OtherInfoType remarksCnfg = null;

                                foreach (var t in Model.MasterData.OtherInfoTypeConfigs)
                                {
                                    if (t.TypeCode == "DOO")//date of order
                                    {
                                        dateOfOrderCnfg = t;
                                    }
                                    if (t.TypeCode == "REM")//remarks
                                    {
                                        remarksCnfg = t;
                                    }
                                }

                        } 
                        <form id="frm-new-holding-OtherTabdetails">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Application Date:</label>
                                    <input type="text" class="form-control txt-application-date datepicker" placeholder="dd/mm/yyyy" />
                                </div>
                                <div class="col-md-4">
                                    <label>Application Case No:</label>
                                    <input type="text" class="form-control txt-application-no" placeholder="Application / Case no" />
                                </div>
                                <div class="col-md-4">
                                    <label>@dateOfOrderCnfg.TypeDesc:</label>
                                    <input type="text" class="form-control txt-date-of-order datepicker" placeholder="dd/mm/yyyy" data-typecode="@dateOfOrderCnfg.TypeCode" data-infotype="@dateOfOrderCnfg.InfoType" data-datatype="@dateOfOrderCnfg.DataType" data-infotypeid="@dateOfOrderCnfg.InfoTypeId" data-typedesc="@dateOfOrderCnfg.TypeDesc" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Pimary Phone No:</label>
                                    <input type="text" class="txt-primary-phone-no form-control" name="txt-primary-phone-no" value="@Model._OtherTabDetails.PrimaryPhNo" @(disabledCtrl) />
                                </div>
                                <div class="col-sm-3">
                                    <label>Primary Email:</label>
                                    <input type="text" class="txt-primary-email-id form-control" name="txt-primary-email-id " value="@Model._OtherTabDetails.PrimaryEmail" @(disabledCtrl) />
                                </div>
                                <div class="col-sm-3">
                                    <label>Processing Fees:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control txt-pro-cosing-fees" name="txt-pro-cosing-fees" value="@Model._OtherTabDetails.ProCosingFees" @(disabledCtrl) />
                                        <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Other Fees:</label>
                                    <div class="input-group">
                                        <input type="text" class="txt-other-fees form-control" name="txt-other-fees" value="@Model._OtherTabDetails.OtherFees" @(disabledCtrl) />
                                        <span class="input-group-addon"><span class="zone-val">Rs.</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>@remarksCnfg.TypeDesc:</label>
                                    <textarea class="txt-remarks form-control" data-typecode="@remarksCnfg.TypeCode" data-infotype="@remarksCnfg.InfoType" data-datatype="@remarksCnfg.DataType" data-infotypeid="@remarksCnfg.InfoTypeId" data-typedesc="@remarksCnfg.TypeDesc"></textarea>
                                </div>
                            </div>
                            @Html.Partial(@"~\Views\Municipality\Assessment\partialSaveCancel.cshtml", Model)
                        </form>
                    </div>
                    <div id="ptax-tab" class="tab-pane fade">
                        <hr />
                        <div class="row row no-margin">
                            <div class="col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Ward No:</label>
                                    <input type="text" class="form-control txtWard" placeholder="Ward" />
                                    <input type="hidden" value="@(Model._HoldingDetails.WardId==0?"":Model._HoldingDetails.WardId.ToString())" class="form-control hddn-Ward" name="hddn-Ward" />
                                </div>
                            </div>

                            <div class="col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Location:</label>
                                    <input type="text" class="form-control txtLocation" placeholder="Location" />
                                    <input type="hidden" class="form-control hddn-Location" value="@(Model._HoldingDetails.LocationId==0?"":Model._HoldingDetails.LocationId.ToString())" name="hddn-Location" />
                                </div>
                            </div>

                            <div class="col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Hodling No:</label>
                                    <input type="text" class="form-control txt-holding-no" placeholder="Hodling no" />
                                    <input type="hidden" class="form-control hddn-holding-no" value="@(string.IsNullOrEmpty(Model._HoldingDetails.HoldingNo)?"":Model._HoldingDetails.HoldingNo.ToString())" name="hddn-holding-no" />
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label class="hidden-xs">&nbsp;</label>
                                    <button class="btn btn-primary form-control btn-load-review-form">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="downloaded-form">
                        </div>
                    </div>
                </div>
                <hr />
                @*@Html.Partial(@"~\Views\Municipality\Assessment\partialSaveCancel.cshtml", Model)*@
                
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix no-border">
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(document).on('click', '.assmt-sub-action', function () {
                $(".assmt-sub-action").removeClass('active');
                $(this).addClass("active");
            });
        });
    </script>
}
