﻿
@{
    ViewBag.Title = "Know Your Property";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .navbar {
        margin-bottom: 0px !important;
    }
</style>
@*<style type="text/css">
    .nav-tabs {
        /*background-color: #161616;*/
    }

    .tab-content {
        background-color: #e5eafd;
        color: black;
        padding: 5px
    }

    .nav-tabs > li > a {
        border: medium none;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
        background-color: #e5eafd;
    }

    .nav-tabs > li > a:hover {
        /*background-color: #303136 !important;*/
        border: medium none;
        border-radius: 0;
        color: black;
    }

    .list-group {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .searched-holding-result > .list-group > a {
        cursor: pointer;
    }
</style>*@
<script src="~/Contents/Script/AppJs/shared.knowurproperty.js?@(GlobalContext.applicationInfo.AssemblyVersion)_1"></script>
<script src="~/Contents/Script/AppJs/shared.court-case-details.js?(@GlobalContext.applicationInfo.AssemblyVersion)_1"></script>
@*<h1>
    <small>Know Your Property</small>
</h1>*@

<div class="panel-body">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#KnowProp">Know Your Property</a></li>
            <li><a data-toggle="tab" href="#SearchOutstanding">Outstanding Property Tax details</a></li>
        </ul>
        <div class="tab-content">
            <div id="KnowProp" class="tab-pane fade in active">
                <form>
                    <h4><b>Know Your Property</b></h4>
                    <div class="form-group">
                        <label class="required">District:</label>
                        <select required name="lst-ditrict" tabindex="1" class="form-control lst-ditrict">
                            <option value="">---Selection---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="required">Block:</label>
                        <select required name="lst-block" tabindex="1" class="form-control lst-block">
                            <option value="">---Selection---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="required">Mouza:</label>
                        <select required name="lst-mouza" tabindex="1" class="form-control lst-mouza">
                            <option value="">---Selection---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" data-srch-txt="Search by Khatian" name="rdio-searchby" class="rdio-searchby" value="kh" checked="checked">
                                Search By Khatian
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" data-srch-txt="Search by Plot" name="rdio-searchby" class="rdio-searchby" value="pl">
                                Search By Plot
                            </label>
                        </div>
                    </div>
                    <div class="form-group m-t">
                        <label class="required lbl-srch-by">Search by Khatian:</label>
                        <input type="text" class="txt-seachby txt-seachby form-control" required />
                    </div>
                    <button value="View" class="btn btn-primary btn-view">View</button>
                </form>

                @*--first placeholder*@
                <div class="row border mt-5 plc-1st pd-5">
                    <h3 class="text-center">@*Please Search Record*@</h3>
                </div>
                @*--second placeholder*@
                <div class="row border mt-5 mb-5  pd-5 plc-2nd">
                    <h3 class="text-center">@*no data found against search criteria*@</h3>

                </div>
                <div class="row border mt-5 mb-5  pd-5 plc-3nd"><h3 class="text-center"></h3></div>

                <!-- Modal -->
                <div class="modal fade mod-search-name-property" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Land Registration Detail</h4>
                            </div>
                            <div class="modal-body">

                            </div>
                            @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
                        </div>

                    </div>
                </div>
                <div class="modal fade mod-court-case-view" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Court Case Detail</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Case No</th>
                                            <th>Party Name</th>
                                            <th>Case Date</th>
                                            <th>Status</th>
                                            <th>Case Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td colspan="5" class="text-center">@*no data found against search criteria*@</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <b style="color: red;">Content of this page is near exact replication of land record database collected at the central server and in case of any factual error(s) in the content , viewer(s) is/are advised to contact the concerned BL&LRO office for authentication</b>
            </div>

            <div id="SearchOutstanding" class="tab-pane fade">
                <form id="frmAssesseeSearch">
                    <h4><b>Outstanding Property Tax details</b></h4>
                    <div class="form-group">
                        <label for="ActionText">District</label>
                        <select class="form-control" id="ddlMnDistrict" name="ddlMnDistrict"></select>
                    </div>
                    <div class="form-group">
                        <label for="txtMunicipality">ULB</label>
                        <select class="form-control" id="ddlMnMunicipalityID" name="ddlMnMunicipalityID"></select>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#holding-no">Holding No</a></li>
                                    <li><a data-toggle="tab" href="#assessee-name">Assessee Name</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="holding-no" class="tab-pane fade in active">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label for="txtHoldingNo">Enter Holding No:</label>
                                                <input type="text" placeholder="Holding No" class="form-control input-sm txtHoldingNo" id="txtHoldingNo" name="txtHoldingNo" />
                                                <input type="button" id="btn-search-by-holding-no" class="form-control input-sm btn-primary btn-search-by-holding-no" value="Search">
                                            </div>
                                        </div>
                                        <div class="form-inline" style="margin-top:15px">
                                            <div class="form-group searched-holding-result" style="margin-bottom:0px">
                                                <div class="list-group" style="text-align:left;max-height: 220px;overflow-x: hidden;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="assessee-name" class="tab-pane fade">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label for="txtAssesseeNameSearch">Enter Assessee Name:</label>
                                                <input type="text" placeholder="Assessee Name" class="form-control input-sm txtAssesseeNameSearch" id="txtAssesseeNameSearch" name="txtAssesseeNameSearch" />
                                                <input type="button" id="btn-search-by-assessee-name" class="form-control input-sm btn-primary btn-search-by-assessee-name" value="Search">
                                            </div>
                                        </div>
                                        <div class="form-inline" style="margin-top:15px">
                                            <div class="form-group searched-holding-result" style="margin-bottom:0px">
                                                <div class="list-group" style="text-align:left;max-height: 220px;overflow-x: hidden;">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-primary" id="divCitizenProfile">
                            <div class="panel-heading">
                                <h3 class="panel-title">Citizen Profiles</h3>
                            </div>
                            <div class="panel-body ">
                                @*<div class="container">*@
                                <div class="row">
                                    @* Left side *@
                                    <div class="col-md-5">
                                        <div class="row"><div class="col-md-3">Name @*<span class="pull-right">:</span>*@</div><div class="col-md-9"><small><label id="lblAssessee"></label></small></div></div>
                                        <div class="row"><div class="col-md-3">AssesseNo @*<span class="pull-right">:</span>*@</div><div class="col-md-9"><small><label id="lblAssesseeNo"></label></small></div></div>
                                        <div class="row"><div class="col-md-3">Address@*<span class="pull-right">:</span>*@</div><div class="col-md-9"><small><label id="lblAddress"></label></small></div></div>
                                        <div class="row"><div class="col-md-3">Phone No@*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblPhone"></label></small></div></div>
                                        <div class="row"><div class="col-md-3">Email@*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblEmail"></label></small></div></div>
                                    </div>
                                    @* right side *@
                                    <div class="col-md-4">
                                        <div class="row"><div class="col-md-4">Municipality @*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblMunicipality"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">Ward @*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblWard"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">Location @*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblLocation"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">HoldingNo @*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblHoldingNo"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">Hold Type @*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblHoldingType"></label></small></div></div>
                                        <div>
                                            @* Hidden fields *@
                                            <input type="hidden" id="hdnWard" name="hdnWard" />
                                            <input type="hidden" id="hdnLocation" name="hdnLocation" />
                                            <input type="hidden" name="hdnAssessee" id="hdnAssessee" />
                                            <input type="hidden" id="txtCollectionDate" name="txtCollectionDate" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row"><div class="col-md-4">Block @*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblBlock"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">Mouja @*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblMouja"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">Plot@*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblPlot"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">Khatian@*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblKhatian"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">JL No.@*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblJlNo"></label></small></div></div>
                                        <div class="row"><div class="col-md-4">Deed No@*<span class="pull-right">:</span>*@</div><div class="col-md-8"><small><label id="lblDeedNo"></label></small></div></div>
                                    </div>
                                </div>
                                @*</div>*@

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 table-responsive" id="gridContainer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <b style="color: red;">The information provided online is updated, and no physical visit is required.</b>
            </div>
        </div>
    </div>
</div>




