﻿@using Valuation_Board.ViewModels;
@using System.Globalization;
@using Valuation_Board.App_Codes
@using Valuation_Board.Models.Application

@model Dashboard_vm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    /*content-wrapper > h1, h2, h3, h4, h5, h6 {
        font-family: Open Sans, sans-serif;
        font-weight: unset;
        color: white;
    }*/
    .small-box {
        margin-bottom: 10px !important;
    }

    hr {
        margin-top: 0px;
        margin-bottom: 10px;
        border-top: 1px solid #cac9c9;
    }

    .border-top {
        border-top: 1px solid #f4f4f4;
    }

    .border-bottom {
        border-bottom: 1px solid #f4f4f4;
    }

    .border-left {
        border-left: 1px solid #f4f4f4;
    }

    .border-right {
        border-right: 1px solid #f4f4f4;
    }

    .strike {
        text-decoration: Line-Through
    }
</style>


<!-- Font Awesome -->
<link rel="stylesheet" href="/Contents/Dashboard/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/Contents/Dashboard/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link href="~/Contents/Dashboard/Dist/AdminLTE.min.css" rel="stylesheet" />
<script src="~/Contents/Script/AppJs/dashboard.js?v=@(GlobalContext.applicationInfo.AssemblyVersion+"1")"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<div class="content-wrapper dash-board" style="margin-left:0px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        @* <sitemap> *@
        <ol class="breadcrumb" style="display:none">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
        @* </sitemap> *@
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            @*Drill Down assesse block*@
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <a href="#drilldown-assessee" data-toggle="tab" class="small-box bg-green btn-door-drill-assessee">
                    <div class="inner">
                        <h4 class="white">@Model.TotalAssesseesCount</h4>
                        <p>Total Assessee</p>
                    </div>
                    <div class="icon" style="top:-24px;right:2px;">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                </a>
            </div>

            @*Drill Down Municipalities*@
            <div class="col-md-3 col-xs-6">
                <!-- small box -->
                <a href="#drilldown-Municipalities" data-toggle="tab" class="small-box bg-orange btn-door-drill-Municipalities">
                    <div class="inner">
                        <h4 class="white">@Model.TotalMunicipalityCount</h4>
                        <p>Municipalities</p>
                    </div>
                    <div class="icon" style="top:-24px;right:2px;">
                        <i class="ion ion-android-home"></i>
                    </div>
                </a>
            </div>

            @*Municipality Collection *@
            <div class="col-md-3  col-xs-6">
                <!-- small box -->
                <a href="#drilldown-Municipality-Collection" data-toggle="tab" class="small-box bg-light-blue-gradient btn-door-Municipality-Collection">
                    <div class="inner">
                        <h4 class="white">@(string.Format(new CultureInfo("hi-IN"), "{0:C}", Model.TotalCollection))</h4>
                        <p>Total Collection</p>
                    </div>
                    <div class="icon" style="top:-24px;right:2px;">
                        <i class="ion ion-social-usd"></i>
                    </div>
                </a>
            </div>

            @*search assesse block*@
            <div class="col-md-3  col-xs-6">
                <!-- small box -->
                <a href="#search-assessee" data-toggle="tab" class="small-box bg-aqua btn-door-search-assessee">
                    <div class="inner">
                        <h4 class="white">&nbsp;</h4>
                        <p>Search Assessee</p>
                    </div>
                    <div class="icon" style="top:-24px;right:2px;">
                        <i class="ion ion-search"></i>
                    </div>
                </a>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="tab-content">
                    <div id="search-assessee" class="tab-pane fade ">
                        <div class="box box-info">
                            <div class="box-header ui-sortable-handle" style="cursor: move;">
                                <i class="fa fa-search"></i>

                                <h3 class="box-title">Find Assessee</h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <!--place tools at right side of the box-->
                                </div>
                                <!-- /. tools -->
                            </div>
                            <div class="box-body">
                                <h2 class="text-center">Work in Progress...</h2>
                                <div class="nav-tabs-custom" style="display:none">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#basic-search" data-toggle="tab">Basic Search</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="basic-search">
                                            @*<b>How to use:</b>*@
                                            <div class="row">
                                                <div class="col-md-3 form-group">
                                                    <label>Municipality</label>
                                                    <input class="form-control txtMunicipality" name="txtMunicipality" placeholder="Municipality" type="text">
                                                </div>
                                                <div class="col-md-1 form-group">
                                                    <label>Ward</label>
                                                    <input class="form-control txtWard" name="txtWard" placeholder="Ward" type="text">
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label>Location</label>
                                                    <input class="form-control txtLocation" name="txtLocation" placeholder="Location" type="text">
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label>Holding/Name</label>
                                                    <input class="form-control txtHoldingName" name="txtHoldingName" placeholder="Holding/Name" type="text">
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <label>&nbsp;</label>
                                                    <button type="button" class="btn btn-info pull-right btnSearch" style="margin-top: 22px;">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- nav-tabs-custom -->
                            </div>
                        </div>
                    </div>
                    <div id="drilldown-assessee" class="tab-pane active">
                        <div class="box box-info">
                            <div class="box-header ui-sortable-handle" style="cursor: move;">
                                <button type="button" class="btn btn-primary btn-show-history" style="margin-right:10px;display:none;">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    Back
                                </button>
                                <i class="fa fa-download"></i>

                                <h3 class="box-title">Drill-Down Assessee Info</h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools ">
                                    <div class="form-group form-inline">
                                        <label>Time Span</label>
                                        <select class="ddl-time-span form-control">
                                            <option value="to-day">To Day</option>
                                            <option value="last-7-days">Last 7 Days</option>
                                            <option value="last-month">Last Month</option>
                                            <option value="last-6-months">Last 6 months</option>
                                            <option value="last-1-year">Last 1 year</option>
                                            <option value="date-range">Date range</option>
                                        </select>
                                        <span class="custom-date-range" style="display:none">
                                            <input type="text" readonly class="form-control from-date" placeholder="from date (dd/mm/yyyy)" />
                                            <label>to</label>
                                            <input type="text" readonly class="form-control to-date" placeholder="to date (dd/mm/yyyy)" />
                                        </span>
                                        <button type="button" class="pull-right btn btn-primary btn-get-details" style="margin-left:5px;display:none">
                                            Details
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <div class="box-body border-top">
                                <table class="table table-bordered table-striped tbl-drill-assessee" cellspacing="0" width="100%"></table>
                            </div>
                            <div class="box-body border-top">
                                <div id="assessee-drill-chartdiv"></div>
                            </div>
                            <div class="box-footer clearfix">
                            </div>
                        </div>
                    </div>
                    <div id="drilldown-Municipalities" class="tab-pane active">
                        <div class="box box-info">
                            <div class="box-header ui-sortable-handle" style="cursor: move;">
                                <div class="col-md-8"><h3 class="box-title box-title-left"></h3></div>
                                <div class="col-md-4"><h3 class="box-title box-title-right"></h3></div>



                            </div>
                            <div class="box-body border-top">
                                <div class="col-md-8">
                                    <table class="table table-bordered table-striped tbl-municipality-valuation" id="tbl-municipality-valuation" cellspacing="0" width="100%"></table>
                                </div>
                                <div class="col-md-4">
                                    <table class="table table-bordered table-striped tbl-last-5-municipality" id="tbl-last-5-municipality" cellspacing="0" width="100%"></table>
                                </div>
                            </div>

                            <div class="box-footer clearfix">
                            </div>
                        </div>
                    </div>
                    <div id="drilldown-Municipality-Collection" class="tab-pane active">
                        <div class="box box-info">
                            <div class="box-header ui-sortable-handle" style="cursor: move;">
                                <button type="button" class="btn btn-primary btn-show-history" style="margin-right:10px;display:none;">
                                    <i class="fa fa-arrow-circle-left"></i>
                                    Back
                                </button>
                                <i class="fa fa-download"></i>

                                <h3 class="box-title">Muncipality Collection</h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools ">
                                    <div class="form-group form-inline">
                                        <a href="javascript:void(0);" class="municipality-filter"><i class="fa fa-filter"></i>&nbsp;More Filter</a>&nbsp;&nbsp;
                                        <label>Time Span</label>
                                        <select class="ddl-time-span form-control">
                                            <option value="to-day">To Day</option>
                                            <option value="last-7-days">Last 7 Days</option>
                                            <option value="last-month">Last Month</option>
                                            <option value="last-6-months">Last 6 months</option>
                                            <option value="last-1-year">Last 1 year</option>
                                            <option value="date-range">Date range</option>
                                        </select>
                                        <span class="custom-date-range" style="display:none">
                                            <input type="text" readonly class="form-control from-date" placeholder="from date (dd/mm/yyyy)" />
                                            <label>to</label>
                                            <input type="text" readonly class="form-control to-date" placeholder="to date (dd/mm/yyyy)" />
                                        </span>
                                        <button type="button" class="pull-right btn btn-primary btn-get-details" style="margin-left:5px;display:none">
                                            Details
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <div class="box-body border-top">
                                <div class="box box-solid ">
                                    <div class="box-header with-border bg-light-blue-gradient white">
                                        <h3 class="box-title white">Collection Summary</h3>
                                        <div class="box-tools pull-right">
                                            @*<a href="javascript:void(0);" class="white municipality-filter"><i class="fa fa-filter"></i>&nbsp;Filter</a>*@

                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body collection-summary">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-plus"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Total Collection</span>
                                                        <span class="info-box-number amount-head-total">0</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Counter</span>
                                                        <span class="info-box-number amount-head-counter">0</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-yellow"><i class="fa fa-internet-explorer"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Web Portal</span>
                                                        <span class="info-box-number  amount-head-web-portal">0</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="info-box">
                                                    <span class="info-box-icon bg-green"><i class="fa fa-mobile"></i></span>

                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Mobile App</span>
                                                        <span class="info-box-number amount-head-App">410</span>
                                                    </div>
                                                    <!-- /.info-box-content -->
                                                </div>
                                                <!-- /.info-box -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6 pie-origine" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F6620}">
                                                @* pie chart on collection medium *@
                                            </div>
                                            <div class="col-md-6 pie-payhead-wise" id="{F8BE0079-0806-4812-B32D-2609569B12FF}">
                                                @* pie chart on property tx, surcharge, rebate, interest *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body border-top">
                                <div class="box box-solid ">
                                    <div class="box-header with-border bg-light-blue-gradient white">
                                        <h3 class="box-title white">Municipality Wise Collection</h3>
                                        <div class="box-tools pull-right">
                                            @*<a href="javascript:void(0);" class="white municipality-filter"><i class="fa fa-filter"></i>&nbsp;Filter</a>*@

                                            <div class=" form-group form-inline municipality-wise-collection-filter">
                                                <label>Count:</label>
                                                <select class="form-control ddl-row-count-municipality">
                                                    <option value="0">all municipality</option>
                                                    <option value="5">5 municipality</option>
                                                    <option value="10" selected>10 municipality</option>
                                                    <option value="15">15 municipality</option>
                                                    <option value="20">20 municipality</option>
                                                    <option value="30">30 municipality</option>
                                                    <option value="40">40 municipality</option>
                                                </select>&nbsp;&nbsp;
                                                <label>Order By:</label>
                                                <select class="form-control ddl-order-by-municipality">
                                                    <option value="DESC">High to Low</option>
                                                    <option value="ASC">Low to High</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="col-md-12 bar-chrt-municipality-wise-collection" id="{2B4F9CCE-7F2D-4F27-9B95-C936159F6621}">
                                            @* pie chart on collection medium *@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="FB26FE2E-4474-4FB8-8835-6606CE06E060">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Filter Municipalities</h4>
            </div>
            <div class="modal-body">
                <table class="text-black">
                    <thead></thead>
                    <tbody>
                        @foreach (var item in Model.Municipalities)
                        {
                            <tr data-MunicipalityId="@item.MunicipalityId" data-key="@(item.MunicipalityName)">
                                <td><input type="checkbox" data-MunicipalityId="@item.MunicipalityId" /></td>
                                <td>@item.MunicipalityName</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-apply-filter">Apply Filter</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
