﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/UserCounterAssosiate.js?v=1.0"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">User Counter Associate</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmPropertyTaxPaymentSearch" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="User">User<span class="red-star">&nbsp;*</span></label>
                    <select class="form-control input-sm change" id="ddlUser" name="ddlUser"></select>
                </div>
                <div class="col-md-2 ">
                    <label for="Counter">Counter<span class="red-star">&nbsp;*</span></label>
                    <select class="form-control input-sm change" id="ddlCounter" name="ddlCounter"></select>
                </div>
                <div class="col-md-2">
                    <label for="Counter">From Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="txtFromDate" name="txtFromDate" readonly/>
                </div>
                <div class="col-md-2">
                    <label for="Counter">To Date<span class="red-star">&nbsp;*</span></label>
                    <input type="text" class="form-control input-sm change" maxlength="10" placeholder="dd/mm/yyyy" id="txtToDate" name="txtToDate" readonly/>
                </div>
                <div class="col-md-2">
                    <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12" style="max-height:300px;overflow-y:scroll;">
                    <input type="hidden" value="0" id="hdnRowID" />
                    <table id="tblDetail" style="width:100%" class="table table-condensed table-bordered table-responsive">
                        <thead>
                            <tr>
                                <td align="center" style="display:none;">RowID</td>
                                <td align="center" style="display:none;">MunicipalityID</td>
                                <td align="center" style="display:none;">UserID</td>
                                <td align="center">User</td>
                                <td align="center" style="display:none;">CounterID</td>
                                <td align="center">Counter Number</td>
                                <td align="center">From Date</td>
                                <td align="center">To Date</td>
                                <td align="center">Edit</td>
                                <td align="center">Delete</td>                    
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

