﻿
@{
    ViewBag.Title = "AssesseeNotFound";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        window.HideLoginButton();
    });
</script>
@if (!ViewData.ModelState.IsValid)
{
    <h2 style="color:red;text-align:center">@Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessage("Error").ToHtmlString()).ToString())</h2>
}

