﻿
@{
    ViewBag.Title = "CancelPayment";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        window.HideLoginButton();
    });
</script>
@{string errorMsg = ""; }
@if (string.IsNullOrEmpty(ViewBag.error)==false)
{
    errorMsg = string.Format("Detail Message: {0}.", ViewBag.error);
}
<h3 style="color:red; text-align:center">Payment Cancelled By User.@errorMsg &nbsp;&nbsp;<a href="/">Go To Login</a></h3>

