﻿
@{
    ViewBag.Title = "OnlineTaxPayment";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/MunicipalityTaxCollection_online.js?v=1.0.1"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.HideLoginButton();
    });
</script>
<style>
    .input-group-addon {
        min-width: 145px;
        text-align: left;
    }
</style>
@* -----start assessee profile---------------- *@
<div class="panel panel-primary" style="margin: 20px;">
    <div class="panel-heading">
        <h3 class="panel-title">Citizen Profiles</h3>
    </div>
    <div class="panel-body ">
        <div class="container">
            <div class="row">
                @* Left side *@
                <div class="col-md-4">


                    <div class="row"><div class="col-md-4">Name <span class="pull-right">:</span></div><div class="col-md-8">@ViewBag.Assessee.AssesseeName</div></div>
                    <div class="row"><div class="col-md-4">Assessee No <span class="pull-right">:</span></div><div class="col-md-8">@ViewBag.Assessee.AssesseeNo</div></div>
                    <div class="row"><div class="col-md-4">Address<span class="pull-right">:</span></div><div class="col-md-8">@(ViewBag.Assessee.AssesseeAddress == null ? "" : ViewBag.Assessee.AssesseeAddress)</div></div>
                    <div class="row"><div class="col-md-4">Phone No<span class="pull-right">:</span></div><div class="col-md-8">@(ViewBag.Assessee.PrimaryPhNo == null ? "" : ViewBag.Assessee.PrimaryPhNo)</div></div>
                    <div class="row"><div class="col-md-4">Email<span class="pull-right">:</span></div><div class="col-md-8">@(ViewBag.Assessee.PrimaryEmail == null ? "" : ViewBag.Assessee.PrimaryEmail)</div></div>


                </div>
                @* right side *@
                <div class="col-md-4">

                    <div class="row"><div class="col-md-4">Municipality <span class="pull-right">:</span></div><div class="col-md-8">@ViewBag.Assessee.Municipality.MunicipalityName</div></div>
                    <div class="row"><div class="col-md-4">Ward <span class="pull-right">:</span></div><div class="col-md-8">@ViewBag.Assessee.Ward.WardName</div></div>
                    <div class="row"><div class="col-md-4">Location <span class="pull-right">:</span></div><div class="col-md-8">@ViewBag.Assessee.Location.LocationName</div></div>
                    <div class="row"><div class="col-md-4">HoldingNo <span class="pull-right">:</span></div><div class="col-md-8">@ViewBag.Assessee.HoldingNo</div></div>
                    <div>
                        @* Hidden fields *@
                        <input type="hidden" id="hdnWard" value="@ViewBag.Assessee.WardID" />
                        <input type="hidden" id="hdnLocation" value="@ViewBag.Assessee.LocationID" />
                        <input type="hidden" id="hdnAssessee" value="@ViewBag.Assessee.AssesseeID" />
                        <input type="hidden" id="txtCollectionDate" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" />
                        <input type="hidden" id="hdnMunicipality" value="@ViewBag.Assessee.MunicipalityID" />
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
@* -----End assessee profile------------------ *@


<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Property Tax Collection</h3></div>
            <div class="col-md-9 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>

        </div>

    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4" id="PayHeadPercent">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 table-responsive" id="gridContainer">
            </div>
            @*start:- place modal dialog to complete payment *@
            <div class="modal fade" id="modal_MakePaymentComplete" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#c1daee">


                            <div class="col-md-4"><h5 class="modal-title" style="margin:0;text-align: left;">Make Payment</h5></div>
                            <div class="col-md-7"><h5 style="margin:0;text-align: right;">Payable: Rs. <span class="total-Payable-amount">0.00</span>/-</h5></div>
                            <div class="col-md-1"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
                        </div>
                        <div class="modal-body">
                            <form id="form-payment-complete">
                                <div class="input-group">
                                    <span class="input-group-addon">Mobile no</span>
                                    <input type="text" class="form-control" placeholder="Mobile no" id="txtPhno" value="@(ViewBag.Assessee.PrimaryPhNo == null ? "" : ViewBag.Assessee.PrimaryPhNo)" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Email</span>
                                    <input type="text" class="form-control" placeholder="Email" id="txtEmail" value="@(ViewBag.Assessee.PrimaryEmail == null ? "" : ViewBag.Assessee.PrimaryEmail)" />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Payment Gateway</span>
                                    <select class="form-control ddl-payment-gateway" name="ddl-payment-gateway">
                                        <option value="">--select payment gateway--</option>
                                        @foreach (var item in ViewBag.PaymentGetways)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" style="background-color:#c1daee">
                            <div class="col-md-8" style="text-align:left"><span class="field-error error-block"></span></div>
                            <div class="col-md-4"><button type="button" class="btn btn-default complete-payment">Complete Payment</button></div>

                        </div>
                    </div>
                </div>
            </div>
            @*End:- place modal dialog to complete payment *@
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">

            </div>
        </div>

    </div>

</div>
<div class="panel panel-primary last-20-payment-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><h3 class="panel-title">Last 5 payments</h3></div>
            <div class="col-md-9 text-right"></div>

        </div>

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-responsive table-last20payments">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Assessee Name</th>
                        <th>Holding No</th>
                        <th>Receive Date<br>[dd/MM/yyyy]</th>
                        <th>NetAmount</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;}
                    @foreach (var item in ViewBag.Last5Payments)
                    {
                        <tr><td>@count</td><td>@item.AssesseeName</td><td>@item.HoldingNo</td><td>@Convert.ToDateTime(item.PaymentReceiveDate).ToString("dd'/'MM'/'yyyy")</td><td>@item.NetAmount</td><td><a target="_blank" href="/Municipality/MnReports/PaymentReciept?PaymentId=@item.PaymentID">Print Reciept</a></td></tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
