﻿@using Valuation_Board.Utils.EncryptionDecrytion;
@using System.Configuration;
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "PaymentSuccessfull";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        window.HideLoginButton();
    });
</script>
@{
    string key = ConfigurationManager.AppSettings["ChiperKey"] as string;
    IEncryptDecrypt chiperAlgorithm = chiperAlgorithm = new AES_Algorithm(key);
    string msg = "";

    try
    {
        string queryStringParam = Request.QueryString["Data"];
        if (queryStringParam == null)
        {
            throw new NullReferenceException("Invalid Parameter");
        }
        string htmlDecodedChiperText = HttpUtility.UrlDecode(queryStringParam).Replace(" ", "+");

        string pramJSON = chiperAlgorithm.Decrypt(htmlDecodedChiperText);
        JavaScriptSerializer js = new JavaScriptSerializer();
        Dictionary<string, string> datas = js.Deserialize<Dictionary<string,string>>(pramJSON);
        msg = datas["Message"];
        //datas["TransactionID"] available paramete
        //datas["PaymentID"]available paramete
        <h4 style="color:green; text-align:center">Response Message: @msg, Transaction ID: @datas["TransactionID"]</h4>
        @*<h5 style="text-align:center">Please click <a style="text-decoration:underline" target="_blank" href="/Municipality/MnReports/PaymentReciept?PaymentId=@datas["PaymentID"]">here </a>to print your property tax reciept</h5>*@
    }
    catch (FormatException)
    {
        msg = "Parameter Data is not readable";
        <h3 style="color:darkred; text-align:center">@msg</h3>
    }
    catch (Exception ex)
    {
        msg = ex.Message;
        <h3 style="color:darkred; text-align:center">@msg</h3>
    }

}

