﻿@using Valuation_Board.Utils.EncryptionDecrytion; 
@using System.Configuration;
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "Payment Error";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        window.HideLoginButton();
    });
</script>
@{
    string key = ConfigurationManager.AppSettings["ChiperKey"] as string;
    IEncryptDecrypt chiperAlgorithm = chiperAlgorithm = new AES_Algorithm(key);
    string msg = "";

    try
    {
        string queryStringParam = Request.QueryString["Message"];
        if (queryStringParam == null)
        {
            throw new NullReferenceException("Invalid Parameter");
        }
        string htmlDecodedChiperText = HttpUtility.UrlDecode(queryStringParam).Replace(" ", "+");

        string message = chiperAlgorithm.Decrypt(htmlDecodedChiperText);
        msg = message;
    }
    catch (Exception ex)
    {
        msg = ex.Message;
    }
    <h3 style="color:red; text-align:center">@msg</h3>
}

