﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="~/Contents/Script/AppJs/AssesseeListReport.js?"></script>
<div class="panel panel-primary payment-collection-panel" style="margin: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-4"><h3 class="panel-title">Outstanding / Assessee List Report</h3></div>
            <div class="col-md-8 text-right"><span class="counteDesc"></span>|<span class="payment-mode-desc"></span></div>
        </div>
    </div>
    <div class="panel-body">
        <form id="frmAssesseeList" target="_blank" action="/Municipality/MnReports/AssesseeListReport" method="post">
            <div class="row">
                <div class="col-md-2">
                    <label for="age">Ward<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtWard" name="txtWard">
                    <input type="hidden" id="WardID" name="WardID" />
                </div>

                <div class="col-md-3">
                    <label for="mother">Location<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtLocation" name="txtLocation">
                    <input type="hidden" id="LocationID" name="LocationID" />
                </div>
                <div class="col-md-3">
                    <label for="mother">Holding Type<span class="red-star">&nbsp;</span></label>
                    <input type="text" class="form-control input-sm change" id="txtHoldingTyp" name="HoldingTyp">
                    <input type="hidden" id="hdnHoldingTypeID" name="HoldingTypeID" />
                </div>
                <div class="col-md-2">
                    <label for="mother">Outstanding From</label>
                    <select id="ddlOutstandingFrm"class="form-control input-sm change" name="OutstandingFrom">
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="mother">Outstanding To</label>
                    <select id="ddlOutstandingTo" class="form-control input-sm change" name="OutstandingTo"></select>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-10" style="text-align:right">
                    <input type="button" id="btnSave" value="Outsanding Report" data-command="OS" class="btn btn-primary" />
                </div>
                <div class="col-md-2" style="text-align:left">
                    <input type="button" id="btnAssessee" value="Assessee List Report" data-command="AS" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

